
/*********************************************************************************** ACTION-BAR/SCSS **/

#action-bar {
	color: $gray-v;
	font-family: "OpenSansSemibold";
	height: 50px;
	overflow: hidden;
	padding: 0 0 0 2rem;

	a { color: $gray-v; }
	a h1, h2, ul { display: inline-block; }

	h1 {
		width: 86px; height: 30px; /* width: 258px; height: 90px; */

		background-image: url("../images/logo-action-bar.png");
		background-size: 86px 30px; /* background-size: 258px 90px; */
		/* margin: 2.4rem 0 0 0; */

		@include hide-text;
	}

	h2 {
		margin: 2.4rem 0 0 0;
		width: 70%;
	}

	ul {
		float: right;

		li {
			width: 100px; /* width: 149px; /* height: 149px; */ height: auto;

			border-left: 1px solid $gray-ii;
			display: table-cell;
			text-align: center;

			&:first-child { border-left: 0; }

			a { padding: 7rem 0 0 0; }
		}

		#action-next {
			background-repeat: no-repeat;
			background-size: 100px; /* background-size: 149px; */
			font-size: 14px;
			padding: 0 0 1.5rem 0;
			text-transform: uppercase;
			vertical-align: bottom;
		}

		#action-create { background-image: url("../images/action-create.png"); }
		#action-books { background-image: url("../images/action-books.png"); }
		#action-dimensions { background-image: url("../images/action-dimensions.png"); }
		#action-gapelians { background-image: url("../images/action-gapelians.png"); }

		#action-create, #action-gapelians, #action-books, #action-dimensions {
			background-position: 0 -17px;
			background-repeat: no-repeat;
			background-size: 100px 200px;
			font-size: 14px;
			padding: 0;
			text-transform: uppercase;
			vertical-align: top;

			&:hover { background-position: 0 -117px; }

			a {
				display: block;
				@include hide-text;
			}
		}

		.active {
			background-position: 0 -117px !important;
			&:hover { opacity: 0.7; }
		}

		#action-user, #action-logo {
			background-repeat: no-repeat;
			background-size: 149px 150px;
			@include hide-text;
		}

		#action-user {
			background-size: 50px;
			overflow: hidden;
			width: 50px;

			a { opacity: 1; }

			img {
				width: 50px; height: auto;
			}

			ul {
				margin: 0; padding: 0;
				top: 50px; right: 0;

				background-color: $gray-i;
				display: none;
				float: left;
				font-family: "OpenSansSemibold";
				font-size: 14px;
				position: absolute;
				width: 150px;
				z-index: 2147483647;

				li {
					width: auto; height: auto;

					border-bottom: 1px solid $gray-ii;
					border-left: 1px solid $gray-ii;
					display: block;
					text-align: right;

					&:hover {
						background-color: $gray-v;
						border-bottom: 1px solid $gray-v;
						border-left: 1px solid $gray-v;
					}

					a {
						display: block;
						padding: 0.46rem;

						&:hover {
							color: $white;
						}
					}
				}
			}

			/*
			#cover-form {
				bottom: 5rem; right: 2rem;
				position: fixed;

				span { padding: 1rem 0; }
				#cover-upload { display: block; }

				input.file-upload {
					margin: 0; padding: 0;
					top: 0; right: 0;

					border: 0;
					cursor: pointer;
					height: 3.5rem;
					opacity: 0;
					position: absolute;
				}
			}
			*/

			#avatar-upload {
				width: 100px; height: 100px;

				background-color: rgba($white, 0.8);
				display: none;
				padding: 2.4rem 0.7rem;
				position: absolute;

				label.cabinet {
					width: 79px; height: 22px;

					background: url("../images/btn-choose-file.gif") 0 0 no-repeat;
					display: block;
					overflow: hidden;

					&:after {
						content: "Edit";
						color: $black;
					}
				}

				label.cabinet input.file {
					width: auto; height: 100%;

					cursor: pointer;
					opacity: 0;
					position: relative;
				}
			}

			&:hover {
				#avatar-upload {
					display: block;
				}
			}
		}

		#action-logo {
			background-image: url("../images/action-logo.png");
			border-left: 1px solid $gray-ii;
		}

		#action-account, #action-next {
			overflow: hidden;

			.top, .bottom {
				display: block;
				padding: 1.9rem;

				&:hover { opacity: 0.7; }
			}

			.top { border-bottom: 1px solid $gray-ii; }
		}

		#action-next {
			border-left: 1px solid $gray-ii;
			padding: 0;
		}
	}
}

	/*****ANIMATIONS*****/

	.tooltip {
		transition: all 0.25s ease-in-out;

		span {
			/* bottom: 0; */
			top: 0;
			opacity: 0;
			pointer-events: none;
			transition: all 0.25s ease-in-out;
		}

		&:hover {
			span {
				/* bottom: 30px; */
				top: 30px;
				opacity: 1;
				pointer-events: auto;
			}
		}
	}

	/*****END ANIMATIONS*****/

	/*****TOOLTIP*****/

	.tooltip {
		color: #3b3b3b;
		display: inline-block;
		font-weight: 700;
		position: relative;
		text-decoration: none;

		&:hover {
			color: #ea4816;
			span { display: block; }
		}

		span {
			/* margin-left: -35px; padding: 12px 20px; */

			background-color: $gray-v;
			color: #fefefe;
			display: block;
			font-size: 12px;
			font-weight: 400;
			/* left: -50%; */
			line-height: 18px;
			margin: 1px 0 0 0; /* margin: 20px 0 0 0; */
			position: absolute;
			top: 50px;
			width: 100px;
			z-index: 30;

			/*
			&:before, &:after {
				width: 0; height: 0;
				top: -8px; left: 50%;

				border-left: 8px solid transparent;
				border-right: 8px solid transparent;
				border-bottom: 8px solid $gray-v;
				content: "";
				margin-left: -10px;
				position: absolute;
				z-index: 29;
			}
			*/

			/*
			img {
				clear: right;
				padding: 6px 0;
				max-width: 300px;
			}
			*/
		}
	}
