
/**************************************************************************************** BOOK/SCSS **/

#backcover-wrapper {
	background-color: rgba($black, 0.7);
	color: $white;

	.previous, .next {
		span { display: none; }
	}

	#book-credits, #book-comments {
		display: inline-block;
		vertical-align: top;
	}

	#book-credits {
		width: 69.8%; height: 100%;
		padding: 4rem 0 0 6rem;

		h2 {
			font-family: "OpenSansBold";
			margin: 0 0 2rem 0;
		}

		#author-column, #story-column {
			display: inline-block;
			vertical-align: top;
		}

		#author-column {
			margin: 0 2rem 0 0;

			#author-portrait {
				width: 150px; height: auto;
			}
			
			.profile-btn {
				margin: -2px 0 1rem 0;
			}

			button {
				width: 150px; height: auto;
				margin: 0; padding: 1rem 0;

				background-color: $slate;
				border-radius: 0;
				color: $white;
				display: block;
				font-size: 1em;
				margin: 0 0 1rem 0;
				text-align: center;
				text-shadow: none;
			}
		}

		#story-column {
			h5 { font-family: "OpenSansBold"; }

			ul, p { margin: 0 0 1rem 0; }
			a { color: inherit; }

			#story-stats {
				li { float: left; }
			}

			#story-contributors {
				li {
					line-height: 1.6em;
				}
			}
		}
	}

	#book-comments {
		width: 30%; height: 100%;

		/* background-color: $slate; */
		border-left: 1px solid $gray-i;
		padding: 1rem;
		position: relative;

		#disqus_thread {
			width: 400px; height: 100%;
			top: 0; left: 0;

			background-color: rgba($slate, 0.3);
			position: absolute;
		}
	}
}
