/*
.begin-title {
	background-color: #314C87;
	color: #fff;
	height: 24em;
	margin-bottom: 2.75em;
	position: relative;

	.middle-wrapper {
		width: 100%; height: 12em;

		margin-top: -6em;
		position: absolute;
		top: 50%;
	}
}

.unhyphenate {
	hyphens: none;
	-ms-hyphens: none;
}

.address {
	font-size: 1.2em;
	line-height: 1.517241379em;
	margin-bottom: 1em;
}

.sc {
	font-family: "Alegreya SC", "Noticia Text", "Georgia", "Times New Roman", serif;
	font-weight: 700;
	text-transform: uppercase;
}

p {
	color: #2D2220;
	line-height: 1.5em;
	margin-bottom: 0;
	text-align: justify;
}

p + p {
	margin-bottom: 0;
	text-indent: 1.5em;
}
*/
.text .author {
	margin-bottom: 0.65em; padding: 0.65em 0;

	border-color: #222;
	border-style: dotted;
	border-width: 1px 0;
	font-size: 0.8em;
	line-height: 1.375em;
	text-align: center;
}

.text p:nth-child(3)::first-line {
	font-family: "Alegreya SC", "Noticia Text", "Georgia", "Times New Roman", serif;
	font-size: 1.1em;
	text-transform: lowercase;
}
/*
#main {
	margin: 5.5em auto;
	width: 35em;
}

p { line-height: 1.5em; }

.address { line-height: 1.263157em; }

.img-container {
	display: block;
	margin: 1.5em auto;
	overflow: hidden;
}

h1 {
	color: #222;
	font-family: "Fjalla One", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-size: 2.25em;
	font-weight: normal;
	line-height: 1.3em;
	margin: 0.611111em auto 0 auto;
	text-align: center;
	text-transform: uppercase;
	white-space: normal;
	width: 15.365854em;	
}

h2 {
	margin-top: 2.75em;
	text-align: center;
}

h2, h3, h4, h5 {
	color: #222;
	font-weight: 700;
	line-height: 1.1;
}

h2 {
	column-break-inside: avoid;
	font-family: "Fjalla One", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-weight: normal;
	letter-spacing: 0.1em;
	text-transform: uppercase;

	-webkit-column-break-inside: avoid;
}

blockquote {
	margin: 0.6875em 0; margin-left: -1.5em; padding: 1.5em;

	background-color: #eee;
	column-break-inside: avoid;
	width: 100%;

	-webkit-column-break-inside: avoid;
}

ol {
	color: #444;
	list-style-position: inside;
	list-style-type: decimal;
	margin: 0.6875em 0;
}

ol li { line-height: 1.375em; }

a {
	border-bottom: 1px solid #FF3356;
	color: #FF3356;
	text-decoration: none;
}

a:hover {
	background-color: #ffebee;
	border-color: #FF002C;
	color: #FF002C;
}
*/
.position-aid-wrap { position: relative; }

.position-aid-offset {
	top: 0; left: 0;
	position: absolute;
}

.position-aid {
	height: 0;
	white-space: pre-wrap;
}

.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}

abbr {
	font-family: "Alegreya SC", "Noticia Text", "Georgia", "Times New Roman", serif;
	font-size: 1.1em;
	text-transform: lowercase;
}

em { font-style: italic; }

code {
	color: #666;
	font-family: monospace, serif;
	font-size: 0.875em;
}

pre {
	margin: 0.75em 0; padding: 0.75em;

	background-color: #f8f8f8;
	display: block;
	white-space: pre-wrap;
	word-wrap: break-word;
}

pre + p { margin-top: 1.5em; }

.hidden { display: none; }

@media screen and (min-width: 980px) {

	.columns {
		font-size: 16px;
		max-width: 1000%;
	}

	.columns .begin-title {
		display: inline-block;
		width: 22em;
		text-align: center;
		font-weight: normal;
		white-space: normal;
		background-color: #314C87;
		color: #fff;
		height: 100%;
		margin-right: 1.375em;
		margin-bottom: 0;
		position: relative;
	}
	/* line 286, ../sass/screen.scss */
	.columns .begin-title .middle-wrapper {
		position: absolute;
		top: 50%;
		margin-top: -6em;
		height: 12em;
		width: 100%;
	}
	/* line 294, ../sass/screen.scss */
	.columns .begin-title h1 {
		color: #fff;
		margin: 0;
		letter-spacing: 0.1em;
		line-height: 1.3em;
	}
	/* line 300, ../sass/screen.scss */
	.columns .begin-title .by {
		margin-top: 1.5em;
		font-style: italic;
		text-align: center;
	}
	/* line 307, ../sass/screen.scss */
	.columns .text {
		height: 100%;
		display: inline-block;
		-webkit-column-width: 21em;
		-moz-column-width: 21em;
		column-width: 21em;
		-webkit-column-gap: 1px;
		-moz-column-gap: 1px;
		column-gap: 1px;
		-webkit-column-fill: auto;
		-moz-column-fill: auto;
		column-fill: auto;
		-webkit-column-rule: 1px dotted #ccc;
		-moz-column-rule: 1px dotted #ccc;
		column-rule: 1px dotted #000;
		white-space: normal;
		margin-right: 1.2em;
		vertical-align: top;
	}
	/* line 326, ../sass/screen.scss */
	.columns .text div, .columns .text h2, .columns .text h3, .columns .text h4, .columns .text ol, .columns .text ul {
		margin-left: 1.375em;
		margin-right: 1.375em;
	}
	/* line 330, ../sass/screen.scss */
	.columns .text .author {
		text-align: left;
		margin-left: 1.6923em;
		margin-right: 1.6923em;
	}
	/* line 335, ../sass/screen.scss */
	.columns .text .address {
		margin-left: 1.1579em;
		margin-right: 1.1579em;
	}
	/* line 342, ../sass/screen.scss */
	.columns p {
		line-height: 1.375em;
		margin: 0 1.375em 0 1.375em;
	}
	/* line 348, ../sass/screen.scss */
	.columns #main {
		position: absolute;
		margin: 0;
		top: 4.85em;
		bottom: 2.75em;
		left: 2.75em;
		right: 2.75em;
		min-width: 100%;
		white-space: nowrap;
		vertical-align: top;
	}
	/* line 360, ../sass/screen.scss */
	.columns .img-container {
		display: inline-block;
		vertical-align: middle;
		margin: 0;
		margin-right: 1.2em;
		height: 100%;
		overflow: hidden;
		vertical-align: top;
	}
	/* line 371, ../sass/screen.scss */
	.columns img.header {
		width: auto;
	}
	/* line 376, ../sass/screen.scss */
	.columns ol.index li {
		height: 1.5em;
	}
	/* line 381, ../sass/screen.scss */
	.columns h1 {
		margin-top: 0.5em;
		line-height: 1.1em;
		margin-bottom: 1em;
		width: 100%;
	}

	.columns h2, .columns h3, .columns h4, .columns h5 {
		margin-top: 1.575em;
		margin-bottom: 0.075em;
	}

	.columns h2 { text-align: left; }

	.columns blockquote {
		background-color: #eee;
		padding: 0.6875em 0;
		margin: 0.6875em 0;
		-webkit-column-break-inside: avoid;
	}

	.columns ol {
		list-style-type: decimal;
		list-style-position: inside;
		margin: 0.6875em 0;
		color: #444;
	}

	.columns ol li { line-height: 1.375em; }
}

@media screen and (max-width: 980px) {
	h1 { width: 100%; }
	#main { width: 30em; }
	body { font-size: 1.125em; }
}

@media screen and (max-width: 620px) {
	#main { width: 25em; }
}

@media screen and (max-width: 500px) {
	body { font-size: 1em; }

	.fixed-nav { float: left; }
	.fixed-nav .wrapper { float: none; }
	.fixed-nav .twt-wrapper { float: none; }

	#main { width: 95%; }
}

.align-left { text-align: left; }
