.jeip-saving {
	background-color: transparentize($black, 0.7);
	background-image: url("../images/ajax-loader.gif");
	background-position: 14% 50%;
	background-repeat: no-repeat;
	color: $white;
	/* display: table-cell; */
	font-family: "OpenSansLight";
	padding: 0.5rem 0.6rem 0.5rem 2.5rem;
	text-align: center;
	text-transform: uppercase;
}

.jeip-mouseover, .jeip-editfield {
	/* background-color: transparentize($edit, 0.8); */
	cursor: pointer;
}

.jeip-savebutton, .jeip-cancelbutton {
	border: 0;
	color: $white;
	cursor: pointer;
	font-size: 13px;
	padding: 0.5rem 1rem;
	text-align: center;
}

.jeip-savebutton {
	background-color: $green;
}

.jeip-cancelbutton {
	background-color: $red;
}

.edit-sep {
	background-color: transparentize($black, 0.8);
	color: $white;
	font-size: 12px;
	padding: 0 0.5rem;
}
