
/************************************************************************************ FULL-VIEW/SCSS **/

.preview {
	width: 100%; height: 100%;
	margin: 0; padding: 0;

	/* background-color: $gray-i; */
	box-sizing: border-box;
	font-family: "OpenSansRegular";
	overflow: hidden;

	a { color: $gray-v; }

	header {
		width: 100%; height: 50px;
		top: 0; left: 0;

		background-color: $gray-i;
		position: absolute;

		#back, #title, #finish {
			display: inline-block;
			vertical-align: middle;
			width: 33%;
		}

		#back {
			font-family: "OpenSansBold";
			font-size: 2em;
			padding: 0 0.8rem;
		}

		#title {
			font-family: "OpenSansLight";
			font-size: 1.5em;
			line-height: 2.2em;
			/* overflow: hidden; */
			text-align: center;

			#book-title {
				font-family: "OpenSansSemibold";
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}

		#finish {
			text-align: right;
		}
	}

	#photo-fullview-wrapper, #text-fullview-wrapper {
		width: 100%; height: 100%;
		margin: 50px 0 0 0;

		.previous, .next {
			width: 50px; height: 100%;

			background-color: $gray-v;
			color: $gray-ii;
			font-size: 1.4em;
			position: absolute;
			text-align: center;
			z-index: 1000;

			span {
				position: absolute;
				top: 50%;
				width: 100%;
			}
		}

		.previous { left: 0; }
		.next { right: 0; }
	}

	#information {
		width: 100%; height: auto;
		padding: 1.5rem 4.5rem;
		bottom: 0; left: 0;

		background-color: rgba($black, 0.8);
		color: $white;
		display: block;
		position: absolute;

		#page-title, #geocode {
			display: block;
		}

		#page-title {
			font-family: "OpenSansLight";
			font-size: 1.5em;
			margin: 0 0 0.5rem 0;
		}

		#geocode {
			font-family: "OpenSansSemibold";
			font-size: 1.2em;
		}
	}

	#story-content {
		width: 100%; height: auto;
		/* top: 50px; left: 50px; */

		background-color: rgba(#07d0eb, 0.2);
		box-sizing: border-box;
		padding: 2% 5% 0 5%;
		position: fixed;
	}

	.page-bg {
		width: 100%; height: auto;
	}

	#handle {
		width: 400px; height: 475px !important;
		top: 45px !important; right: 120px !important;

		background-color: $gray-ii;
		position: fixed;
		z-index: 2000;
	}

	#draggable {
		width: 400px; height: 450px;
		top: 55px !important; right: 100px !important;

		background-color: $gray-ii;
		position: absolute;
		z-index: 2000;

		/*
		#handle {
			width: 25px; height: 100%;
			top: 0; left: 0;

			background-color: $gray-v;
			display: block;
		}
		*/

		nav {
			display: inline-block;
			height: 3.313em;
			overflow: hidden;
			position: absolute;
			width: 100%;
			z-index: 1000;

			a {
				border-right: 1px solid $gray-ii;
				border-bottom: 1px solid $gray-ii;
				display: block;
				float: left;
				font-family: "OpenSansLight";
				padding: 0.5rem;
				text-align: center;
				transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
				width: 25%; /* width: 20%; height: 100%; */

				-webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;

				/*
				&:last-child {
					border: none;
					box-shadow: 1px 0 #47a3da;
				}
				*/

				&:hover { background-color: $white; }
				&:last-child { border-right: 0; }

				/* span { display: block; } */
			}

			a.rc-active {
				background-color: $white;
				border-bottom: 1px solid $white;
			}
		}

		.cbp-contentslider {
			width: 100%; height: 100%; /* height: 70%; */
			position: relative;

			#sidebar-content {
				width: 100%; height: 100%;
				margin: 0; padding: 0;

				list-style: none;
				overflow: hidden;
				position: relative;

				#tab-content, #tab-tags, #tab-snippets, #tab-settings {
					width: 100%; height: 100%; /* height: 555px !important; */
					top: 2rem; left: 0;

					background-color: $white;
					display: table;
					overflow-x: hidden;
					overflow-y: auto;
					padding: 1rem;
					position: absolute;

					/* &:target { z-index: 100; } /* Without JS, we use :target */

					/*
					div {
						top: 2rem; left: 0;

						overflow-x: hidden;
						overflow-y: auto;
						padding: 1rem;
						position: absolute;
						width: 100%;
					}
					*/
				}

				/* Content Tab */
				.redactor_box {
					.redactor_toolbar { width: 100%; }

					.redactor_editor {
						height: 300px;
						z-index: 1;
					}
				}

				#view-mode {
					margin: 1rem 0 0 0;

					p, input, label {
						float: left;
						vertical-align: middle;
					}

					p, label { margin: 0 1rem 0 0; }
					input { margin: 0 0.2rem 0 0; }
				}

				/* Tags Tab */
				.tag-input {
					border-bottom: 1px solid $gray-ii;
					clear: both;
					padding: 1.8rem 1rem;

					label, input {
						display: inline;
						vertical-align: middle;
						width: 50%;
					}

					label { font-size: 14px; }

					input {
						background-color: $white;
						border: 1px solid $gray-ii;
						float: right;
						font-size: 12px;
						height: 20px;
						margin: 0 0 3px 0;
					}

					.hint {
						float: right;
						font-size: 10px;
						font-style: italic;
						text-align: right;
						width: 100%;
					}

					&:first-child { padding-top: 0; }
				}

				/* Snippets Tab */
				#snippet-preview {
					img {
						width: 300px; height: auto;

						display: table;
						margin: 0 auto;
					}
				}
			}

			/*
			p {
				margin: 0; padding: 0 0.5em 0.4em;

				color: #47a3da;
				font-size: 1.2em;
				font-weight: 300;
				line-height: 1.6;
				text-align: justify;
			}
			*/
		}
	}
}
