
/************************************************************************************ FULL-VIEW/SCSS **/

.fv-photo, .fv-text {
	user-select: none;

	::selection {
		background: none;
		color: none;
	}

	header {
		user-select: none;

		::selection {
			background: none;
			color: none;
		}
	}

	#photo-fullview-wrapper {
		.previous, .next {
			user-select: none;

			::selection {
				background: none;
				color: none;
			}
		}
	}

	#jq_ez_bg {
		user-select: none;

		::selection {
			background: none;
			color: none;
		}

		img {
			user-select: none;

			::selection {
				background: none;
				color: none;
			}
		}
	}
}

.fv-phototext-ii {
	#vertical-bg, #story-content {
		/* width: auto !important; */ max-width: 500px !important; height: 100% !important;
		top: auto !important; right: auto !important;

		display: inline-block !important;
		float: left;
		position: relative !important;
	}
}

.fv-frontcover {
	#text-editor, #story {
		text-align: center !important;

		#lifestyle {
			font-size: 17px;
			line-height: 24px;
			margin: 0 0 1rem 0;
			text-align: center !important;
			text-transform: normal;
			width: 100% !important;

			span {
				float: left;
				margin: 0 auto !important;

				&:after { content: "| " !important; }
				&:last-child { &:after { content: "" !important; } }
			}
		}

		/*
		section {
			border-top: 1px solid $white;
			border-bottom: 1px solid $white;
			padding: 1rem 0;
		}
		*/

		p {
			border-top: 1px solid $white;
			border-bottom: 1px solid $white;
			padding: 1rem 0;
			width: 60% !important;
		}

		p + p {
			border-top: 0; border-bottom: 0;
			display: inline-block;
			margin: 0 0 0 3% !important; padding: 0;
			vertical-align: top !important;
			width: 45% !important;

			&:first-child { margin: 0 !important; }
		}
	}

	#story-content {
		#meta-wrapper {
			position: relative;
			margin: 0 auto;
			width: 70% !important;

			#light-rating, #dimension-icon {
				width: 32px; height: 32px;

				background-color: $white;
				border-radius: 30000px;
				bottom: 10px;
				display: block;
				position: absolute;

				span {
					bottom: 4px;
					padding: 0.31rem 0;
					position: absolute;
					text-align: center;
					width: 100%;
				}
			}

			#light-rating { left: 10px; }
			#dimension-icon { right: 10px; }
		}
	}
}

.fv-video {
	#video-fullview-wrapper {
		iframe {
		
		}
	}
}

.preview {
	width: 100%; height: 100%;
	margin: 0; padding: 0;

	background-color: $white;
	box-sizing: border-box;
	font-family: "OpenSansRegular";
	overflow: hidden;
	user-select: none;

	a { color: $gray-v; }

	header {
		width: 100%; height: 50px;
		top: 0; left: 0;

		background-color: $gray-i;
		position: absolute;

		#back, #title, #finish {
			display: inline-block;
			vertical-align: middle;
			width: 33%;
		}

		#back {
			font-family: "OpenSansBold";
			font-size: 2em;
			padding: 0 0.8rem;
		}

		#title {
			font-family: "OpenSansLight";
			font-size: 1.5em;
			line-height: 2.2em;
			/* overflow: hidden; */
			text-align: center;

			#book-title {
				font-family: "OpenSansSemibold";
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}

		#finish { text-align: right; }
	}

	#photo-fullview-wrapper, #text-fullview-wrapper,
	#integrated-fullview-wrapper, #phototext-fullview-wrapper,
	#frontcover-fullview-wrapper, #video-fullview-wrapper {
		width: 100%; height: 100%;
		margin: 50px 0 0 0;

		.previous, .next {
			width: 50px; height: 100%;

			background-color: $gray-v;
			color: $gray-ii;
			font-size: 1.4em;
			position: absolute;
			text-align: center;
			z-index: 1000;

			span {
				position: absolute;
				top: 50%;
				width: 100%;
			}
		}

		.previous { left: 0; }
		.next { right: 0; }

		.previous, #story-content, .next {
			display: inline-block !important;
			vertical-align: top !important;
		}

		#story-content {
			#story {
				p {
					margin: 0 auto 1rem;

					line-height: 1.4em;
					text-align: justify;
					width: 100%;

					&:last-child { margin: 0 auto; }
				}
			}
		}
	}

	#photo-fullview-wrapper, #video-fullview-wrapper {
		#information {
			width: 100%; height: auto;
			padding: 1.5rem 4.5rem;
			bottom: 0; left: 0;

			background-color: rgba($black, 0.8);
			color: $white;
			display: block;
			position: absolute;

			#page-title, #geocode { display: block; }

			#page-title {
				font-family: "OpenSansLight";
				font-size: 1.5em;
				margin: 0 0 0.5rem 0;
			}

			#geocode {
				font-family: "OpenSansSemibold";
				font-size: 1.2em;
			}
		}
	}

	#video-fullview-wrapper {
		iframe {
			width: 92.8%; height: 73.7%;
			top: 7.8%; left: 3.6%;

			display: inline-block;
			position: fixed;
			vertical-align: top;
		}

		#information { height: 18.7%; }
	}

	#text-fullview-wrapper {
		#story-content {
			margin: 0 0 0 50px; padding: 0 5%;

			/* background-color: rgba(#07d0eb, 0.2); */
			box-sizing: border-box;
			overflow: hidden;
			position: relative;
			text-overflow: ellipsis;

			#story {
				h2 { margin: 0; }

				h5 {
					border-bottom: 1px dotted $gray-i;
					text-transform: uppercase;
					margin: 0 0 1rem 0; padding: 0 0 1rem 0;
				}

				margin: 0 auto;

				p {
					&:first-of-type { font-family: "OpenSansBold"; }
				}
			}
		}
	}

	#integrated-fullview-wrapper, #frontcover-fullview-wrapper {
		#quote {
			display: block !important;
			font-size: 350%;
			text-align: center !important;

			span {
				display: block !important;
				font-family: Georgia, serif;
				font-style: italic !important;
				text-align: left !important;
			}
		}

		#story-content {
			width: 100%; height: auto;
			margin: 0; padding: 0;
			/* margin: 0 0 0 50px; padding: 0 5%; */

			box-sizing: border-box;
			overflow: hidden;
			position: relative;
			text-overflow: ellipsis;

			#story {
				margin: 5% auto 0; padding: 3rem;

				background-color: rgba($black, 0.5);
				color: $white;
				width: 70%;

				h2, h5 {
					text-align: center;
					width: 100%;
				}

				h2 { margin: 0; }

				h5 {
					margin: 0 0 1rem 0; padding: 0 0 1rem 0;
					text-transform: uppercase;
				}
			}
		}
	}

	#phototext-fullview-wrapper {
		#story-content {
			/* margin: 0 0 0 50px; padding: 0 5%; */
			width: 30%; height: 100%;
			top: 50px; right: 50px;

			background-color: rgba($white, 0.7);
			box-sizing: border-box;
			overflow: hidden;
			padding: 2rem;
			position: absolute;
			text-overflow: ellipsis;

			#story {
				h2 { margin: 0; }

				h5 {
					border-bottom: 1px dotted $gray-i;
					text-transform: uppercase;
					margin: 0 0 1rem 0; padding: 0 0 1rem 0;
				}
			}
		}
	}

	#draggable {
		width: 400px; height: 450px;
		/* top: 5rem; right: 5rem; */

		background-color: $gray-ii;
		/* position: fixed; */
		z-index: 2000 !important;

		nav {
			display: inline-block;
			height: 3.313em;
			overflow: hidden;
			position: absolute;
			width: 100%;
			z-index: 1000;

			a {
				border-right: 1px solid $gray-ii;
				border-bottom: 1px solid $gray-ii;
				display: block;
				float: left;
				font-family: "OpenSansLight";
				padding: 0.5rem;
				text-align: center;
				transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
				width: 25%;

				&:first-child {
					border-left: 1px solid $gray-ii;
					&:hover { border-left: 1px solid $gray-i; }
				}

				&:last-child {
					border-left: 0;
					border-right: 1px solid $gray-ii;
				}

				&:hover { background-color: $white; }
			}

			a.rc-active {
				background-color: $white;
				border-bottom: 1px solid $white;

				&:first-child { border-left: 1px solid $gray-i; }
				&:last-child { border-right: 1px solid $gray-i; }
			}
		}

		.cbp-contentslider {
			width: 100%; height: 100%; /* height: 70%; */
			position: relative;

			#sidebar-content {
				width: 100%; height: 100%;
				margin: 0; padding: 0;

				border: 1px solid $gray-i;
				border-top: none;
				list-style: none;
				overflow: hidden;
				position: relative;

				#tab-content, #tab-tags, #tab-snippets, #tab-settings {
					width: 100%; height: 100%; /* height: 555px !important; */
					top: 2rem; left: 0;

					background-color: $white;
					display: table;
					overflow-x: hidden;
					overflow-y: auto;
					padding: 1rem;
					position: absolute;
					user-select: text !important;

					::selection {
						background-color: $gray-ii;
						color: $black;
					}

					/* &:target { z-index: 100; } /* Without JS, we use :target */

					/*
					div {
						top: 2rem; left: 0;

						overflow-x: hidden;
						overflow-y: auto;
						padding: 1rem;
						position: absolute;
						width: 100%;
					}
					*/

					button, input[type="text"], input[type="password"], input[type="email"] {
						margin: 0 auto 1rem; padding: 0;

						border-radius: 0;
						display: block;
						font-size: 16px;
						text-align: left;
						/* width: 300px; */
					}
				}

				/* Content Tab */
				.redactor_box {
					.redactor_toolbar { width: 100%; }

					.redactor_editor {
						height: 300px;
						z-index: 1;
					}
				}

				#view-mode {
					margin: 1rem 0 0 0;

					p, input, label {
						float: left;
						vertical-align: middle;
					}

					p, label { margin: 0 1rem 0 0; }
					input { margin: 0 0.2rem 0 0; }
				}

				/* Tags Tab */
				.tag-input {
					border-bottom: 1px solid $gray-ii;
					clear: both;
					padding: 1.8rem 1rem;

					label, input {
						display: inline;
						vertical-align: middle;
						width: 50%;
					}

					label { font-size: 14px; }

					input {
						background-color: $white;
						border: 1px solid $gray-ii;
						float: right;
						font-size: 12px;
						height: 20px;
						margin: 0 0 3px 0;
					}

					.hint {
						float: right;
						font-size: 10px;
						font-style: italic;
						text-align: right;
						width: 100%;
					}

					&:first-child { padding-top: 0; }
				}

				/* Snippets Tab */
				#snippet-preview {
					img {
						width: 300px; height: auto;

						display: table;
						margin: 0 auto;
					}
				}
			}

			/*
			p {
				margin: 0; padding: 0 0.5em 0.4em;

				color: #47a3da;
				font-size: 1.2em;
				font-weight: 300;
				line-height: 1.6;
				text-align: justify;
			}
			*/
		}
	}
}

/*******************************************************************************************************************/

body.customWindowNoDragSelect { user-select: none; }

.customWindowContainer {
	background: #e8e8e8 url("../cW/images/head.png") repeat-x left top;
	border: 1px solid #aaa;
	padding: 3px;
}

.customWindowWidthResize, .customWindowHeightResize, .customWindowResize { user-select: none; }
.customWindowDragging, .customWindowResizing { opacity: 0.5; }

.unselectWindow {
	background: #a2a2a2 url("../cW/images/headh.png") repeat-x left top;
	border: 1px solid #565656;

	.customWindowResize { display: none; }
}

.windowChanged .customWindowTitle { color: #aaa; }

.customWindowStatus {
	background-color: #ececec;
	height: 16px;
	user-select: none;

	.customWindowResize { position: static; }
}

.customWindowResize {
	width: 16px; height: 16px;
	bottom: 0; right: 0;

	background: url("../images/cW/resize.png") no-repeat center center;
	display: block;
	position: absolute;
	user-select: none;
}

.customWindowHead {
	background-color: #fefefe !important;
	height: 26px;
}

.customWindowMaximize {
	width: 21px; height: 21px;
	margin: 1px 3px 0 0; padding: 0;

	background: url("../images/cW/maximize.png") no-repeat center center;
	border: 0;
	cursor: pointer;
	display: block;
	float: right;
}

.customWindowRestore {
	width: 21px; height: 21px;
	margin: 1px 3px 0 0; padding: 0;

	background: url("../images/cW/restore.png") no-repeat center center;
	border: 0;
	cursor: pointer;
	display: block;
	float: right;
}

.customWindowMinimize {
	width: 21px; height: 21px;
	margin: 1px 3px 0 0; padding: 0;

	background: url("../images/cW/minimize.png") no-repeat center center;
	border: 0;
	cursor: pointer;
	display: block;
	float: right;
}

.customWindowClose {
	width: 21px; height: 21px;
	margin: 1px 3px 0 0; padding: 0;

	background: url("../images/cW/close.png") no-repeat center center;
	border: 0;
	cursor: pointer;
	display: block;
	float: right;
}

.customWindowTitle {
	margin: 0 0 0 3px; padding: 3px 0 0 26px;

	background: url("../images/cW/window.png") no-repeat 0 2px;
	border: 0;
	color: #fefefe;
	display: block;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 18px;
	overflow: hidden;
	text-decoration: none;
	text-transform: none;
	white-space: nowrap;
}

.customWindowContent {
	background-color: #fefefe;
	border: 1px solid #acacac;
	padding: 8px;
}

.customWindowFooter {
	top: 4px; left: -1px;
	position: relative;
}

.customWindowMinimized {
	.customWindowFooter { display: none; }
}

/*******************************************************************************************************************/
