/** [-] Profile ***************************************************************************************/

#profile-preview {
	#action-bar {
		height: 50px;
		padding: 0 1rem;

		#preview-nav {
			margin: 0 auto;
			text-align: center;
			text-transform: uppercase;
			width: 100%;

			li {
				width: auto; height: 50px;

				border: 0;
				display: inline-block;
				padding: 1rem 0;

				&:first-child {
					float: left;
					font-size: 40px;
					padding: 0;
				}

				&:last-child {
					float: right;
					font-size: 20px;
					padding: 1rem 0;
				}
			}
		}
	}

	#book-count, #gapelian-count, #user-rating {
		font-size: 36px;
		text-align: left;

		span { display: inline-block !important; }
	}

	#gapelian-count { margin: 0 0 1rem 0; }

	#user-rating {
		img {
			width: 50px; height: auto;
		}

		img, span { vertical-align: middle; }
	}
}

/** [-] Action Bar ************************************************************************************/

#action-bar, #breadcrumbs, #small-switcher {
	background-color: $gray-i;
	border-bottom: 1px solid $gray-ii;
	width: 100%; 
}

#action-bar {
	color: $gray-v;
	font-family: "OpenSansSemibold";
	height: 149px;
	overflow: hidden;
	padding: 0 0 0 2rem;

	a { color: $gray-v; }

	a h1, h2, ul { display: inline-block; }

	h1 {
		width: 258px; height: 90px;

		background-image: url("../images/logo-action-bar.png");
		background-size: 258px 90px;
		margin: 2.4rem 0 0 0;

		@include hide-text;
	}

	h2 {
		margin: 2.4rem 0 0 0;
		width: 70%;
	}

	ul {
		float: right;

		li {
			width: 149px; height: 149px;

			border-left: 1px solid $gray-ii;
			display: table-cell;
			text-align: center;

			&:first-child { border-left: 0; }

			a { padding: 7rem 0 0 0; }
		}

		#action-next {
			background-repeat: no-repeat;
			background-size: 149px;
			font-size: 14px;
			padding: 0 0 1.5rem 0;
			text-transform: uppercase;
			vertical-align: bottom;
		}

		#action-create { background-image: url("../images/action-create.png"); }
		#action-books { background-image: url("../images/action-books.png"); }
		#action-dimensions { background-image: url("../images/action-dimensions.png"); }
		#action-gapelians { background-image: url("../images/action-gapelians.png"); }

		#action-create, #action-gapelians, #action-books, #action-dimensions {
			background-position: 0 0;
			background-repeat: no-repeat;
			background-size: 149px 298px;
			font-size: 14px;
			padding: 0 0 1.5rem 0;
			text-transform: uppercase;
			vertical-align: bottom;

			&:hover { background-position: 0 -149px; }
		}

		.active {
			background-position: 0 -149px !important;
			&:hover { opacity: 0.7; }
		}

		#action-user, #action-logo {
			background-repeat: no-repeat;
			background-size: 149px 150px;
			@include hide-text;
		}

		#action-user { background-image: url("../images/avatar-spacecakes.jpg"); }

		#action-logo {
			background-image: url("../images/action-logo.png");
			border-left: 1px solid $gray-ii;
		}

		#action-account, #action-next {
			overflow: hidden;

			.top, .bottom {
				display: block;
				padding: 1.9rem;

				&:hover { opacity: 0.7; }
			}

			.top { border-bottom: 1px solid $gray-ii; }
		}

		#action-next {
			border-left: 1px solid $gray-ii;
			padding: 0;
		}
	}
}

#breadcrumbs, #small-switcher {
	font-family: "OpenSansLight";
	font-size: 14px;
	height: 29px;
	padding: 0.4rem 2rem;

	.selected, .current {
		color: $gray-v;
		font-family: "OpenSansBold";
	}

	a { color: $gray-v; }
}

/** [-] Shared User and Main Content Styles ***********************************************************/

#user-content, #main-content {
	width: 100%; height: 100%;

	input[type="text"], input[type="password"], input[type="email"] {
		margin: 0; padding: 0;

		border: 0;
		border-radius: 0;
		color: #191919;
		display: block;
		font-size: 16px;
		text-align: left;
		width: auto;
	}
}

/** [-] User Content Area *****************************************************************************/

#user-content {
	background-image: url("../images/spacecakes.jpg");
	background-position: top left;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	padding: 2rem;

	#details-left, #details-right {
		color: $white;
		display: inline-block;
		font-family: "OpenSansBold";
		text-shadow: 0 1px 3px transparentize($black, 0.3);
		width: 45%;

		span { display: block; }

		.editable, .btn-edit {
			display: inline-block;
			vertical-align: middle;
		}

		.editable {
		}

		.btn-edit {
			width: 20px; height: 19px;

			background-color: transparent;
			background-image: url("../images/edit-icon-black.png");
			background-repeat: none;
			background-size: 20px 19px;
			border: 0;
			cursor: pointer;
			opacity: 0.5;

			@include hide-text;

			&:hover { opacity: 1; }
		}
	}

	#details-left {
		#social-edit { margin: 0 0 2rem 0; }

		#facebook-edit, #twitter-edit, #tumblr-edit {
			display: inline-block;
			float: left;
			margin: 0 1rem 0 0;

			.link {
				width: 80px; height: 80px;

				background-position: center center;
				background-repeat: no-repeat;
				background-size: 50px;
				border-radius: 500px;
				box-shadow: 0 1px 3px transparentize($black, 0.3);
				display: block;

				@include hide-text;
			}
		}

		#facebook-edit {
			.link {
				background-color: rgba(#3b5998, 0.8);
				background-image: url("../images/social-facebook.png");
				border: 3px solid darken(#3b5998, 10%);
			}
		}

		#twitter-edit {
			.link {
				background-color: rgba(#00acee, 0.8);
				background-image: url("../images/social-twitter.png");
				border: 3px solid darken(#00acee, 10%);
			}
		}

		#tumblr-edit {
			.link {
				background-color: rgba(#34526f, 0.8);
				background-image: url("../images/social-tumblr.png");
				border: 3px solid darken(#34526f, 10%);
			}
		}
	}

	#username-edit, #lifestyle-title {
		font-size: 56px;
		margin: 0 0 2rem 0;
	}

	#location-edit {
		font-size: 36px;
		margin: 0 0 2rem 0;
	}

	#social-edit {
		li { display: inline-block; }
	}

	#lifestyle-title, #details-right {
		float: right;

		.editable {
			&:before { content: url("../images/edit-icon-black.png"); }
		}
	}

	#lifestyle-edit {
		float: right;
		font-size: 16px;
		line-height: 1.5;
		text-align: right;
		text-shadow: none;
		width: 80%;

		input { display: block; }

		#form-description {
			float: right;
			text-align: right;
			text-shadow: 0 1px 3px transparentize($black, 0.3);
			width: 70%;
		}

		ul { text-shadow: 0 1px 3px transparentize($black, 0.3); }
	}

	#cover-form {
		bottom: 5rem; right: 2rem;
		position: fixed;

		span { padding: 1rem 0; }
		#cover-upload { display: block; }

		input.file-upload {
			margin: 0; padding: 0;
			top: 0; right: 0;

			border: 0;
			cursor: pointer;
			height: 3.5rem;
			opacity: 0;
			position: absolute;
		}
	}

	/** [-] Tags ****************************************************************************************/

	div.tagsinput {
		width: auto !important; height: auto !important;

		background-color: transparent;
		border: 0;
		color: $white;
		float: right;
		overflow-y: auto;

		span.tag {
			margin: 0 5px 5px 0; padding: 5px;

			background: #cde69c;
			border: 1px solid #a5d24a;
			color: #638421;
			display: block;
			float: right;
			font-size: 13px;
			text-decoration: none;

			a {
				color: #82ad2b;
				font-size: 11px;
				font-weight: 700;
				text-decoration: none;
			}

			span {
				display: inline-block !important;
			}
		}

		input {
			margin: 0 5px 5px 0; padding: 5px;

			background: transparent;
			border: 1px solid rgba($black, 0.1);
			color: $black !important;
			font-size: 13px;
			outline: 0;
			width: 100%;
		}

		div {
			display: inline-block;
			float: right;
		}

		.tags_clear {
			width: 100%; height: 0;
			clear: both;
		}

		.not_valid {
			background: #fbd8db !important;
			color: #90111a !important;
		}
	}
}

/** [-] Main Content Area *****************************************************************************/

#main-content {
}
