@media only screen and (max-height: 677px) {
	/** [-] Profile *************************************************************************************/

	#action-bar {
		height: 99px;

		h1 {
			width: 172px; height: 60px;

			background-size: 172px 60px;
			margin: 1.6rem 0 0 0;
		}

		h2 {
			font-size: 25px;
			line-height: 30px;
			margin: 1.2rem 0 0 0;
		}

		ul {
			li {
				width: 99px; height: 99px;
			}

			#action-create, #action-gapelians, #action-books, #action-dimensions,
			#action-next {
				background-size: 99px;
				font-family: "OpenSansLight";
				font-size: 12px;
				padding: 0 0 1rem 0;
			}

			#action-create, #action-gapelians, #action-books, #action-dimensions {
				background-size: 99px 198px;

				&:hover { background-position: 0 -99px; }
			}

			.active { background-position: 0 -99px !important; }

			#action-user, #action-logo { background-size: 99px 100px; }
			#action-user { background-image: url("../images/avatar-spacecakes.jpg"); }
			#action-logo { background-image: url("../images/action-logo.png"); }

			#action-account, #action-next {
				.top, .bottom { padding: 1.1rem; }
			}

			#action-next { padding: 0; }
		}
	}

	#main-content { background-position: bottom left; }

	/** [-] Big + Small Scroller Shared Styles **********************************************************/

	#big-scroller-wrapper, #small-scroller-wrapper {
	}

	/** [-] Big Scroller **********************************************************************************/

	#big-scroller-wrapper {
		#prev-big, #next-big { padding: 10.4rem 0; }
	}

	#big-scroller {
		.dimension-book {
			width: 200px; height: 339px;
			.mark { width: 100px; }
		}
	}

	/** [-] Small Scroller ********************************************************************************/

	#small-scroller-wrapper {
		#prev-small, #next-small { padding: 4rem 0; }
	}

	#small-scroller {
		.user-book {
			width: 360px; height: 144px;

			.cover {
				width: 144px; height: 144px;
			}
		}
	}

	/** [-] Dimensions **********************************************************************************/

	.art, .flow, .life, .pulse, .wonder, .wow {
		.book-cover { background-size: 100%; }
	}
}

@media only screen and (max-height: 651px) {
	/** [-] Profile *************************************************************************************/

	#action-bar {
		height: 99px;

		h1 {
			width: 172px; height: 60px;

			background-size: 172px 60px;
			margin: 1.6rem 0 0 0;
		}

		h2 {
			font-size: 25px;
			line-height: 30px;
			margin: 1.2rem 0 0 0;
		}

		ul {
			li {
				width: 99px; height: 99px;
			}

			#action-create, #action-feed, #action-discovery, #action-friends,
			#action-next {
				background-size: 99px;
				font-family: "OpenSansLight";
				font-size: 12px;
				padding: 0 0 1rem 0;
			}

			#action-user, #action-logo { background-size: 99px 100px; }
			#action-user { background-image: url("../images/avatar-spacecakes.jpg"); }
			#action-logo { background-image: url("../images/action-logo.png"); }

			#action-account, #action-next {
				.top, .bottom { padding: 1.1rem; }
			}

			#action-next { padding: 0; }
		}
	}

	#main-content { background-position: bottom left; }

	/** [-] Big + Small Scroller Shared Styles **********************************************************/

	#big-scroller-wrapper, #small-scroller-wrapper {
	}

	/** [-] Big Scroller **********************************************************************************/

	#big-scroller-wrapper {
		#prev-big, #next-big { padding: 9.6rem 0; }
	}

	#big-scroller {
		.dimension-book {
			width: 200px; height: 320px;
			.mark { width: 100px; }
		}

		.book-cover { background-size: 100%; }
	}

	/** [-] Small Scroller ********************************************************************************/

	#small-scroller-wrapper {
		#prev-small, #next-small { padding: 4rem 0; }
	}

	#small-scroller {
		.user-book {
			width: 360px; height: 144px;

			.cover {
				width: 144px; height: 144px;
			}
		}
	}

	/** [-] Dimensions **********************************************************************************/

	.art, .flow, .life, .pulse, .wonder, .wow {
	}
}
