{% extends "books/full-view/base.html" %}
{% load content_tags %}
{% block body_css %}preview fv-horizontal{% endblock %}
{% block section_id %}horizontal-fullview-wrapper{% endblock %}
{% block section_image %}{{ page.media.url }}{% endblock %}
{% block main_content_inner %}
			<!--/ HORIZONTAL VIEW /-->
			<div id="information">
				<h1 class="page-title-elem">{{ page.title }}</h1>
				<h5 class="page-geotag-elem">{{ page|get_page_location }}</h5>

				<div class="page-desc">{{ page.description|safe }}</div>
			</div>

			<!--/
			<div id="story-content">
				<div id="story-wrapper">
					<div id="story">

						<div class="handle">Click &amp; drag to position this</div>

						<span class="page-title-elem">{{ page.title }}</span>
						<span class="page-geotag-elem">{{ page|get_page_location }}</span>

						<div class="page-desc">{{ page.description|safe }}</div>

					</div>
				</div>
			</div>

			{% block scripts %}
			<script src="{{ STATIC_URL }}scripts/draggabilly.min.js"></script>

			<script>
				window.onload = function() {

					var ex1 = document.getElementById("story-content");
					var drag1 = new Draggabilly(ex1);

					var ex2 = document.getElementById("ex2");
					var drag2 = new Draggabilly(ex2);

					drag2.on("dragStart", function(instance, event, pointer) {
						console.log("dragStart", instance.position.x, instance.position.y, event.type, pointer.pageX, pointer.pageY);
					});

					drag2.on("dragMove", function(instance, event, pointer) {
						console.log("dragMove", instance.position.x, instance.position.y, event.type, pointer.pageX, pointer.pageY);
					});

					drag2.on("dragEnd", function(instance, event, pointer) {
						console.log("dragEnd", instance.position.x, instance.position.y, event && event.type, pointer && pointer.pageX, pointer && pointer.pageY);
					});

					var container1Draggers = [];
					var dragger;

					var elems = document.querySelectorAll("#container1 .box");

					function handleDraggerEvent(instance, event, pointer) {
						console.log(event.type, instance.position.x, instance.position.y);
					}

					for (var i=0, len = elems.length; i < len; i++) {
						dragger = new Draggabilly(elems[i], {
							containment: true
						});

						dragger.on("dragStart", handleDraggerEvent);
						dragger.on("dragEnd", handleDraggerEvent);
					}

					(function() {
						var elem = document.querySelector("#kitten");
						new Draggabilly(elem);
					})();

					(function() {
						var elem = document.querySelector("#kitties");
						new Draggabilly(elem);
					})();

				};
			</script>
			{% endblock %}
			/-->
{% endblock %}