{% load content_tags %}
<!DOCTYPE html>
<html lang="en">

	<head>

		<meta charset="utf-8"/>
		<title>Create a book | Gapelia</title>

		<meta name="description" content=""/>
		<meta name="keywords" content=""/>
		<meta name="author" content="Gapelia"/>

		<link href="{{ STATIC_URL }}css/style.css" rel="stylesheet"/>
		<link href="{{ STATIC_URL }}images/favicon.png" rel="shortcut icon"/>

		<style>
			.test-frontcover-preview-wrapper, .test-photo-preview-wrapper, .test-text-preview-wrapper, .test-horizontal-preview-wrapper, .test-overlay-preview-wrapper, .test-phototext-preview-wrapper, .test-integrated-preview-wrapper, .test-video-preview-wrapper {
				width: 100%; height: 100%;

				background-size: cover;
				display: block;
			}

			.test-frontcover-preview-wrapper { background-image: url("{{ STATIC_URL }}images/text-book/2651.jpg"); }
			.test-photo-preview-wrapper { background-image: url("{{ STATIC_URL }}images/text-book/2656.jpg"); }
			.test-text-preview-wrapper { background-image: url("{{ STATIC_URL }}images/text-book/2659.jpg"); }
			.test-horizontal-preview-wrapper { background-image: url("{{ STATIC_URL }}images/text-book/2664.jpg"); }
			.test-overlay-preview-wrapper { background-image: url("{{ STATIC_URL }}images/text-book/2665.jpg"); }
			/* .test-phototext-preview-wrapper { background-image: url("{{ STATIC_URL }}images/text-book/2671.jpg"); } */
			.test-integrated-preview-wrapper { background-image: url("{{ STATIC_URL }}images/text-book/2676.jpg"); }
			.test-video-preview-wrapper { background-image: url("{{ STATIC_URL }}images/text-book/2679.jpg"); }
		</style>

		<!--* if lt IE 9 *>
			<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<!* endif *-->

		<!--/ scripts/enablers /-->
		<!--/ <script src="{{ STATIC_URL }}scripts/vendor/modernizr-ii.js"></script> /-->
		<script src="{{ STATIC_URL }}scripts/modernizr.full.js"></script>
		<script src="{{ STATIC_URL }}scripts/jquery-1.10.2.js"></script>
		<script src="{{ STATIC_URL }}scripts/prefixfree.js"></script>

		<!--/
		<script src="{{ STATIC_URL }}scripts/bg-resize.js"></script>

		<script>
			$(document).ready(function() {
				$(".test-frontcover-preview-wrapper").bgResize({ img: "{{ STATIC_URL }}images/text-book/2651.jpg" });
				$(".test-photo-preview-wrapper").bgResize({ img: "{{ STATIC_URL }}images/text-book/2656.jpg" });
				$(".test-text-preview-wrapper").bgResize({ img: "{{ STATIC_URL }}images/text-book/2659.jpg" });
				$(".test-horizontal-preview-wrapper").bgResize({ img: "{{ STATIC_URL }}images/text-book/2664.jpg" });
				$(".test-overlay-preview-wrapper").bgResize({ img: "{{ STATIC_URL }}images/text-book/2665.jpg" });
				$(".test-phototext-preview-wrapper").bgResize({ img: "{{ STATIC_URL }}images/text-book/2671.jpg" });
				$(".test-integrated-preview-wrapper").bgResize({ img: "{{ STATIC_URL }}images/text-book/2676.jpg" });
				$(".test-video-preview-wrapper").bgResize({ img: "{{ STATIC_URL }}images/text-book/2679.jpg" });
			});
		</script>
		/-->

	</head>

	<body class="book-creation g-body">

		<header>
			<div id="back">
			</div>

			<div id="title">
				<span id="book-title">{{ book.title }}</span></span>
			</div>

			<div id="finish">
				<a href="#">Preview</a> | <a href="#">Publish</a> | <a href="#">Save + Close</a>
			</div>
		</header>

		<!--/ main-content /-->

		<section id="main-content">
			<!--/ preview/blank-page /-->

			<!--/
			<section class="blank-preview-wrapper">
				<div id="blank-preview">
					<div class="cover-info">
						<h1>* book title *</h1>
						<h5>has been created. Add pages to it!</h5>
					</div>
				</div>
			</section>
			/-->

			<div id="book-creation-wrapper">
				<div id="create-book">
					<section class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s3">
						<div id="layout-toggle"><span class="open">Layouts</span><span class="closed">k</span></div>

						<div id="layout-scroller">
							<ul>
								<li id="select-frontcover-layout" class="selected-layout">
									<img src="{{ STATIC_URL }}images/view-modes/front.png" alt=""/>
									<span>Front Cover</span>
								</li>

								<li id="select-photo-layout">
									<img src="{{ STATIC_URL }}images/view-modes/photo.png" alt=""/>
									<span>Photo</span>
								</li>

								<li id="select-text-layout">
									<img src="{{ STATIC_URL }}images/view-modes/text.png" alt=""/>
									<span>Text</span>
								</li>

								<li id="select-horizontal-layout">
									<img src="{{ STATIC_URL }}images/view-modes/horizontal.png" alt=""/>
									<span>Horizontal</span>
								</li>

								<li id="select-overlay-layout">
									<img src="{{ STATIC_URL }}images/view-modes/overlay.png" alt=""/>
									<span>Overlay</span>
								</li>

								<li id="select-phototext-layout">
									<img src="{{ STATIC_URL }}images/view-modes/phototext.png" alt=""/>
									<span>Photo/Text</span>
								</li>

								<li id="select-integrated-layout">
									<img src="{{ STATIC_URL }}images/view-modes/integrated.png" alt=""/>
									<span>Integrated</span>
								</li>

								<li id="select-video-layout">
									<img src="{{ STATIC_URL }}images/view-modes/video.png" alt=""/>
									<span>Video</span>
								</li>
							</ul>
						</div>
					</section>

					<div class="text-menu hide">
						<div class="options">
							<span class="no-overflow">
								<span class="ui-inputs">
									<button class="bold">B</button>
									<button class="italic">i</button>
									<button class="header1">h1</button>
									<button class="header2">h2</button>
									<button class="quote">&rdquo;</button>
									<button class="url useicons">&#xe001;</button>
									<input class="url-input" type="text" placeholder="Paste or type a link"/>
								</span>
							</span>
						</div>
					</div>

					<div class="flyout-wrap">
						<a class="flyout-btn page-settings" href="#" title="Settings">@</a>

						<ul class="flyout flyout-init">
							<li class="page-delete"><a title="Delete" class="md-trigger" href="JavaScript:$('#delete-modal').addClass('md-show')"><span>u</span></a></li>
							<li class="page-collab"><a title="Collab" href="#"><span>,</span></a></li>
							<li class="page-edit"><a title="Edit" class="md-trigger" href="#"><span>&amp;</span></a></li>
						</ul>
					</div>

					<!--/ <div id="create-content" data-role="flip" data-flip-show-pager="false" data-flip-forward-dir="rtol"/> /-->
					<div id="create-content">

						<section id="" class="test-frontcover-preview-wrapper">
							<div id="frontcover-preview">
								<article contenteditable="true" class="cover-info">

									<h1 class="page-title-elem">* Title *</h1>
									<h5>by <span>* User *</span></h5>

									<ul class="cover-lifestyle">
										<li class="page-geotag-elem">* Location *</li><br/>
										<li>* Feeling *</li>
										<li>* Lifestyle *</li>
									</ul>

									<div class="page-desc"><p>* Description *</p></div>

								</article>
							</div>
						</section>

						<section id="" class="test-photo-preview-wrapper" style="display: none;">
							<div id="photo-preview">
								<article contenteditable="true">

									<center>PHOTO</center>

									<h1 class="page-title-elem">* Title *</h1>
									<span class="page-geotag-elem">* Location *</span>

									<div class="page-desc">* Description *</div>

								</article>
							</div>
						</section>

						<section id="" class="test-text-preview-wrapper" style="display: none;">
							<div id="text-preview">
								<article contenteditable="true">

									<center>TEXT</center>

									<h1 class="page-title-elem">* Title *</h1>
									<span class="page-geotag-elem">* Location *</span>

									<div class="page-desc columnize">* Description *</div>

								</article>
							</div>
						</section>

						<section id="" class="test-horizontal-preview-wrapper" style="display: none;">
							<div id="horizontal-preview">
								<article contenteditable="true">

									<center>HORIZONTAL</center>

									<h1 class="page-title-elem">* Title *</h1>
									<span class="page-geotag-elem">* Location *</span>

									<div class="page-desc">* Description *</div>

								</article>
							</div>
						</section>

						<section id="" class="test-overlay-preview-wrapper" style="display: none;">
							<div id="overlay-preview">
								<article contenteditable="true">

									<center>OVERLAY</center>

									<h1 class="page-title-elem">* Title *</h1>
									<span class="page-geotag-elem">* Location *</span>

									<div class="page-desc">* Description *</div>

								</article>
							</div>
						</section>

						<section id="" class="test-phototext-preview-wrapper" style="display: none;">
							<img src="{{ STATIC_URL }}images/text-book/2671.jpg" alt="" class="horizontal-bg"/>
							<!--/ <img src="{{ STATIC_URL }}images/text-book/2671.jpg" alt="" class="vertical-bg"/> /-->

							<div id="phototext-preview">
								<article contenteditable="true">

									<center>PHOTO/TEXT</center>

									<h1 class="page-title-elem">* Title *</h1>
									<span class="page-geotag-elem">* Location *</span>

									<div class="page-desc">* Description *</div>

								</article>
							</div>
						</section>

						<section id="" class="test-integrated-preview-wrapper" style="display: none;">
							<div id="integrated-preview">
								<article contenteditable="true">

									<center>INTEGRATED</center>

									<h1 class="page-title-elem">* Title *</h1>
									<span class="page-geotag-elem">* Location *</span>

									<div class="page-desc">* Description *</div>
									
								</article>
							</div>
						</section>

						<section id="" class="test-video-preview-wrapper" style="display: none;">
							<div id="video-preview" style="position: relative;">
								<article contenteditable="true">

									<center>VIDEO</center>

									<h1 class="page-title-elem">* Title *</h1>
									<span class="page-geotag-elem">* Location *</span>

									<div class="page-desc">* Description *</div>

								</article>

								<div id="video-player-container"></div>
							</div>
						</section>

					</div>
				</div>
			</div>
		</section>

		<!--/ page-scroller /-->

		<section class="cbp-spmenu cbp-spmenu-horizontal cbp-spmenu-bottom" id="cbp-spmenu-s4">
			<div id="menu-toggle">Page Menu</div>

			<div id="page-scroller-wrapper">
				<section id="page-scroller">

					<li class="page current-thumbnail">
						<a href="">
							<img src="{{STATIC_URL}}images/new-page-thumb.png" id="page-01-thumb" alt=""/>
						</a>
					</li>

					<li class="page">
						<a href="">
							<img src="{{STATIC_URL}}images/new-page-thumb.png" id="page-02-thumb" alt=""/>
						</a>
					</li>

					<li class="page">
						<a href="">
							<img src="{{STATIC_URL}}images/new-page-thumb.png" id="page-03-thumb" alt=""/>
						</a>
					</li>

					<li class="page">
						<a href="">
							<img src="{{STATIC_URL}}images/new-page-thumb.png" id="page-04-thumb" alt=""/>
						</a>
					</li>

					<li class="page">
						<a href="">
							<img src="{{STATIC_URL}}images/new-page-thumb.png" id="page-05-thumb" alt=""/>
						</a>
					</li>

					<li class="page">
						<a href="">
							<img src="{{STATIC_URL}}images/new-page-thumb.png" id="page-06-thumb" alt=""/>
						</a>
					</li>

					<li class="page">
						<a href="">
							<img src="{{STATIC_URL}}images/new-page-thumb.png" id="page-07-thumb" alt=""/>
						</a>
					</li>

					<li class="page">
						<a href="">
							<img src="{{STATIC_URL}}images/new-page-thumb.png" id="page-08-thumb" alt=""/>
						</a>
					</li>

					<li class="page">
						<a href="">
							<img src="{{STATIC_URL}}images/new-page-thumb.png" id="page-09-thumb" alt=""/>
						</a>
					</li>

					<li class="page">
						<a href="">
							<img src="{{STATIC_URL}}images/new-page-thumb.png" id="page-10-thumb" alt=""/>
						</a>
					</li>

					<li class="page">
						<a href="">
							<img src="{{STATIC_URL}}images/new-page-thumb.png" id="page-11-thumb" alt=""/>
						</a>
					</li>

					<li class="page">
						<a href="">
							<img src="{{STATIC_URL}}images/new-page-thumb.png" id="page-12-thumb" alt=""/>
						</a>
					</li>

					<li class="page">
						<a href="">
							<img src="{{STATIC_URL}}images/new-page-thumb.png" id="page-13-thumb" alt=""/>
						</a>
					</li>

					<li class="page">
						<a href="">
							<img src="{{STATIC_URL}}images/new-page-thumb.png" id="page-14-thumb" alt=""/>
						</a>
					</li>

					<li class="page">
						<a href="">
							<img src="{{STATIC_URL}}images/new-page-thumb.png" id="page-15-thumb" alt=""/>
						</a>
					</li>

					<li class="page">
						<a href="">
							<img src="{{STATIC_URL}}images/new-page-thumb.png" id="page-16-thumb" alt=""/>
						</a>
					</li>

					<li class="page">
						<a href="">
							<img src="{{STATIC_URL}}images/new-page-thumb.png" id="page-17-thumb" alt=""/>
						</a>
					</li>

					<li class="page">
						<a href="">
							<img src="{{STATIC_URL}}images/new-page-thumb.png" id="page-18-thumb" alt=""/>
						</a>
					</li>

					<li class="page">
						<a href="">
							<img src="{{STATIC_URL}}images/new-page-thumb.png" id="page-19-thumb" alt=""/>
						</a>
					</li>

					<li class="page">
						<a href="">
							<img src="{{STATIC_URL}}images/new-page-thumb.png" id="page-20-thumb" alt=""/>
						</a>
					</li>

				</section>
			</div>
		</section>

		<!--/ scripts /-->
		<script>
			$(document).ready(function() {
				$(".flyout-btn").click(function (e) {
					$(".flyout-btn").toggleClass("btn-rotate");
					$(".flyout").toggleClass("flyout-init").toggleClass("expand");
					e.preventDefault();
				});
			});
		</script>

		<script src="{{ STATIC_URL }}scripts/grande.js"></script>
		<script>grande.bind();</script>

		<script src="{{ STATIC_URL }}scripts/gapelia.js"></script>
		<script src="{{ STATIC_URL }}scripts/books.js"></script>

		<!--/ Save this for the actual book! (:
		<script src="{{ STATIC_URL }}scripts/flip.js"></script>

		<script>
			$(document).ready(function () {
				$("#create-content").flip({
					forwardDir: "rtol",
					// height: "340px",
					showpager: false,
					loop: false
				});
			});
		</script>
		/-->

		<!--/ scripts/layout-scroller /-->
		<script src="{{ STATIC_URL }}scripts/mousewheel.js"></script>
		<script src="{{ STATIC_URL }}scripts/scrollpanel.js"></script>

		<script>
			$("#layout-scroller").scrollpanel();
		</script>

		<!--/ scripts/carousel /-->
		<script src="{{ STATIC_URL }}scripts/owl.carousel2.js"></script>

		<script>
			$(document).ready(function() {

				$("#page-scroller").owlCarousel({
					navigation: true,
					navigationText : ["<", ">"],
					pagination: false,
					// responsive: true,
					itemsDesktop: [1366, 12],
					// itemsDesktop: [1366, 11.6], // 11.6 makes items 100px wide on 1366px wide displays
					items : 12,
					mouseDraggable: false
				});
			 
			});
		</script>

		<!--/ scripts/page-sorter /-->
		<script src="{{ STATIC_URL }}scripts/sortable.js"></script>

		<script>
			$(function() {
				// $("#page-scroller").sortable().bind("sortupdate", function(evt, ui) { changePosition(ui); });
				// $(".owl-wrapper").sortable().bind("sortupdate", function(evt, ui) { changePosition(ui); });
				$(".owl-wrapper").sortable().bind("sortupdate", function() {});
			});
		</script>

		<!--/ scripts/menu-slider /-->
		<script src="{{ STATIC_URL }}scripts/modal/classie.js"></script>

		<script>
			var menuBottom = document.getElementById("cbp-spmenu-s4"), showBottom = document.getElementById("menu-toggle"), menuLeft = document.getElementById("cbp-spmenu-s3"), showLeft = document.getElementById("layout-toggle"), body = document.body;

			showBottom.onclick = function() {
				classie.toggle(this, "active");
				classie.toggle(menuBottom, "cbp-spmenu-open");
			};

			showLeft.onclick = function() {
				classie.toggle(this, "active");
				classie.toggle(menuLeft, "cbp-spmenu-open");
			};
		</script>

		<!--/ photo+column /-->
		<script>
			$(document).ready(function() {
				var $vbg = $("#vertical-bg");
				var $hbg = $("#horizontal-bg");
				var $p2p = $("#phototext-ii-preview");

				$(function () {
					$vbg.css("margin-left", $vbg.width() + $p2p.width() - $(".phototext-ii-preview-wrapper").width() / 2 + 65 + "px");
					// $hbg.css("margin-top", $(".phototext-ii-preview-wrapper").height() - $hbg.height() / 2 + "px");
				});
			});
		</script>

		<script src="{{ STATIC_URL }}scripts/filepicker.js"></script>
		<!--/ <script src="{{ STATIC_URL }}js/app/book-edit.js"></script> /-->

		<!--/
		<script src="{{ STATIC_URL }}scripts/imgLiquid.min.js"></script>

		<script>
			$(function() {
				$(".frontcover-preview-wrapper, .photo-preview-wrapper, .phototext-preview-wrapper, .integrated-ii-preview-wrapper").imgLiquid({ fill: true });
				// $(".imgLiquidNoFill").imgLiquid({ fill: false });
			});
		</script>
		/-->

	</body>

</html>
