{% load content_tags %}
<!DOCTYPE html>
<html lang="en">

	<head>

		<meta charset="utf-8"/>
		<title>Create a book | Gapelia</title>

		<meta name="description" content=""/>
		<meta name="keywords" content=""/>
		<meta name="author" content="Gapelia"/>

		<link href="{{ STATIC_URL }}css/style.css" rel="stylesheet"/>
		<link href="{{ STATIC_URL }}images/favicon.png" rel="shortcut icon"/>

		<!--/ <link href="{{ STATIC_URL }}scripts/osmplayer/jquery-ui.css" rel="stylesheet"/>					/-->
		<!--/ <link href="{{ STATIC_URL }}scripts/osmplayer/osmplayer_default.css" rel="stylesheet"/>	/-->

		<!--[if lt IE 9]>
			<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<!--/ scripts/enablers /-->
		<!--/ <script src="{{ STATIC_URL }}scripts/vendor/modernizr-ii.js"></script> /-->
		<!--/ <script src="{{ STATIC_URL }}scripts/modernizr.min.js"></script> /-->
		<script src="{{ STATIC_URL }}scripts/jquery-1.10.2.js"></script>
		<script src="{{ STATIC_URL }}scripts/bg-resize.js"></script>

		<script>
			$(document).ready(function() {
				$(".frontcover-preview-wrapper").bgResize({
					// img: "{% block section_image %}{% endblock %}"
					img: "{{ STATIC_URL }}images/tokyo2610-by-tokyo-form.jpg"
				});
			});
		</script>

	</head>

	<body class="book-creation g-body">

		<header>
			<div id="back">
				<!--/ <a href="{% url "book" book.slug %}" onclick="if(PAGE_CHANGED) savePageChanges();">&#11013;</a> /-->
				<a href="{% url 'books' %}" onclick="if(PAGE_CHANGED) savePageChanges();">&#11013;</a>
			</div>

			<div id="title">
				<span id="book-title">{{ book.title }}</span><!--/ by <span id="book-author">{{ book.created_by.get_full_name }} /--></span>
			</div>

			<div id="finish">
				<a href="#">Preview</a> | <a href="#">Publish</a>
				<!--/ <a href="#">Publish</a> | <a onclick="savePageChanges(this, false); location.reload();">Save</a> /-->
			</div>
		</header>

		<!--/ main-content /-->

		<section id="main-content">
			{% if not pages %}
			<!--/ preview/blank-page /-->

			<section class="blank-preview-wrapper">
				<div id="blank-preview">
					<div class="cover-info">
						<h1>{{ book.title }}</h1>
						<h5>has been created. Add pages to it!</h5>
					</div>
				</div>
			</section>
			{% else %}

			<div id="book-creation-wrapper">
				<div id="create-book">
					<section class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s3">
						<div id="layout-toggle">Layout Menu</div>

						<div id="layout-scroller">
							<ul>
								<li id="select-frontcover-layout" class="selected-layout">
									<img src="{{ STATIC_URL }}images/view-modes/01.png" alt=""/>
									<span>Front Cover</span>
								</li>

								<li id="select-photo-layout">
									<img src="{{ STATIC_URL }}images/view-modes/02.png" alt=""/>
									<span>Photo</span>
								</li>

								<li id="select-text-layout">
									<img src="{{ STATIC_URL }}images/view-modes/03.png" alt=""/>
									<span>Text</span>
								</li>

								<li id="select-horizontal-layout">
									<img src="{{ STATIC_URL }}images/view-modes/04.png" alt=""/>
									<span>Horizontal</span>
								</li>

								<li id="select-overlay-layout">
									<img src="{{ STATIC_URL }}images/view-modes/05.png" alt=""/>
									<span>Overlay</span>
								</li>

								<li id="select-phototext-layout">
									<img src="{{ STATIC_URL }}images/view-modes/06.png" alt=""/>
									<span>Photo/Text</span>
								</li>

								<li id="select-integrated-layout">
									<img src="{{ STATIC_URL }}images/view-modes/07.png" alt=""/>
									<span>Integrated</span>
								</li>

								<li id="select-video-layout">
									<img src="{{ STATIC_URL }}images/view-modes/08.png" alt=""/>
									<span>Video</span>
								</li>
							</ul>
						</div>
					</section>

					<div id="create-content">
						<div class="text-menu hide">
							<div class="options">
								<span class="no-overflow">
									<span class="ui-inputs">
										<button class="bold">B</button>
										<button class="italic">i</button>
										<button class="header1">h1</button>
										<button class="header2">h2</button>
										<button class="quote">&rdquo;</button>
										<button class="url useicons">&#xe001;</button>
										<input class="url-input" type="text" placeholder="Paste or type a link"/>
									</span>
								</span>
							</div>
						</div>

						<div class="flyout-wrap">
							<a class="flyout-btn page-settings" href="#" title="Settings">@</a>

							<ul class="flyout flyout-init">
								<li class="page-delete"><a title="Delete" class="md-trigger" href="JavaScript:$('#delete-modal').addClass('md-show')"><span>u</span></a></li>
								<li class="page-collab"><a title="Collab" href="#"><span>,</span></a></li>
								<li class="page-edit"><a title="Edit" class="md-trigger" href="#"><span>&amp;</span></a></li>
							</ul>
						</div>

						<!--/ preview/front-cover /-->

						<section id="preview-wrapper-{{ PAGE_LAYOUTS.FRONT_COVER }}" class="frontcover-preview-wrapper">
							<div id="frontcover-preview">
								<article contenteditable="true" class="cover-info">
									<h1 class="page-title-elem">{{ first_page.title }}</h1>
									<h5>by <span>{{ first_page.created_by.get_full_name}}</span></h5>

									<ul class="cover-lifestyle">
										{% if first_page.location %}<li class="page-geotag-elem">{{ first_page|get_page_location }}</li>{% endif %}
										{% for tagged_item in first_page.tagged_items %}
										<li>{{ tagged_item.tag.name|title }}</li>
										{% endfor %}
									</ul>

									<div class="page-desc">{{ first_page.description|safe }}</div>
								</article>
							</div>

							<!--/ <img src="{{ first_page.media.url }}" alt="" class="page-bg"/> /-->
						</section>

						<!--/ preview/photo /-->

						<section id="preview-wrapper-{{ PAGE_LAYOUTS.PHOTO }}" class="photo-preview-wrapper">
							<div id="photo-preview">
								<span class="page-title-elem">{{ page.title }}</span>
								<span class="page-geotag-elem">{{ first_page|get_page_location }}</span>

								<div class="page-desc">{{ first_page.description|safe }}</div>
							</div>

							<img src="{{ first_page.media.url }}" alt="" class="page-bg"/>
						</section>

						<!--/ preview/text /-->

						<section id="preview-wrapper-{{ PAGE_LAYOUTS.TEXT }}" class="text-preview-wrapper">
							<div id="text-preview">
								<span class="page-title-elem">{{ page.title }}</span>
								<span class="page-geotag-elem">{{ first_page|get_page_location }}</span>

								<div class="page-desc columnize">{{ first_page.description|safe }}</div>
							</div>

							<img src="{{ first_page.media.url }}" alt="" class="page-bg"/>
						</section>

						<!--/ preview/integrated-i /-->

						<section id="preview-wrapper-{{ PAGE_LAYOUTS.HORIZONTAL }}" class="integrated-preview-wrapper">
							<img src="{{ first_page.media.url }}" alt="" class="page-bg"/>

							<div id="integrated-preview">
								<span class="page-title-elem">{{ page.title }}</span>
								<span class="page-geotag-elem">{{ first_page|get_page_location }}</span>

								<div class="page-desc">{{ first_page.description|safe }}</div>
							</div>
						</section>

						<!--/ preview/photo-text-i /-->

						<section id="preview-wrapper-{{ PAGE_LAYOUTS.OVERLAY }}" class="phototext-preview-wrapper">
							<div id="phototext-preview">
								<span class="page-title-elem">{{ page.title }}</span>
								<span class="page-geotag-elem">{{ first_page|get_page_location }}</span>

								<div class="page-desc">{{ first_page.description|safe }}</div>
							</div>

							<img src="{{ first_page.media.url }}" alt="" class="page-bg"/>
						</section>

						<!--/ preview/photo-text-ii /-->

						<section id="preview-wrapper-{{ PAGE_LAYOUTS.PHOTOTEXT }}" class="phototext-ii-preview-wrapper">
							<img src="{{ first_page.media.url }}" alt="" id="horizontal-bg" class="page-bg"/>
							<!--/ <img src="{{ first_page.media.url }}" alt="" id="vertical-bg" class="page-bg"/> /-->

							<div id="phototext-ii-preview">
								<span class="page-title-elem">{{ page.title }}</span>
								<span class="page-geotag-elem">{{ first_page|get_page_location }}</span>

								<div class="page-desc">{{ first_page.description|safe }}</div>
							</div>
						</section>

						<!--/ preview/integrated-ii /-->

						<section id="preview-wrapper-{{ PAGE_LAYOUTS.INTEGRATED }}" class="integrated-ii-preview-wrapper">
							<div id="integrated-ii-preview">
								<div class="small-wrapper">
									<div class="handle">Click &amp; drag to position this</div>

									<span class="page-title-elem">{{ page.title }}</span>
									<span class="page-geotag-elem">{{ first_page|get_page_location }}</span>

									<div class="page-desc">{{ first_page.description|safe }}</div>
								</div>
							</div>

							<img src="{{ first_page.media.url }}" alt="" class="page-bg"/>
						</section>

						<!--/ preview/video /-->

						<section id="preview-wrapper-{{ PAGE_LAYOUTS.VIDEO }}" class="video-preview-wrapper">
							<div id="video-preview" style="position: relative;">
								<span class="page-title-elem">{{ page.title }}</span>
								<span class="page-geotag-elem">{{ first_page|get_page_location }}</span>

								<div class="page-desc">{{ first_page.description|safe }}</div>
								<div id="video-player-container"></div>
							</div>
						</section>
					</div>
				</div>
			</div>
			{% endif %}
		</section>

		<!--/ page-scroller /-->

		<!--/
		<section id="small-switcher">Your Pages</section>

		<div id="page-scroller-wrapper" class="small-book-scroller">

			<ul id="new-pages">
				<li id="new-text">
					<img src="{{ STATIC_URL }}images/bc-new-text.jpg" onclick="JavaScript:createTextPage()" class="cover" alt=""/>
				</li>

				<li id="new-page">
					<img src="{{ STATIC_URL }}images/bc-new-page.jpg" class="cover" onclick="uploadNewPage()" alt=""/>
				</li>
			</ul>

			<div id="page-scroller" class="owl-carousel">
				{% for page in pages %}
				<div class="page item" id="mini-page-{{ page.id }}">
					<img for-page="{{ page.id }}" class="cover" alt="" onclick="switchToPage(this)"{% if page.media %}{% if page.media.mimetype == "video/embed" %}src="{{STATIC_URL}}images/grey-pixel.png" onload="this.onload=null; this.src=videoFetchThumbnailURL('{{ page.media.url }}')"{% elif "image" in page.media.mimetype %}src="{{ page.media.url }}/convert?w=150&amp;h=150"{% endif %}{% else %}src="{{STATIC_URL}}images/book-text.jpg"{% endif %}/>
				</div>
				{% endfor %}
			</div>
		</div>
		/-->

		<section class="cbp-spmenu cbp-spmenu-horizontal cbp-spmenu-bottom" id="cbp-spmenu-s4">
			<div id="menu-toggle">Page Menu</div>

			<div id="page-scroller-wrapper">
				<!--/
				<nav>
					<a id="prev-small" class="prev" href="#">&#9664;</a>
					<a id="next-small" class="next" href="#">&#9654;</a>
				</nav>
				/-->

				<ul id="page-scroller">

					<!--/ page 01 /-->

					<li class="page current-thumbnail">
						<a href="">
							<img src="../images/book-front.jpg" id="page-01" class="cover" alt=""/>
						</a>
					</li>

					<!--/ page 02 /-->

					<li class="page">
						<a href="">
							<img src="images/bath-02.jpg" id="page-02" class="cover" alt=""/>
						</a>
					</li>

					<!--/ page 03 /-->

					<li class="page">
						<a href="">
							<img src="images/boardwalk.jpg" id="page-03" class="cover" alt=""/>
						</a>
					</li>

					<!--/ page 04 /-->

					<li class="page">
						<a href="">
							<img src="images/city-from-river.jpg" id="page-04" class="cover" alt=""/>
						</a>
					</li>

					<!--/ page 05 /-->

					<li class="page">
						<a href="">
							<img src="images/kids.jpg" id="page-05" class="cover" alt=""/>
						</a>
					</li>

					<!--/ page 06 /-->

					<li class="page">
						<a href="">
							<img src="../images/book-video.jpg" id="page-06" class="cover" alt=""/>
						</a>
					</li>

					<!--/ page 07 /-->

					<li class="page">
						<a href="">
							<img src="images/market.jpg" id="page-07" class="cover" alt=""/>
						</a>
					</li>

					<!--/ page 08 /-->

					<li class="page">
						<a href="">
							<img src="images/old-town-food.jpg" id="page-08" class="cover" alt=""/>
						</a>
					</li>

					<!--/ page 09 /-->

					<li class="page">
						<a href="">
							<img src="images/river-boats.jpg" id="page-09" class="cover" alt=""/>
						</a>
					</li>

					<!--/ page 10 /-->

					<li class="page">
						<a href="">
							<img src="images/sadhus.jpg" id="page-10" class="cover" alt=""/>
						</a>
					</li>

					<!--/ page 11 /-->

					<li class="page">
						<a href="">
							<img src="../images/book-text.jpg" id="page-11" class="cover" alt=""/>
						</a>
					</li>

					<!--/ page 12 /-->

					<li class="page">
						<a href="">
							<img src="images/sleeping.jpg" id="page-12" class="cover" alt=""/>
						</a>
					</li>

					<!--/ page 13 /-->

					<li class="page">
						<a href="">
							<img src="images/streets-02.jpg" id="page-13" class="cover" alt=""/>
						</a>
					</li>

					<!--/ page 14 /-->

					<li class="page">
						<a href="">
							<img src="images/temple.jpg" id="page-14" class="cover" alt=""/>
						</a>
					</li>

					<!--/ page 15 /-->

					<li class="page">
						<a href="">
							<img src="images/traffic.jpg" id="page-15" class="cover" alt=""/>
						</a>
					</li>

					<!--/ page 16 /-->

					<li class="page">
						<a href="">
							<img src="images/kids+buffalos.jpg" id="page-16" class="cover" alt=""/>
						</a>
					</li>

					<!--/ page 17 /-->

					<li class="page">
						<a href="">
							<img src="images/silk.jpg" id="page-17" class="cover" alt=""/>
						</a>
					</li>

					<!--/ page 18 /-->

					<li class="page">
						<a href="">
							<img src="../images/book-back.jpg" id="page-18" class="cover" alt=""/>
						</a>
					</li>

					<!--/ page 19 /-->

					<li class="page">
						<a href="">
							<img src="../images/book-back.jpg" id="page-19" class="cover" alt=""/>
						</a>
					</li>

					<!--/ page 20 /-->

					<li class="page">
						<a href="">
							<img src="../images/book-back.jpg" id="page-20" class="cover" alt=""/>
						</a>
					</li>

				</ul>
			</div>
		</section>

		<!--/ scripts /-->
		<script>
			var IS_FULL_PAGE_VIEW = false;
			var CURRENT_BOOK_SLUG = "{{ book.slug }}";
			{% if pages %}
			var pages_json = {{pages | dump | safe}};
			var CURRENT_PAGE_ID = {{ first_page.id }};
			var CURRENT_PAGE_LAYOUT = {{first_page.layout}};
			var FIRST_PAGE_ID = {{first_page.id}};
			{% else %}
			var pages_json = {};
			var CURRENT_PAGE_ID = 0;
			var CURRENT_PAGE_LAYOUT = 0;
			{% endif %}
			var CURRENT_PAGE_LICENSE = 0;
			var LAYOUT_FRONT_COVER = {{ PAGE_LAYOUTS.FRONT_COVER }};
			var LAYOUT_PHOTO = {{ PAGE_LAYOUTS.PHOTO }};
			var LAYOUT_TEXT = {{ PAGE_LAYOUTS.TEXT }};
			var LAYOUT_INTEGRATED_1 = {{ PAGE_LAYOUTS.HORIZONTAL }};
			var LAYOUT_PHOTO_TEXT_1 = {{ PAGE_LAYOUTS.OVERLAY }};
			var LAYOUT_PHOTO_TEXT_2 = {{ PAGE_LAYOUTS.PHOTOTEXT }};
			var LAYOUT_INTEGRATED_2 = {{ PAGE_LAYOUTS.INTEGRATED }};
			var LAYOUT_VIDEO = {{ PAGE_LAYOUTS.VIDEO }};
			var PAGES_CHECKED = [];
		</script>

		<script>
			$(document).ready(function() {
				$(".flyout-btn").click(function (e) {
					$(".flyout-btn").toggleClass("btn-rotate");
					$(".flyout").toggleClass("flyout-init").toggleClass("expand");
					e.preventDefault();
				});
			});
		</script>

		<script src="{{ STATIC_URL }}scripts/grande.js"></script>
		<script>grande.bind();</script>

		<script src="{{ STATIC_URL }}scripts/gapelia.js"></script>
		<script src="{{ STATIC_URL }}scripts/books.js"></script>

		<!--/ scripts/layout-scroller /-->
		<script src="{{ STATIC_URL }}scripts/mousewheel.js"></script>
		<script src="{{ STATIC_URL }}scripts/scrollpanel.js"></script>

		<script>
			$("#layout-scroller").scrollpanel();
		</script>

		<!--/ scripts/carousel /-->
		<script src="{{ STATIC_URL }}scripts/owl.carousel.js"></script>

		<script>
			$(document).ready(function() {

				$("#page-scroller").owlCarousel({
					navigation: true,
					navigationText : ["<", ">"],
					pagination: false,
					// responsive: true,
					itemsDesktop: [1366, 12],
					// itemsDesktop: [1366, 11.6], // 11.6 makes items 100px wide on1366px wide displays
					items : 12
				});
			 
			});
		</script>

		<!--/ scripts/menu-slider /-->
		<script src="{{ STATIC_URL }}scripts/modal/classie.js"></script>

		<script>
			var menuBottom = document.getElementById("cbp-spmenu-s4"), showBottom = document.getElementById("menu-toggle"), menuLeft = document.getElementById("cbp-spmenu-s3"), showLeft = document.getElementById("layout-toggle"), body = document.body;

			showBottom.onclick = function() {
				classie.toggle(this, "active");
				classie.toggle(menuBottom, "cbp-spmenu-open");
			};

			showLeft.onclick = function() {
				classie.toggle(this, "active");
				classie.toggle(menuLeft, "cbp-spmenu-open");
			};
		</script>

		<!--/ scripts/page-sorter /-->
		<!--/
		<script src="{{ STATIC_URL }}scripts/sortable.js"></script>

		<script>
			$(function() {
				$("#page-scroller").sortable().bind("sortupdate", function(evt, ui) {
					changePosition(ui);
				});
			});
		</script>
		/-->

		<!--/ photo+column /-->
		<script>
			$(document).ready(function() {
				var $vbg = $("#vertical-bg");
				var $hbg = $("#horizontal-bg");
				var $p2p = $("#phototext-ii-preview");

				$(function () {
					$vbg.css("margin-left", $vbg.width() + $p2p.width() - $(".phototext-ii-preview-wrapper").width() / 2 + 65 + "px");
					// $hbg.css("margin-top", $(".phototext-ii-preview-wrapper").height() - $hbg.height() / 2 + "px");
				});
			});
		</script>

		<!--/
		<script src="{{ STATIC_URL }}scripts/imgLiquid.min.js"></script>

		<script>
			$(function() {
				$(".frontcover-preview-wrapper, .photo-preview-wrapper, .phototext-preview-wrapper, .integrated-ii-preview-wrapper").imgLiquid({ fill: true });
				// $(".imgLiquidNoFill").imgLiquid({ fill: false });
			});
		</script>
		/-->

		<!--/
		<script src="{{ STATIC_URL }}scripts/modal/classie.js"></script>
		<script src="{{ STATIC_URL }}scripts/draggabilly.min.js"></script>

		<script>
			window.onload = function() {

				var ex1 = document.getElementById("integrated-ii-preview");
				var drag1 = new Draggabilly(ex1);

				var ex2 = document.getElementById("ex2");
				var drag2 = new Draggabilly(ex2);

				drag2.on("dragStart", function(instance, event, pointer) {
					console.log("dragStart", instance.position.x, instance.position.y, event.type, pointer.pageX, pointer.pageY);
				});

				drag2.on("dragMove", function(instance, event, pointer) {
					console.log("dragMove", instance.position.x, instance.position.y, event.type, pointer.pageX, pointer.pageY);
				});

				drag2.on("dragEnd", function(instance, event, pointer) {
					console.log("dragEnd", instance.position.x, instance.position.y, event && event.type, pointer && pointer.pageX, pointer && pointer.pageY);
				});

				var container1Draggers = [];
				var dragger;

				var elems = document.querySelectorAll("#container1 .box");

				function handleDraggerEvent(instance, event, pointer) {
					console.log(event.type, instance.position.x, instance.position.y);
				}

				for (var i=0, len = elems.length; i < len; i++) {
					dragger = new Draggabilly(elems[i], {
						containment: true
					});

					dragger.on("dragStart", handleDraggerEvent);
					dragger.on("dragEnd", handleDraggerEvent);
				}

				(function() {
					var elem = document.querySelector("#kitten");
					new Draggabilly(elem);
				})();

				(function() {
					var elem = document.querySelector("#kitties");
					new Draggabilly(elem);
				})();

			};
		</script>
		/-->

		<!--/
		<script src="{{ STATIC_URL }}scripts/redactor.js"></script>
		<script src="{{ STATIC_URL }}scripts/fontfamily.js"></script>
		<script src="{{ STATIC_URL }}scripts/fontsize.js"></script>

		<script>
			var buttons = ["fontfamily", "fontcolor", "fontsize", "|", "formatting", "|", "bold", "italic", "deleted", "|", "alignment"];

			$("#text-editor").redactor({
				syncAfterCallback: function(html) {
					$("#live-preview, #default-preview, #photo-preview, #text-preview, #phototext-preview, #integrated-preview").val(html);
				},
				buttons: buttons,
				focus: true,
				plugins: ["fontfamily", "fontsize"],
				buttonsAdd: ["|", "fontfamily", "fontsize"],
				initCallback: function() {
					updatePreviews(this.get());
				},
				changeCallback: function(html) {
					updatePreviews(this.get());
				},
				keyupCallback: function(e) {
					window.PAGE_CHANGED = true;
				}
			});
		</script>

		<script src="{{ STATIC_URL }}scripts/livepreview.js"></script>
		/-->

		<script src="{{ STATIC_URL }}scripts/filepicker.js"></script>
		<script src="{{ STATIC_URL }}js/app/book-edit.js"></script>

		<!--/
		<script>
			var input = document.getElementById("bc-geotag");
			new google.maps.places.Autocomplete(input);

			// Cache the images.
			var img, page, _i, _len;
			window.images = [];

			for (_i = 0, _len = pages_json.length; _i < _len; _i++) {
				page = pages_json[_i];
				img = new Image();
				img.src = page.url;
				window.images.push(img);
			}
		</script>
		/-->

	</body>

</html>
