{% load content_tags %}
<!DOCTYPE html>
<html lang="en">

	<head>

		<meta charset="utf-8"/>
		<title>[username]'s Library | Gapelia</title>

		<!--/
			 ______   ______   ______  ______   __       __   ______    
			/\  ___\ /\  __ \ /\  == \/\  ___\ /\ \     /\ \ /\  __ \   
			\ \ \__ \\ \  __ \\ \  _-/\ \  __\ \ \ \____\ \ \\ \  __ \  
			 \ \_____\\ \_\ \_\\ \_\   \ \_____\\ \_____\\ \_\\ \_\ \_\ 
				\/_____/ \/_/\/_/ \/_/    \/_____/ \/_____/ \/_/ \/_/\/_/ 

				01000111011000010111000001100101011011000110100101100001

		/-->

		<meta name="author" content="Gapelia"/>
		<meta name="copyright" content="Gapelia"/>
		<meta name="description" content="The stand for the world's greatest stories"/>
		<meta name="keywords" content="Gapelia, storytelling, lifestyle, story, creator, travel, pulse, art, wow, life, flow, wonder, dimension"/>

		<link href="{{ STATIC_URL }}css/style.css" rel="stylesheet"/>
		<link href="{{ STATIC_URL }}images/favicon.png" rel="shortcut icon"/>

		<!--* if lt IE 9 *>
			<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<!* endif *-->

		<script src="{{ STATIC_URL }}scripts/jquery-1.10.2.js"></script>
		<script src="{{ STATIC_URL }}scripts/nprogress.js"></script>

	</head>

	<body class="profile">

		<div id="user-panel">
			<div class="user-avatar">
				<img src="{{ STATIC_URL }}images/users/01.jpg"/>
			</div>

			<div class="user-bg">
				<img src="{{ STATIC_URL }}images/space-bb.jpg"/>
			</div>

			<div class="user-data">
				<h2>Paul Anthony Webb</h2>

				<ul>
					<li>Surfing</li>
					<li>Hawaii</li>
					<li>Fun</li>
				</ul>

				<span>Space Bandit / ♈ / Protogenoi / Eccentric Dreamer / Pluviophile / Futurist / Musician / Casual Enthusiast</span>

				<div class="wrapper">
					<button>Edit Profile</button>
				</div>
			</div>
		</div>

		<div id="book-scroller">
			<ul id="book-nav">
				<li class="current"><a href="">Books</a></li>
				<li><a href="">Collections</a></li>
				<li><a href="">Libraries</a></li>
			</ul>

			<div class="user-book-list-wrapper">
				<ul id="user-book-list" style="display: none">
					<li class="book">
						<img src="{{ STATIC_URL }}images/book-thumb-01.jpg" alt=""/>
					</li>

					<li class="book">
						<img src="{{ STATIC_URL }}images/book-thumb-02.jpg" alt=""/>
					</li>

					<li class="book">
						<img src="{{ STATIC_URL }}images/book-thumb-03.jpg" alt=""/>
					</li>

					<li class="book">
						<img src="{{ STATIC_URL }}images/book-thumb-04.jpg" alt=""/>
					</li>

					<li class="book">
						<img src="{{ STATIC_URL }}images/book-thumb-05.jpg" alt=""/>
					</li>

					<li class="book">
						<img src="{{ STATIC_URL }}images/book-thumb-06.jpg" alt=""/>
					</li>

					<li class="book">
						<img src="{{ STATIC_URL }}images/book-thumb-07.jpg" alt=""/>
					</li>

					<li class="book">
						<img src="{{ STATIC_URL }}images/book-thumb-08.jpg" alt=""/>
					</li>

					<li class="book">
						<img src="{{ STATIC_URL }}images/book-thumb-09.jpg" alt=""/>
					</li>

					<li class="book">
						<img src="{{ STATIC_URL }}images/book-thumb-10.jpg" alt=""/>
					</li>
				</ul>
			</div>
		</div>

		<!--/ main-content /-->
		<!--/
		<section id="main-content">
		</section>
		/-->

		<!--/ scripts /-->
		<script src="{{ STATIC_URL }}scripts/g.money.js"></script>

		<!--/ scripts/layout-scroller /-->
		<script src="{{ STATIC_URL }}scripts/jquery.mousewheel.js"></script>
		<script src="{{ STATIC_URL }}scripts/jquery.mCustomScrollbar.js"></script>

		<script>
			(function($){
				$(window).load(function() {
					$("#user-book-list").mCustomScrollbar({
						autoHideScrollbar: false,
						horizontalScroll: true,
						theme: "dark-thin",
						advanced: { autoExpandHorizontalScroll: true, updateOnContentResize: false }
					});
				});
			})(jQuery);
		</script>

		<script>
			NProgress.start();

			/*
			$(document).ready(function() {
				$("#user-book-list").show();
			});
			*/

			$(document).ready(function() {
				NProgress.done();

				$(".fade").removeClass("out");
				$("#user-book-list").show();
			}, 1000);

			/*
			$("#b-0").click(function() { NProgress.start(); });
			$("#b-40").click(function() { NProgress.set(0.4); });
			$("#b-inc").click(function() { NProgress.inc(); });
			$("#b-100").click(function() { NProgress.done(); });
			*/
		</script>

		<!--/
		<script src="{{ STATIC_URL }}scripts/mousewheel.js"></script>
		<script src="{{ STATIC_URL }}scripts/scrollpanel.horiz.js"></script>

		<script>
			$(".user-book-list-wrapper").scrollpanel();
		</script>

		<script src="scripts/scroll.js"></script>

		<script>
			$(document).ready(function() {
				$(".main").onepage_scroll({ sectionContainer: "section" });
			});
		</script>
		/-->

	</body>

</html>
