/***************************************************************************************** BASE/SCSS **/

/** [-] Reset *****************************************************************************************/

* {
	margin: 0; padding: 0;
	box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub,
sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0; padding: 0;

	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

input:focus { outline: 0; }

body { line-height: 1; }
ol, ul { list-style: none; }

blockquote, q {
	quotes: none;

	&:before, &:after {
		content: "";
		content: none;
	}
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** [-] Clearfix **************************************************************************************/

.cf {
	zoom: 1;

	&:before, &:after {
		content: " ";
		display: table;
	}

	&:after { clear: both; }
}

/** [-] Colours ***************************************************************************************/

$black:     rgba(25, 25, 25, 1);    // #191919;
$gray:			rgba(228, 228, 228, 1);	// #e4e4e4;
$l-gray:		rgba(244, 244, 244, 1);	// #f4f4f4;
$white:     rgba(254, 254, 254, 1); // #fefefe;

$edit:			rgba(255, 255, 153, 1); // #ffff99;

$gray-i:		rgba(231, 231, 231, 1);	// #e7e7e7;
$gray-ii:		rgba(207, 207, 207, 1);	// #cfcfcf;
$gray-iii:	rgba(190, 190, 190, 1);	// #bebebe;
$gray-v:		rgba(88, 89, 89, 1);		// #585959;

$slate:			rgba(112, 161, 177, 1);	// #70a1b1;

$red:				rgba(223, 21, 26, 1);		// #df151a;
$orange:		rbga(253, 134, 3, 1);		// #fd8603;
$yellow:		rgba(244, 243, 40, 1);	// #f4f328;
$green:			rgba(0, 218, 60, 1);		// #00da3c;
$blue:			rgba(0, 205, 231, 1);		// #00cbe7;

/** [-] @font-face ************************************************************************************/

@font-face {
	font-family: "entyporegular";
	font-style: normal;
	font-weight: 400;

	src: local("☺"), url("../font-face/Entypo.svg#entyporegular") format("svg");
	src: url("../font-face/Entypo.eot"),
			 url("../font-face/Entypo.eot?#iefix") format("embedded-opentype"),
			 url("../font-face/Entypo.ttf") format("truetype"),
			 url("../font-face/Entypo.woff") format("woff");
}

@font-face {
	font-family: "OpenSansLight";
	font-style: normal;
	font-weight: 300;

	src: local("☺"), url("../font-face/OpenSans-Light.svg#OpenSansLight") format("svg");
	src: url("../font-face/OpenSans-Light.eot"),
			 url("../font-face/OpenSans-Light.eot?#iefix") format("embedded-opentype"),
			 url("../font-face/OpenSans-Light.ttf") format("truetype"),
			 url("../font-face/OpenSans-Light.woff") format("woff");
}

@font-face {
	font-family: "OpenSansLightItalic";
	font-style: italic;
	font-weight: 300;

	src: local("☺"), url("../font-face/OpenSans-LightItalic.svg#OpenSansLightItalic") format("svg");
	src: url("../font-face/OpenSans-LightItalic.eot"),
			 url("../font-face/OpenSans-LightItalic.eot?#iefix") format("embedded-opentype"),
			 url("../font-face/OpenSans-LightItalic.ttf") format("truetype"),
			 url("../font-face/OpenSans-LightItalic.woff") format("woff");
}

@font-face {
	font-family: "OpenSansRegular";
	font-style: normal;
	font-weight: 400;

	src: local("☺"), url("../font-face/OpenSans-Regular.svg#OpenSansRegular") format("svg");
	src: url("../font-face/OpenSans-Regular.eot"),
			 url("../font-face/OpenSans-Regular.eot?#iefix") format("embedded-opentype"),
			 url("../font-face/OpenSans-Regular.ttf") format("truetype"),
			 url("../font-face/OpenSans-Regular.woff") format("woff");
}

@font-face {
	font-family: "OpenSansItalic";
	font-style: italic;
	font-weight: 400;

	src: local("☺"), url("../font-face/OpenSans-Italic.svg#OpenSansItalic") format("svg");
	src: url("../font-face/OpenSans-Italic.eot"),
			 url("../font-face/OpenSans-Italic.eot?#iefix") format("embedded-opentype"),
			 url("../font-face/OpenSans-Italic.ttf") format("truetype"),
			 url("../font-face/OpenSans-Italic.woff") format("woff");
}

@font-face {
	font-family: "OpenSansSemibold";
	font-style: normal;
	font-weight: 600;

	src: local("☺"), url("../font-face/OpenSans-Semibold.svg#OpenSansSemibold") format("svg");
	src: url("../font-face/OpenSans-Semibold.eot"),
			 url("../font-face/OpenSans-Semibold.eot?#iefix") format("embedded-opentype"),
			 url("../font-face/OpenSans-Semibold.ttf") format("truetype"),
			 url("../font-face/OpenSans-Semibold.woff") format("woff");
}

@font-face {
	font-family: "OpenSansSemiboldItalic";
	font-style: italic;
	font-weight: 600;

	src: local("☺"), url("../font-face/OpenSans-SemiboldItalic.svg#OpenSansSemiboldItalic") format("svg");
	src: url("../font-face/OpenSans-SemiboldItalic.eot"),
			 url("../font-face/OpenSans-SemiboldItalic.eot?#iefix") format("embedded-opentype"),
			 url("../font-face/OpenSans-SemiboldItalic.ttf") format("truetype"),
			 url("../font-face/OpenSans-SemiboldItalic.woff") format("woff")l
}

@font-face {
	font-family: "OpenSansBold";
	font-style: normal;
	font-weight: 700;

	src: local("☺"), url("../font-face/OpenSansBold.svg#OpenSansBold") format("svg");
	src: url("../font-face/OpenSans-Bold.eot"),
			 url("../font-face/OpenSans-Bold.eot?#iefix") format("embedded-opentype"),
			 url("../font-face/OpenSans-Bold.ttf") format("truetype"),
			 url("../font-face/OpenSans-Bold.woff") format("woff");
}

@font-face {
	font-family: "OpenSansBoldItalic";
	font-style: italic;
	font-weight: 700;

	src: local("☺"), url("../font-face/OpenSansBoldItalic.svg#OpenSansBoldItalic") format("svg");
	src: url("../font-face/OpenSans-BoldItalic.eot"),
			 url("../font-face/OpenSans-BoldItalic.eot?#iefix") format("embedded-opentype"),
			 url("../font-face/OpenSans-BoldItalic.ttf") format("truetype"),
			 url("../font-face/OpenSans-BoldItalic.woff") format("woff");
}

@font-face {
	font-family: "OpenSansExtrabold";
	font-style: normal;
	font-weight: 800;

	src: local("☺"), url("../font-face/OpenSansExtrabold.svg#OpenSansExtrabold") format("svg");
	src: url("../font-face/OpenSans-ExtraBold.eot"),
			 url("../font-face/OpenSans-ExtraBold.eot?#iefix") format("embedded-opentype"),
			 url("../font-face/OpenSans-ExtraBold.ttf") format("truetype"),
			 url("../font-face/OpenSans-ExtraBold.woff") format("woff");
}

@font-face {
	font-family: "OpenSansExtraboldItalic";
	font-style: italic;
	font-weight: 800;

	src: local("☺"), url("../font-face/OpenSansExtraboldItalic.svg#OpenSansExtraboldItalic") format("svg");
	src: url("../font-face/OpenSans-ExtraBoldItalic.eot"),
			 url("../font-face/OpenSans-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"),
			 url("../font-face/OpenSans-ExtraBoldItalic.ttf") format("truetype"),
			 url("../font-face/OpenSans-ExtraBoldItalic.woff") format("woff");
}

/** [-] Mixins ****************************************************************************************/

@mixin unicode { font-family: Arial, Verdana, Geneva, sans-serif; }
@mixin mono { font-family: Consolas, Inconsolata, "HaxrCorp 4088 Caps", Courier New, mono; }
@mixin sans { font-family: "OpenSansRegular", "Open Sans", Arial, sans-serif; }

@mixin hide-text {
  border: 0;
  color: transparent;
  font: 0/0 a;
  text-shadow: none;
}

/** [-] Generic ***************************************************************************************/

p {
  font-size: 16px/1.5em;
  margin: 0 0 1.5rem 0;
}

a {
	font-color: inherit;
	text-decoration: none;

	&:hover { opacity: 0.7; }
}

em { font-style: italic; }
strong, .strong { font-weight: 700; }
pre, code { @include mono; }
small { font-size: 80%; }

.hide-text { @include hide-text; }
.unicode-char { @include unicode; }

/** [-] Titles ****************************************************************************************/

h1, h2, h3, h4, h5, h6 {
	a { font-weight: inherit; }
}

h1 {
	font-size: 46px;
	line-height: 50px;
	margin: 0 0 14px 0;
}

h2 {
	font-size: 35px;
	line-height: 40px;
	margin: 0 0 10px 0;
}

h3 {
	font-size: 28px;
	line-height: 34px;
	margin: 0 0 8px 0;
}

h4 {
	font-size: 21px;
	line-height: 30px;
	margin: 0 0 4px 0;
}

h5 {
	font-size: 17px;
	line-height: 24px;
}

h6 {
	font-size: 14px;
	line-height: 21px;
}

/** [-] Lists *****************************************************************************************/

ul, ol {
	margin: 0; padding: 0;

	ul, ol {
		li {
			margin: 0; padding: 0;
			line-height: 1;
		}
	}
}

ul { list-style: none outside; }
ol { list-style: decimal; }

.square, .circle, .disc { margin-left: 30px; }

.square { list-style: square outside; }
.circle { list-style: circle outside; }
.disc { list-style: disc outside; }

hr {
	border: 1px solid #ddd;
	clear: both;
	height: 0;
	margin: 10px 0 30px;
}

/** [-] Quotes ****************************************************************************************/

blockquote {
	margin: 1.5em 10px; padding: 0.5em 10px;

	background-color: $l-gray;
	border-left: 10px solid $gray-i;
  line-height: 25px;
	quotes: "\201C""\201D""\2018""\2019";

  &:before {
    color: $gray-i;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin: 0 0.25em 0 0;
    vertical-align: -0.4em;
  }
}

/** [-] Video *****************************************************************************************/

.video-container {
	margin: 0 0 20px 0; padding-bottom: 56.25%; padding-top: 30px;

	height: 0;
	overflow: hidden;
	position: relative;

	iframe, object, embed {
		width: 100%; height: 100%;
		top: 0; left: 0;

		border: none;
		clear: left;
		position: absolute;
	}
}
