/******************************************************************************** BOOK-CREATION/SCSS **/

.book-creation {

	header {
		width: 100%; height: 50px;
		top: 0; left: 0;

		background-color: rgba($white, 0.3);
		position: fixed; /**/
		transition: all 0.2s;
		z-index: 1;

		#back, #title, #finish, #page-actions {
			display: inline-block;
			vertical-align: middle;
			width: 33%;

			a { color: $black; }
		}

		#back {
			font-family: "OpenSansBold";
			font-size: 2em;
			padding: 0 0.8rem;
		}

		#title {
			cursor: default;
			font-family: "OpenSansLight";
			font-size: 1.5em;
			line-height: 2.2em;
			text-align: center;

			#book-title {
				font-family: "OpenSansSemibold";
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}

		#finish { text-align: right; }

		&:hover { background-color: $white; }
	}

	#book-creation-wrapper {
		width: 100%; height: 100%;

		#create-book {
			width: 100%; height: 100%;
			overflow: hidden;

			#layout-scroller, #create-content {
				position: relative;
				vertical-align: top;
			}

			#layout-scroller {
				width: 150px; height: 100%;
				background-color: $gray-i;

				ul {
					li {
						width: 100%; height: auto;

						background-color: $white;
						border-top: 1px solid $gray-i;
						cursor: pointer;
						padding: 1rem;

						&:hover {
							background-color: $gray-i;
							opacity: 0.7;
						}

						&:last-child { border-bottom: none; }

						img, span {
							display: block;
						}

						img {
							width: auto; height: auto;
							margin: 0 auto 1rem;
						}

						span {
							width: 100%; height: auto;
							text-align: center;
						}
					}

					.selected-layout {
						background-color: $gray-i;
					}
				}

				.sp-scrollbar {
					background-color: #ccc;
					cursor: pointer;
					width: 10px;

					.sp-thumb {
						background-color: #aaa;
						transition: height 0.2s ease-in-out;
					}
				}

				.sp-scrollbar.active .sp-thumb { background-color: #999; }
			}

			#create-content {
				width: 100%; height: 100%;
				position: relative;

				#frontcover-preview-wrapper, #photo-preview-wrapper, #text-preview-wrapper, #integrated-preview-wrapper,
				#phototext-preview-wrapper, #phototext-ii-preview-wrapper, #integrated-ii-preview-wrapper, #video-preview-wrapper,
				#book-creation-wrapper,
				.blank-preview-wrapper, .frontcover-preview-wrapper, .photo-preview-wrapper, .text-preview-wrapper, .integrated-preview-wrapper,
				.phototext-preview-wrapper, .phototext-ii-preview-wrapper, .integrated-ii-preview-wrapper, .video-preview-wrapper,
				.book-creation-wrapper {
					width: 100%; height: 100% !important;

					overflow: hidden;
					position: fixed;

					.page-bg {
						width: 100%; height: auto;
					}

					.page-title-elem, .page-geotag-elem, .page-desc { display: block; }
					.page-title-elem, .page-geotag-elem { margin: 0 0 0.5rem 0; }

					.page-title-elem {
						font-family: "OpenSansLight";
						font-size: 1.5em;
					}

					.page-geotag-elem {
						font-family: "OpenSansSemibold";
						font-size: 1em;
						text-transform: uppercase;
					}

					.page-desc {
						font-size: 1em;
						line-height: 1.4em;
						margin: 1rem 0 0 0;

						p {
							margin: 0; padding: 0;
						}
					}
				}

				#photo-preview-wrapper, #text-preview-wrapper, #integrated-preview-wrapper,
				#phototext-preview-wrapper, #phototext-ii-preview-wrapper, #integrated-ii-preview-wrapper, #video-preview-wrapper,
				.photo-preview-wrapper, .text-preview-wrapper, .integrated-preview-wrapper,
				.phototext-preview-wrapper, .phototext-ii-preview-wrapper, .integrated-ii-preview-wrapper, .video-preview-wrapper {
					display: none;
				}

				#blank-preview,
				#frontcover-preview, #photo-preview, #text-preview, #integrated-preview,
				#phototext-preview, #phototext-ii-preview, #integrated-ii-preview, #video-preview {
					width: 100%; height: 100%;
					position: absolute;

					img {
						width: 100%; height: auto;
					}
				}

				.blank-preview-wrapper {
					width: 100%; height: 100%;

					background-color: $gray-iii;
					display: block;

					#blank-preview {
						width: 100%; height: 100%;

						display: block;
						margin: 20% 0;

						h1, h5 {
							text-align: center;
						}
					}
				}

				#frontcover-preview {
					box-sizing: border-box;
					padding: 0; /* 6rem 0 */

					.cover-info {
						margin: 0 auto; padding: 2rem;

						background-color: rgba($black, 0.7);
						color: $white;
						/* left: 20%; */
						position: absolute;
						width: 60%;

						.page-geotag-elem {
							font-family: inherit;
							font-size: inherit;
							text-transform: inherit;
						}

						h1, h5, section {
							text-align: center;
							width: 100%;
						}

						h1 {
							font-size: 36px;
							line-height: 40px;
							margin: 0 0 0.5rem 0;
						}

						h5 {
							margin: 0 0 0.5rem 0;
							text-transform: uppercase;
						}

						section {
							margin: 0 0 1rem 0;

							.page-geotag-elem {
								margin: 0 auto 0.5rem;
								text-align: center;
							}

							.page-feeling-elem {
								&:after { content: " |"; }
							}
						}

						p {
							margin: 0 auto; padding: 1rem 0;

							border-top: 1px solid $white; border-bottom: 1px solid $white;
							line-height: 1.2em;
							text-align: center;
							width: 60%;
						}
					}
				}

				/* to do: change to "horizontal" */
				.integrated-preview-wrapper {
					.page-bg {
						width: 100%; height: auto;
						margin: 0 !important;
					}

					#integrated-preview {
						width: 100%; height: auto; max-height: 35%;
						bottom: 0; left: 0;

						background-color: $white;
						border-right: 1px solid $gray-i;
						color: $black;
						padding: 1rem 2rem;
						position: absolute;
						text-align: center;
					}
				}

				#photo-preview, #video-preview {
					bottom: 0; left: 0;

					background: linear-gradient(to top, $black 0, rgba($black, 0.2) 80%, rgba($white, 0) 100%) transparent;
					background-color: transparent;
					color: $white;
					height: auto;
					padding: 1rem 2rem;

					.title {
						font-size: 2.3em;
						line-height: 1.3em;
						margin: 0 0 0.2rem 0;
					}

					.geocode {
						font-size: 1.2em;
						line-height: 1.2em;
					}
				}

				#text-preview {
					background-color: $white;
					border-right: 1px solid $gray-ii;
				}

				#phototext-preview-wrapper, .phototext-preview-wrapper {
					#phototext-preview {
						background-color: rgba($white, 0.7);
						color: $black;
						padding: 2rem;
						right: 0;
						width: 38%;

						.page-geotag-elem {
							margin: 0 0 1rem 0; padding: 0 0 1rem 0;
							border-bottom: 1px dotted $white;
						}
					}
				}

				#phototext-ii-preview-wrapper, .phototext-ii-preview-wrapper {
					background-color: $white;
					border-right: 1px solid $gray-ii;

					#phototext-ii-preview, #horizontal-bg, #vertical-bg {
						float: left;
						vertical-align: top;
					}
					
					#phototext-ii-preview {
						width: 40%; height: 100%;

						background-color: rgba($white, 0.8);
						color: $black;
						padding: 2rem;
						position: relative;

						h5 {
							border-bottom: 1px dotted $gray-ii;
							margin: 0 0 1rem 0; padding: 0 0 1rem 0;
							text-transform: uppercase;
						}

						p { line-height: 1.4em; }

						.page-geotag-elem {
							margin: 0 0 1rem 0; padding: 0 0 1rem 0;
							border-bottom: 1px dotted $white;
						}
					}

					#horizontal-bg {
						width: 50%; height: auto;
					}

					#vertical-bg {
						width: auto; height: 100%;
						/* margin: 0 0 0 10%; */
					}
				}

				/* to do: change to "integrated */
				#integrated-ii-preview-wrapper, .integrated-ii-preview-wrapper {
					.small-wrapper {
						min-width: 20%; width: auto; max-width: 70%; height: auto;
						top: 2%; left: 1%;

						background-color: rgba($black, 0.8);
						border-bottom-left-radius: 10px;
						border-bottom-right-radius: 10px;
						color: $white;
						overflow: hidden;
						padding: 0 0 1rem 0;
						position: absolute;
						text-align: center;

						.page-title-elem { padding: 1rem 0 0 0; }
						.page-desc { padding: 0 1rem; }
					}

					.handle {
						margin: 0 !important; padding: 2px 0;

						background-color: rgba($black, 0.4);
						color: $white;
						cursor: move;
						font-family: "OpenSansSemibold";
						font-size: 10px;
						line-height: 10px;
						opacity: 0.7;
						text-align: center;
						text-transform: uppercase;
						user-select: none;
						width: 100%;
					}
				}

				#video-preview-wrapper, .video-preview-wrapper {
					iframe {
						width: 100%; height: 70%;
						margin: 0; padding: 0;
						top: 0; left: 0;

						position: absolute;
					}

					#video-preview { max-height: 30%; }
				}

				.imgLiquid_bgSize { /* .imgLiquid_ready */
					background-position: 0% 50% !important;
				}
			}

			.flyout-wrap {
				width: 150px; height: 191px;
				top: 1rem; right: 1rem;

				margin: 50px 0 0 0;
				position: fixed;
				z-index: 999;

				.page-settings, .page-edit, .page-upload, .page-collab, .page-delete {
					width: auto; height: auto;

					color: $white;
					font-family: "entyporegular";
					font-size: 4em;
					text-shadow: 0 0 1px rgba($black, 0.4);
					transition: all 0.2s;

					a, span { color: $white; }

					a {
						width: auto; height: auto;
						display: block;
					}

					span {
						/* width: 32px !important; height: 32px !important; */
						display: inline-block;
						text-align: center;
					}

					&:hover { opacity: 0.7; }
				}

				.flyout-btn {
					top: 0; right: 0;

					overflow: hidden;
					position: absolute;
					transform: rotate(0deg);
					transition: transform 0.4s ease;
					z-index: 9999;
				}

				.btn-rotate {
					top: -2px; right: -1px;

					text-shadow: 0 0 1px rgba($black, 0.4);
					transform: rotate(-135deg);
					vertical-align: top;
				}

				.page-edit {
					top: 57px; right: -99px;
					height: 100px !important;

					a {
						span { transform: rotate(0deg); }
					}
				}

				.page-collab {
					top: 64px; right: -32px;
					height: 100px !important;

					a {
						span { transform: rotate(85deg); }
					}
				}

				.page-delete {
					top: 40px; right: -32px;
					height: 100px !important;

					a {
						span { transform: rotate(180deg); }
					}
				}

				.expand {
					.page-upload, .page-edit { right: -32px; }
				}

				/* animation/expand */
				@keyframes expand {
					0% { top: 150px; }
					50% { top: -10px; }
					70% { top: 15px; }
					100% { top: 10px; };
				}

				/* animation/contract */
				@keyframes contract {
					0% { top: 10px; }
					40% { top: -25px; }
					100% { top: 150px; };
				}

				.flyout {
					top: -114px; right: 8px;

					line-height: 0;
					margin: 0;
					position: absolute;

					li {
						display: block;
						height: 170px;
						position: absolute;
						transform-origin: 0 bottom;

						&:nth-of-type(1) { transform: rotate(180deg); }
						&:nth-of-type(2) { transform: rotate(-130deg); }
						&:nth-of-type(3) { transform: rotate(-90deg); }
					}
				}

				.flyout-init {
					li { display: none; }
				}

				.expand {
					opacity: 1;
					transition: all 0.2s;
				}

				.flyout.expand li a {
					animation: expand 0.6s ease 1 backwards;
					top: 10px;
				}

				.flyout li a {
					animation: contract 0.35s ease-out 1 backwards;
					top: 150px;
				}

				.flyout.fade li a.clicked {
					animation: clicked 0.5s ease-out 1 forwards;
					top: 10px;
				}

				.flyout.fade li a:not(.clicked) {
					animation: fade 0.5s ease-out 1 forwards;
					opacity: 0.1;
					top: 10px;
					transition: opacity 0.3s ease;
				}

				.flyout li:nth-of-type(1) a { animation-delay: 0.2s; }
				.flyout li:nth-of-type(2) a { animation-delay: 0.1s; }
				.flyout li:nth-of-type(3) a { animation-delay: 0; }

				.flyout.expand li:nth-of-type(1) a { animation-delay: 0; }
				.flyout.expand li:nth-of-type(2) a { animation-delay: 0.1s; }
				.flyout.expand li:nth-of-type(3) a { animation-delay: 0.2s; }

				.flyout.expand li:nth-of-type(1) a { transform: rotate(0deg); }
				.flyout.expand li:nth-of-type(2) a { transform: rotate(45deg); }
				.flyout.expand li:nth-of-type(3) a { transform: rotate(90deg); }
			}
		}
	}

	/* #small-switcher { z-index: 101; } */

	#page-scroller-wrapper {
		width: 100%; height: auto;
		bottom: 0; left: 0;

		overflow: hidden;
		position: absolute;
		z-index: 101;

		nav {
			width: 10%; /* 100% */ height: 100%;
			bottom: 0; right: 0; /* left */

			position: absolute;
			z-index: 1;

			.owl-buttons {
				div {
					&:before {
						box-shadow: -2px -2px 0 0 $slate;
						content: "";
						cursor: pointer;
						display: block;
						padding: 20px;
						transform: rotate(-45deg);
						transition: 0.3s ease;

						-webkit-transform: rotate(-45deg);
						-webkit-transition: 0.3s ease;
					}

					position: absolute;
					top: 30px;

					@include hide-text;

					&:hover {
						opacity: 0.5;
						/* &:before { box-shadow: -2px -2px 0 0 $white; } */
					}
				}
			}


			.owl-prev { left: 1.5rem; }

			.owl-next {
				right: 1.5rem;

				&:before {
					box-shadow: 2px 2px 0 0 $slate;
					transform: rotate(135deg) !important;
				}

				/*
				&:hover {
					&:before { box-shadow: 2px 2px 0 0 $white; }
				}
				*/
			}

			.disabled { display: none; }
		}

		#new-pages {
			border-left: 3px solid $slate;
			position: absolute;
			right: 0;
			width: 203px;
			z-index: 99999;

			li {
				cursor: pointer;
				float: left;
			}
		}

		#page-scroller {
			height: 100px;
			overflow: hidden; /**/

			.page {
				width: 100px !important; height: 100px !important;

				counter-increment: section;
				counter-reset: sub-section;
				float: left;
				position: relative;

				&:before {
					top: 3px; left: 3px;

					background-color: rgba($black, 0.8);
					color: $white;
					content: counter(section) " ";
					padding: 5px;
					position: absolute;
				}

				input {
					bottom: 3px; right: 3px;

					background-color: rgba($black, 0.8);
					padding: 8px;
					position: absolute;
				}

				img {
					width: 100px; height: 100px;
				}

				a {
					width: 100px; height: 100px;
					overflow: hidden;

					img {
						width: auto; height: 100%;
					}
				}
			}
		}
	}

	/* display none until init */

	.owl-carousel {
		display: none;
		opacity: 1 !important;
		position: relative;
		width: 100%;

		-ms-touch-action: pan-y;

		.owl-wrapper-outer {
			overflow: hidden;
			position: relative;
			width: 100%;
		}

		.owl-wrapper {
			display: none;
			perspective: 1000;
			position: relative;
			transform: translate3d(0, 0, 0);

			-webkit-perspective: 1000;
			-webkit-transform: translate3d(0, 0, 0);

			&:after {
				clear: both;
				content: ".";
				display: block;
				height: 0;
				line-height: 0;
				visibility: hidden;
			}
		}

		.owl-item { float: left; }
	}

	.owl-controls {
		user-select: none;

		.owl-page, .owl-buttons {
			div { cursor: pointer; }
		}

		-ms-user-select: none;
		-moz-user-select: none;
		-khtml-user-select: none;
		-webkit-user-select: none;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}

	/* mouse grab icon */
	.grabbing { cursor: url("../images/grabbing.png") 8 8, move; }

	/* fix */
	.owl-carousel  .owl-wrapper, .owl-carousel  .owl-item {
		backface-visibility: hidden;

		-o-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
	}

	.owl-theme {
		.owl-controls {
			.owl-buttons {
				div {
					&:hover {
						/* fixes hover issues on touch devices */
						opacity: 1;
						text-decoration: none;
					}
				}
			}

			/* Styling Pagination */
			.owl-page {
				display: inline-block;
				zoom: 1;

				span {
					width: 12px; height: 12px;

					background-color: #869791;
					border-radius: 20px;
					display: block;
					margin: 5px 7px;
					opacity: 0.5;	
				}

				/* If PaginationNumbers is true */
				span.owl-numbers {
					width: auto; height: auto;

					border-radius: 30px;
					color: $white;
					font-size: 12px;
					padding: 2px 10px;
				}
			}
		}

		.owl-controls .owl-page.active span,
		.owl-controls.clickable .owl-page:hover span {
			opacity: 1;
		}
	}

	/****************************************** grande ******************************************/



	/******************************************* flip *******************************************/

	.flipContainer {
		perspective: 3000px;
		position: relative;
		user-select: none;

		-webkit-perspective: 3000px;

		-ms-user-select: none;
		-moz-user-select: none;
		-khtml-user-select: none;
		-webkit-user-select: none;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

		/* pager */
		.pager {
			text-align: center;
			height: 24px;
			line-height: 6px;
			position: absolute;
			bottom: 0;
			width: 100%;
			cursor: pointer;
			font-size: 6px;
			overflow: hidden;

			span.dot {
				/* background-image: url("images/pager6x6.png"); */
				background-repeat: no-repeat;
				background-position: 0 -6px;
				display: inline-block;
				margin: 8px 5px;
				text-decoration: none;
				width: 6px;
			}

			span.dot.current  { background-position: 0 0; }
		}
	}

	.flipContent {
		width: 100%; height: 100%;
		top: 0; left: 0;

		display: none;
		overflow: hidden;
		position: absolute;
	}

	.flipContent.flipCurrent { display: block; }

	.sliding, .slidingBg {
		background-color: inherit;
		overflow: hidden;
		position: absolute;
		z-index: 1;
	}

	.flipping {
		background-color: inherit;
		backface-visibility: hidden;
		transform: rotateY(0deg);
		transform-style: preserve3d;
	}

	.flipping.firstHalf { transform-origin: 100% 0; }
	.flipping.secondHalf { transform-origin: 0 0; }

	.backflipping {
		background-color: inherit;
		backface-visibility: hidden;
		display: none;
		transform: rotateY(180deg);
		transform-style: flat;
	}

	.horizontalFlipping.firstHalf { transform-origin: 100% 0; }
	.horizontalFlipping.secondHalf { transform-origin: 0 0; }

	.verticalFlipping.firstHalf { transform-origin: 0 100%; }
	.verticalFlipping.secondHalf { transform-origin: 0 0; }

	.splitHalf {
		overflow: hidden;
		position: absolute;
	}

	.splitEmpty { background-color: #333; }

}

/******************************************************************************** IN-PLACE EDIT/SCSS **/

.g-body {

	#frontcover-preview-wrapper, #photo-preview-wrapper, #text-preview-wrapper, #integrated-preview-wrapper, #phototext-preview-wrapper, #phototext-ii-preview-wrapper, #integrated-ii-preview-wrapper, #video-preview-wrapper, #book-creation-wrapper, .blank-preview-wrapper, .frontcover-preview-wrapper, .photo-preview-wrapper, .text-preview-wrapper, .integrated-preview-wrapper, .phototext-preview-wrapper, .phototext-ii-preview-wrapper, .integrated-ii-preview-wrapper, .video-preview-wrapper, .book-creation-wrapper {

		.text-menu {
			color: $white;
			margin: -20px 0 0 -115px;
			position: absolute;
			transition: opacity 250ms, margin 250ms;

			button {
				width: 25px; height: 32px;

				background: none;
				border: 0;
				color: $white;
				cursor: pointer;
				font-family: "icomoon";
				font-size: 16px;
				outline: none;
				padding: 0;
				transition: opacity 400ms;

				-o-transition: opacity 400ms;
				-ms-transition: opacity 400ms;
				-moz-transition: opacity 400ms;
				-webkit-transition: opacity 400ms;
			}

			.active { color: #e67e22; }

			-o-transition: opacity 250ms, margin 250ms;
			-ms-transition: opacity 250ms, margin 250ms;
			-moz-transition: opacity 250ms, margin 250ms;
			-webkit-transition: opacity 250ms, margin 250ms;
		}

		.text-menu.hide {
			top: -999px; left: -999px;
		}

		.text-menu.fade {
			margin: -5px 0 0 0;
			opacity: 0;
		}

		.url {
			font-family: "icomoon" !important;
			font-size: 16px !important;
		}

		.options {
			width: 176px; height: 33px;
			margin: -28px 0 0 23px; padding: 5px 4px 5px 5px;

			background-color: rgba(0, 0, 0, 0.9);
			border-radius: 5px;
			box-sizing: content-box; /* remove border-box */
			position: absolute;
			transition: all 300ms ease-in-out;
			z-index: 1000;

			&:before {
				width: 0; height: 5px;
				bottom: -15px; left: 50%;

				border-top: 5px solid rgba(0, 0, 0, 0.9); border-right: 5px solid transparent;
				border-bottom: 5px solid transparent; border-left: 5px solid transparent;
				content: "";
				margin-left: -5px;
				position: absolute;
			}

			.italic { font-style: italic; }

			.quote {
				font-size: 41px !important;
				line-height: 54px !important;
			}

			button {
				/* width: 28px; height: 30px; */

				border-radius: 3px;
				float: left;
				margin: 0 1px 0 0;
			}

			input {
				width: 0; height: 30px;
				margin: 0; padding: 0;

				background: transparent;
				border: 0;
				border-radius: 3px;
				float: left;
				outline: 0;
				overflow: hidden;
			}

			-o-transition: all 300ms ease-in-out;
			-ms-transition: all 300ms ease-in-out;
			-moz-transition: all 300ms ease-in-out;
			-webkit-transition: all 300ms ease-in-out;
		}

		.options.url-mode {
			width: 176px;

			.header1, .header2, .bold, .italic, .quote, .url {
				margin-right: 0;
				opacity: 0;
				overflow: hidden;
				width: 0;
			}

			input {
				background: transparent;
				border-left: 2px solid transparent;
				color: $white;
				padding: 0 5px;
				width: 155px;
			}
		}

		article {
			outline-style: none;

			/*
			h1 { font-size: 2em; }

			header {
				font-size: 52px;
				font-weight: 700;
			}

			section {
				margin: auto;
				max-width: 750px;
			}
			*/

			blockquote {
				margin-left: -26px; padding-left: 20px;

				border-left: 6px solid #e67e22;
				font-style: italic;
				font-weight: 400;
			}

			/*
			a {
				color: #333332;
				text-decoration: underline;
			}

			ol, ul {
				margin-top: 0; margin-left: 0; padding-left: 0;

				list-style: none;
				list-style-image: none;

				&:before {
					display: inline-block;
					width: 30px;
				}
			}

			ol {
				counter-reset: post;

				li {
					&:before {
						content: counter(post) ".";
						counter-increment: post;
						font-weight: bold;
					}
				}
			}

			ul {
				li {
					&:before {
						font-family: "medium-icons";
						content: "\e028";
						text-decoration: none;
						font-size: 14px;
					}
				}
			}
			*/

			hr {
				border: 1px solid #dededc;
				display: block;
				margin: 30px auto 20px auto;
				width: 20%;
			}
		}

	}

}
