/******************************************************************************** BOOK-CREATION/SCSS **/

.book-creation {

	header {
		width: 100%; height: 45px;
		top: 0; left: 0;

		background-color: transparent;
		position: fixed;
		z-index: 1;

		#back, #finish {
			background-color: $slate;
			display: inline-block;
			font-family: "entyporegular";
			font-size: 3.4em;
			text-align: center;
			vertical-align: middle;
			
			div {
				width: 33%; height: auto;

				display: inline-block;
				float: left;
				text-align: center;

				a {
					color: $white;
					&:hover { opacity: 1; }
				}

				&:hover {
					background-color: $white;
					transition: all 0.2s ease;

					a { color: $slate; }
				}

				&:last-child { width: 34%; }
			}
		}

		#back {
			float: left;
			width: 150px;

			#pages-toggle, #layout-toggle, #comments-toggle {
			}
		}

		#finish {
			float: right;
			width: 200px;

			#settings-button, #publish-toggle, #close-button {
			}
		}
	}

	#pages-scroller, #layout-scroller, #comments-scroller, #publish-scroller {
		background-color: $gray-i;
		display: none;
		height: 100%;
		position: absolute;
		top: 51px;
		z-index: 1;

		.sp-scrollbar {
			background-color: #ccc;
			cursor: pointer;
			width: 10px;

			.sp-thumb {
				background-color: #aaa;
				transition: height 0.2s ease-in-out;
			}
		}

		.sp-scrollbar.active .sp-thumb { background-color: #999; }
	}

	#pages-scroller, #layout-scroller, #comments-scroller {
		left: 0;
		width: 150px;
	}

	#pages-scroller, #layout-scroller {
		li {
			width: 100%; height: auto;

			background-color: $white;
			border-top: 1px solid $gray-i;
			cursor: pointer;

			&:first-child { border-top: none; }
		}
	}

	#pages-scroller {
		li, section { position: relative; }

		.new-thumb {
			padding: 1rem;
			text-align: center;

			a {
				color: $black;
				font-size: 5em;
			}
		}

		img {
			width: 100%; height: auto;
			display: block;
		}

		.entypo {
			width: auto; height: auto;
			top: 1rem; left: 1rem;

			color: $white;
			font-size: 3.5em;
			line-height: 0.5em;
			position: absolute;
			text-align: center;
			text-shadow: 0 0 1px $black; /* creates outline */
			z-index: 1;

			&:hover {
				opacity: 1;
				text-shadow: 0 0 3px $red;
			}
		}

		span {
			bottom: 0; left: 0;

			background-color: rgba($white, 0.7);
			font-size: 0.7em;
			padding: 0.5rem;
			position: absolute;
			width: 100%;
			z-index: 1;

			@include ellipsis;
		}
	}

	#layout-scroller {
		ul {
			li {
				padding: 1rem;

				&:hover {
					background-color: $gray-i;
					opacity: 0.7;
				}

				img, span { display: block; }

				img {
					width: auto; height: auto;
					margin: 0 auto 1rem;
				}

				span {
					width: 100%; height: auto;
					text-align: center;
				}
			}
		}
	}

	#layout-scroller {
		.selected-layout { background-color: $gray-ii; }
	}

	#publish-scroller {
		/* border-left: 1px solid $gray-i; */
		background-color: $white;
		right: 0;
		width: 200px;

		#publish-header {
			background-color: $white;
			height: 200px;
			/* padding: 0 1rem; */
			position: fixed;

			button, select, input {
				width: 100%; /* height: 2rem; */
				margin: 0 0 1rem 0; padding: 0 0 1rem 0;

				background-color: transparent;
				border: 0;
				font-size: 1em;
				text-align: center;
			}

			select, input { border-bottom: 1px dotted $black; }

			button {
				background-color: $green;
				border-left: 1px solid $green;
				color: $white;
				padding: 1rem 0;
			}

			select {
				padding: 0 1rem 1rem 1rem;

				option {
					text-align: center;
					width: 100%;
				}
			}
		}

		.collected-book-list {
			border-left: 1px solid $gray-i;
			margin: 200px 0 0 0;

			.collected-book {
				width: 100%; height: 100px;

				border-bottom: 1px solid $gray-i;
				padding: 0 0.5rem;

				&:last-child { border-bottom: 0; }

				img, .collected-book-details {
					float: left;
				}

				img {
					width: 50px; height: auto;
				}

				.collected-book-details {
					/* background-color: $slate; */
					margin: 0 0 0 0.5rem;
					width: 60%;
				}

				.collected-book-title, .collected-book-desc { display: block; }
			}
		}
	}

	/* Google Autocomplete */
	.pac-container {
		border: none !important;
		display: table; /**/
		overflow: hidden;
		width: 100%;

		&:after {
			/* background-image: url("http://maps.gstatic.com/mapfiles/api-3/images/powered-by-google-on-white2.png"); */
			background-image: none;
			background-position: right;
			background-repeat: no-repeat;
			background-size: 104px 16px;
			content: "";
			display: block;
			font-size: 0;
			height: 16px;
			padding-top: 3px;
			text-align: right;
		}
	}

	.pac-item, .pac-item-refresh {
		overflow: hidden;
		padding: 0 4px;
		text-overflow: ellipsis;
		white-space: nowrap;

		&:hover { background-color: $slate; }
	}

	.pac-item {
		cursor: pointer;
		display: table;
		padding: 0 4px;
		text-overflow: ellipsis;
	}

	.pac-item-refresh {
		border-top: 1px solid #e6e6e6;
		cursor: default;
		font-family: Roboto, Arial, sans-serif;
		line-height: 30px;
		text-align: left;

		&:hover { color: $white; }
	}

	.pac-item-bold { font-weight: 700; }

	.pac-item-query {
		font-size: 13px;
		margin-right: 3px;
	}

	.pac-item-location {
		color: $black;
		font-size: 11px;
	}

	.pac-icon-container {
		width: 15px; height: 20px;

		background-image: url("https://maps.gstatic.com/mapfiles/api-3/images/autocomplete-icons.png");
		display: inline-block;
		margin-top: 6px 7px 0 0;
		vertical-align: top;
	}

	.pac-icon-search {
		background-position: -1px -1px;
		&:hover { background-position: -18px -1px; }
	}

	.pac-icon-location {
		background-position: -1px -161px;
		&:hover { background-position: -18px -161px; }
	}

	.pac-item-selected { background-color: $slate; }

	.pac-placeholder {
		color: $gray-v;
		&:hover { color: $white; }
	}

	#book-creation-wrapper {
		width: 100%; height: 100%;

		#create-book {
			width: 100%; height: 100%;
			overflow: hidden;

			#create-content {
				width: 100%; height: 100%;
				position: relative;

				.book-creation-wrapper {
				}

				.blank-preview-wrapper,
				.frontcover-preview-wrapper, .photo-preview-wrapper, .text-preview-wrapper, .horizontal-preview-wrapper,
				.overlay-preview-wrapper, .phototext-preview-wrapper, .vertical-preview-wrapper, .video-preview-wrapper {
					width: 100%; height: 100% !important;

					overflow: hidden;
					position: fixed;

					::-webkit-input-placeholder	{ color: $black; }
					::-moz-placeholder					{ color: $black; }
					:-ms-input-placeholder			{ color: $black; }

					.button-wrapper {
						bottom: 5%;
						position: absolute;
						text-align: center;
						width: 100%;
					}

					button {
						margin: 0 auto; padding: 0.5rem;

						background-color: rgba($white, 0.3);
						border: 3px solid $black;
						color: $black;
						cursor: pointer;
						font-family: "OpenSansBold";
						/* opacity: 0.7; */
						position: relative;
						text-transform: uppercase;
						transition: all 0.2s ease;
						z-index: 2;

						&:hover {
							/* background-color: rgba($white, 0.7); */
							border: 3px solid $white;
							color: $white;
							opacity: 1;
						}
					}

					.placeholder { color: $gray-iv; }

					.page-title-elem, .page-geotag-elem, .page-desc { display: block; }
					.page-title-elem, .page-geotag-elem { margin: 0 0 0.5rem 0; }

					.page-title-elem {
						font-family: "OpenSansLight";
						font-size: 1.5em;
						text-transform: capitalize;
					}

					.page-geotag-elem {
						background-color: transparent;
						border: 0;
						color: $white;
						font-family: "OpenSansSemibold";
						font-size: 1em;
						text-transform: uppercase;
						width: 100%;

						&:before {
							content: "in ";
							font-family: "Hoefler Text", Georgia, serif;
							font-style: italic;
							text-transform: lowercase;
						}
					}

					.page-desc {
						font-size: 1em;
						line-height: 1.4em;
						margin: 1rem 0 0 0;
						text-align: center;
					}
				}

				.blank-preview-wrapper {
					.blank-preview {
						width: 100%; height: 100%;
						top: 0; left: 0;

						background-color: $white;
						color: $gray-iv;
						position: absolute;

						article {
							margin: 15% auto; padding: 2rem;

							font-size: 36px;
							line-height: 40px;
							position: relative;
							text-align: center;
							width: 60%;
						}

						.entypo { font-size: 1.5em; }
					}
				}

				.frontcover-preview-wrapper {
					.frontcover-preview {
						width: 100%; height: auto;
						top: 30%; left: 0;

						color: $black;
						position: absolute;

						article {
							margin: 0 auto; padding: 2rem;

							box-sizing: border-box;
							background-color: rgba($white, 0.7);
							/* position: absolute; */
							width: 60%;
						}

						h1, h5, section {
							text-align: center;
							width: 100%;
						}

						h1 {
							font-size: 36px;
							line-height: 40px;
							margin: 0 0 0.5rem 0;
						}

						h5 {
							margin: 0 0 0.5rem 0;
							text-transform: uppercase;

							span {
								&:before {
									content: "by ";
									font-family: "Hoefler Text", Georgia, serif;
									font-style: italic;
									text-transform: lowercase;
								}
							}
						}

						section {
							margin: 0 0 1rem 0;

							.page-geotag-elem {
								appearance: textfield;
								background: transparent;
								color: $white;
								margin: 0 auto 0.5rem;
								text-align: center;

								/*
								&:input-placeholder { color: $white; }
								&:-ms-input-placeholder { color: $white; }
								&::-moz-placeholder { color: $white; }
								&::-webkit-input-placeholder { color: $white; }
								*/
							}

							.page-feeling-elem {
								&:after { content: " |"; }
							}
						}

						p {
							margin: 0 auto; padding: 1rem 0;

							/* border-top: 1px solid $white; border-bottom: 1px solid $white; */
							line-height: 1.2em;
							text-align: center;
							width: 60%;
						}
					}
				}

				.photo-preview-wrapper {
					.button-wrapper { bottom: 30%; }

					.photo-preview {
						width: 100%; height: auto; max-height: 30%;
						bottom: 0; left: 0;

						background: linear-gradient(to top, $black 0, rgba($black, 0.2) 80%, rgba($white, 0) 100%) transparent;
						background-color: transparent;
						color: $white;
						height: auto;
						padding: 1rem 2rem;
						position: absolute;

						::-webkit-input-placeholder	{ color: $white; }
						::-moz-placeholder					{ color: $white; }
						:-ms-input-placeholder			{ color: $white; }

						.page-title-elem, .page-geotag-elem, .page-desc { text-align: center; }
					}
				}

				.text-preview-wrapper {
					.text-preview {
						width: 100%; height: 100%;

						background-color: $white;
						font-size: 1.5em;
						line-height: 2.5em;
						overflow-y: scroll;
						padding: 5% 15rem;

						.page-geotag-elem { color: $black; }

						.page-desc {
							font-family: "Hoefler Text", Georgia, serif;
							margin: 0 0 1rem 0;
							text-align: left;
						}
					}
				}

				.horizontal-preview-wrapper {
					.button-wrapper { bottom: 30%; }

					section {
						width: 100%; height: 75%;
					}

					.horizontal-preview {
						width: 100%; height: 25%;
						bottom: 0; left: 0;

						background-color: $white;
						border-right: 1px solid $gray-i;
						color: $black;
						padding: 1rem 2rem;
						position: absolute;
						text-align: center;

						.page-geotag-elem {
							color: $black;
							text-align: center;
						}
					}
				}
				
				.overlay-preview-wrapper {
					.overlay-preview {
						width: 100%; height: 100%;
						top: 0; left: 0;

						background-color: rgba($black, 0.7);
						color: $white;
						position: absolute;

						article {
							margin: 15% auto; padding: 2rem;

							position: relative;
							text-align: center;
							width: 60%;
						}

						.page-desc {
							margin: 0 0 0.5rem 0; padding: 0;

							font-size: 36px;
							line-height: 40px;
						}

						::-webkit-input-placeholder	{ color: $white; }
						::-moz-placeholder					{ color: $white; }
						:-ms-input-placeholder			{ color: $white; }

						.page-geotag-elem {
							color: $white;
							text-align: center;
						}
					}
				}

				.phototext-preview-wrapper {
					.phototext-preview {
						width: 30%; height: 100%;
						top: 0; right: 0;

						background-color: rgba($black, 0.7);
						color: $white;
						padding: 4rem 2rem 2rem 2rem;
						position: absolute;

						::-webkit-input-placeholder	{ color: $white; }
						::-moz-placeholder					{ color: $white; }
						:-ms-input-placeholder			{ color: $white; }

						.page-geotag-elem {
							margin: 0 0 1rem 0; padding: 0 0 1rem 0;

							color: $white;
							border-bottom: 1px dotted $white;
						}

						.page-desc { text-align: left; }
					}
				}

				.vertical-preview-wrapper {
					.button-wrapper { width: 25%; }

					section {
						width: 25%; height: 100%;
					}

					.vertical-preview {
						width: 75%; height: 100%;
						top: 0; right: 0;

						background-color: $white;
						color: $black;
						padding: 4rem 2rem 2rem 2rem;
						position: absolute;

						.page-geotag-elem {
							margin: 0 0 1rem 0; padding: 0 0 1rem 0;
							border-bottom: 1px dotted $white;
						}

						.page-desc { text-align: left; }
					}
				}

				.video-preview-wrapper {
					.button-wrapper { bottom: 30%; }

					.video-preview {
						width: 100%; height: 100%;
					}

					.video-player-container, iframe {
						width: 100%; height: 100%;
						margin: 0; padding: 0;
						top: 0; left: 0;

						position: absolute;
					}

					article {
						top: 20%; left: 0;

						/* background-color: $white; */
						color: $black;
						position: absolute;
						width: auto;
						z-index: 1;
					}

					.page-title-elem, .page-geotag-elem, .page-desc {
						margin: 0; padding: 0 0 0 1rem;

						background-color: $white;
						display: table-cell;
						text-align: left;
						width: auto;

						&:before, &:after {
							content: "";
						}
					}

					.page-title-elem { padding: 0.5rem 0.5rem 0 1rem; }

					.page-geotag-elem {
						color: $black;
						margin: 0.5rem 0;
						min-width: 100px;
					}

					.page-desc { padding: 0 0.5rem 0.5rem 1rem; }

					.play-video {
						top: 50%; right: 15%;

						background-color: $green;
						color: $white;
						padding: 1rem;
						position: absolute;
						z-index: 1;
					}
				}
			}
		}
	}

}

/******************************************************************************** IN-PLACE EDIT/SCSS **/

.g-body {

	#book-creation-wrapper, .blank-preview-wrapper, .frontcover-preview-wrapper, .photo-preview-wrapper, .text-preview-wrapper, .integrated-preview-wrapper, .phototext-preview-wrapper, .phototext-ii-preview-wrapper, .integrated-ii-preview-wrapper, .video-preview-wrapper, .book-creation-wrapper {

		.text-menu {
			color: $white;
			margin: -20px 0 0 -115px;
			position: absolute;
			transition: opacity 250ms, margin 250ms;

			button {
				width: 25px; height: 32px;

				background: none;
				border: 0;
				color: $white;
				cursor: pointer;
				font-family: "icomoon";
				font-size: 16px;
				outline: none;
				padding: 0;
				transition: opacity 400ms;

				-o-transition: opacity 400ms;
				-ms-transition: opacity 400ms;
				-moz-transition: opacity 400ms;
				-webkit-transition: opacity 400ms;
			}

			.active { color: #e67e22; }

			-o-transition: opacity 250ms, margin 250ms;
			-ms-transition: opacity 250ms, margin 250ms;
			-moz-transition: opacity 250ms, margin 250ms;
			-webkit-transition: opacity 250ms, margin 250ms;
		}

		.text-menu.hide {
			top: -999px; left: -999px;
		}

		.text-menu.fade {
			margin: -5px 0 0 0;
			opacity: 0;
		}

		.url {
			font-family: "icomoon" !important;
			font-size: 16px !important;
		}

		.options {
			width: 176px; height: 33px;
			margin: -28px 0 0 23px; padding: 5px 4px 5px 5px;

			background-color: rgba(0, 0, 0, 0.9);
			border-radius: 5px;
			box-sizing: content-box; /* remove border-box */
			position: absolute;
			transition: all 300ms ease-in-out;
			z-index: 1000;

			&:before {
				width: 0; height: 5px;
				bottom: -15px; left: 50%;

				border-top: 5px solid rgba(0, 0, 0, 0.9); border-right: 5px solid transparent;
				border-bottom: 5px solid transparent; border-left: 5px solid transparent;
				content: "";
				margin-left: -5px;
				position: absolute;
			}

			.italic { font-style: italic; }

			.quote {
				font-size: 41px !important;
				line-height: 54px !important;
			}

			button {
				/* width: 28px; height: 30px; */

				border-radius: 3px;
				float: left;
				margin: 0 1px 0 0;
			}

			input {
				width: 0; height: 30px;
				margin: 0; padding: 0;

				background: transparent;
				border: 0;
				border-radius: 3px;
				float: left;
				outline: 0;
				overflow: hidden;
			}

			-o-transition: all 300ms ease-in-out;
			-ms-transition: all 300ms ease-in-out;
			-moz-transition: all 300ms ease-in-out;
			-webkit-transition: all 300ms ease-in-out;
		}

		.options.url-mode {
			width: 176px;

			.header1, .header2, .bold, .italic, .quote, .url {
				margin-right: 0;
				opacity: 0;
				overflow: hidden;
				width: 0;
			}

			input {
				background: transparent;
				border-left: 2px solid transparent;
				color: $white;
				padding: 0 5px;
				width: 155px;
			}
		}

		article {
			/* color: $black !important; */
			outline-style: none;

			blockquote {
				margin-left: -26px; padding-left: 20px;

				border-left: 6px solid #e67e22;
				font-style: italic;
				font-weight: 400;
			}

			hr {
				border: 1px solid #dededc;
				display: block;
				margin: 30px auto 20px auto;
				width: 20%;
			}
		}

	}

}
