/******************************************************************************** BOOK-CREATION/SCSS **/

.book-creation {

	header {
		width: 100%; height: 50px;
		top: 0; left: 0;

		/* background-color: rgba($gray-ii, 0.4); */
		background-color: $white;
		/* border: 1px solid $gray-i; */
		position: relative;
		transition: all 0.2s;
		z-index: 1;

		#back, #title, #finish, #page-actions {
			display: inline-block;
			vertical-align: middle;
			width: 33%;

			a { color: $black; }
		}

		#back {
			font-family: "OpenSansBold";
			font-size: 2em;
			padding: 0 0.8rem;
		}

		#title {
			cursor: default;
			font-family: "OpenSansLight";
			font-size: 1.5em;
			line-height: 2.2em;
			text-align: center;

			#book-title {
				font-family: "OpenSansSemibold";
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}

		#finish { text-align: right; }

		/* &:hover { background-color: $gray-ii; } */
	}

	#book-creation-wrapper {
		width: 100%; height: auto;

		#create-book {
			clear: left;
			height: 100%;
			overflow: hidden;

			#layout-scroller, #create-content {
				float: left;
				position: relative;
				vertical-align: top;
			}

			#layout-scroller {
				width: 15%; height: 100%;
				background-color: #ccc;

				ul {
					/* border-top: 1px solid $gray-i; */

					li {
						width: 100%; height: auto;

						background-color: $white;
						border-top: 1px solid $gray-i;
						cursor: pointer;
						padding: 1rem;

						&:hover {
							background-color: $gray-i;
							opacity: 0.7;
						}

						&:last-child { border-bottom: none; }

						img, span {
							display: block;
						}

						img {
							width: auto; height: auto;
							margin: 0 auto 1rem;
						}

						span {
							width: 100%; height: auto;
							text-align: center;
						}
					}

					.selected-layout {
						background-color: $gray-i;
					}
				}

				.sp-scrollbar {
					background-color: #ccc;
					cursor: pointer;
					width: 10px;

					.sp-thumb {
						background-color: #aaa;
						transition: height 0.2s ease-in-out;
					}
				}

				.sp-scrollbar.active .sp-thumb { background-color: #999; }
			}

			#create-content {
				/* background-color: $gray-v; */
				width: 85%; /* 67.4 */

				.flyout-wrap {
					width: 150px; height: 191px;
					top: 1rem; right: 1rem;

					position: absolute;
					z-index: 999;

					.page-settings, .page-edit, .page-upload, .page-collab, .page-delete {
						width: auto; height: auto;

						color: $white;
						font-family: "entyporegular";
						font-size: 4em;
						text-shadow: 0 0 1px rgba($black, 0.4);
						transition: all 0.2s;

						a, span { color: $white; }

						a {
							width: auto; height: auto;
							display: block;
						}

						span {
							/* width: 32px !important; height: 32px !important; */
							display: inline-block;
							text-align: center;
						}

						&:hover { opacity: 0.7; }
					}

					.flyout-btn {
						top: 0; right: 0;

						overflow: hidden;
						position: absolute;
						transform: rotate(0deg);
						transition: transform 0.4s ease;
						z-index: 9999;
					}

					.btn-rotate {
						top: -2px; right: -1px;

						text-shadow: 0 0 1px rgba($black, 0.4);
						transform: rotate(-135deg);
						vertical-align: top;
					}

					.page-edit {
						top: 57px; right: -99px;
						height: 100px !important;

						a {
							span { transform: rotate(0deg); }
						}
					}

					.page-collab {
						top: 64px; right: -32px;
						height: 100px !important;

						a {
							span { transform: rotate(85deg); }
						}
					}

					.page-delete {
						top: 40px; right: -32px;
						height: 100px !important;

						a {
							span { transform: rotate(180deg); }
						}
					}

					.expand {
						.page-upload, .page-edit { right: -32px; }
					}

					/* animation/expand */
					@keyframes expand {
						0% { top: 150px; }
						50% { top: -10px; }
						70% { top: 15px; }
						100% { top: 10px; };
					}

					/* animation/contract */
					@keyframes contract {
						0% { top: 10px; }
						40% { top: -25px; }
						100% { top: 150px; };
					}

					.flyout {
						top: -114px; right: 8px;

						line-height: 0;
						margin: 0;
						position: absolute;

						li {
							display: block;
							height: 170px;
							position: absolute;
							transform-origin: 0 bottom;

							&:nth-of-type(1) { transform: rotate(180deg); }
							&:nth-of-type(2) { transform: rotate(-130deg); }
							&:nth-of-type(3) { transform: rotate(-90deg); }
						}
					}

					.flyout-init {
						li { display: none; }
					}

					.expand {
						opacity: 1;
						transition: all 0.2s;
					}

					.flyout.expand li a {
						animation: expand 0.6s ease 1 backwards;
						top: 10px;
					}

					.flyout li a {
						animation: contract 0.35s ease-out 1 backwards;
						top: 150px;
					}

					.flyout.fade li a.clicked {
						animation: clicked 0.5s ease-out 1 forwards;
						top: 10px;
					}

					.flyout.fade li a:not(.clicked) {
						animation: fade 0.5s ease-out 1 forwards;
						opacity: 0.1;
						top: 10px;
						transition: opacity 0.3s ease;
					}

					.flyout li:nth-of-type(1) a { animation-delay: 0.2s; }
					.flyout li:nth-of-type(2) a { animation-delay: 0.1s; }
					.flyout li:nth-of-type(3) a { animation-delay: 0; }

					.flyout.expand li:nth-of-type(1) a { animation-delay: 0; }
					.flyout.expand li:nth-of-type(2) a { animation-delay: 0.1s; }
					.flyout.expand li:nth-of-type(3) a { animation-delay: 0.2s; }

					.flyout.expand li:nth-of-type(1) a { transform: rotate(0deg); }
					.flyout.expand li:nth-of-type(2) a { transform: rotate(45deg); }
					.flyout.expand li:nth-of-type(3) a { transform: rotate(90deg); }
				}

				#frontcover-preview-wrapper, #photo-preview-wrapper, #text-preview-wrapper, #integrated-preview-wrapper,
				#phototext-preview-wrapper, #phototext-ii-preview-wrapper, #integrated-ii-preview-wrapper, #video-preview-wrapper,
				#book-creation-wrapper,
				.blank-preview-wrapper, .frontcover-preview-wrapper, .photo-preview-wrapper, .text-preview-wrapper, .integrated-preview-wrapper,
				.phototext-preview-wrapper, .phototext-ii-preview-wrapper, .integrated-ii-preview-wrapper, .video-preview-wrapper,
				.book-creation-wrapper {
					width: 100%; height: 100%;

					overflow: hidden;
					position: relative;

					.page-bg {
						width: 100%; height: auto;
						/* margin-top: -2%; */
					}

					.page-title-elem, .page-geotag-elem, .page-desc { display: block; }
					.page-title-elem, .page-geotag-elem { margin: 0 0 0.5rem 0; }

					.page-title-elem {
						font-family: "OpenSansLight";
						font-size: 1.5em;
					}

					.page-geotag-elem {
						font-family: "OpenSansSemibold";
						font-size: 1em;
						text-transform: uppercase;
					}

					.page-desc {
						font-size: 1em;
						line-height: 1.4em;
						margin: 1rem 0 0 0;

						p {
							margin: 0; padding: 0;
						}
					}
				}

				#photo-preview-wrapper, #text-preview-wrapper, #integrated-preview-wrapper,
				#phototext-preview-wrapper, #phototext-ii-preview-wrapper, #integrated-ii-preview-wrapper, #video-preview-wrapper,
				.photo-preview-wrapper, .text-preview-wrapper, .integrated-preview-wrapper,
				.phototext-preview-wrapper, .phototext-ii-preview-wrapper, .integrated-ii-preview-wrapper, .video-preview-wrapper {
					display: none;
				}

				#blank-preview,
				#frontcover-preview, #photo-preview, #text-preview, #integrated-preview,
				#phototext-preview, #phototext-ii-preview, #integrated-ii-preview, #video-preview {
					width: 100%; height: 100%;
					position: absolute;

					img {
						width: 100%; height: auto;
					}
				}

				.blank-preview-wrapper {
					width: 100%; height: 100%;

					background-color: $gray-iii;
					display: block;

					#blank-preview {
						width: 100%; height: 100%;

						display: block;
						margin: 20% 0;

						h1, h5 {
							text-align: center;
						}
					}
				}

				#frontcover-preview {
					box-sizing: border-box;
					padding: 3rem 0;

					.cover-info {
						margin: 0 auto; padding: 2rem;

						background-color: rgba($black, 0.7);
						color: $white;
						left: 20%;
						position: absolute;
						width: 60%;

						.page-geotag-elem {
							font-family: inherit;
							font-size: inherit;
							text-transform: inherit;
						}

						h1, h5, .cover-lifestyle {
							text-align: center;
							width: 100%;
						}

						h1 {
							font-size: 36px;
							line-height: 40px;
							margin: 0 0 0.5rem 0;
						}

						h5 {
							margin: 0 0 0.5rem 0;
							text-transform: uppercase;
						}

						.cover-lifestyle {
							margin: 0 0 1rem 0;

							li {
								display: inline-block;
								&:after { content: " |"; }

								&:last-child {
									&:after { content: ""; }
								}
							}
						}

						p {
							margin: 0 auto; padding: 1rem 0;

							border-top: 1px solid $white; border-bottom: 1px solid $white;
							line-height: 1.2em;
							text-align: center;
							width: 60%;
						}
					}
				}

				/* to do: change to "horizontal" */
				.integrated-preview-wrapper {
					.page-bg {
						width: 100%; height: auto;
						margin: 0 !important;
					}

					#integrated-preview {
						width: 100%; height: auto; max-height: 35%;
						bottom: 0; left: 0;

						background-color: $white;
						border-right: 1px solid $gray-i;
						color: $black;
						padding: 1rem 2rem;
						position: absolute;
						text-align: center;
					}
				}

				#photo-preview, #video-preview {
					bottom: 0; left: 0;

					background: linear-gradient(to top, $black 0, rgba($black, 0.2) 80%, rgba($white, 0) 100%) transparent;
					background-color: transparent;
					color: $white;
					height: auto;
					padding: 1rem 2rem;

					.title {
						font-size: 2.3em;
						line-height: 1.3em;
						margin: 0 0 0.2rem 0;
					}

					.geocode {
						font-size: 1.2em;
						line-height: 1.2em;
					}
				}

				#text-preview {
					background-color: $white;
					border-right: 1px solid $gray-ii;
				}

				#phototext-preview-wrapper, .phototext-preview-wrapper {
					#phototext-preview {
						background-color: rgba($white, 0.7);
						color: $black;
						padding: 2rem;
						right: 0;
						width: 38%;

						.page-geotag-elem {
							margin: 0 0 1rem 0; padding: 0 0 1rem 0;
							border-bottom: 1px dotted $white;
						}
					}
				}

				#phototext-ii-preview-wrapper, .phototext-ii-preview-wrapper {
					background-color: $white;
					border-right: 1px solid $gray-ii;

					#phototext-ii-preview, #horizontal-bg, #vertical-bg {
						float: left;
						vertical-align: top;
					}
					
					#phototext-ii-preview {
						width: 40%; height: 100%;

						background-color: rgba($white, 0.8);
						color: $black;
						padding: 2rem;
						position: relative;

						h5 {
							border-bottom: 1px dotted $gray-ii;
							margin: 0 0 1rem 0; padding: 0 0 1rem 0;
							text-transform: uppercase;
						}

						p { line-height: 1.4em; }

						.page-geotag-elem {
							margin: 0 0 1rem 0; padding: 0 0 1rem 0;
							border-bottom: 1px dotted $white;
						}
					}

					#horizontal-bg {
						width: 50%; height: auto;
					}

					#vertical-bg {
						width: auto; height: 100%;
						/* margin: 0 0 0 10%; */
					}
				}

				/* to do: change to "integrated */
				#integrated-ii-preview-wrapper, .integrated-ii-preview-wrapper {
					.small-wrapper {
						min-width: 20%; width: auto; max-width: 70%; height: auto;
						top: 2%; left: 1%;

						background-color: rgba($black, 0.8);
						border-bottom-left-radius: 10px;
						border-bottom-right-radius: 10px;
						color: $white;
						overflow: hidden;
						padding: 0 0 1rem 0;
						position: absolute;
						text-align: center;

						.page-title-elem { padding: 1rem 0 0 0; }
						.page-desc { padding: 0 1rem; }
					}

					.handle {
						margin: 0 !important; padding: 2px 0;

						background-color: rgba($black, 0.4);
						color: $white;
						cursor: move;
						font-family: "OpenSansSemibold";
						font-size: 10px;
						line-height: 10px;
						opacity: 0.7;
						text-align: center;
						text-transform: uppercase;
						user-select: none;
						width: 100%;
					}
				}

				#video-preview-wrapper, .video-preview-wrapper {
					iframe {
						width: 100%; height: 70%;
						margin: 0; padding: 0;
						top: 0; left: 0;

						position: absolute;
					}

					#video-preview { max-height: 30%; }
				}

				.imgLiquid_bgSize { /* .imgLiquid_ready */
					background-position: 0% 50% !important;
				}
			}
		}
	}

	#small-switcher { z-index: 101; }

	#page-scroller-wrapper {
		width: 100%; height: auto;
		bottom: 0; left: 0;

		overflow: hidden;
		position: absolute;
		z-index: 101;

		#new-pages {
			border-left: 3px solid $slate;
			position: absolute;
			right: 0;
			width: 203px;
			z-index: 99999;

			li {
				cursor: pointer;
				float: left;
			}
		}

		#page-scroller {
			height: 100px;
			overflow: hidden; /**/

			nav {
				width: 100%; height: 100%;
				bottom: 0; left: 0;

				position: absolute;

				.owl-prev, .owl-next {
					width: 50px; height: 100px;

					background-color: rgba($black, 0.7);
					color: $white;
					display: inline-block;
					padding: 2.7rem 1.3rem;
				}

				.owl-prev {
					float: left;
				}

				.owl-next {
					float: right;
				}

				.disabled { display: none; }
			}

			.page {
				width: 100px !important; height: 100px !important;

				counter-increment: section;
				counter-reset: sub-section;
				float: left;
				position: relative;

				&:before {
					top: 3px; left: 3px;

					background-color: rgba($black, 0.8);
					color: $white;
					content: counter(section) " ";
					padding: 5px;
					position: absolute;
				}

				input {
					bottom: 3px; right: 3px;

					background-color: rgba($black, 0.8);
					padding: 8px;
					position: absolute;
				}

				img {
					width: 100px; height: 100px;
				}

				a {
					width: 100px; height: 100px;
					overflow: hidden;

					img {
						width: auto; height: 100%;
					}
				}
			}
		}
	}

	/* display none until init */

	.owl-carousel {
		display: none;
		opacity: 1 !important;
		position: relative;
		width: 100%;

		-ms-touch-action: pan-y;

		.owl-wrapper-outer {
			overflow: hidden;
			position: relative;
			width: 100%;
		}

		.owl-wrapper {
			display: none;
			position: relative;

			-webkit-perspective: 1000;
			-webkit-transform: translate3d(0, 0, 0);

			&:after {
				clear: both;
				content: ".";
				display: block;
				height: 0;
				line-height: 0;
				visibility: hidden;
			}
		}

		.owl-item { float: left; }
	}

	.owl-controls {
		user-select: none;
		
		.owl-page, .owl-buttons {
			div { cursor: pointer; }
		}

		-ms-user-select: none;
		-moz-user-select: none;
		-khtml-user-select: none;
		-webkit-user-select: none;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}

	/* mouse grab icon */
	.grabbing { cursor: url("../images/grabbing.png") 8 8, move; }

	/* fix */
	.owl-carousel  .owl-wrapper, .owl-carousel  .owl-item {
		-ms-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
	}

	.owl-theme {
		.owl-controls {
			/*
			margin-top: 10px;
			text-align: center;
			*/

			.owl-buttons {
				div {
					/* Styling Next and Prev buttons */
					/*
					margin: 5px; padding: 3px 10px;

					background-color: #869791;
					border-radius: 30px;
					color: $white;
					display: inline-block;
					font-size: 12px;
					opacity: 0.5;
					zoom: 1;
					*/

					/* fixes hover issues on touch devices */
					&:hover {
						opacity: 1;
						text-decoration: none;
					}
				}
			}

			/* Styling Pagination */
			.owl-page {
				display: inline-block;
				zoom: 1;

				span {
					width: 12px; height: 12px;

					background-color: #869791;
					border-radius: 20px;
					display: block;
					margin: 5px 7px;
					opacity: 0.5;	
				}

				/* If PaginationNumbers is true */
				span.owl-numbers {
					width: auto; height: auto;

					border-radius: 30px;
					color: $white;
					font-size: 12px;
					padding: 2px 10px;
				}
			}
		}
	}

	.owl-theme .owl-controls .owl-page.active span,
	.owl-theme .owl-controls.clickable .owl-page:hover span {
		opacity: 1;
	}

	/****************************************** grande ******************************************/

	/*
	@font-face {
		font-family: icomoon;
		src: url('icomoon/icomoon.ttf'),
				 url('icomoon/icomoon.eot');
	}
	*/

	.g-body {
	}

	.text-menu {
		color: $white;
		margin: -20px 0 0 -115px;
		position: absolute;
		transition: opacity 250ms, margin 250ms;

		button {
			width: 25px; height: 32px;

			background: none;
			border: 0;
			color: inherit;
			cursor: pointer;
			font-size: 16px;
			font-family: inherit;
			padding: 0px;
			transition: opacity 400ms;
		}
	}

	.active { color: #e67e22; }

	.text-menu.hide {
		top: -999px; left: -999px;
	}

	.text-menu.fade {
		margin-top: -5px;
		opacity: 0;
	}

	.url {
		/* font-family: "icomoon" !important; */
		font-size: 16px !important;
	}

	.options {
		width: 176px; height: 33px;
		margin: -28px 0 0 23px; padding: 5px 4px 5px 5px;

		background-color: rgba(0, 0, 0, 0.9);
		border-radius: 5px;
		position: absolute;
		transition: all 300ms ease-in-out;
		z-index: 1000;

		&:before {
			width: 0; height: 5px;
			bottom: -15px; left: 50%;

			border-top: 5px solid rgba(0, 0, 0, 0.9);
			border-bottom: 5px solid transparent;
			border-right: 5px solid transparent;
			border-left: 5px solid transparent;
			content: "";
			margin-left: -5px;
			position: absolute;
		}

		.italic { font-style: italic; }

		.quote {
			font-size: 41px !important;
			line-height: 54px !important;
		}

		button {
			width: 28px; height: 30px;

			border-radius: 3px;
			float: left;
			margin-right: 1px;
		}

		input {
			width: 0; height: 30px;
			margin: 0; padding: 0;

			border: 0;
			border-radius: 3px;
			float: left;
			outline: 0;
			overflow: hidden;
		}
	}

	.options.url-mode {
		width: 176px;

		.header1, .header2, .bold, .italic, .quote, .url {
			margin-right: 0;
			opacity: 0;
			overflow: hidden;
			width: 0px;
		}

		input {
			background: transparent;
			border-left: 2px solid transparent;
			color: $white;
			padding: 0 5px;
			width: 155px;
		}
	}

}
