
/************************************************************************************ FULL-VIEW/SCSS **/

.preview, .book {
	width: 100%; height: 100%;
	margin: 0; padding: 0;

	background-color: $white;
	box-sizing: border-box;
	font-family: "OpenSansRegular";
	overflow: hidden;
	user-select: none;

	a { color: $gray-v; }

	header {
		width: 100%; height: 50px;
		top: 0; left: 0;

		/* background-color: $gray-i; */
		background-color: rgba($gray-ii, 0.4);
		transition: all 0.2s;

		position: absolute;
		z-index: 1;

		#back, #title, #finish,
		#page-actions {
			display: inline-block;
			vertical-align: middle;
			width: 33%;

			a { color: $black; }
		}

		#back {
			font-family: "OpenSansBold";
			font-size: 2em;
			padding: 0 0.8rem;
		}

		#title {
			cursor: default;
			font-family: "OpenSansLight";
			font-size: 1.5em;
			line-height: 2.2em;
			/* overflow: hidden; */
			text-align: center;

			#book-title {
				font-family: "OpenSansSemibold";
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}

		#finish { text-align: right; }

		#page-actions {
			margin: 0; padding: 0;

			li {
				width: 40px; height: 40px;

				background-size: 40px;
				float: right;
				transition: all 0.2s;
				@include hide-text;

				a {
					width: 100%; height: 100%;
					display: block;
				}

				&:hover { opacity: 0.7; }
			}

			#book-add { background-image: url("../images/book-add.png"); }
		}

		&:hover { background-color: $gray-ii; }
	}

	.cbp-spmenu {
		z-index: 10002 !important; /* get page menu in front of the content window */

		li.sortable-placeholder {
			background-color: none;
			border: 1px dashed $slate;
		}
	}

	#photo-fullview-wrapper, #text-fullview-wrapper,
	#integrated-fullview-wrapper, #phototext-fullview-wrapper,
	#frontcover-fullview-wrapper, #video-fullview-wrapper,
	#backcover-wrapper,
	#horizontal-fullview-wrapper, #overlay-fullview-wrapper {
		width: 100%; height: 100%;
		margin: 50px 0 0 0;

		.previous, .next {
			width: 50px; height: 50px;

			background-color: transparent;
			position: absolute;
			transition: all 0.5s;

			span {
				margin: 0 0 0.12rem 0; /* margin: -11px 0 0 0; */ padding: 1rem;

				bottom: 0;
				color: $white;
				position: absolute;
				text-align: center;
				text-shadow: 0 1px 1px rgba($black, 0.4);
				width: 100%;
			}

			&:hover {
				background-color: $gray-iii;
				opacity: 1;
				width: 100px;

				span {
					color: $black;
					text-shadow: none;
				}
			}
		}

		.previous { left: 0; }
		.next { right: 0; }

		.previous, #story-content, .next {
			display: inline-block !important;
			vertical-align: top !important;
		}

		.page-title-elem { font-family: "OpenSansLight"; }
		.page-geotag-elem { font-family: "OpenSansSemibold"; }

		#story-content {
			#story {
				p {
					margin: 0 auto 1rem;

					line-height: 1.4em;
					text-align: justify;
					width: 100%;

					&:last-child { margin: 0 auto; }
				}
			}
		}
	}

	#frontcover-fullview-wrapper {
		/*
		#quote {
			display: block !important;
			font-size: 350%;
			text-align: center !important;

			span {
				display: block;
				font-family: Georgia, serif;
				font-style: italic;
				text-align: left;
			}
		}
		*/

		#story-content {
			width: auto; /* 100% */ height: auto;
			margin: 0; padding: 0;

			box-sizing: border-box;
			overflow: hidden;
			position: relative;
			text-overflow: ellipsis;

			#story-wrapper {
				margin: 0 auto !important; /* margin: 5% auto 0; */
				position: relative;
				width: 100%; /* width: 65%; */

				#story {
					background-color: rgba($black, 0.5);
					color: $white;
					padding: 3rem;

					h2, h5 {
						text-align: center;
						width: 100%;
					}

					h2 { margin: 0; }

					h5 {
						margin: 0 0 1rem 0; padding: 0 0 1rem 0;

						font-family: "OpenSansSemibold";
						text-transform: uppercase;
					}
				}
			}

			.handle {
				margin: 0 !important; padding: 2px 0;

				background-color: rgba($black, 0.4);
				color: $white;
				cursor: move;
				font-family: "OpenSansSemibold";
				font-size: 10px;
				line-height: 10px;
				opacity: 0.7;
				text-align: center;
				text-transform: uppercase;
				user-select: none;
				width: 100%;
			}
		}
	}

	#information {
		width: 100%; height: auto;
		padding: 1.5rem 4.5rem 2.5rem;
		bottom: 0; left: 0;

		background: linear-gradient(to top, $black 0, rgba($black, 0.2) 80%, rgba($white, 0) 100%) transparent;
		background-color: transparent;
		color: $white;
		display: block;
		position: absolute;

		.page-title-elem, .page-geotag-elem, .page-desc p {
			display: block;
			text-align: left;
			width: 100%;
		}

		.page-title-elem {
			margin: 0 0 0.5rem 0; padding: 1rem 0 0 0;

			/*
			font-size: 1.5em;
			line-height: inherit;
			*/
			font-size: 35px;
			line-height: 40px;
		}

		.page-geotag-elem {
			font-size: 17px;
			/* font-size: 1.2em; */
			line-height: 24px;
			text-transform: uppercase;
		}

		.page-desc {
			margin: 1rem 0 0 0; padding: 0 1rem 0 0;

			font-size: 1em;
			line-height: 1.4em;

			p {
				margin: 0;
				width: 100%;
			}
		}

		#story-wrapper {
			#story {
				background-color: transparent;
				padding: 0;
			}
		}
	}

	#horizontal-fullview-wrapper {
		#information {
			background: none;
			background-color: $white;
			color: $black;
			max-height: 35%;
			padding: 1rem 2rem;

			.page-title-elem, .page-geotag-elem, .page-desc p { text-align: center; }

			.page-title-elem { padding: 0; }

			.page-desc {
				margin: 0; padding: 1rem 1rem 1.5rem 1rem;
			}
		}
	}

	#overlay-fullview-wrapper {
		#information {
			top: 50px; right: 0; left: auto;

			background: none;
			background-color: rgba($white, 0.7);
			color: $black;
			padding: 2rem;
			width: 38%;

			.page-geotag-elem {
				margin: 0 0 1rem 0; padding: 0 0 1rem 0;
				border-bottom: 1px dotted $white;
			}
		}
	}

	#phototext-fullview-wrapper {
		background-color: $white;
		border-right: 1px solid $gray-ii;

		#phototext-ii-preview, #horizontal-bg, #vertical-bg {
			float: left;
			vertical-align: top;
		}

		#story-content {
			width: 30%; height: 100%;
			top: 50px; right: 50px;

			background-color: rgba($white, 0.7);
			box-sizing: border-box;
			overflow: hidden;
			padding: 2rem;
			position: absolute;
			text-overflow: ellipsis;

			#story {
				h2 { margin: 0; }

				h5 {
					border-bottom: 1px dotted $gray-i;
					text-transform: uppercase;
					margin: 0 0 1rem 0; padding: 0 0 1rem 0;
				}
			}
		}

		#phototext-ii-preview {
			width: 40%; height: 100%;

			background-color: rgba($white, 0.8);
			color: $black;
			padding: 2rem;
			position: relative;

			h5 {
				border-bottom: 1px dotted $gray-ii;
				margin: 0 0 1rem 0; padding: 0 0 1rem 0;
				text-transform: uppercase;
			}

			p { line-height: 1.4em; }

			.page-geotag-elem {
				margin: 0 0 1rem 0; padding: 0 0 1rem 0;
				border-bottom: 1px dotted $white;
			}
		}

		#horizontal-bg {
			width: 50%; height: auto;
		}

		#vertical-bg {
			width: auto; height: 100%;
			/* margin: 0 0 0 10%; */
		}
	}

	#video-fullview-wrapper {
		iframe {
			width: 100%; height: 84.9%; /* width: 92.8%; height: 78.3%; */
			top: 0; left: 0; /* top: 6.6%; left: 3.6%; */

			display: inline-block;
			position: fixed;
			vertical-align: top;
		}

		#information {
			/*
			height: 15.3%;
			padding: 1.5rem 4.5rem 0;
			*/
		}
	}

	#text-fullview-wrapper {
		#story-content {
			margin: 0 0 0 50px; padding: 0 5%;

			/* background-color: rgba(#07d0eb, 0.2); */
			box-sizing: border-box;
			overflow: hidden;
			position: relative;
			text-overflow: ellipsis;

			#story {
				h2 { margin: 0; }

				h5 {
					border-bottom: 1px dotted $gray-i;
					text-transform: uppercase;
					margin: 0 0 1rem 0; padding: 0 0 1rem 0;
				}

				margin: 0 auto;

				p {
					&:first-of-type { font-family: "OpenSansBold"; }
				}
			}
		}
	}

	#integrated-fullview-wrapper {
		#quote {
			display: block !important;
			font-size: 350%;
			text-align: center !important;

			span {
				display: block;
				font-family: Georgia, serif;
				font-style: italic;
				text-align: left;
			}
		}

		h5 {
			span { float: none !important; }
		}

		#story-content {
			width: auto; /* 100% */ height: auto;
			margin: 0; padding: 0;

			box-sizing: border-box;
			overflow: hidden;
			position: relative;
			text-overflow: ellipsis;

			#story-wrapper { position: relative; }

			.handle {
				margin: 0 !important; padding: 2px 0;

				background-color: rgba($black, 0.4);
				color: $white;
				cursor: move;
				font-family: "OpenSansSemibold";
				font-size: 10px;
				line-height: 10px;
				opacity: 0.7;
				text-align: center;
				text-transform: uppercase;
				user-select: none;
				width: 100%;
			}

			.handle-ii {
				width: 6px; height: 6px;

				background-color: $gray-ii;
				position: absolute;
			}

			.NW, .NN, .NE {
				display: none;
				top: 0;
			}

			.NE, .EE, .SE { right: 0; }
			.SW, .SS, .SE { bottom: 0; }
			.NW, .WW, .SW { left: 0; }

			.SE, .NW { cursor: nw-resize; }
			.SW, .NE { cursor: ne-resize; }

			.NN, .SS {
				cursor: n-resize;
				left: 50%;
				margin-left: -4px;
			}

			.EE, .WW {
				cursor: e-resize;
				margin-top: -4px;
				top: 50%;
			}

			#story {
				background-color: rgba($black, 0.5);
				color: $white;
				padding: 3rem;

				h2, h5 {
					text-align: center;
					width: 100%;
				}

				h2 { margin: 0; }

				h5 {
					margin: 0 0 1rem 0; padding: 0 0 1rem 0;
					text-transform: uppercase;
				}
			}
		}
	}

	#integrated-fullview-wrapper {
		#story-content {
			min-width: 20%; width: auto; max-width: 70%; height: auto;
			top: 10%; left: 4.9%;

			background-color: rgba($black, 0.8);
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
			color: $white;
			overflow: hidden;
			padding: 0 0 1rem 0;
			position: absolute;
			text-align: center;

			.page-title-elem, .page-geotag-elem, .page-desc {
				display: block;
				text-align: center;
				width: 100%;
			}

			.page-title-elem {
				font-size: 35px;
				line-height: 40px;
				padding: 1rem 0 0 0;
			}

			.page-geotag-elem {
				font-size: 17px;
				line-height: 24px;
				text-transform: uppercase;
			}

			.page-desc {
				margin: 1rem 0 0 0; padding: 0 1rem;

				font-size: 1em;
				line-height: 1.4em;

				p {
					margin: 0;
					text-align: center !important;
					width: 100%;
				}
			}

			#story-wrapper {
				#story {
					background-color: transparent;
					padding: 0;
				}
			}
		}
	}

	/* .draggable-window { display: none !important; } */

	#draggable {
		width: 400px; height: 450px;
		top: 5rem; right: 5rem;

		background-color: $gray-ii;
		display: none;
		position: fixed;
		z-index: 2000;

		nav {
			display: inline-block;
			height: 3.313em;
			overflow: hidden;
			position: absolute;
			width: 100%;
			z-index: 1000;

			a {
				border-right: 1px solid $gray-ii;
				border-bottom: 1px solid $gray-ii;
				display: block;
				float: left;
				font-family: "OpenSansLight";
				padding: 0.5rem;
				text-align: center;
				transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
				width: 25%;

				&:first-child {
					border-left: 1px solid $gray-ii;
					&:hover { border-left: 1px solid $gray-i; }
				}

				&:last-child {
					border-left: 0;
					border-right: 1px solid $gray-ii;
				}

				&:hover { background-color: $white; }
			}

			a.rc-active {
				background-color: $white;
				border-bottom: 1px solid $white;

				&:first-child { border-left: 1px solid $gray-i; }
				&:last-child { border-right: 1px solid $gray-i; }
			}
		}

		/*
		.cbp-contentslider {
			width: 100%; height: 100%;
			position: relative;

			#sidebar-content {
				width: 100%; height: 100%;
				margin: 0; padding: 0;

				border: 1px solid $gray-i;
				border-top: none;
				list-style: none;
				overflow: hidden;
				position: relative;

				#tab-content, #tab-tags, #tab-snippets, #tab-settings {
					width: 100%; height: 100%;
					top: 2rem; left: 0;

					background-color: $white;
					display: table;
					overflow-x: hidden;
					overflow-y: auto;
					padding: 1rem;
					position: absolute;
					user-select: text !important;

					::selection {
						background-color: $gray-ii;
						color: $black;
					}

					button, input[type="text"], input[type="password"], input[type="email"] {
						margin: 0 auto 1rem; padding: 0;

						border-radius: 0;
						display: block;
						font-size: 16px;
						text-align: left;
					}
				}

				.redactor_box {
					.redactor_toolbar { width: 100%; }

					.redactor_editor {
						height: 300px;
						z-index: 1;
					}
				}

				#view-mode {
					margin: 1rem 0 0 0;

					p, input, label {
						float: left;
						vertical-align: middle;
					}

					p, label { margin: 0 1rem 0 0; }
					input { margin: 0 0.2rem 0 0; }
				}

				.tag-input {
					border-bottom: 1px solid $gray-ii;
					clear: both;
					padding: 1.8rem 1rem;

					label, input {
						display: inline;
						vertical-align: middle;
						width: 50%;
					}

					label { font-size: 14px; }

					input {
						background-color: $white;
						border: 1px solid $gray-ii;
						float: right;
						font-size: 12px;
						height: 20px;
						margin: 0 0 3px 0;
					}

					.hint {
						float: right;
						font-size: 10px;
						font-style: italic;
						text-align: right;
						width: 100%;
					}

					&:first-child { padding-top: 0; }
				}

				#snippet-preview {
					img {
						width: 300px; height: auto;

						display: table;
						margin: 0 auto;
					}
				}
			}
		}
		*/
	}
}

.fv-frontcover {
	#text-editor, #story {
		text-align: center !important;

		#lifestyle {
			font-size: 17px;
			line-height: 24px;
			margin: 0 0 1rem 0;
			text-align: center !important;
			text-transform: normal;
			width: 100% !important;

			span {
				/* float: left; */
				margin: 0 auto !important;

				&:after { content: " | " !important; }
				&:last-child { &:after { content: "" !important; } }
			}
		}

		p {
			border-top: 1px solid $white;
			border-bottom: 1px solid $white;
			padding: 1rem 0;
			text-align: center !important;
			width: 60% !important;
		}

		p + p {
			border-top: 0; border-bottom: 0;
			display: inline-block;
			margin: 0 0 0 3% !important; padding: 0;
			vertical-align: top !important;
			width: 45% !important;

			&:first-child { margin: 0 !important; }
		}
	}

	#story-content {
		#meta-wrapper {
			position: relative;
			margin: 0 auto;
			width: 70% !important;

			#light-rating, #dimension-icon {
				width: 32px; height: 32px;

				background-color: $white;
				border-radius: 30000px;
				bottom: 10px;
				display: block;
				position: absolute;

				span {
					bottom: 4px;
					padding: 0.31rem 0;
					position: absolute;
					text-align: center;
					width: 100%;
				}
			}

			#light-rating { left: 10px; }
			#dimension-icon { right: 10px; }
		}
	}
}

.fv-integrated {
}

/** WINDOW STYLING ************************************************************************************/

.wm-window {
	min-width: 400px !important; max-width: 400px !important; max-height: 500px;
}

.wm-content {
	overflow-x: hidden;
	/* z-index: 2000; */

	nav {
		display: inline-block;
		height: 3.313em;
		overflow: hidden;
		position: absolute;
		width: 100%;
		z-index: 1000;

		a {
			border-right: 1px solid $gray-ii;
			border-bottom: 1px solid $gray-ii;
			display: block;
			float: left;
			font-family: "OpenSansLight";
			padding: 0.5rem;
			text-align: center;
			transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
			width: 25%;

			&:first-child {
				border-left: 1px solid $gray-ii;
				&:hover { border-left: 1px solid $gray-i; }
			}

			&:last-child {
				border-left: 0;
				border-right: 1px solid $gray-ii;
			}

			&:hover { background-color: $white; }
		}

		a.rc-active {
			background-color: $white;
			border-bottom: 1px solid $white;

			&:first-child { border-left: 1px solid $gray-i; }
			&:last-child { border-right: 1px solid $gray-i; }
		}
	}

	.cbp-contentslider {
		width: 400px; height: 450px;

		margin: 2.3rem 0 0 0;
		position: relative;

		#sidebar-content {
			width: 100%; height: 100%;
			margin: 0; padding: 0;

			list-style: none;
			overflow: hidden;
			position: relative;

			#tab-layout, #tab-content, #tab-tags, #tab-snippets, #tab-settings {
				width: 100%; height: 100%; /* height: 555px !important; */
				top: 2rem; left: 0;

				background-color: $white;
				display: table;
				overflow-x: hidden;
				overflow-y: auto;
				padding: 1rem;
				position: absolute;

				::selection {
					background-color: $gray-ii;
					color: $black;
				}

				&:target { z-index: 100; } /* Without JS, we use :target */

				button, input[type="text"], input[type="password"], input[type="email"] {
					margin: 0 auto 1rem; padding: 0;

					border-radius: 0;
					display: block;
					font-size: 16px;
					text-align: left;
				}
			}

			#tab-layout { z-index: 100; }

			/* Layout Tab */
			#view-mode {
				margin: 1rem 0 0 0;

				p, input, label {
					float: left;
					text-align: center;
				}

				/* input[type="radio"]:checked + label */
				label + input[type="radio"]:checked { background-color: $gray-i; }

				label {
					display: block;
					font-size: 0.7em;
					margin: 0 0 0.4rem 0; padding: 0.3rem;

					span { display: block; }
				}

				input {
					display: block;
					margin: 0 auto;
				}

				section {
					display: inline-block;
					margin: 0 0 1rem 0;

					&:last-child { margin: 0; }

					.view-style {
						display: inline-block;
						margin: 0 1rem 1rem 0;
					}
				}
			}

			/* Content Tab */
			.redactor_box {
				.redactor_toolbar { width: 100%; }

				.redactor_editor {
					height: 365px;
					z-index: 1;
				}
			}

			/*
			#view-mode {
				margin: 1rem 0 0 0;

				p, input, label {
					float: left;
					vertical-align: middle;
				}

				p, label { margin: 0 1rem 0 0; }
				input { margin: 0 0.2rem 0 0; }
			}
			*/

			/* Tags Tab */
			.tag-input {
				border-bottom: 1px solid $gray-ii;
				clear: both;
				padding: 1.8rem 1rem;

				label, input {
					display: inline;
					vertical-align: middle;
					width: 50%;
				}

				label { font-size: 14px; }

				input {
					background-color: $white;
					border: 1px solid $gray-ii;
					float: right;
					font-size: 12px;
					height: 20px;
					margin: 0 0 3px 0;
				}

				.hint {
					float: right;
					font-size: 10px;
					font-style: italic;
					text-align: right;
					width: 100%;
				}

				&:first-child { padding-top: 0; }
			}

			/* Snippets Tab */
			#snippet-preview {
				img {
					width: 300px; height: auto;

					display: table;
					margin: 0 auto;
				}
			}
		}
	}
}

.fv-photo, .fv-text {
	user-select: none;

	::selection {
		background: none;
		color: none;
	}

	header {
		user-select: none;

		::selection {
			background: none;
			color: none;
		}
	}

	#photo-fullview-wrapper {
		.previous, .next {
			user-select: none;

			::selection {
				background: none;
				color: none;
			}
		}
	}

	#jq_ez_bg {
		user-select: none;

		::selection {
			background: none;
			color: none;
		}

		img {
			user-select: none;

			::selection {
				background: none;
				color: none;
			}
		}
	}
}

.fv-phototext-ii {
	#vertical-bg, #story-content {
		/* width: auto !important; */ max-width: 500px !important; height: 100%;
		top: auto !important; right: auto !important;

		display: inline-block !important;
		float: left;
		position: relative !important;
	}

	.wide {
		height: auto !important;
	}
}

