
/*************************************************************************************** LAYOUT/SCSS **/

html, body {
	width: 100%; height: 100%;
}

body {
  background-color: $l-gray;
	background-position: center center;
	background-size: cover;
  color: $black;
	counter-reset: section;
	@include sans;
	font-size: 15px;
	position: fixed;
	/* text-shadow: -1px -1px 0 rgba(255,255,255,.1), 1px -1px 0 rgba(255,255,255,.1), -1px 1px 0 rgba(255,255,255,.1), 1px 1px 0 rgba(255,255,255,.1); */
}

.first { background-image: url("../images/bg.jpg"); }
.second { background-image: url("../images/bg-ii.jpg"); }

.third {
	background-image: url("../images/bg-iii.jpg");

	#username, #password {
		display: inline-block;
		width: 49.2%;
	}
}

/** [-] Header ****************************************************************************************/

header {
	#logo {
		width: 570px; height: 200px;

		background-image: url("../images/logo-title.png");
		background-repeat: no-repeat;
		margin: 2rem 0 2rem 2rem;
		@include hide-text;
	}

	#account-links {
		top: 0; right: 0;

		color: transparentize($white, 0.5);
		margin: 2rem 2rem 0 0;
		position: fixed;

		a { color: $white; }
	}
}

.second, .third {
	header {
		#logo {
			width: 200px; height: 70px;

			background-image: url("../images/logo.png");
			background-repeat: no-repeat;
			background-size: 200px 70px;
			margin: 3rem auto; margin-bottom: 2rem;
			@include hide-text;
		}

		#account-links {
			top: 0; right: 0;

			color: transparentize($white, 0.5);
			margin: 2rem 2rem 0 0;
			position: fixed;

			a { color: $white; }
		}
	}

	#submit {
		background-color: $gray-i;
		color: $black;
	}
}

/** [-] Main Content **********************************************************************************/

hr {
	margin: 2rem auto;
	width: 50%;
}

button, input[type="text"], input[type="password"], input[type="email"] {
	margin: 0 auto; margin-bottom: 1rem; padding: 1rem 2rem;

	border: 0;
	border-radius: 8px;
	color: $black;
	display: block;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	text-align: center;
	text-shadow: none;
	width: 300px;

	&:hover { border: 0; }
}

#login-facebook, #login-google {
	color: $white;
	&:hover { opacity: 0.7; }
}

#login-facebook { background-color: #3d75a0; }
#login-google { background-color: #e16252; }

#user-pass {
	margin: 0 auto;
	width: 300px;
}

#dimension-list, #cta {
	width: 100%; height: auto;
	margin: 0 auto; padding: 2rem 0;

	background-color: transparentize($black, 0.5);
	color: $white;
	text-align: center;

	li {
		width: 100px; height: 100px;
		margin: 0 1rem 0 0; padding: 0;

		background-size: 100px;
		display: inline-block;
		line-height: 212px;

		&:last-child { margin: 0; }

		a {
			width: 100%; height: 100%;
			color: $white;
		}
	}
}

#cta {
	bottom: 30px;
	font-size: 25px;
	position: fixed;
}

ul, #progress {
	display: inline-block;
	vertical-align: middle;
}

ul { margin: 0; }

#dimension-life { background-image: url("../images/dimension-life.png"); }
#dimension-flow { background-image: url("../images/dimension-flow.png"); }
#dimension-wonder { background-image: url("../images/dimension-wonder.png"); }
#dimension-art { background-image: url("../images/dimension-art.png"); }
#dimension-pulse { background-image: url("../images/dimension-pulse.png"); }
#dimension-wow { background-image: url("../images/dimension-wow.png"); }

#progress {
	width: 57px; height: 104px;

	background-image: url("../images/arrow-right.png");
	background-size: 57px 104px;
	float: right;
	@include hide-text;
	margin: 0 2rem 0 0;
	position: fixed;
	right: 0;
}

#photo-credit {
	top: -15px; right: 5px;

	color: $white;
	font-size: 12px;
	opacity: 0.7;
	position: absolute;

	&:hover { opacity: 0.7; }
}

/** [-] Footer ****************************************************************************************/

footer {
	width: 100%; height: 30px;
	bottom: 0; left: 0;

	background-color: $gray-ii;
	color: $gray-iii;
	font-size: 13px;
	padding: 0.5rem 2rem;
	position: fixed;

	a { color: $gray-v; }

	p, ul {
		display: inline-block;
		vertical-align: middle;
	}

	p { margin: 0; }

	ul {
		margin: 0; padding: 0;
		float: right;

		li {
			margin: 0; padding: 0;

			display: inline-block;
			line-height: 1;

			&:after { content: " |" }

			&:last-child {
				&:after { content: "" }
			}
		}
	}
}

/****************************************************************** [+] THINGS TO HIDE WHEN PRINTING **/

@media print {
}

@media only screen and (max-height: 588px) {
	#cta {
		bottom: 30px;
		font-size: 15px;
		padding: 1rem 0;
	}
}

/********************************************************************** [+] SCREENS SMALLER THAN 960 **/

@media only screen and (max-width: 959px) {
	/** [-] Header **************************************************************************************/

	header {
		#logo {
			width: 430px; height: 150px;

			background-repeat: no-repeat;
			background-size: 430px 150px;
			margin: 2rem 0 2rem 2rem;
		}

		#account-links {
			top: 0; right: 0;

			color: transparentize($white, 0.5);
			margin: 2rem 2rem 0 0;
			position: fixed;

			a { color: $white; }
		}
	}

	/** [-] Main Content ********************************************************************************/

	#dimension-list {
		margin: 0 auto; padding: 2rem 0;

		li {
			width: 50px; height: 50px;
			margin: 0 1rem 0 0; padding: 0;

			background-size: 50px;
			line-height: 112px;
		}
	}

	#progress {
		width: 30px; height: 55px;
		background-size: 30px 55px;
	}
}

/********************************************************************* [+] TABLET SCREENS (PORTRAIT) **/

@media only screen and (min-width: 768px) and (max-width: 959px) {
}

/**************************************************************************** [+] ALL MOBILE SCREENS **/

@media only screen and (max-width: 767px) {
	/** [-] Header **************************************************************************************/

	header {
		#logo {
			width: 300px; height: 104px;
			background-size: 300px 104px;
			margin: 2rem 0 2rem 2rem;
		}

		#account-links {
			top: 0; right: 0;

			color: transparentize($white, 0.5);
			margin: 2rem 2rem 0 0;
			position: fixed;

			a { color: $white; }
		}
	}

	/** [-] Main Content ********************************************************************************/

	#dimension-list {
		margin: 0 auto; padding: 2rem 0;

		li {
			width: 50px; height: 50px;
			margin: 0 1rem 0 0; padding: 0;

			background-size: 50px;
			line-height: 112px;
		}
	}

	#progress {
		width: 30px; height: 55px;
		background-size: 30px 55px;
	}
}

/******************************************************** [+] TABLET SCREENS (LANDSCAPE TO PORTRAIT) **/

@media only screen and (min-width: 480px) and (max-width: 767px) {
}

/******************************************************** [+] TABLET SCREENS (PORTRAIT TO LANDSCAPE) **/

@media only screen and (max-width: 479px) {
	/** [-] Header **************************************************************************************/

	header {
		#logo {
			width: 300px; height: 104px;
			background-size: 300px 104px;
			margin: 2rem auto;
		}

		#account-links {
			margin: 0 0 2rem 0;
			position: relative;
			text-align: center;
		}
	}
	
	.second, .third {
		header {
			#logo { margin: 1rem auto 2rem; }

			#account-links {
				top: 0; right: 0;

				color: transparentize($white, 0.5);
				display: block;
				margin: 0 auto 1rem;
				position: static;

				a { color: $white; }
			}
		}
	}

	/** [-] Main Content ********************************************************************************/

	hr { width: 112%; }

	button, input[type="text"], input[type="password"], input[type="email"] {
		margin: 0 auto; margin-bottom: 1rem; padding: 1rem 2rem;

		border: 0;
		border-radius: 8px;
		color: $black;
		display: block;
		font-family: "Open Sans", Arial, sans-serif;
		font-size: 16px;
		font-weight: normal;
		text-align: center;
		text-shadow: none;
		width: 100%;

		&:hover { border: 0; }
	}

	#dimension-list {
		margin: 0 auto; padding: 2rem 0;
		width: 260px;

		li {
			width: 50px; height: 50px;
			margin: 0 1rem 0 0; padding: 0;

			background-size: 50px;
			line-height: 112px;
		}
	}

	#progress {
		width: auto; height: auto;

		background-image: none;
		color: $white;
		display: block;
		float: none;
		font-size: 14px;
		line-height: 1;
		margin: 1.5rem auto; margin-bottom: 0;
		position: static;
		text-transform: uppercase;
	}

	#cta {
		bottom: 66px;
		font-size: 15px;
		padding: 0.5rem 0;
	}

	.third {
		#user-pass { width: 300px; }
		#username, #password { width: 44%; }
	}

	/** [-] Footer **************************************************************************************/

	footer {
		width: 100%; height: auto;
		bottom: 0; left: 0;

		padding: 1rem 2rem;
		text-align: center;

		p, ul { display: block; }
		p { margin: 0 0 0.5rem 0; }
		ul { float: none; }
	}
}
