/***************************************************************************************** MENU/SCSS **/

.cbp-spmenu {
	background-color: $gray-i;
	position: fixed;

	#menu-toggle, #layout-toggle {
		color: $gray-v;
		cursor: pointer;
		font-size: 0.8em;
		position: fixed;
		text-align: center;
		text-transform: uppercase;
		transition: all 0.3s ease;
		z-index: 25 !important;
	}

	#menu-toggle {
		width: 100%; height: auto;
		margin: 0; padding: 0.3rem 0;
		bottom: 0; left: 0;

		background-color: $gray-ii;
	}

	#layout-toggle {
		width: 50px; height: 50px;
		top: 0; left: 0;

		background-color: $slate;

		.open { display: none; }

		.closed {
			color: $white;
			font-family: "entyporegular";
			font-size: 6em;
			line-height: 3.2rem;
			text-transform: lowercase;
		}
	}

	h3 {
		margin: 0; padding: 20px;

		font-size: 1.9em;
		font-weight: 300;
	}

	a {
		display: block;
		font-size: 1.1em;
		font-weight: 300;
	}
}

.cbp-spmenu-horizontal {
	width: 100%; height: 100px;

	left: 0;
	z-index: 1001;
}

.cbp-spmenu-vertical {
	width: 150px; /* 240 */ height: 100%;

	top: 0;
	z-index: 1000;
}

/* Horizontal menu that slides from the top or bottom */

.cbp-spmenu-top { top: -150px; }
.cbp-spmenu-bottom { bottom: -150px; }

.cbp-spmenu-top.cbp-spmenu-open { top: 0; }

.cbp-spmenu-bottom.cbp-spmenu-open {
	bottom: 0;
	#menu-toggle { bottom: 100px; }
}

/* Vertical menu that slides from the left or right */

.cbp-spmenu-left { left: -150px; /* -240 */ }

.cbp-spmenu-left.cbp-spmenu-open {
	left: 0;

	#layout-toggle {
		color: $white;
		@include sans;
		font-size: 100%;
		left: 0;
		line-height: 1rem;
		padding: 1.1rem 0;
		width: 150px;

		.open { display: block; }
		.closed { display: none; }
	}
}

/* Push classes applied to the body */

.cbp-spmenu-push {
	left: 0;
	overflow-x: hidden;
	position: relative;
}

.cbp-spmenu-push-toright { left: 240px; }
.cbp-spmenu-push-toleft { left: -240px; }

/* Transitions */

.cbp-spmenu, .cbp-spmenu-push {
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
}
