
/*************************************************************************************** SHAME/SCSS **/
/****************************** FOR THOSE BROWSERS THAT STILL NEED VENDOR PREFIXES TO WORK. PUSSIES **/

/**************************************************************************** DEFAULT MODAL STYLING **/

.md-modal {
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateX(-50%) translateY(-50%);
}

.md-overlay { -webkit-transition: all 0.3s; }

/************************************************************************* INDIVIDUAL MODAL STYLING **/

/** FADE IN + SCALE UP *******************************************************************************/

.md-effect-1 .md-content {
	-webkit-transform: scale(0.7);
	-webkit-transition: all 0.3s;
}

.md-show.md-effect-1 .md-content { -webkit-transform: scale(1); }

/** SLIDE FROM THE RIGHT *****************************************************************************/

.md-effect-2 .md-content {
	-webkit-transform: translateX(20%);
	-webkit-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}

.md-show.md-effect-2 .md-content { -webkit-transform: translateX(0); }

/** SLIDE FROM THE BOTTOM ****************************************************************************/

.md-effect-3 .md-content {
	-webkit-transform: translateY(20%);
	-webkit-transition: all 0.3s;
}

.md-show.md-effect-3 .md-content { -webkit-transform: translateY(0); }

/** NEWSPAPER ****************************************************************************************/

.md-effect-4 .md-content { -webkit-transform: scale(0) rotate(720deg); }
.md-show.md-effect-4 ~ .md-overlay, .md-effect-4 .md-content { -webkit-transition: all 0.5s; }
.md-show.md-effect-4 .md-content { -webkit-transform: scale(1) rotate(0deg); }

/** FALL *********************************************************************************************/

.md-effect-5.md-modal { -webkit-perspective: 1300px; }

.md-effect-5 .md-content {
	-webkit-transform-style: preserve-3d;
	-webkit-transform: translateZ(600px) rotateX(20deg); 
}

.md-show.md-effect-5 .md-content {
	-webkit-transition: all 0.3s ease-in;
	-webkit-transform: translateZ(0px) rotateX(0deg);
}

/** SIDE FALL ****************************************************************************************/

.md-effect-6.md-modal { -webkit-perspective: 1300px; }

.md-effect-6 .md-content {
	-webkit-transform-style: preserve-3d;
	-webkit-transform: translate(30%) translateZ(600px) rotate(10deg); 
}

.md-show.md-effect-6 .md-content {
	-webkit-transition: all 0.3s ease-in;
	-webkit-transform: translate(0%) translateZ(0) rotate(0deg);
}

/** SLIDE + STICK TO TOP *****************************************************************************/

.md-effect-7 { -webkit-transform: translateX(-50%); }

.md-effect-7 .md-content {
	-webkit-transform: translateY(-200%);
	-webkit-transition: all .3s;
}

.md-show.md-effect-7 .md-content { -webkit-transform: translateY(0%); }

/** HORIZONTAL 3D FLIP *******************************************************************************/

.md-effect-8.md-modal { -webkit-perspective: 1300px; }

.md-effect-8 .md-content {
	-webkit-transform-style: preserve-3d;
	-webkit-transform: rotateY(-70deg);
	-webkit-transition: all 0.3s;
}

.md-show.md-effect-8 .md-content { -webkit-transform: rotateY(0deg); }

/** VERTICAL 3D FLIP *********************************************************************************/

.md-effect-9.md-modal { -webkit-perspective: 1300px; }

.md-effect-9 .md-content {
	-webkit-transform-style: preserve-3d;
	-webkit-transform: rotateX(-70deg);
	-webkit-transition: all 0.3s;
}

.md-show.md-effect-9 .md-content { -webkit-transform: rotateX(0deg); }

/** 3D SIGN ******************************************************************************************/

.md-effect-10.md-modal { -webkit-perspective: 1300px; }

.md-effect-10 .md-content {
	-webkit-transform-style: preserve-3d;
	-webkit-transform: rotateX(-60deg);
	-webkit-transform-origin: 50% 0;
	-webkit-transition: all 0.3s;
}

.md-show.md-effect-10 .md-content { -webkit-transform: rotateX(0deg); }

/** SUPER SCALED *************************************************************************************/

.md-effect-11 .md-content {
	-webkit-transform: scale(2);
	-webkit-transition: all 0.3s;
}

.md-show.md-effect-11 .md-content { -webkit-transform: scale(1); }

/** JUST ME ******************************************************************************************/

.md-effect-12 .md-content {
	-webkit-transform: scale(0.8);
	-webkit-transition: all 0.3s;
}

.md-show.md-effect-12 .md-content { -webkit-transform: scale(1); }

/** 3D SLIT ******************************************************************************************/

.md-effect-13.md-modal { -webkit-perspective: 1300px; }

.md-effect-13 .md-content {
	-webkit-transform-style: preserve-3d;
	-webkit-transform: translateZ(-3000px) rotateY(90deg);
}

.md-show.md-effect-13 .md-content { -webkit-animation: slit .7s forwards ease-out; }

@-webkit-keyframes slit {
	50% {
		-webkit-animation-timing-function: ease-out;
		-webkit-transform: translateZ(-250px) rotateY(89deg);
		opacity: 0.5;
	}
	100% { -webkit-transform: translateZ(0) rotateY(0deg); opacity: 1; }
}

/** 3D ROTATE FROM BOTTOM ****************************************************************************/

.md-effect-14.md-modal { -webkit-perspective: 1300px; }

.md-effect-14 .md-content {
	-webkit-transform: translateY(100%) rotateX(90deg);
	-webkit-transform-origin: 0 100%;
	-webkit-transform-style: preserve-3d;
	-webkit-transition: all 0.3s ease-out;
}

.md-show.md-effect-14 .md-content { -webkit-transform: translateY(0%) rotateX(0deg); }

/** 3D ROTATE FROM LEFT ******************************************************************************/

.md-effect-15.md-modal { -webkit-perspective: 1300px; }

.md-effect-15 .md-content {
	-webkit-transform: translateZ(100px) translateX(-30%) rotateY(90deg);
	-webkit-transform-origin: 0 100%;
	-webkit-transform-style: preserve-3d;
	-webkit-transition: all 0.3s;
}

.md-show.md-effect-15 .md-content { -webkit-transform: translateZ(0px) translateX(0%) rotateY(0deg); }

/** BLUR *********************************************************************************************/

.md-show.md-effect-16 ~ .container { -webkit-filter: blur(3px); }
.md-effect-16 .md-content { -webkit-transform: translateY(-5%); }
.md-show.md-effect-16 ~ .container, .md-effect-16 .md-content { -webkit-transition: all 0.3s; }
.md-show.md-effect-16 .md-content { -webkit-transform: translateY(0); }

/** BOTTOM SLIDE + PERSPECTIVE ***********************************************************************/

.md-show.md-effect-17 ~ .container { -webkit-transition: -webkit-transform 0.3s; }

.md-show.md-effect-17 ~ .container, .md-show.md-effect-17 ~ .md-overlay {
	-webkit-transform: rotateX(-2deg);
	-webkit-transform-origin: 50% 0%;
	-webkit-transform-style: preserve-3d;
}

.md-effect-17 .md-content { -webkit-transform: translateY(200%); }

.md-show.md-effect-17 .md-content {
	-webkit-transform: translateY(0);
	-webkit-transition: all 0.3s 0.2s;
}

/** RIGHT SLIDE + PERSPECTIVE ************************************************************************/

.md-show.md-effect-18 ~ .md-overlay { -webkit-transition: all 0.5s; }

.md-show.md-effect-18 ~ .container, .md-show.md-effect-18 ~ .md-overlay {
	-webkit-animation: rotateRightSideFirst 0.5s forwards ease-in;
	-webkit-transform-origin: 0% 50%;
	-webkit-transform-style: preserve-3d;
}

@-webkit-keyframes rotateRightSideFirst {
	50% {
		-webkit-animation-timing-function: ease-out;
		-webkit-transform: translateZ(-50px) rotateY(5deg);
	}
	100% { -webkit-transform: translateZ(-200px); }
}

.md-effect-18 .md-content { -webkit-transform: translateX(200%); }

.md-show.md-effect-18 .md-content {
	-webkit-transform: translateX(0);
	-webkit-transition: all 0.5s 0.1s;
}

/** TOP SLIDE + PERSPECTIVE **************************************************************************/

.md-show.md-effect-19 ~ .md-overlay { -webkit-transition: all 0.5s; }

.md-show.md-effect-19 ~ .container, .md-show.md-effect-19 ~ .md-overlay {
	-webkit-animation: OpenTop 0.5s forwards ease-in;
	-webkit-transform-origin: 50% 100%;
	-webkit-transform-style: preserve-3d;
}

@-webkit-keyframes OpenTop {
	50% { 
		-webkit-animation-timing-function: ease-out; 
		-webkit-transform: rotateX(10deg); 
	}
}

.md-effect-19 .md-content { -webkit-transform: translateY(-200%); }

.md-show.md-effect-19 .md-content {
	-webkit-transform: translateY(0);
	-webkit-transition: all 0.5s 0.1s;
}

/********************************************************************************* FULLVIEW STYLING **/

.preview {
	-webkit-user-select: none;

	#photo-fullview-wrapper, #text-fullview-wrapper {
		-webkit-user-select: none;
	}

	#draggable {
		nav {
			a { -webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out; }
		}

		.cbp-contentslider {
			#sidebar-content {
				#tab-content, #tab-tags, #tab-snippets, #tab-settings {
					-webkit-user-select: text !important;
				}
			}
		}
	}
}

/*********************************************************************************** WINDOW STYLING **/

.wm-space.expose {
	.wm-window.active, .wm-window {
		-webkit-transform: translate3d(0, 0, 0);
		-webkit-transition: top 0.5s ease-out, left 0.5s ease-out;
	}
}

.wm-space.fullscreen {
	header.wm-window-title { -webkit-transition: all 0.5s ease-out; }
	header.wm-window-title h1 { -webkit-transition: all 0.5s ease-out; }
	section.wm-content { -webkit-transition: all 0.5s ease-out; }
}

.wm-window {
	-webkit-touch-callout: none;
	-webkit-user-select: none;

	.wm-window-box {
		-webkit-box-orient: vertical;
		-webkit-flex-flow: column;

		header.wm-window-title {
			-webkit-align-items: center;
			-webkit-box-align: center;
			-webkit-box-orient: horizontal;
			-webkit-flex-flow: row;
			-webkit-touch-callout: none;
			-webkit-user-select: none;

			h1 {
				-webkit-align-items: center;
				-webkit-box-align: center;
				-webkit-box-flex: 1;
				-webkit-box-orient: horizontal;
				-webkit-flex: 1;
				-webkit-flex-flow: row;
				-webkit-touch-callout: none;
				-webkit-user-select: none;
			}

			.wm-button-group {
				-webkit-align-items: center;
				-webkit-box-align: center;
				-webkit-box-orient: horizontal;
				-webkit-flex-flow: row;
			}
		}

		section.wm-content {
			-webkit-box-flex: 1;
			-webkit-flex: 1;
		}

		button.wm-resize {
			-webkit-touch-callout: none;
			-webkit-user-select: none;
		}
	}
}

.wm-window.active {
	.wm-content {
		* { -webkit-user-select: text; }
	}
}

.wm-window.closing { -webkit-animation: close 0.3s 1 ease-in forwards; }
.wm-window.opening { -webkit-animation: appear 0.4s 1 ease-out forwards; }
.wm-window.resizing { -webkit-transition: none; }
.wm-window.move { -webkit-animation: wobbly 0.5s 0.2s infinite; }

.wm-space {
	-webkit-touch-callout: none;
	-webkit-user-select: none;

	.wm-overlay {
		-webkit-touch-callout: none;
		-webkit-transition: opacity 0.5s ease-out;
		-webkit-user-select: none;
	}
}

.wm-space.expose .wm-window.active section.wm-content,
.wm-space.expose .wm-window section.wm-content,
.wm-window.disabled *,
.wm-window.inactive *,
.wm-window.move * {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}

.wm-space.fullscreen .wm-window,
.wm-window.minimizing,
.wm-window.maximazing {
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-transition: all 0.5s ease-out;
}

50% { -webkit-transform: rotate(-4deg); }
80%, 20% { -webkit-transform: scale(1.2, 1.2); }
100% { -webkit-transform: scale(0, 0); }

/************************************************************************************** FLYOUT MENU **/

#book-creation-wrapper {
	#create-book {
		#create-content {
			.flyout-wrap {
				.page-settings, .page-edit, .page-upload, .page-collab, .page-delete { -webkit-transition: all 0.2s; }

				.page-upload, .page-edit {
					a {
						span { -webkit-transform: rotate(0deg); }
					}
				}

				.page-collab {
					a {
						span { -webkit-transform: rotate(85deg); }
					}
				}

				.page-delete {
					a {
						span { -webkit-transform: rotate(180deg); }
					}
				}

				@-webkit-keyframes expand {
					0% { top: 150px; }
					50% { top: -10px; }
					70% { top: 15px; }
					100% { top: 10px; };
				}

				@-webkit-keyframes contract {
					0% { top: 10px; }
					40% { top: -25px; }
					100% { top: 150px; };
				}

				@-webkit-keyframes clicked {
					0% { -webkit-transform: scale(1); }
					99% { -webkit-transform: scale(6); }
					100% { -webkit-transform: scale(0); };
				}

				@-webkit-keyframes fade {
					0% { -webkit-transform: scale(1); }
					99% { -webkit-transform: scale(0); }
					100% { -webkit-transform: scale(0); };
				}

				@-webkit-keyframes spin1-expand {
					0% { -webkit-transform: rotate(0deg); }
					60% { -webkit-transform: rotate(-360deg); }
					100% { -webkit-transform: rotate(-360deg); };
				}

				@-webkit-keyframes spin2-expand {
					0% { -webkit-transform: rotate(-18deg); }
					60% { -webkit-transform: rotate(-378deg); }
					100% { -webkit-transform: rotate(-378deg); };
				}

				@-webkit-keyframes spin3-expand {
					0% { -webkit-transform: rotate(-36deg); }
					60% { -webkit-transform: rotate(-396deg); }
					100% { -webkit-transform: rotate(-396deg); };
				}

				@-webkit-keyframes spin4-expand {
					0% { -webkit-transform: rotate(-54deg); }
					60% { -webkit-transform: rotate(-414deg); }
					100% { -webkit-transform: rotate(-414deg); };
				}

				@-webkit-keyframes spin5-expand {
					0% { -webkit-transform: rotate(-72deg); }
					60% { -webkit-transform: rotate(-432deg); }
					100% { -webkit-transform: rotate(-432deg); };
				}

				@-webkit-keyframes spin6-expand {
					0% { -webkit-transform: rotate(-90deg); }
					60% { -webkit-transform: rotate(-450deg); }
					100% { -webkit-transform: rotate(-450deg); };
				}

				@-webkit-keyframes spin1-contract {
					0% { -webkit-transform: rotate(0deg); }
					50% { -webkit-transform: rotate(360deg); }
					100% { -webkit-transform: rotate(360deg); };
				}

				@-webkit-keyframes spin2-contract {
					0% { -webkit-transform: rotate(-18deg); }
					50% { -webkit-transform: rotate(360deg); }
					100% { -webkit-transform: rotate(360deg); };
				}

				@-webkit-keyframes spin3-contract {
					0% { -webkit-transform: rotate(-36deg); }
					50% { -webkit-transform: rotate(360deg); }
					100% { -webkit-transform: rotate(360deg); };
				}

				@-webkit-keyframes spin4-contract {
					0% { -webkit-transform: rotate(-54deg); }
					50% { -webkit-transform: rotate(360deg); }
					100% { -webkit-transform: rotate(360deg); };
				}

				@-webkit-keyframes spin5-contract {
					0% { -webkit-transform: rotate(-72deg); }
					50% { -webkit-transform: rotate(360deg); }
					100% { -webkit-transform: rotate(360deg); };
				}

				@-webkit-keyframes spin6-contract {
					0% { -webkit-transform: rotate(-90deg); }
					50% { -webkit-transform: rotate(360deg); }
					100% { -webkit-transform: rotate(360deg); };
				}

				.flyout {
					li {
						-webkit-transform-origin: 0 bottom;

						&:nth-of-type(1) { -webkit-transform: rotate(180deg); }
						&:nth-of-type(2) { -webkit-transform: rotate(-130deg); }
						&:nth-of-type(3) { -webkit-transform: rotate(-90deg); }
					}
				}

				.flyout.expand li a { -webkit-animation: expand 0.6s ease 1 backwards; }
				.flyout li a { -webkit-animation: contract 0.35s ease-out 1 backwards; }
				.flyout.fade li a.clicked { -webkit-animation: clicked 0.5s ease-out 1 forwards; }

				.flyout.fade li a:not(.clicked) {
					-webkit-animation: fade 0.5s ease-out 1 forwards;
					-webkit-transition: opacity 0.3s ease;
				}

				.flyout li:nth-of-type(1) a { animation-delay: 0.2s; }
				.flyout li:nth-of-type(2) a { animation-delay: 0.10s; }
				.flyout li:nth-of-type(3) a { animation-delay: 0; }

				.flyout li:nth-of-type(1) a:not(.clicked), .flyout li:nth-of-type(2) a:not(.clicked), .flyout li:nth-of-type(3) a:not(.clicked) {
					-webkit-animation: spin6-contract 0.9s ease-out 1 backwards;
				}

				.flyout.expand li:nth-of-type(1) a { animation-delay: 0; }
				.flyout.expand li:nth-of-type(2) a { animation-delay: 0.1s; }
				.flyout.expand li:nth-of-type(3) a { animation-delay: 0.2s; }

				.flyout.expand li:nth-of-type(1) a {
					-webkit-animation: spin1-expand 0.6s ease-out 1 backwards;
					-webkit-transform: rotate(0deg);
				}

				.flyout.expand li:nth-of-type(2) a {
					-webkit-animation: spin3-expand 0.6s ease-out 1 backwards;
					-webkit-transform: rotate(45deg);
				}

				.flyout.expand li:nth-of-type(3) a {
					-webkit-animation: spin6-expand 0.6s ease-out 1 backwards;
					-webkit-transform: rotate(90deg);
				}

				.flyout.fade li:nth-of-type(1) a.clicked { -webkit-transform: rotate(0deg); }
				.flyout.fade li:nth-of-type(2) a.clicked { -webkit-transform: rotate(-45deg); }
				.flyout.fade li:nth-of-type(3) a.clicked { -webkit-transform: rotate(-90deg); }

				.flyout-btn { transition: -webkit-transform 0.4s ease; }

				.btn-rotate { -webkit-transform: rotate(-135deg); }

				.ani-clicked 0 { -webkit-transform: scale(1); }
				.ani-clicked 100% { -webkit-transform: scale(5); }

				.ani-spin1-expand 0 { -webkit-transform: rotate(0deg); }
				.ani-spin1-expand 60% { -webkit-transform: rotate(-360deg); }
				.ani-spin1-expand 100% { -webkit-transform: rotate(-360deg); }

				.ani-spin2-expand 0 { -webkit-transform: rotate(-18deg); }
				.ani-spin2-expand 60% { -webkit-transform: rotate(-378deg); }
				.ani-spin2-expand 100% { -webkit-transform: rotate(-378deg); }

				.ani-spin3-expand 0 { -webkit-transform: rotate(-36deg); }
				.ani-spin3-expand 60% { -webkit-transform: rotate(-396deg); }
				.ani-spin3-expand 100% { -webkit-transform: rotate(-396deg); }

				.ani-spin4-expand 0 { -webkit-transform: rotate(-54deg); }
				.ani-spin4-expand 60% { -webkit-transform: rotate(-414deg); }
				.ani-spin4-expand 100% { -webkit-transform: rotate(-414deg); }

				.ani-spin5-expand 0 { -webkit-transform: rotate(-72deg); }
				.ani-spin5-expand 60% { -webkit-transform: rotate(-432deg); }
				.ani-spin5-expand 100% { -webkit-transform: rotate(-432deg); }

				.ani-spin6-expand 0 { -webkit-transform: rotate(-90deg); }
				.ani-spin6-expand 60% { -webkit-transform: rotate(-450deg); }
				.ani-spin6-expand 100% { -webkit-transform: rotate(-450deg); }

				.ani-spin1-contract 0 { -webkit-transform: rotate(0deg); }
				.ani-spin1-contract 50% { -webkit-transform: rotate(360deg); }
				.ani-spin1-contract 100% { -webkit-transform: rotate(360deg); }

				.ani-spin2-contract 0 { -webkit-transform: rotate(-18deg); }
				.ani-spin2-contract 50% { -webkit-transform: rotate(360deg); }
				.ani-spin2-contract 100% { -webkit-transform: rotate(360deg); }

				.ani-spin3-contract 0 { -webkit-transform: rotate(-36deg); }
				.ani-spin3-contract 50% { -webkit-transform: rotate(360deg); }
				.ani-spin3-contract 100% { -webkit-transform: rotate(360deg); }

				.ani-spin4-contract 0 { -webkit-transform: rotate(-54deg); }
				.ani-spin4-contract 50% { -webkit-transform: rotate(360deg); }
				.ani-spin4-contract 100% { -webkit-transform: rotate(360deg); }

				.ani-spin5-contract 0 { -webkit-transform: rotate(-72deg); }
				.ani-spin5-contract 50% { -webkit-transform: rotate(360deg); }
				.ani-spin5-contract 100% { -webkit-transform: rotate(360deg); }

				.ani-spin6-contract 0 { -webkit-transform: rotate(-90deg); }
				.ani-spin6-contract 50% { -webkit-transform: rotate(360deg); }
				.ani-spin6-contract 100% { -webkit-transform: rotate(360deg); }
			}

			/*
			#frontcover-preview-wrapper, #photo-preview-wrapper, #text-preview-wrapper, #integrated-preview-wrapper,
			#phototext-preview-wrapper, #phototext-ii-preview-wrapper, #integrated-ii-preview-wrapper, #video-preview-wrapper,
			#book-creation-wrapper,
			.frontcover-preview-wrapper, .photo-preview-wrapper, .text-preview-wrapper, .integrated-preview-wrapper,
			.phototext-preview-wrapper, .phototext-ii-preview-wrapper, .integrated-ii-preview-wrapper, .video-preview-wrapper,
			.book-creation-wrapper {
			}
			*/
		}
	}
}
