.notification {
    width: 90%;
    background: rgba(255, 255, 255, 0.85);
    border: 1px solid #FAFAFA;
    border-radius: 3px;
    text-align: center;
    margin: 10px auto 0;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.5);
    padding: 1%;
    position: absolute;
    left: 5%;
}

.notification p {
    margin: 0;
}

.triangle-right.left {
    margin-left: 40px;
    background: #C81E2B;
}


form {
  position: relative;
  z-index: 10;
}

.field-errors {
  position: absolute;
  right: -11%;
  width: 400px;
  top: 9%;
}

.triangle-right {
  padding: 15px;
  margin: 1em 0 3em;
  color: #fff;
  background: #c81e2b;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#f04349), to(#c81e2b));
  background: -moz-linear-gradient(#f04349, #c81e2b);
  background: -o-linear-gradient(#f04349, #c81e2b);
  background: linear-gradient(#f04349, #c81e2b);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 3px 1px 4px 2px rgba(0, 0, 0, 0.7);
}

.triangle-right:after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50px;
  border-width: 20px 0 0 20px;
  border-style: solid;
  border-color: #c81e2b transparent;
  display: block;
  width: 0;
}

.triangle-right.left {
  margin-left: 40px;
  background: #c81e2b;
}

.triangle-right.left:after {
  top: 16px;
  left: -40px;
  bottom: auto;
  border-width: 15px 40px 0 0;
  border-color: transparent #c81e2b;
}
