
////////////////////////////////////////////////////////////////////////////////////////// APP/SCSS ///

.app {

	width: 100%; height: 100%;

	background-color: $white;
	clear: left;
	@include sans;
	font-size: 15px;
	overflow: hidden;
	position: relative;

	.super-wrapper { display: none; }

	#site-menu {
		h2 {
			width: 100%; height: 80px;

			background-image: url("../images/sprite-sheet.png");
			background-position: 42px -342px;
			background-repeat: no-repeat;
			background-size: 200px 500px;
			transition: all 0.2s ease;

			@include hide-text;

			a {
				width: 100%; height: 100%;

				display: block;
				margin: 1rem 0;
			}

			&:hover { opacity: 0.3; }
		}

		#account-links {
			width: 100%; height: auto;
			bottom: 1.5rem; left: 0;

			position: absolute;
			text-align: center;

			a {
				&:first-child {
					// nbsp and middot
					&:after { content: "\00a0\00b7"; }
				}
			}
		}
	}

	button {
		margin: 0 auto; padding: 0.5rem 1rem;

		background-color: $slate;
		border: 0;
		color: $white;
		cursor: pointer;
		font-weight: 300;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		transition: all 0.2s ease;

		&:hover { padding: 0.5rem 1.5rem; }
	}

	#user-panel, #book-scroller,
	#dimension-panel, #dimension-scroller,
	#featured-panel, #featured-scroller {
		float: left;
		height: 100%;
		position: relative;
	}

	#user-panel, #dimension-panel, #featured-panel {
		background-color: $white;
		box-shadow: inset 0 0 0 rgba($black, 0.5), inset 0 0 0 1px rgba($black, 0.05);
		overflow: hidden;
		width: 25%;
	}

	#featured-panel, #user-panel {
		width: 96px; /* 7% */ height: 48px;

		background-color: transparent;
		// border-bottom: 1px solid $white;
		box-shadow: none; //
		margin: 0.4rem 0 0 0;
		// position: fixed;
		transition: all 0.1s ease;
		z-index: 1; //

		-o-transition: all 0.1s ease;
		-ms-transition: all 0.1s ease;
		-moz-transition: all 0.1s ease;
		-webkit-transition: all 0.1s ease;

		h2 {
			margin: 2rem 0; padding: 0 0 5rem 0;
			bottom: 2rem; left: -3.8rem;

			background-image: url("/static/images/sprite-sheet.png");
			background-position: 0 -410px;
			background-repeat: no-repeat;
			background-size: 200px 500px;
			color: $slate !important;
			position: fixed;
			transform: rotate(-90deg);
			width: 214px;

			@include hide-text;

			-o-transform: rotate(-90deg);
			-ms-transform: rotate(-90deg);
			-moz-transform: rotate(-90deg);
			-webkit-transform: rotate(-90deg);
		}

		.featured-info {
			padding: 0; // 0 2rem // Tommy
			text-align: left;
			top: 55%; // 38% // Tommy
			z-index: 2;

			p { line-height: 1.3em; }
		}

		canvas, img {
			top: 0; left: 0;
			position: absolute;
		}

		canvas {
			opacity: 0.7;
			z-index: 1;
		}

		img {
			width: auto; height: 100%;
		}
	}

	#g-menu-toggle {
		width: 100%; height: auto;
		top: 0.5rem; left: 0;

		background-color: transparent;
		color: $slate;
		cursor: pointer;
		font-size: 36px;
		padding: 0 !important;
		position: absolute;
		transition: all 0.5s ease;
		z-index: 3;

		span {
			width: 36px; height: 4px;

			background-color: $slate;
			display: block;
			margin: 0 auto 6px;
			position: relative;
		}

		&:hover { opacity: 0.7; }
	}

	#nav-wrapper {
		top: 0; right: 0;

		height: 50px;
		position: fixed;
		width: 100%;
	}

	#book-nav, #dimension-nav, #featured-nav {
		width: auto; height: auto;
		margin: 0 0 1rem 1rem; padding: 1.05rem 0 0 0;

		font-size: 1.1rem;
		font-weight: 300;

		li {
			display: inline-block;
			margin: 0.5rem 1rem 0 0;
		}

		a { color: rgba($black, 0.1); }

		.current {
			padding: 0 0 1rem 0;

			a {
				color: $slate;
				font-weight: 700;
				padding: 0 0 0.74rem 0;
			}
		}
	}

	#featured-nav {
		top: 0; right: 0; left: 6rem;

		margin: 0;
		position: fixed;
	}

	.user-book-list-wrapper, .book-list-wrapper, .library-list-wrapper, .bookmark-list-wrapper {
		position: absolute;
		top: 53.5%;
		transform: translateY(-50%);

		-o-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
	}

	#book-scroller, #dimension-scroller, #featured-scroller, #account-information {
		overflow-y: hidden;
		overflow-x: auto;
		width: 75%;
	}

	#featured-scroller, #book-scroller {
		width: 100%; height: 100%;
		position: fixed;
	}

	#user-book-list, #bookmarks-list, #user-library-list, #user-draft-list,
	#book-list, #dimension-list, #library-list, #bookmark-list {
		display: none;
		position: relative; // absolute
		top: 50%;
		transform: translateY(-50%);
		transition: all 0.5s ease;
		width: 100%;

		-o-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
	}

	.book, .collection, .library, .new, .draft,
	.portal {
		width: 400px; height: auto;
		margin: 0 0 0 1rem; padding: 0;

		background-color: rgba($gray-i, 0.4);
		box-shadow: inset 10px 0 0 0 #70d0eb; // book "spine"
		// display: inline-block;
		float: left;
		overflow: hidden;
		position: relative;
		transition: box-shadow 0.2s ease;

		&:hover {
			// ooh factor
			box-shadow: inset 10px 0 0 0 #70d0eb, 0 0 6px rgba($black, 0.6);
			.book-info, .collection-info, .library-info, .draft-info { text-shadow: 0 3px 6px $black !important; }
		}

		.author-avatar {
			width: 50px; height: auto;

			border-radius: 300rem;
			margin: 0 0 1rem 0;
		}

		.bookmark-this {
			width: auto; height: auto;
			top: 1rem; right: 2rem;

			background-color: $black;
			cursor: pointer;
			position: absolute;
			transform: rotate(-90deg);
			z-index: 1;

			-webkit-transform: rotate(-90deg);

			&:hover {
				.top-bm, .bottom-bm { right: 30px; }
				.right-bm { width: 46px; }
			}

			.top-bm, .bottom-bm, .right-bm { transition: all 0.2s ease; }

			.top-bm, .bottom-bm {
				width: 0; height: 0;

				border-left: 20px solid transparent;
				right: 9px;
				position: absolute;
			}

			.top-bm {
				border-top: 20px solid $white;
				bottom: -15px;
			}

			.bottom-bm { border-bottom: 20px solid $white; }

			.right-bm {
				width: 25px; height: 25px;
				top: -5px; right: -16px;

				background-color: $white;
				border-right: 1px solid $gray;
				position: absolute;
			}
		}

		.wrapper {
			bottom: 6rem; left: 0;

			position: absolute;
			text-align: center;
			z-index: 1;
		}

		.image-overlay {
			width: 100%; height: 100%;
			top: 0; left: 0;

			background-color: rgba($black, 0.3);
			display: block;
			position: absolute;
		}

		img {
			width: 100%; height: auto;
		}

		&:after {
			top: 0; right: 0;
			bottom: 0; left: 0;

			background-image: linear-gradient(to bottom, transparent, $black);
			content: "";
			opacity: 0.6;
			position: absolute;
		}
	}

	.new {
		border: 1px solid rgba($black, 0.1);
		font-size: 2em;
		line-height: 1.3;
		padding: 8rem 3rem;

		&:after { background: none; }
		&:hover { box-shadow: none; }
	}

	.book-title {
		margin: 0 0 0.5rem 0; padding: 0 2rem; // 0 1rem

		font-weight: 600;
		font-size: 200%;
		position: absolute;
		text-align: left; // center
		text-shadow: 0 1px 3px transparentize($black, 0.3);
		transition: text-shadow 0.2s ease-in-out;
		top: 35%;
		width: 100%;
		z-index: 1;

		a { color: $white; }
	}

	.library-info, .new-inner-wrapper, .draft-info,
	.portal-info, .featured-info {
		color: $white;
		padding: 0 2rem; // 0 1rem
		position: absolute;
		text-align: left; // center
		text-shadow: 0 1px 3px transparentize($black, 0.3);
		transition: text-shadow 0.2s ease-in-out;
		top: 35%;
		width: 100%;
		z-index: 1;

		.title {
			font-weight: 600;
			font-size: 200%;
			margin: 0 0 0.5rem 0;

			a { color: $white; }
		}

		.explore-book, .collect-close {
			margin: 1rem auto; padding: 0.5rem;

			background-color: $white;
			color: $black;
			display: block;
			font-size: 70%;
			text-shadow: none;
			text-transform: uppercase;
			transition: visibility 0.1s ease-in-out;
			visibility: hidden;
			width: 50%;

			&:hover { opacity: 0.7; }
		}

		.lib-blurb {
			@include sans;
			font-style: italic;
			line-height: 1.2em;
			// padding: 0 2rem;

			a {
				color: $white;
				font-style: normal;
				text-transform: none;
			}
		}
	}

	.featured-info { display: none; }

	.book-info, .collection-info {
		color: $white;
		padding: 0 2rem;
		position: absolute;
		text-align: left;
		text-shadow: 0 1px 3px transparentize($black, 0.3);
		transition: text-shadow 0.2s ease-in-out;
		bottom: 5%;
		width: 100%;
		z-index: 1;

		.author-name, .library-location {
			@include sans;
			font-style: italic;
			line-height: 1.2em;

			a {
				color: $white;
				font-style: normal;
				text-transform: none;
			}

			&:before { @include serif; }
		}

		.author-name {
			&:before { content: "by "; }
		}

		.library-location {
			&:before { content: "in "; }
		}
	}

	#bookmarks-scroller {
		width: 300px; height: 100%;
		top: 0; right: -300px;

		background-color: $white;
		border-left: 1px solid $gray-i;
		color: $black;
		position: absolute;
		transition: all 0.5s ease;
		z-index: 2;
	}

	#bookmarks-header {
		width: 100%; height: 49px;
		top: 0; right: 0;

		background-color: $white;
		border-bottom: 1px solid $gray-i;
		position: absolute;
		text-align: center;

		h3 { margin: 7px 0 0 0; }
	}

	#bm-wrapper {
		margin: 4rem 0 0 0; // 50

		dl {
			dt {
				span {
					width: 50px; height: auto;

					display: inline-block;
					font-weight: 600;
					overflow: hidden;
					text-align: center;
				}
			}

			dd {
				display: none;
				font-size: 80%;
				margin: 0.5rem 0 0 50px;
				transition: all 0.2s ease;

				li {
					margin: 0 0 0.5rem 0;

					&:last-child { margin: 0; }
				}
			}
		}
	}

	#bm-notifications, #bm-books, #bm-collections, #bm-libraries, #bm-drafts {
		display: block;
		margin: 0 0 1rem 0;
	}

	.bm-section-title {
		font-size: 1.3em;
		font-weight: 300;
	}

	#featured-splash, #library-splash, #user-splash {
		width: 100%; height: 100%;
		top: 0; left: 0;

		background-color: transparent;
		padding: 2rem;
		position: absolute;
		transition: top 1.3s ease, left 1.3s ease;
		z-index: 3;

		#library-info, #featured-info, #splash-user-info {
			color: $white;
			padding: 0 15rem; //
			position: relative;
			text-align: left; // center
			top: 50%;
			transform: translateY(-50%);
			z-index: 10;

			h2 { font-weight: 300; }

			-o-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
		}

		#featured-library {
			&:before {
				content: "Featured";
				display: block;
				@include serif;
				font-style: italic;
				margin: 0 0 0.5rem 0;
				text-transform: lowercase;
        font-weight: 500;
        color: rgba(252, 252, 252, 0.5);
			}
		}

		p {
			font-size: 1.3em; // 2em
			line-height: 1.5em;
			padding: 0; // 0 10rem
		}

		#close-splash {
			width: auto; height: 100%;
			top: 0; right: 2rem;

			color: $white;
			cursor: pointer;
			font-size: 5rem;
			position: fixed;
			transition: top 1.3s ease, left 1.3s ease;
			z-index: 10;

			i {
				position: relative;
				top: 45%;
			}
		}

		&:after {
			top: 0; right: 0;
			bottom: 0; left: 0;

			background-image: linear-gradient(to bottom, rgba($black, 0.4), $black);
			content: "";
			opacity: 1;
			position: absolute;
		}
	}

	#featured-splash {
		#gapelia {
			width: 214px; height: 56px;

			background-image: url("/static/images/sprite-sheet.png");
			background-position: -20px -349px;
			background-repeat: no-repeat;
			background-size: 200px 500px;
			position: absolute;
			// transform: rotate(-90deg);
			z-index: 1;

			@include hide-text;
		}

		#login-greet {
			top: 2rem; right: 2rem;

			line-height: 1.5rem;
			position: absolute;
			text-align: right;
			z-index: 11;

			a { color: $white; }
		}

		h2 {
			&:before {
				color: $slate; // Tommy
				display: block;
				@include serif;
				font-size: 1rem;
				font-style: italic;
				margin: 0 0 -0.4rem 0.05rem;
			}
		}

		#meta-book {
			font-size: 0.8rem;
			margin: -1rem 0 2rem 0;

			.author-name, .library-name {
				&:before {
					@include serif;
					font-style: italic;
					margin: 0 0.3rem 0 0;
				}
			}

			.author-name {
				margin: 0 0.8rem 0 0;

				&:before { content: "by"; }
			}

			.library-name {
				&:before { content: "in"; }
			}
		}

		#snippet-book, #snippet-library { cursor: default; }

		#pick-story {
			&:before { content: "Story of the day"; }
		}

		#pick-library {
			&:before { content: "Library of the day"; }
		}
	}

	#library-splash {
		#library-info h2 { font-size: 42px; font-weight: 700; }
      p { font-weight: 200; font-size: 1.1em; padding-top: 12px; }
      section { font-weight: bold; } 
      
    button {
			top: 2rem; right: 2rem;

			position: absolute;
			z-index: 11;
		}
	}

	#user-splash {
		padding: 0;
		z-index: 4;

		.user-avatar {
			position: relative;
			top: 20%;
		}

		#splash-user-info {
			text-align: center;
			top: 40%;
		}

		#splash-user-bio {
			margin: 0 0 3rem 0; padding: 1rem;

			display: block;
			font-size: 1.2rem;
			line-height: 1.5rem;
		}

		#close-splash {
			top: 0; right: 3rem;
		}
	}

	.facebook, .ion-social-facebook { color: $facebook; }
	.googleplus, .ion-social-googleplus { color: $google; }
	.twitter, .ion-social-twitter { color: $twitter; }
	.email, .ion-email, .ion-ios7-at { color: $slate; }

}

.notification-time {
	i {
		animation: colors 5s ease infinite;
		color: $white;

		-o-animation: colors 5s ease infinite;
		-ms-animation: colors 5s ease infinite;
		-moz-animation: colors 5s ease infinite;
		-webkit-animation: colors 5s ease infinite;
	}
}

@keyframes colors {
	0% { text-shadow: 0 0 10px $red; }
	25% { text-shadow: 0 0 10px $orange; }
	50% { text-shadow: 0 0 10px $green; }
	75% { text-shadow: 0 0 10px $blue; }
	100% { text-shadow: 0 0 10px $purple; }
}
