/***************************************************************************************** BASE/SCSS **/

/** [-] Reset *****************************************************************************************/

* {
	margin: 0; padding: 0;

	box-sizing: border-box;
	outline: none;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub,
sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0; padding: 0;

	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

input:focus { outline: 0; }

body { line-height: 1; }
ol, ul { list-style: none; }

blockquote, q {
	quotes: none;

	&:before, &:after {
		content: "";
		content: none;
	}
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** [-] Clearfix **************************************************************************************/

.cf {
	zoom: 1;

	&:before, &:after {
		content: " ";
		display: table;
	}

	&:after { clear: both; }
}

/** [-] Colours ***************************************************************************************/

$black:     rgba(25, 25, 25, 1);    // #191919;
$gray:			rgba(228, 228, 228, 1);	// #e4e4e4;
$l-gray:		rgba(244, 244, 244, 1);	// #f4f4f4;
/* $white:     rgba(254, 254, 254, 1); // #fefefe; */
$white:     rgba(252, 252, 252, 1); // #fcfcfc;

$edit:			rgba(255, 255, 153, 1); // #ffff99;

$gray-i:		rgba(231, 231, 231, 1);	// #e7e7e7;
$gray-ii:		rgba(207, 207, 207, 1);	// #cfcfcf;
$gray-iii:	rgba(190, 190, 190, 1);	// #bebebe;
$gray-iv:		rgba(153, 153, 153, 1);	// #999;
$gray-v:		rgba(88, 89, 89, 1);		// #585959;

$slate:			rgba(112, 161, 177, 1);	// #70a1b1;

/*
$red:				rgba(223, 21, 26, 1);		// #df151a;
$orange:		rbga(253, 134, 3, 1);		// #fd8603;
$yellow:		rgba(244, 243, 40, 1);	// #f4f328;
$green:			rgba(0, 218, 60, 1);		// #00da3c;
$blue:			rgba(0, 205, 231, 1);		// #00cbe7;
*/

$red:				rgba(255, 59, 48, 1);		// #ff3b30;
$orange:		rgba(255, 149, 0, 1);		// #ff9500;
$yellow:		rgba(255, 204, 0, 1);		// #ffcc00;
$green:			rgba(76, 217, 100, 1);	// #4cd964;
$blue:			rgba(0, 122, 255, 1);		// #007aff;
$purple:		rgba(179, 86, 214, 1);	// #b356d6;

/** [-] Mixins ****************************************************************************************/

@mixin sans { font-family: "adelle-sans", Arial, sans-serif; }
@mixin serif { font-family: "skolar", Georgia, serif; }

@mixin unicode { font-family: Arial, Verdana, Geneva, sans-serif; }
@mixin mono { font-family: Consolas, Inconsolata, "HaxrCorp 4088 Caps", Courier New, mono; }

@mixin hide-text {
  border: 0;
  color: transparent;
  font: 0/0 a;
  text-shadow: none;
}

@mixin ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/** [-] Generic ***************************************************************************************/

p {
  font-size: 16px/1.5em;
  margin: 0 0 1.5rem 0;
}

a {
	color: inherit;
	cursor: pointer;
	text-decoration: none;

	&:hover { opacity: 0.7; }
}

em, i {
	@include serif;
	font-style: italic;

	strong, .strong, b {
		font-style: italic;
		font-weight: 700;
	}
}

strong, .strong, b {
	@include serif;
	font-weight: 700;

	em, i {
		font-style: italic;
	}
}

pre, code { @include mono; }
small { font-size: 80%; }

.hide-text { @include hide-text; }
.unicode-char { @include unicode; }

/** [-] Titles ****************************************************************************************/

h1, h2, h3, h4, h5, h6 {
	a { font-weight: inherit; }
}

h1 {
	font-size: 3rem; /* 46px */
	line-height: 50px;
	margin: 0 0 14px 0;
}

h2 {
	font-size: 28px; /* 2rem ~ 35px */
	line-height: 40px;
	margin: 0 0 10px 0;
}

h3 {
	font-size: 1.7em; /* 28px */
	line-height: 34px;
	margin: 0 0 8px 0;
}

h4 {
	font-size: 21px;
	line-height: 30px;
	margin: 0 0 4px 0;
}

h5 {
	font-size: 17px;
	line-height: 24px;
}

h6 {
	font-size: 14px;
	line-height: 21px;
}

/** [-] Lists *****************************************************************************************/

ul, ol {
	margin: 0; padding: 0;

	ul, ol {
		li {
			margin: 0; padding: 0;
			line-height: 1;
		}
	}
}

ul { list-style: none outside; }
ol { list-style: decimal; }

.square, .circle, .disc { margin-left: 30px; }

.square { list-style: square outside; }
.circle { list-style: circle outside; }
.disc { list-style: disc outside; }

hr {
	border: 1px solid #ddd;
	clear: both;
	height: 0;
	margin: 10px 0 30px;
}

/** [-] Quotes ****************************************************************************************/
/*
blockquote {
	margin: 1.5em 10px; padding: 0.5em 10px;

	background-color: $l-gray;
	border-left: 10px solid $gray-i;
  line-height: 25px;
	quotes: "\201C""\201D""\2018""\2019";

  &:before {
    color: $gray-i;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin: 0 0.25em 0 0;
    vertical-align: -0.4em;
  }
}
*/
/** [-] Video *****************************************************************************************/

.video-container {
	margin: 0 0 20px 0; padding-bottom: 56.25%; padding-top: 30px;

	height: 0;
	overflow: hidden;
	position: relative;

	iframe, object, embed {
		width: 100%; height: 100%;
		top: 0; left: 0;

		border: none;
		clear: left;
		position: absolute;
	}
}
