
////////////////////////////////////////////////////////////////////////////////////// BUTTONS/SCSS ///

.button, button {
	margin: 0 !important; padding: 0.5rem 1rem !important;

	background-repeat: repeat-x;
	border: 1px solid rgba($black, 0.3);
	border-radius: 5px; // !important
	font-weight: 400;
	transition: all 0.2s ease;

	&:hover {
		opacity: 1;
		padding: 0.5rem 1.5rem; // !important
	}
}

.a {
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
	border-right: 0;
	color: $black;
	margin: 0 -2px 0 0 !important;

	// &:hover { border-right: 1px solid rgba($black, 0.3); }
}

.middle-button {
	border-radius: 0 !important;
	margin: 0 -1px !important;
}

.b {
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
	border-left: 0;
	margin: 0 0 0 -2px !important;

	// &:hover { border-left: 1px solid rgba($black, 0.3); }
}

.branded {
	background-color: $slate !important;
	color: $white !important;
}

.red {
	background-color: $red !important;
	//background-image: linear-gradient(to bottom, saturate($red, 100%), darken($red, 10%)) !important;
	color: $white !important;
}

.red-02 {
	background-color: $red !important;
	border: 1px solid $red !important;
	color: $white !important;
}

.orange {
	background-color: $orange !important;
	background-image: linear-gradient(to bottom, saturate($orange, 100%), darken($orange, 10%)) !important;
	color: $white !important;
}

.yellow {
	background-color: $yellow !important;
	background-image: linear-gradient(to bottom, saturate($yellow, 100%), darken($yellow, 10%)) !important;
	color: $black !important;
}

.green {
	background-color: $green !important;
	//background-image: linear-gradient(to bottom, saturate($green, 100%), darken($green, 10%)) !important;
	color: $white !important;
}

.blue {
	background-color: $blue !important;
	background-image: linear-gradient(to bottom, saturate($blue, 100%), darken($blue, 10%)) !important;
	color: $white !important;
}

.purple {
	background-color: $purple !important;
	background-image: linear-gradient(to bottom, saturate($purple, 100%), darken($purple, 10%)) !important;
	color: $white !important;
}

.slate {
	background-color: $slate !important;
	//background-image: linear-gradient(to bottom, saturate($slate, 100%), darken($slate, 10%)) !important;
	color: $white !important;
}

.gray {
	background-color: $gray !important;
	background-image: linear-gradient(to bottom, saturate($gray, 100%), darken($gray, 10%)) !important;
	color: $black !important;
}

.outline {
	background-color: transparent !important;
	border: 1px solid rgba($black, 0.3) !important;
	color: $white !important;
}

.blank {
	background-color: transparent !important;
	border: none !important;
	color: $white !important;
}

.transparent {
	background-color: rgba($white, 0.3) !important;
	color: $black !important;
}

.transparent-ii {
	background-color: transparent !important;
	border: 1px solid $white !important;
	border-radius: 5px !important;
	color: $white !important;
}

.brand-i {
	background-color: transparent !important;
	border: 1px solid rgba($slate, 0.4) !important;
	color: $slate !important;
	&:hover {
		background-color: $slate !important;
		color: $white !important;
	}
}

.brand-iii {
	background-color: rgba($white, 0.9) !important;
	border: 1px solid rgba($slate, 0.4) !important;
	color: $slate !important;
	&:hover {
		background-color: $slate !important;
		color: $white !important;
	}
}

.brand-ii {
	background-color: transparent !important;
	border: 1px solid $slate !important;
	color: $slate !important;
	&:hover {
		background-color: $slate !important;
		color: $white !important;
	}
}

.brand-blue {
	background-color: #0B486B !important;
	color: $white !important;
}

.white {
	background-color: rgba(white, 0.85) !important;
	color: $black !important;
	&:hover {
		background-color: $slate !important;
		color: $white !important;
	}
}

.white-border {
	background-color: transparent !important;
	border: 1px solid rgba($white, 0.5) !important;
	color: $white !important;
	&:hover {
		background-color: $slate !important;
		border: 1px solid rgba($slate, 1) !important;
		color: $white !important;
	}
}

.fb-btn {
	background-color: $facebook !important;
	// background-image: linear-gradient(to bottom, saturate($facebook, 100%), darken($facebook, 10%)) !important;
	color: $white !important;
}

.gplus-btn {
	background-color: $google !important;
	// background-image: linear-gradient(to bottom, saturate($google, 100%), darken($google, 10%)) !important;
	color: $white !important;
}

.appreciate {
	width: 100px; height: 90px;
	position: relative;

	span {
		color: $white;
		cursor: default;
		display: block;
		position: absolute;
		text-align: center;
		top: 40%;
		transform: translateY(-40%);
		width: 100px;
		z-index: 1;

		-o-transform: translateY(-40%);
		-ms-transform: translateY(-40%);
		-moz-transform: translateY(-40%);
		-webkit-transform: translateY(-40%);
	}

	&:before, &:after {
		width: 50px; height: 80px;
		top: 0; left: 50px;

		background-color: $slate;
		border-radius: 50px 50px 0 0;
		content: "";
		position: absolute;
		transform: rotate(-45deg);
		transform-origin: 0 100%;

		-o-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);

		-o-transform-origin: 0 100%;
		-ms-transform-origin: 0 100%;
		-moz-transform-origin: 0 100%;
		-webkit-transform-origin: 0 100%;
	}

	&:after {
		left: 0;
		transform: rotate(45deg);
		transform-origin: 100% 100%;

		-o-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);

		-o-transform-origin: 100% 100%;
		-ms-transform-origin: 100% 100%;
		-moz-transform-origin: 100% 100%;
		-webkit-transform-origin: 100% 100%;
	}
}
