/*********************************************************************************** DIMENSIONS/SCSS **/

#dimension-panel {
	#g-menu-toggle { z-index: 2; }

	canvas {
		opacity: 0.7;
		z-index: 1;
	}

	canvas, img {
		top: 0; left: 0;
		position: absolute;
	}

	.dimension-info {
		width: 100%; height: auto;
		top: 40%; left: 0;

		position: absolute;
		text-shadow: 0 1px 3px rgba($black, 0.7);
		z-index: 2;
	}

	h2, p {
		color: $white;
		padding: 0 2rem;
	}

	h2 { font-weight: 600; }
	p { line-height: 1.2em; }
}

#dimensions-landing-bg	{ background-color: $slate; }
#pulse-portal-bg				{ background-color: $red; }
#art-portal-bg					{ background-color: $orange; }
#wow-portal-bg					{ background-color: $yellow; }
#life-portal-bg					{ background-color: $green; }
#flow-portal-bg					{ background-color: $blue; }
#wonder-portal-bg				{ background-color: $purple; }
