/**************************************************************************************** FONTS/SCSS **/

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Poly:400,400italic);

/** [-] Icons *****************************************************************************************/

@font-face {
	font-family: "icomoon";
	font-style: normal;
	font-weight: 400;

	src: local("☺"), url("../font-face/icomoon.svg#icomoon") format("svg");
	src: url("../font-face/icomoon.eot"),
			 url("../font-face/icomoon.eot?#iefix") format("embedded-opentype"),
			 url("../font-face/icomoon.ttf") format("truetype"),
			 url("../font-face/icomoon.woff") format("woff");
}
