
////////////////////////////////////////////////////////////////////////////////////// LANDING/SCSS ///

body.landing {

	text-align: center;

	.super-wrapper {
		background-image: none !important;
		padding: 12%;

		&:after {
			width: 100%; height: 100%;
			top: 0; right: 0;
			bottom: 0; left: 0;

			background-color: transparent;
			background: rgba($black, 0.8);
			content: "";
			opacity: 1;
			position: absolute;
			z-index: 0;
		}
	}

	#beta {
		color: white;
		font-size: 1rem;
		font-weight: 100;
		opacity: 0.8;
		position: absolute;
		text-align: right;
		top: -10px; right: 1rem;
		z-index: 10;
	}
	
	#gapelia, h4, .wrapper, footer { z-index: 1; }

	#gapelia {
		width: 100%; height: 28%;

		background-image: url("/static/images/folio-logo.png");
		//background-position: -16px -360px;
		background-repeat: no-repeat;
		//background-size: 240px 540px;
		left: 42.35%;
		margin: 0 auto;
		position: relative;

		@include hide-text;
	}

	h4 {
		border-bottom: 1px solid rgba($white, 0.25);
		color: rgba($white, 0.85);
		font-weight: 700;
		margin: 0 auto;
		padding: 0 0 1rem 0;
		position: relative;
		width: 40%;
	}

	img {
		display: block !important;
		left: 0; top: 0;
		height: auto; width: 100%;
		position: absolute;
	}
	
	.wrapper {
		margin: 1rem 0 0 0;
		position: relative;

		button {
			display: block;
			font-size: 0.8rem;
			letter-spacing: 0.03rem;
			margin: 1rem auto !important;
			text-transform: none;
			width: 190px;
		}
	}

	footer {
		width: 100%; height: auto;
		bottom: 1.5rem; left: 0;

		font-weight: 100;
		position: absolute;
		text-align: center;

		ul {
			li {
				display: inline-block;
				margin: 0 1.5rem 0 0;

				a {
					color: $white;
					font-weight: 500;
				}

				&:last-child { margin: 0; }
			}
		}
	}
	
	//404 error//
	h5 {
		color: $white;
		font-size: 3rem;
		font-weight: 100;
		line-height: 4rem;
		margin: 0 auto;
		padding: 0 0 1rem 0;
		position: relative;
		top: 15%;
		width: 100%;
		z-index: 1;
		
		a {
			border-bottom: 1px solid rgba($white, 0.8);
			color: $white;
			display: inline !important;
		}
	}
	
	.error {
		color: $white;
		font-size: 2rem;
		font-weight: 100;
		margin: 0;
		opacity: 1;
	}

}
