
////////////////////////////////////////////////////////////////////////////////////// LIBRARY/SCSS ///

body.library {

	#nav-wrapper { z-index: 1; }

	.book, .library {
		.wrapper { width: 100%; }
	}

	#featured-panel {
		overflow: initial;

		h4 {
			top: 0.55rem; left: 6rem;

			// color: $white;
			// display: none;
			opacity: 0;
			position: absolute;
			transition: opacity 5s ease;
			width: 800px;
		}
	}

	#stay-right {
		top: 0; right: 0;

		display: inline-flex;
		margin: 1.5rem 1rem 0 0;
		position: absolute;

		li {
			display: inline-block;
			margin: 0;
			text-align: right;

			a { padding: 0 1rem; }

			&:first-child { margin: 0 1rem 0 0; }

			ul {
				top: initial; right: 0 !important;

				background-color: $white;
				border-bottom-left-radius: 5px;
				border-bottom-right-radius: 5px;
				display: none;
				position: relative;
				width: auto;

				li {
					display: block;
					padding: 0.5rem 1rem;

					a {
						color: rgba($black, 0.95);
						padding: 0;
					}
					
					&:first-child {
						margin: 0; padding-top: 1rem;
					}

					&:last-child { padding-bottom: 1rem; }
				}
			}
		}
	}

	.book-list-wrapper {
		section {
			width: 100%; height: 100%;

			p {
				font-size: 1.3rem;
				line-height: 1.8rem;
				margin: 0 auto;
				text-align: center;
				width: 60%;
			}
		}
	}

	.book-buttons {
		top: 0; right: 0;

		padding: 1rem;
		position: absolute;
		z-index: 1;

		.approve-this-book, .deny-this-book {
			width: 32px !important; height: 32px !important;

			color: $white;
			display: inline-block !important;
			@include icon;
			font-size: 1.5rem;
			line-height: 2rem;
			padding: 0;
			text-align: center;
			transition: text-shadow 0.2s ease;

			&:hover { opacity: 1; }
		}

		.approve-this-book {
			text-shadow: 0 0 0.13rem $green !important;
			&:hover { text-shadow: 0 0 3rem $green !important; }
		}

		.deny-this-book {
			text-shadow: 0 0 0.13rem $red !important;
			&:hover { text-shadow: 0 0 3rem $red !important; }
		}
	}

}
