
////////////////////////////////////////////////////////////////////////////// LIBRARY.MANAGER/SCSS ///

body.library-manager {

	#nav-wrapper { z-index: 1; }
	
	#featured-nav {
		
		.glass {
			margin-top: 8rem;
			margin-left: 3.5rem;
			opacity: 0.3;
			position: absolute !important;
		}	
			
		.typeahead {
			border-bottom: 1px solid rgba(89, 179, 166, 0.39) !important;
			border-radius: 0;
			color: #59B3A6;
			font-size: 2rem !important;
			height: auto; width: 600px;
			left: -4rem;
			opacity: 1;
			position: absolute !important;
			top: 6rem;
			z-index: 10;
		}
		
		.tt-dropdown-menu {
			left: 1.25rem !important;
			top: 9rem !important;
		}
		
		.suggested-libs {
			margin-left: 24%;
			max-height: 400px;
			overflow: hidden;
			overflow-y: scroll;
			position: absolute;
			top: 13rem;
			width: 45%;
			
			
			#suggested-lib-list {
				font-size: 1rem !important;
				line-height: 1.25 !important;
				opacity: 0.9 !important;
				padding-right: 60px;
				
				a {
					color: black;
					font-weight: 700;
					margin-right: 1rem;
					opacity: 0.9;	
				}
				
				li {
					display: block;
					height: 80px;
					margin-top: -1rem !important;
					
					&:first-child { margin-top: 1px !important; }
				}
				
				.lib-blurb {
					position: relative;
					top: -3.5rem; left: 5rem;
				}
				
				h3 {
					color: #59B3A6;
					font-size: 1.25rem;
					line-height: 34px;
					margin: 0 0 20px 0;
				}
			}
			
			span {
				font-size: 1rem !important;
				line-height: 1.25 !important;
				opacity: 0.9 !important;
			}
		}
	}

	.book, .library {
		.wrapper { width: 100%; }
	}

	.library-buttons {
		top: 0; right: 0;

		padding: 1rem;
		position: absolute;
		z-index: 1;

		.delete-this-library, .edit-this-library {
			width: 32px !important; height: 32px !important;

			color: $white;
			display: inline-block !important;
			@include icon;
			font-size: 1.5rem;
			line-height: 2rem;
			padding: 0;
			text-align: center;
			text-shadow: 0 0 0.13rem $black !important;
		}
		
		.delete-this-library { opacity: 0.85; }
		.edit-this-library {
			font-size: 26px;
			font-weight: bolder;
		}
	}

	.delete-library-confirm {
		width: 100%; height: 100%;

		background: linear-gradient(180deg, #47565f 0%, #5b625a 15%, #947461 38%, #f98056 70%, #f7ec86 100%);
		color: $white;
		padding: 4rem 2rem;
		position: relative;
		text-align: center;
		// top: 100%;
		transition: all 0.2s ease;
		z-index: 2;

		h3 { margin: 8rem 0 0 0; }
	}
	
	.library-list-wrapper, .subscription-list-wrapper { z-index: 0; }

	#no-libraries {
		opacity: 0.8;
		padding: 12rem 10rem 10rem 16rem;
		
		.back-libs {
			color: $slate;
			opacity: 0.75;
		}
	}
	
	#stay-right {
		top: 0; right: 0;

		display: inline-flex;
		margin: 1.2rem 1rem 0 0;
		position: absolute;
	}
	
	::-webkit-scrollbar {
		display: block !important;
		width: 3px !important;
	}

}
