
////////////////////////////////////////////////////////////////////////////// LIBRARY.MANAGER/SCSS ///

body.library-manager {

	#nav-wrapper { z-index: 1; }

	.book, .library {
		.wrapper { width: 100%; }
	}

	#stay-right {
		top: 0; right: 0;

		display: inline-flex;
		margin: 1rem 1rem 0 0;
		position: absolute;
	}

}
