
///////////////////////////////////////////////////////////////////////////////////////// MENU/SCSS ///

.super-wrapper {
	height: 100%;
	left: 0;
	position: relative;
}

.mp-menu {
	width: 300px; height: 100%;
	top: 0; left: 0;

	background-color: $slate;
	position: absolute;
	transform: translate3d(-100%, 0, 0);
	z-index: 2 !important;

	-o-transform: translate3d(-100%, 0, 0);
	-ms-transform: translate3d(-100%, 0, 0);
	-moz-transform: translate3d(-100%, 0, 0);
	-webkit-transform: translate3d(-100%, 0, 0);

	a { color: $white; }

	.mp-level {
		width: 100%; height: 100%;
		top: 0; left: 0;

		overflow-y: auto;
		position: absolute;
		transform: translate3d(-100%, 0, 0);

		-o-transform: translate3d(-100%, 0, 0);
		-ms-transform: translate3d(-100%, 0, 0);
		-moz-transform: translate3d(-100%, 0, 0);
		-webkit-transform: translate3d(-100%, 0, 0);
	}
}

// Overlays for pusher and for level that gets covered
.super-wrapper::after, .mp-level::after, .mp-level::before {
	width: 0; height: 0;
	top: 0; right: 0;

	content: "";
	opacity: 0;
	position: absolute;
}

.super-wrapper::after, .mp-level::after {
	background-color: rgba($black, 0.7);
	transition: width 0.1s 0.3s, height 0.1s 0.3s, opacity 0.3s;
}

.mp-level::after { z-index: -1; }

// Open menu
.super-wrapper.mp-pushed {

	#g-menu-toggle { color: $white !important; } // stop changing this, white is the only color that makes sense

	#featured-panel, #user-panel { z-index: 0; }

	.book-info, .collection-info, .library-info, .new-inner-wrapper, .portal-info, canvas, .add-this, .wrapper,
	.user-avatar, .user-data, .button-wrapper, #the-book, .book-title {
		transition: all 0.2s ease;
		z-index: 0 !important;
	}

	.featured-info, .bookmark-this, #bb-nav-prev, #bb-nav-next, #header-toggle, #next-book-toggle {
		opacity: 0.1;
		transition: all 0.2s ease;
	}

}

.super-wrapper.mp-pushed::after, .mp-level.mp-level-overlay::after {
	width: 100%; height: 100%;

	opacity: 1;
	transition: opacity 0.3s;
}

.mp-level.mp-level-overlay { cursor: pointer; }

.mp-level.mp-level-overlay.mp-level::before {
	width: 100%; height: 100%;

	background: transparent;
	opacity: 1;
}

.super-wrapper, .mp-level { transition: all 0.5s ease; }

// First Level
.mp-menu, .mp-menu.mp-overlap {
	.mp-level, .mp-level.mp-level-open {
		box-shadow: none;
		transform: translate3d(0, 0, 0);

		-o-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-webkit-transform: translate3d(0, 0, 0);
	}
}

.mp-menu {
	ul {
		margin: 1rem 0 0 0; padding: 0;

		list-style: none;
		overflow: hidden;

		li {
			position: relative;

			&:before {
				color: rgba($black, 0.2);
				left: 10px;
				line-height: 3.5;
				position: absolute;
				z-index: -1;
			}

			a {
				display: block;
				font-size: inherit;
				outline: none;
				padding: 0.7rem 1.5rem;
				text-shadow: 0 0 1px rgba($white, 0.1);

				&:hover { background-color: rgba($black, 0.2); }
			}

			.icon {
				top: 0; right: 0;

				font-size: 1.1rem;
				height: auto;
				padding: 0.515rem 1.5rem;
				position: absolute;
			}

			.notif-count {
				@include sans;
				font-size: 0.85rem;
				padding: 0.7rem 1.5rem;
			}

			/*
			#gpl-menu-me, #gpl-menu-notify, #gpl-menu-create, #gpl-menu-drafts {
				cursor: default;
				@include serif;
				font-style: italic;

				&:hover { opacity: 1; }
			}

			#gpl-menu-me {
				border-top: 1px solid rgba($black, 0.1);

				&:hover {
					border-top: 1px solid rgba($black, 0.001);
					// &:after { content: ", so beautiful"; }
				}
			}

			#gpl-menu-notify {
				&:hover {
					// &:after { content: "\00a0\00b7\00a0 Well, *you're* popular!"; }
				}
			}

			#gpl-menu-create {
				&:hover {
					// &:after { content: "\00a0something great!"; }
				}
			}

			#gpl-menu-drafts {
				&:hover {
					// &:after { content: "\00a0\00b7\00a0 Continue?"; }
				}
			}
			*/

			ul {
				width: 100%; height: 0.001%;

				background-color: rgba($black, 0.5);
				display: none;
				color: $white;
				margin: 0;

				li {
					font-size: inherit;
					padding: 0.7rem 1.5rem;
					position: relative;

					&:hover {
						background-color: $white;
						opacity: 1;

						a { color: $slate; }
					}

					a {
						margin: 0; padding: 0;

						border: 0;
						box-shadow: none !important;
						font-size: inherit;

						&:hover {
							background-color: inherit !important;
							box-shadow: none !important;
							opacity: 1 !important;
						}
					}

					.delete-draft {
						margin: 0.7rem 0 0 -24px; padding: 0.3rem 1.5rem;

						background-color: $black;
						color: $white;
						display: none;
						position: absolute;
						width: 300px;
					}
				}
			}

			#draft-menu {
				li {
					// padding: 0.7rem 1.5rem 0 1.5rem;

					&:hover {
						.dd-link {
							color: $white;
							right: 0;
						}
					}

					.dd-link {
						width: 50px; height: 100%;
						top: 0; right: -50px;

						background-color: $red;
						font-size: 2rem;
						padding: 0.2rem;
						position: absolute;
						text-align: center;
						transition: all 0.2s ease;

						&:hover { color: $red; }
					}
				}

				.a { margin: 0 0 0 2.5rem !important; }
			}
		}
	}

	.mp-level.mp-level-overlay {
		.mp-back, .mp-back:after {
			background-color: transparent;
			box-shadow: none;
			color: transparent;
		}
	}
}
