/*************************************************************************************** MODAL/SCSS **/

/** Default Styling **********************************************************************************/

@keyframes vex-fadein {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@-o-keyframes vex-fadein {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@-ms-keyframes vex-fadein {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@-moz-keyframes vex-fadein {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@-webkit-keyframes vex-fadein {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes vex-fadeout {
	0% { opacity: 1; }
	100% { opacity: 0; }
}

@-o-keyframes vex-fadeout {
	0% { opacity: 1; }
	100% { opacity: 0; }
}

@-ms-keyframes vex-fadeout {
	0% { opacity: 1; }
	100% { opacity: 0; }
}

@-moz-keyframes vex-fadeout {
	0% { opacity: 1; }
	100% { opacity: 0; }
}


@-webkit-keyframes vex-fadeout {
	0% { opacity: 1; }
	100% { opacity: 0; }
}

@keyframes vex-rotation {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(359deg); }
}

@-o-keyframes vex-rotation {
	0% { -o-transform: rotate(0deg); }
	100% { -o-transform: rotate(359deg); }
}

@-ms-keyframes vex-rotation {
	0% { -ms-transform: rotate(0deg); }
	100% { -ms-transform: rotate(359deg); }
}

@-moz-keyframes vex-rotation {
	0% { -moz-transform: rotate(0deg); }
	100% { -moz-transform: rotate(359deg); }
}

@-webkit-keyframes vex-rotation {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(359deg); }
}

/*
@-o-keyframes vex-pulse, @-ms-keyframes vex-pulse,
@-moz-keyframes vex-pulse, @-webkit-keyframes vex-pulse
*/

@keyframes vex-pulse {
	0% { box-shadow: inset 0 0 0 300px transparent; }
	70% { box-shadow: inset 0 0 0 300px rgba($white, 0.25); }
	100% { box-shadow: inset 0 0 0 300px transparent; }
}

.vex, .vex *, .vex *:before, .vex *:after { box-sizing: border-box; }

.vex {
	top: 0; right: 0;
	bottom: 0; left: 0;

	overflow: auto;
	position: fixed;
	z-index: 1111;

	-webkit-overflow-scrolling: touch;
}

.vex-overlay {
	width: 100%; height: 100%;

	top: 0; right: 0;
	bottom: 0; left: 0;

	animation: vex-fadein 0.5s;
	background: rgba($black, 0.4);
	
	position: fixed;

	-o-animation: vex-fadein 0.5s;
	-ms-animation: vex-fadein 0.5s;
	-moz-animation: vex-fadein 0.5s;
	-webkit-animation: vex-fadein 0.5s;
	-webkit-backface-visibility: hidden;
}

.vex.vex-closing .vex-overlay {
	animation: vex-fadeout 0.5s;

	-o-animation: vex-fadeout 0.5s;
	-ms-animation: vex-fadeout 0.5s;
	-moz-animation: vex-fadeout 0.5s;
	-webkit-animation: vex-fadeout 0.5s;
	-webkit-backface-visibility: hidden;
}

.vex-content {
	animation: vex-fadein 0.5s;
	background: $white;

	-o-animation: vex-fadein 0.5s;
	-ms-animation: vex-fadein 0.5s;
	-moz-animation: vex-fadein 0.5s;
	-webkit-animation: vex-fadein 0.5s;
	-webkit-backface-visibility: hidden;
}

.vex.vex-closing .vex-content {
	animation: vex-fadeout 0.5s;

	-o-animation: vex-fadeout 0.5s;
	-ms-animation: vex-fadeout 0.5s;
	-moz-animation: vex-fadeout 0.5s;
	-webkit-animation: vex-fadeout 0.5s;
	-webkit-backface-visibility: hidden;
}

.vex-close:before {
	content: "\00D7";
	font-family: Arial, sans-serif;
}

.vex-dialog-form { margin: 0; }

.vex-dialog-button {
	cursor: pointer;
	-webkit-appearance: none;
}

.vex-loading-spinner {
	width: 2em; height: 2em;
	top: 0; right: 0;
	bottom: 0; left: 0;

	animation: vex-rotation 0.7s linear infinite;
	background: $white;
	box-shadow: 0 0 1em rgba($black, 0.1);
	margin: auto;
	position: fixed;
	z-index: 1112;

	-o-animation: vex-rotation 0.7s linear infinite;
	-ms-animation: vex-rotation 0.7s linear infinite;
	-moz-animation: vex-rotation 0.7s linear infinite;
	-webkit-animation: vex-rotation 0.7s linear infinite;

	-moz-box-shadow: 0 0 1em rgba($black, 0.1);
	-webkit-backface-visibility: hidden;
	-webkit-box-shadow: 0 0 1em rgba($black, 0.1);
}

body.vex-open { overflow: hidden; }

/** Wireframe Theme **********************************************************************************/

.vex-theme-wireframe {
	padding: 80px 0; /* 160px */

	.vex-content {
		margin: 0 auto; padding: 2em;

		background: $white;
		border: 2px solid $black;
		color: $black;
		/* font-size: 1.1em; */
		/* line-height: 1.5em; */
		position: relative;
		width: 600px; /* 400px */ max-width: 100%;
	}

	/* .vex-overlay { background: rgba($white, 0.4); } */

	.vex-close {
		top: 0; right: 0;

		cursor: pointer;
		position: absolute;

		&:before {
			width: 80px; height: 80px;
			top: 3px; right: 3px;

			color: $black;
			content: "\00D7";
			font-size: 40px;
			font-weight: normal;
			line-height: 80px;
			position: absolute;
			text-align: center;
		}
		
		&:hover, &:active {
			&:before { color: $black; }
		}
	}

	.vex-dialog-form {
		.vex-dialog-message { margin-bottom: 0.5em; }
		.vex-dialog-input { width: 100% !important; }

		/*
		.vex-dialog-input {
			margin-bottom: 1em;

			textarea,
			input[type="text"],
			input[type="password"],
			input[type="email"],
			input[type="url"] {
				width: 100%; min-height: 2.5em;
				margin: 0 0 0.25em; padding: 0.25em 0.67em;

				background: $white;
				border: 2px solid $black;
				font-family: inherit;
				font-size: inherit;
				font-weight: inherit;

				&:focus {
					border-style: dashed;
					outline: none;
				}
			}
		}
		*/

		.vex-dialog-buttons {
			display: none; /***/
			*zoom: 1;

			&:after {
				clear: both;
				content: "";
				display: table;
			}
		}
	}

	.vex-dialog-button {
		margin: 0 0 0 0.5em; padding: 0.75em 2em;

		border: 0;
		float: right;
		font-family: inherit;
		font-size: 0.8em;
		letter-spacing: 0.1em;
		line-height: 1em;
		text-transform: uppercase;

		&:focus {
			animation: vex-pulse 1.1s infinite;
			outline: none;

			-o-animation: vex-pulse 1.1s infinite;
			-ms-animation: vex-pulse 1.1s infinite;
			-moz-animation: vex-pulse 1.1s infinite;
			-webkit-animation: vex-pulse 1.1s infinite;

			-webkit-backface-visibility: hidden;
		}
	}

	.vex-last { margin-left: 0; }

	.vex-dialog-button-primary {
		background: $black;
		border: 2px solid transparent;
		color: $white;
	}

	.vex-dialog-button-secondary {
		background: $white;
		border: 2px solid $black;
		color: $black;
	}
}

.vex-loading-spinner.vex-theme-wireframe {
	width: 2.5em; height: 2.5em;
}

/** Default Styling **********************************************************************************/

body.demo-start .page, body.page-intro .page {
	opacity: 0;
	z-index: 0;
}

.page {
	width: 40em; max-width: 100%; height: 36em;
	top: 0; left: 0;
	bottom: 0; right: 0;

	margin: auto;
	position: fixed;
	text-align: center;
	transition: opacity 1s;
	z-index: 50;

	-webkit-transition: opacity 1s;

	/*
	h1 {
		font-size: 110px;
		font-weight: 100;
		margin: 40px 0;
	}

	h2 {
		font-size: 2.5em;
		font-weight: 100;
		margin: 1em 0;
	}

	p { margin: 1em 0; }

	a {
		border: 2px solid $black;
		color: $black;
		cursor: pointer;
		display: inline-block;
		font-weight: 500;
		letter-spacing: 3px;
		line-height: 1.3em;
		padding: 1em 1.25em;
		text-decoration: none;
		text-transform: uppercase;
		width: 140px;
	}
	*/

}

.stack {
	width: 640px; max-width: 100%; height: 850px;
	top: 0; left: 0;
	bottom: 0; right: 0;

	color: $black;
	margin: 0 auto;
	position: absolute;
	text-align: center;
	transition: opacity 1s;

	-webkit-perspective: 700px;
	-webkit-perspective-origin: 320px 700px;

	-o-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-webkit-transition: opacity 1s;
}

@-moz-document url-prefix() {
	.stack { height: 640px; }
}

.vex.vex-theme-flat-attack.vex-theme-flat-attack-demo {
	overflow: hidden;

	.vex-content {
		font-weight: 400;

		h1 {
			font-size: 60px;
			font-weight: 100;
			line-height: 1.2em;
			margin: 0;
		}

		h2 {
			font-weight: 100;
			font-size: 40px;
			line-height: 1.2em;
			margin: 0;

			u {
				font-weight: 300;
				text-decoration: none;
			}
		}
	}

	.vex-dialog-form {
		.vex-dialog-buttons {
			margin: 0 -1em -2em -2em; padding-top: 1em;

			.vex-dialog-button {
				font-size: 2em;
				font-weight: 300;
			}
		}
	}
}

.vex.vex-theme-stack-demo { overflow: hidden; }
.vex.vex-theme-stack-demo.vex-theme-os .vex-dialog-message { padding: 1em; }
.vex.vex-theme-stack-demo.vex-theme-wireframe .vex-overlay, .vex.vex-theme-stack-demo.vex-theme-os .vex-overlay { display: none; }

.vex.vex-theme-stack-demo.vex-theme-flat-attack.vex-theme-flat-attack-green .vex-overlay {
	top: 80px; bottom: 270px;

	background: #34b989;
	display: block;
}

.vex.vex-theme-stack-demo .vex-content {
	font-weight: 400;
	width: 600px;
}

.vex.vex-theme-stack-demo .vex-dialog-message {
	height: 320px;
	padding-top: 1em;
	text-align: left;
}

.vex.vex-theme-stack-demo.vex-closing { -webkit-transform: translate3d(0, 200px, 200px); }

.stack {
	> .vex { -webkit-transition: -webkit-transform 0.7s; }

	> .v0 { -webkit-transform: translate3d(0, 0, 0); }
	> .v1 { -webkit-transform: translate3d(0, -200px, -200px); }
	> .v2 { -webkit-transform: translate3d(0, -400px, -400px); }
	> .v3 { -webkit-transform: translate3d(0, -600px, -600px); }
	> .v4 { -webkit-transform: translate3d(0, -800px, -800px); }
}

.button {
	margin: 0 20px 20px 0; padding: 8px 18px 6px;

	background: $black;
	color: $white;
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
}

.reveal {
	opacity: 0;
	transition: opacity 1s 0.3s;

	-o-transition: opacity 1s 0.3s;
	-moz-transition: opacity 1s 0.3s;
	-webkit-transition: opacity 1s 0.3s;
}

.v0 {
	.reveal { opacity: 1; }
}

/***************************************************************************** CUSTOM MODAL STYLING **/

#publish-book-modal, #save-book-modal {
	.md-content { background-color: $green; }
}

#publish-book-modal ~ .md-overlay { background-color: rgba($green, 0); }
#save-book-modal ~ .md-overlay { background-color: rgba($green, 0); }

#delete-modal, #delete-book-modal {
	.md-content { background-color: $red; }
}

#delete-modal ~ .md-overlay { background-color: rgba($black, 0.8); }
#delete-book-modal ~ .md-overlay { background-color: rgba($black, 0.8); }
