
////////////////////////////////////////////////////////////////////////////////////// OVERLAY/SCSS ///

.overlay {
	width: 100%; height: 100%;
	top: 0; left: 0;

	background: linear-gradient(135deg, #8dd6c3 6%, #c5e5e2 40%, #eafaeb 70%, #f9f7ca 88%, #fceea1 100%);
	// background-color: $white;
	color: rgba($black, 0.95);
	padding: 2rem;
	position: fixed;
	transform: translateY(100%);
	transition: transform 0.5s, visibility 0s 0.5s;
	visibility: hidden;
	z-index: 100;

	-o-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-webkit-transform: translateY(100%);

	-o-transition: -o-transform 0.5s, visibility 0s 0.5s;
	-moz-transition: -moz-transform 0.5s, visibility 0s 0.5s;
	-webkit-transition: -webkit-transform 0.5s, visibility 0s 0.5s;

	// a { border-bottom: 3px solid $black; }

	/*
	.overlay-close {
		width: auto; height: auto;
		top: 3rem; right: 4rem;

		border-bottom: 0;
		@include icon;
		font-size: 5rem;
		position: fixed;
		z-index: 100;
	}
	*/

	.overlay-controls {
		top: 2rem; right: 2rem;

		position: fixed;
		z-index: 100;

		.overlay-close {
			font-size: 0.8rem;
			padding: 0.2rem 0.5rem;
		}

		.oc-01 { margin: 0 1rem 0 0; }

		.oc-02 {
			background-color: $black;
			color: $white;
		}
	}

	section {
		width: auto; height: 0;

		position: relative;
		top: 20%;

		h2 {
			margin: 0 0 1rem 0;
			text-align: center;
		}

		[contenteditable] {
			width: 500px; height: auto;
			margin: 0 auto 1rem; padding: 10px 15px;

			background-color: #fff;
			// border: 1px solid rgba($black, 0.1);
			border-radius: 5px;

			&:last-child { margin: 0 auto; }
		}

		#create-library-desc { height: 200px; }

		p { cursor: default; }
	}
}

.overlay.open {
	transform: translateY(0%);
	transition: transform 0.5s;
	visibility: visible;

	-o-transform: translateY(0%);
	-moz-transform: translateY(0%);
	-webkit-transform: translateY(0%);

	-o-transition: -o-transform 0.5s;
	-moz-transition: -moz-transform 0.5s;
	-webkit-transition: -webkit-transform 0.5s;
}

#delete-account-overlay {
	background: linear-gradient(135deg, #47565f 0%, #5b625a 15%, #947461 38%, #f98056 70%, #f7ec86 100%);
	color: $white;

	section {
		text-align: center;

		h1 { text-transform: uppercase; }

		p {
			font-size: 1.5rem;
			line-height: 2rem;
			margin: 0 auto 2rem;
			width: 65%;

			.overlay-close {
				font-size: 1rem;
				padding: 0.2rem 0.5rem;
			}

			.oc-01 { margin: 0 1rem 0 0; }
		}

		strong { font-style: italic; }
	}
}
