
////////////////////////////////////////////////////////////////////////////////////// PROFILE/SCSS ///

.profile {

	.wrapper {
		text-align: center;
		width: 100%;
	}

	#user-panel, #book-scroller { transition: width 0.1s ease; }

	// Start User Code
	#user-panel {
		color: rgba(black, 0.9);
		width: 80%;

		#g-menu-toggle {
			background-image: url("../images/folio-icon-solid.png") !important;
			color: transparent !important;
			left: 0.7rem;
			width: 9.5%;
		}
		
		.button-wrapper {
			bottom: 5%;
			position: absolute;
			text-align: center;
			width: 100%;
			z-index: 1;
		}
	}

	#user-book-list {
	}

	#user-wrapper { display: none; } //

	.user-bg {
		width: 100%; height: 100%;
		overflow: hidden;

		img {
			width: auto; height: 100%;
		}
	}

	.user-avatar, .user-data {
		position: absolute;
		z-index: 1;
	}

	.user-avatar {
		width: 100%; height: auto;

		text-align: center;
		top: 25%;

		.avatar-wrapper {
			width: 150px; height: 150px;

			margin: 0 auto;
			position: relative;

			&:after {
				width: 150px; height: 150px;
				top: 0; left: 0;
				bottom: 0; right: 0;

				box-shadow: inset 0 0 1px rgba($black, 0.5),inset 0 20px 50px 0 rgba($black, 0.95);
				border-radius: 300rem;
				content: "";
				margin: 0 auto;
				opacity: 0.3;
				position: absolute;
			}
		}

		img {
			width: 100%; height: 100%;

			border: 1px solid rgba($black, 0.05);
			border-radius: 300rem;
		}
	}

	.user-data {
		width: 100%; height: auto;

		bottom: 26.5%;
		// color: $white !important;
		color: rgba($black, 0.9);

		h2, ul, span { text-align: center; }

		h2 { margin: 0 0 -0.15rem 0; }

		ul {
			margin: 1rem 0;

			li {
				display: inline-block;

				&:after {
					content: " |";
				}

				&:last-child {
					&:after { content: ""; }
				}
			}
		}

		#user-bio {
			margin: 0 0 1rem 0; padding: 1rem;

			background-color: transparent;
			display: block;
			line-height: 1.25em;
			transition: all 0.2s ease;
		}

		button {
			margin: 0 auto; padding: 0.5rem 1rem;

			background-color: $slate;
			border: 0;
			border-radius: 300rem;
			color: $white;
			cursor: pointer;
			font-weight: 300;
			letter-spacing: 0.1em;
			text-transform: uppercase;
			transition: all 0.2s ease;

			&:hover { padding: 0.5rem 1.5rem; }
		}
	}

	#user-header {
		color: rgba(59, 134, 134, 0.5) !important;
		display: inherit;
		font-size: 1.4rem;
		font-weight: 700;
		font-style: italic;
		line-height: 3.5rem;
		opacity: 0.001;
		padding: 0 14rem;
		text-align: center;
		transition: opacity 0.5s ease;

		@include ellipsis;
		
		&:before {
			content: "published by";
			margin-right: 6px;
			font-weight: 100;
		} 
	}

	// End User Code

	// Splash page

	#user-splash {
		padding: 0;
		z-index: 4;

		[contenteditable] { transition: background-color 0.5s ease; }

		.user-avatar {
			position: relative;
			top: 14%;
		}

		.avatar-wrapper {
			background-size: cover;
			background-position: 50% 50%;
			background-repeat: no-repeat no-repeat;
			border: 2px solid white;
			border-radius: 300rem;

			#splash-edit-profile {
				width: auto !important; height: auto !important;
				top: 36%; right: -0.85rem;

				color: $white;
				@include icon;
				font-size: 2.5rem;
				position: absolute;
				text-shadow: 0 0 0.13rem $black !important;
				transition: all 0.5s ease;
				z-index: 2;
			}

			#splash-edit-wrapper {
				top: 3rem; right: 0;

				background-color: $slate;
				border-radius: 5px;
				font-size: 0.8rem;
				opacity: 0;
				position: absolute;
				transition: all 0.5s ease;
				width: 150px;
				z-index: -1;

				a {
					border: 1px solid rgba($black, 0.1);
					color: $white;
					display: block;
					padding: 0.5rem;

					&:first-child { border-bottom: 1px solid rgba($black, 0.1); }
					&:last-child { border-top: none; }
				}
			}
		}

		h1 { margin: 0 0 -0.5rem 0; }

		h5 {
			font-size: 1rem;
			font-weight: 100;
			margin: 0 0 1rem 0;

			a {
				border-bottom: 1px solid rgba($white, 0.5);
				display: inline-block !important;
				@include serif;
				font-style: italic;
				font-weight: 600 !important;
				margin-left: 8px;
				text-transform: lowercase;
				&:first-letter { text-transform: uppercase; }
			}
		}

		#splash-user-info {
			font-size: 2.8rem;
			font-weight: 700;
			position: relative;
			text-align: center;
			top: 33.5%;
			width: 100%;
		}

		#splash-user-bio {
			margin: 0 0 2rem 0; padding: 1rem;

			border-bottom: 1px solid rgba($white, 0.6);
			display: block;
			font-size: 1.1rem;
			font-weight: 200;
			line-height: 2.1rem;
			text-align: center;

			//&:empty:after { content: "Add bio here"; }
		}

		#close-splash {
			width: auto; height: auto;
			bottom: 1rem; 

			color: rgba($white, 0.5);
			cursor: pointer;
			@include serif;
			font-size: 1rem;
			font-style: italic !important;
			font-weight: 400;
			left: 47%;
			position: fixed;
			text-align: center;
			transition: bottom 1.3s ease, left 1.3s ease;
			z-index: 10;
		}
	}

	//

	.book-buttons {
		top: 0; right: 0;

		padding: 1rem;
		position: absolute;
		z-index: 1;

		.delete-this-book, .edit-this-book {
			width: 32px !important; height: 32px !important;

			color: $white;
			display: inline-block !important;
			@include icon;
			font-size: 1.5rem;
			line-height: 2rem;
			padding: 0;
			text-align: center;
			text-shadow: 0 0 0.13rem $black !important;
		}
		
		.delete-this-book { opacity: 0.85; }
		.edit-this-book {
			font-size: 26px;
			font-weight: bolder;
		}
	}

	.deny-book-confirm { display: none; }
	
	.delete-book-confirm {
		width: 100%; height: 100%;

		background: linear-gradient(180deg, #47565f 0%, #5b625a 15%, #947461 38%, #f98056 70%, #f7ec86 100%);
		color: $white;
		padding: 4rem 2rem;
		position: relative;
		text-align: center;
		// top: 100%;
		transition: all 0.2s ease;
		z-index: 2;

		h3 { margin: 8rem 0 0 0; }
	}

	.new-inner-wrapper {
		height: auto;
		top: 15%;

		.entypo {
			display: block;
			font-size: 20em;
			line-height: 0.6em;
			position: relative;
		}

		div {
			display: block;
			margin: 4rem 0 0 0;
		}
	}

	.collection-pages, .collection-contributors, .draft-pages,
	.library-books, .library-contributors {
		display: inline-block;
		@include serif;
		font-style: italic;
		text-transform: lowercase;

		span {
			font-style: normal;
			text-transform: none;
		}
	}

	.collection-pages, .library-books {
		&:after {
			content: "\00a0\00b7";
			font-weight: 700;
		}
	}

}

.accounts {
	
	overflow-y: hidden;

	#user-panel {
		display: block;
		position: fixed; //
		width: 96px;
	}

	#account-information {
		width: 100%; height: 100%;
		overflow-x: hidden;
	}

	.account-info-wrapper, .account-password-wrapper, .account-notifications-wrapper,
	.account-pro-wrapper, .account-billing-wrapper, .account-delete-wrapper {
		// display: inline-block;
		font-size: 1rem;
		padding: 2rem; //
		text-align: center;
		width: 100%;

		a {
			color: $slate;
			font-weight: 700;
		}

		section {
			// border-bottom: 1px solid rgba($black, 0.1);
			margin: 1rem 0 0 0;

			// &:first-child, &:last-child { margin: 0; }
			&:first-child { margin: 0; }
		}

		input, label { vertical-align: top; }

		input { margin: 0.05rem 0.4rem 1rem 0; }

		label {
			display: inline-block;
			font-size: 0.5rem;
			text-align: left;
			text-transform: uppercase;
			width: 40%;
		}

		.col-0, .col-1, .col-2, .col-3 {
			float: left;
			padding: 0 1rem 0 0;

			.bl_form {
				input {
					color: rgba($black, 0.8);
					width: 100%;
				}
			}

			&:last-child { margin: 0; }
			// &:last-child { margin-left: 30%; }
		}

		.col-0 {
			width: 100%;

			.bl_form {
				.lb_wrap {
					// margin: 0 auto;
					// text-align: center;
					width: 100%;
				}

				input {
					// display: inline-block;
					margin: 0 auto 2rem;
					width: 40%;
				}
			}
		}

		.col-1 { width: 25%; }

		.col-2 {
			width: 50%;

			.bl_form {
				input {
					// display: inline-block;
					margin: 0 1rem 2rem 0;
					width: 40%;
				}
			}
		}

		.col-3 { width: 33%; }

		// Form stuff
		.bl_form {
			input {
				margin: 1rem 0; padding: 10px 15px;

				border: 1px solid rgba($black, 0.1);
				border-radius: 5px;
				display: block;
				font-size: 0.9rem; //
				outline: none;
				width: 500px;
			}
			
			.update-user {
				background-color: $white;
				border: 1px solid rgba($slate, 0.5);
				color: $slate !important;
				margin-top: 1rem !important;
				
				a { font-weight: 100 !important; }
				
				&:hover {
					background-color: $slate;
					color: $white !important;
					
					a { display: none; }
				}
				
				&:before { content: ""; }
				
				&:hover:before {
					content: "Save changes?";
					padding: 1rem;
				}
			}	
		}

		.lb_wrap {
			display: block !important;
			height: 70px;

			.lb_label {
				color: rgba($black, 0.6);
				display: inline-block;
				font-size: 0.7rem;
				font-weight: 700;
				position: relative !important;
				text-align: center !important;
				text-transform: uppercase;
				top: -75px !important;
				width: 100%;
			}

			// .lb_label.top, .lb_label.bottom { left: 0.3rem !important; }
			.lb_label.left { left: 0; }
		}

		// .lb_label.active { color: $white; }
	}

	.account-delete-wrapper {
		color: rgba(gray, 0.8);
		font-size: 1rem;
		margin-bottom: 3rem;
		margin-left: 28%;
		margin-top: 75px;
		padding-top: 5rem;
		text-align: left;
	}

	#account-splash-wrapper {
		border-radius: 5px;
		color: $white;
		height: 250px; // 400px
		margin-bottom: 2rem;
		overflow: hidden;
		// padding: 2rem; //
		position: relative;
		text-align: center;
		top: 1em;

		&:hover {
			#account-user-splash {
				.button-wrapper { opacity: 1; }
			}
		}

		.spinner { display: none; }

		#account-user-splash {
			height: 100%;

			.button-wrapper {
				bottom: 8%;
				opacity: 0;
				position: absolute;
				transition: all 0.2s ease;
				width: 100%;
				z-index: 1;

				button:hover { padding: 0.5rem 1.5rem !important; }
			}
		}

		// .account-user-avatar, #account-splash-user-info { z-index: 1; }

		.account-avatar-wrapper {
			width: 150px; height: 150px; // width: 200px; height: 200px;

			border-radius: 300rem;
			margin: 0 auto;
			overflow: hidden;
			position: relative;

			.button-wrapper { top: 42%; }

			#account-splash-edit-profile {
				width: auto !important; height: auto !important;
				top: 38%; right: -0.71rem;

				color: $white;
				@include icon;
				font-size: 2rem;
				position: absolute;
				text-shadow: 0 0 0.13rem $black !important;
				transition: all 0.5s ease;
				z-index: 2;
			}
		}

		.account-user-avatar {
			width: 100%; height: auto;

			margin: 0; // 16% 0 0 0
			position: relative;
			text-align: center;

			img {
				width: 100%; height: auto;

				border: 1px solid rgba($black, 0.4);
				border-radius: 300rem;
				position: initial;
			}
		}

		.page-bg {
			width: 100%; height: auto;
			top: 0; left: 0;

			position: absolute;
		}
	}

	#notifications-toggle {
		margin-left: 32%;
		text-align: left;
		
		span, input {
			color: rgba(gray, 0.8);
			display: inline-block;
			font-size: 1rem;
			vertical-align: top;
		}

		span { padding: 0.5rem 2rem 0 0; }
	}

	.switchery {
		width: 50px; height: 30px;

		//background-color: $slate !important;
		border: 1px solid rgba($slate, 0.3) !important;
		border-color: $slate !important;
		border-radius: 20px;
		box-shadow: $slate 0px 0px 0px 0px inset !important;
		//box-shadow: $slate 0px 0px 0px 16px inset !important;
		cursor: pointer;
		display: inline-block;
		margin: 0 0 30px 0; //
		position: relative;
		vertical-align: middle;
	}

	.switchery > small {
		width: 28px; height: 28px;

		background-color: $white;
		//border: 1px solid rgba($slate, 0.3);
		border-radius: 100%;
		box-shadow: 1px 0px 1px rgba(89, 179, 166, 0.6);
		position: absolute;
		top: 0;
	}

}
