
////////////////////////////////////////////////////////////////////////////////////// PROFILE/SCSS ///

.profile {

	.wrapper {
		text-align: center;
		width: 100%;
	}

	#user-panel, #book-scroller { transition: width 0.1s ease; }

	// Start User Code
	#user-panel {
		color: rgba($black, 0.9);
		display: none; //

		.button-wrapper {
			bottom: 5%;
			position: absolute;
			text-align: center;
			width: 100%;
			z-index: 1;
		}
	}

	#user-wrapper { display: none; } //

	.user-bg {
		width: 100%; height: 100%;
		overflow: hidden;

		img {
			width: auto; height: 100%;
		}
	}

	.user-avatar, .user-data {
		position: absolute;
		z-index: 1;
	}

	.user-avatar {
		width: 100%; height: auto;

		text-align: center;
		top: 25%;

		.avatar-wrapper {
			width: 150px; height: 150px;

			border: 1px solid rgba($black, 0.05);
			border-radius: 300rem;
			overflow: hidden;
			margin: 0 auto;

			&:after {
				width: 150px; height: 150px;
				top: 0; left: 0;
				bottom: 0; right: 0;

				box-shadow: inset 0 0 1px rgba($black, 0.5),inset 0 20px 50px 0 rgba($black, 0.95);
				border-radius: 300rem;
				content: "";
				margin: 0 auto;
				opacity: 0.3;
				position: absolute;
			}
		}

		img {
			width: auto; height: 100%;
		}
	}

	.user-data {
		width: 100%; height: auto;

		bottom: 26.5%;
		// color: $white !important;
		color: rgba($black, 0.9);

		h2, ul, span { text-align: center; }

		h2 { margin: 0 0 -0.15rem 0; }

		ul {
			margin: 1rem 0;

			li {
				display: inline-block;

				&:after {
					content: " |";
				}

				&:last-child {
					&:after { content: ""; }
				}
			}
		}

		#user-bio {
			margin: 0 0 1rem 0; padding: 1rem;

			background-color: transparent;
			display: block;
			line-height: 1.25em;
			transition: all 0.2s ease;
		}

		button {
			margin: 0 auto; padding: 0.5rem 1rem;

			background-color: $slate;
			border: 0;
			border-radius: 300rem;
			color: $white;
			cursor: pointer;
			font-weight: 300;
			letter-spacing: 0.1em;
			text-transform: uppercase;
			transition: all 0.2s ease;

			&:hover { padding: 0.5rem 1.5rem; }
		}
	}
	// End User Code

	.new-inner-wrapper {
		height: auto;
		top: 15%;

		.entypo {
			display: block;
			font-size: 20em;
			line-height: 0.6em;
			position: relative;
		}

		div {
			display: block;
			margin: 4rem 0 0 0;
		}
	}

	.collection-pages, .collection-contributors, .draft-pages,
	.library-books, .library-contributors {
		display: inline-block;
		@include serif;
		font-style: italic;
		text-transform: lowercase;

		span {
			font-style: normal;
			text-transform: none;
		}
	}

	.collection-pages, .library-books {
		&:after {
			content: "\00a0\00b7";
			font-weight: 700;
		}
	}

}

.accounts {

	#user-panel { display: block; }

	#account-information {
		overflow: scroll;
		width: 100%;
	}

	.account-info-wrapper, .account-password-wrapper, .account-notifications-wrapper,
	.account-pro-wrapper, .account-billing-wrapper, .account-delete-wrapper {
		font-size: 1rem;
		padding: 2rem;

		a {
			color: $slate;
			font-weight: 700;
		}

		section {
			border-bottom: 1px solid rgba($black, 0.1);
			margin: 1rem 0 0 0;

			// &:first-child, &:last-child { margin: 0; }
			&:first-child { margin: 0; }
		}

		input, label { vertical-align: top; }

		input { margin: 0.05rem 0.4rem 1rem 0; }
		label { display: inline-block; }

		// Form stuff
		.bl_form {
			.lb_wrap ~ small {
				margin: -0.2rem 0 0 0;
			}

			input {
				margin: 0 0 2rem 0; padding: 10px 15px;

				border: none;
				border: 1px solid rgba($black, 0.1);
				border-radius: 5px;
				display: block;
				outline: none;
				width: 500px;
			}
		}

		.lb_wrap {
			.lb_label {
				color: rgba($black, 0.6);
				font-size: 0.6rem;
				font-weight: 700;
				text-transform: uppercase;
				width: 500px;
			}

			.lb_label.top, .lb_label.bottom { left: 0.3rem !important; }
			.lb_label.left { left: 0; }
		}

		// .lb_label.active { color: $white; }
	}
	
	.account-delete-wrapper {
		#oh-noes {
			border: 0;
			bottom: 0;
			position: absolute;
		}
	}

}
