
///////////////////////////////////////////////////////////////////////////////////// RESPONSE/SCSS ///

@media all and (min-width: 1025px), screen and (min-width: 1025px) and (-webkit-min-device-pixel-ratio: 2) {

	.full-book {

		.frontcover-wrapper, .photo-wrapper, .text-wrapper, .horizontal-wrapper,
		.overlay-wrapper, .phototext-wrapper, .vertical-wrapper, .video-wrapper, .backcover-wrapper {
			height: 100% !important;
		}

	}

}

@media all and (max-width: 1024px), screen and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {

	body {
		margin: 0; padding: 0;

		overflow-x: hidden;
		overflow-y: auto;
	}

	/// APP/SCSS ////////////////////////////////////////////////////////////////////////////////////////

	.app {

		.not-mobile { display: none; }

		.super-wrapper.mp-pushed {
			#g-menu-toggle { color: $white !important; }
		}

		#site-menu { display: none; }

		.mp-menu {
			#gpl-menu-me {
				&:hover:after { content: ""; }
			}

			ul li ul {
				display: block;
				height: 100%;
			}
		}

		#g-menu-toggle {
			width: 64px; height: 75px;
			top: 0; left: 1rem;
		}

		.user-book-list-wrapper, .book-list-wrapper, .library-list-wrapper, .bookmark-list-wrapper {
			position: relative;
			top: initial;
			transform: translateY(0);

			-o-transform: translateY(0);
			-ms-transform: translateY(0);
			-moz-transform: translateY(0);
			-webkit-transform: translateY(0);
		}

		#user-book-list, #bookmarks-list, #user-library-list, #user-draft-list,
		#book-list, #dimension-list, #library-list, #bookmark-list {
			width: 100%; height: 100% !important; // auto
			top: initial; bottom: 0; // 75px

			background-color: rgba($black, 0.1);
			display: inline-block; // block
			padding: 6.8rem 2rem 2rem 2rem; // 75px 0 0 0
			transform: translateY(0);

			-o-transform: translateY(0);
			-ms-transform: translateY(0);
			-moz-transform: translateY(0);
			-webkit-transform: translateY(0);
		}

		#book-cta {
			padding: 0 3rem;
			text-align: center;

			p {
				font-size: 2rem; // 1.8rem
				position: relative;
				top: 50%;
				transform: translateY(-50%);
				z-index: 1;

				a {
					border-bottom: 3px solid $black;
					display: inline !important;
				}

				-o-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				-moz-transform: translateY(-50%);
				-webkit-transform: translateY(-50%);
			}
		}

		#featured-panel, #featured-scroller,
		#user-panel, #book-scroller {
			display: block;
			width: 100%;
		}

		#featured-panel, #user-panel {
			background-color: $white;
			// border-bottom: 1px solid rgba($black, 0.3);
			border-bottom: 0;
			// box-shadow: inset 0 0 0 rgba($black, 0.5),inset 0 0 0 1px rgba($black, 0.05);
			height: 75px; // 301px // 188px
			margin: 0;
			overflow: visible;

			h2 { display: none; }

			small {
				background-color: $slate;
				color: $white;
				font-size: 1.5em;
				padding: 0.2rem 0;
				position: fixed;
				text-align: center;
				text-transform: uppercase;
				width: 100%;
			}

			&:after { display: none; }
		}

		#featured-panel {
			#category-title {
				width: 100%; height: 75px;
				margin: 0; padding: 1.6rem 6rem;

				font-size: 1.5rem;
				left: 0;
				overflow: hidden;
				position: absolute;
				text-align: center;
				text-overflow: ellipsis;
				white-space: nowrap;
			}

			#category-switcher {
				width: 64px; height: 75px;
				top: 0; right: 1rem;

				background-color: transparent;
				border-radius: 0;
				color: $slate;
				display: block; // none
				font-size: 36px;
				position: absolute;
				z-index: 1;
			}

			#featured-nav {
				width: 100%; height: auto;
				margin: 0; padding: 0;

				border-bottom: 1px solid rgba($black, 0.07);
				box-shadow: inset 0 0 0 rgba($black, 0.5),inset 0 0 0 1px rgba($black, 0.05);
				font-size: 1.5rem;
				text-align: center;
				top: 74px;
				transition: all 0.5s ease;
				z-index: 1;

				li {
					margin: 0; padding: 1rem;

					background-color: $white;
					box-shadow: inset 0 0 0 rgba($black, 0.5),inset 0 1px 0 0 rgba($black, 0.05);
					cursor: pointer;
					display: block;
					top: 0;
					translate: translateY(0);

					-o-translate: translateY(0);
					-ms-translate: translateY(0);
					-moz-translate: translateY(0);
					-webkit-translate: translateY(0);
				}

				.current {
					background-color: $slate;
					border-bottom: 0;
					padding: 1rem;

					a {
						border: 0;
						color: $white;
					}
				}
			}
		}

		#featured-scroller, #book-scroller {
			overflow-x: hidden;
			overflow-y: auto;
			transform: translate3d(0, 0, 0);

			-o-transform: translate3d(0, 0, 0);
			-ms-transform: translate3d(0, 0, 0);
			-moz-transform: translate3d(0, 0, 0);
			-webkit-transform: translate3d(0, 0, 0);

			-webkit-overflow-scrolling: touch;

			#featured-nav { display: none; }
		}

		.book, .collection, .library {
			margin: 0 0 2rem 0; padding: 0;
			width: 100%; height: 250px; // 400px

			&:last-child { margin: 0; }

			.library-info, .draft-info, .featured-info {
				padding: 0 4rem;
				top: 10%; // 20%

				.title, .lib-blurb { padding: 0; }

				.title {
					font-size: 2.5rem;
					margin: 0 0 1rem 0;
				}

				.lib-blurb {
					font-size: 1.5em;
					line-height: 1.9rem;
				}

				button {
					font-size: 1.2rem;
					&:hover { padding: initial; }
				}
			}

			.wrapper {
				bottom: 2rem; // 4rem
				padding: 0 4rem;
				text-align: left;

				button { font-size: 1.2em; }
			}

			.bookmark-this {
				right: 4rem;

				&:hover {
					.top-bm, .bottom-bm { right: 18px; }
					.right-bm { width: 50px; }
				}

				.top-bm, .bottom-bm {
					border-left: 40px solid transparent;
					right: 18px;
				}

				.top-bm {
					border-top: 40px solid $white;
					bottom: -30px;
				}

				.bottom-bm { border-bottom: 40px solid $white; }

				.right-bm {
					width: 50px; height: 50px;
					top: -10px; right: -32px;
				}
			}
		}

		.book-title {
			font-size: 2.5rem; // 3em
			padding: 0 5rem 0 4rem; // 0 4rem
			top: 20%;
		}

		.book-info, .collection-info {
			bottom: 20%; // 10%
			font-size: 1.2rem; // 1.5em
			padding: 0 4rem;
		}

		#featured-splash, #library-splash, #user-splash {
			#library-info, #featured-info, #splash-user-info { padding: 0 10rem; }

			#close-splash {
				top: initial; right: 0; bottom: -16rem;

				text-align: center;
				width: 100%;

				i {
					transform: rotate(90deg);

					-o-transform: rotate(90deg);
					-moz-transform: rotate(90deg);
					-webkit-transform: rotate(90deg);
				}
			}
		}

		#user-splash {
			#splash-user-info { top: 33%; }
			#close-splash { bottom: -10rem; }
			.user-avatar { top: 15%; }
		}

	}

	/// FULL-BOOK/SCSS //////////////////////////////////////////////////////////////////////////////////

	.full-book {

		overflow-x: hidden;
		overflow-y: auto;

		#the-book {
			transform: translate3d(0, 0, 0);

			-webkit-overflow-scrolling: touch;
			-o-transform: translate3d(0, 0, 0);
			-ms-transform: translate3d(0, 0, 0);
			-moz-transform: translate3d(0, 0, 0);
			-webkit-transform: translate3d(0, 0, 0);
		}

		.frontcover-wrapper, .photo-wrapper, .text-wrapper, .horizontal-wrapper,
		.overlay-wrapper, .phototext-wrapper, .vertical-wrapper, .video-wrapper, .backcover-wrapper {
			margin: 0; padding: 0;

			border-bottom: 1px solid $black;
			height: auto; // !important
			overflow: initial; // auto
			position: relative;

			.page-bg, iframe {
				width: 100%; height: auto;
				bottom: auto; left: auto;

				position: relative;
				transform: translateY(0%);

				-o-transform: translateY(0%);
				-ms-transform: translateY(0%);
				-moz-transform: translateY(0%);
				-webkit-transform: translateY(0%);
			}

			article {
				width: 100%; height: auto;

				display: block;
				padding: 2rem;
				position: relative;
			}

			.page-title-elem {
				font-size: 2.5em; // 36px
				line-height: 1.2em; // 40px
			}

			.page-desc, p {
				font-size: 1.4em !important;
				line-height: 1.4em !important;
			}

			.page-desc { padding: 1rem 2rem !important; }
		}

		.frontcover-preview, .photo-preview, .text-preview, .horizontal-preview,
		.overlay-preview, .phototext-preview, .vertical-preview, .video-preview, .backcover-preview {
			margin: 0 !important; padding: 0 !important;
		}

		.frontcover-wrapper {
			.frontcover-preview {
				transform: translateY(0%);

				-o-transform: translateY(0%);
				-ms-transform: translateY(0%);
				-moz-transform: translateY(0%);
				-webkit-transform: translateY(0%);

				article { width: 100%; }

				.page-title-elem {
					font-size: 2.5em;
					line-height: 1.2em;
				}

				p { margin: inherit; }
			}
		}

		.photo-wrapper {
			overflow: inherit;

			.page-bg {
				border: none;
				box-shadow: none;
				max-height: none;
			}

			.photo-preview {
				max-height: none;
				position: relative;
			}
		}

		.text-wrapper {
			.text-preview { font-size: inherit; }
		}

		.horizontal-wrapper {
			.horizontal-preview {
				border: none;
				min-height: inherit;
				position: relative;

				.page-desc { width: 100%; }
			}
		}

		.phototext-wrapper {
			.phototext-preview {
				width: 100%; height: auto;

				overflow: auto;
				padding: 0;
				position: relative;
			}
		}

		.overlay-wrapper {
			.overlay-preview {
				article {
				}
			}
		}

		.text-wrapper {
			.text-preview {
			}
		}

		.vertical-wrapper {
			.draggable-placeholder { width: 100%; }

			.vertical-preview {
				font-size: inherit;
				line-height: inherit;
				position: relative;
				width: 100%;
			}
		}

		.video-wrapper {
			.video-preview, article { position: relative; }

			.button-wrapper {
				bottom: initial;
				top: 400px;
				width: 100%;
			}

			.video-player-container {
				width: 100%; height: 500px;
				position: relative;
			}
		}

		.backcover-wrapper {
			border-bottom: none;

			.appreciate { margin: 0 1.5rem !important; }

			#fin, #fin-next {
				float: none;
				width: 100%;
			}

			#fin {
				height: auto;
				padding: 4rem 4rem 0 4rem;

				h2 {
					&:before { font-size: 0.5em; }
					margin: 0 0 0 2rem;
				}

				.share-book { margin: -1.5rem 0 2rem 11.4rem; }

				#author-avatar, #library-avatar {
					width: 150px; height: 150px;
				}

				#author-bio-blurb, #library-info-blurb {
					font-size: 1.4em;
					line-height: 1.4em;
					margin: -6rem 0 0 11.4rem;
				}
			}

			#fin-next {
				height: 300px !important;
				overflow: hidden;

				section {
					top: 50%; left: 0;
					transform: translateY(-50%);

					-o-transform: translateY(-50%);
					-ms-transform: translateY(-50%);
					-moz-transform: translateY(-50%);
					-webkit-transform: translateY(-50%);
				}

				h2 {
					font-size: 40px;
					text-align: center;
				}
			}
		}

	}

	/// PROFILE/SCSS ////////////////////////////////////////////////////////////////////////////////////

	.profile {

		.user-book-list-wrapper { top: initial !important; }

		#featured-nav {
			width: 100%; height: auto;
			margin: 0; padding: 0;
			top: 74px; left: 0;

			border-bottom: 1px solid rgba($black, 0.07);
			box-shadow: inset 0 0 0 rgba($black, 0.5),inset 0 0 0 1px rgba($black, 0.05);
			font-size: 1.5rem;
			text-align: center;
			transition: all 0.5s ease;
			z-index: 1;

			li {
				margin: 0; padding: 1rem;

				background-color: $white;
				box-shadow: inset 0 0 0 rgba($black, 0.5),inset 0 1px 0 0 rgba($black, 0.05);
				cursor: pointer;
				display: block;
				top: 0;
				translate: translateY(0);

				-o-translate: translateY(0);
				-ms-translate: translateY(0);
				-moz-translate: translateY(0);
				-webkit-translate: translateY(0);
			}

			.current {
				background-color: $slate;
				border-bottom: 0;
				padding: 1rem;

				a {
					border: 0;
					color: $white;
				}
			}
		}

		#user-panel {
			height: 75px; // 59%
			position: relative;
			transition: all 0.5s ease;

			h2, .button-wrapper { display: none; }

			h2 {
				// display: block;
				transition: all 0.5s ease;
			}

			.button-wrapper {
				bottom: 8%; left: 0;
			}

			#user-wrapper {
				width: 100%; height: 100%;
				margin: 0; padding: 0;

				display: block;
				overflow: hidden;
				position: relative;

				.user-avatar {
					width: 100%; height: auto;

					margin: 0;
					position: relative;
					text-align: center;
					top: initial;

					.avatar-wrapper {
						width: 75px; height: 75px;
						border: 0;

						img {
							left: initial; right: 0;
						}

						&:after {
							width: 75px; height: 75px;

							border-radius: 0;
							left: initial;
						}
					}
				}

				h2 {
					width: 100%; height: 75px;
					margin: 0; padding: 0 6rem;
					top: 0; left: 0; bottom: initial;

					background-image: none;
					background-position: initial;
					background-size: initial;
					color: #191919 !important;
					display: block;
					font-size: 2rem;
					line-height: 5rem;
					overflow: hidden;
					text-overflow: ellipsis;
					transform: rotate(0deg);
					white-space: normal; // nowrap

					-o-transform: rotate(0deg);
					-ms-transform: rotate(0deg);
					-moz-transform: rotate(0deg);
					-webkit-transform: rotate(0deg);
				}

				#user-bio { display: none; }
			}
		}

		#mobile-header {
			width: 100%; height: 75px;

			background-image: url("../images/sprite-sheet.png");
			background-position: 0 -339px;
			background-repeat: no-repeat;
			background-size: 200px 500px;
			display: none !important; // block
			position: absolute;
			top: -20rem;
			transition: all 0.5s ease;

			@include hide-text;

			a {
				width: 100%; height: 100%;

				display: block;
				margin: 1rem 0;
			}
		}

		/*
		#user-wrapper {
			width: 100%; height: 100%; // 40%

			display: block;
			margin: 0;
			padding: 5rem 0;
			position: relative;
		}

		.user-avatar, .user-data { position: relative; }

		.user-avatar {
			margin: 0 0 2rem 0;
			top: initial;
		}

		.user-data {
			top: initial; bottom: initial;

			#user-bio {
				margin: 0; padding: 1rem 6rem;

				display: none;
				font-size: 1rem;
			}
		}
		*/

	}

}

@media all and (max-width: 800px), screen and (max-width: 800px) and (-webkit-min-device-pixel-ratio: 2) {

	/// APP/SCSS ////////////////////////////////////////////////////////////////////////////////////////

	.app {

		.book-title {
			padding: 0 6rem 0 4rem;
			top: 20%;
		}

		.book-info, .collection-info { bottom: 20%; }

		#featured-splash, #library-splash, #user-splash {
			#featured-info, #library-info, #splash-user-info {
				padding: 0 5rem;
				top: 60%;
			}

			#close-splash {
				bottom: initial;
				margin: 2rem 0 0 0;
				position: relative;
			}
		}

		#user-splash {
			.user-avatar { top: 17%; }

			#splash-user-info {
				margin: 0 0 1rem 0;
				top: 45%;
			}
		}

		#book-cta {
			p { font-size: 1.6rem; }
		}

		.book, .collection, .library {
			.library-info, .draft-info, .featured-info {
				.lib-blurb { font-size: 1.2rem; }
				// .title { font-size: 1.3rem; }
			}
		}

	}

	/// PROFILE/SCSS ////////////////////////////////////////////////////////////////////////////////////

	.profile {
	}

}

@media all and (max-width: 600px), screen and (max-width: 600px) and (-webkit-min-device-pixel-ratio: 2) {

	/// APP/SCSS ////////////////////////////////////////////////////////////////////////////////////////

	.app {

		.book-title {
			font-size: 2rem;
			line-height: 2.3rem;
		}

		#featured-splash, #library-splash {
			#featured-info, #library-info {
				padding: 0;
				top: 55%;
			}
		}

		#book-cta {
			p {
				font-size: 1.4rem;
				line-height: 2.2rem;
			}
		}

		.book, .collection, .library {
			.library-info, .draft-info, .featured-info {
				.title {
					font-size: 2rem;
					margin: 0 0 1.4rem 0;
				}

				.lib-blurb {
					font-size: 1.2rem;
					line-height: 1.5rem;
				}
			}
		}

	}

	/// PROFILE/SCSS ////////////////////////////////////////////////////////////////////////////////////

	.profile {
	}

}

@media all and (max-width: 320px), screen and (max-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {

	/// APP/SCSS ////////////////////////////////////////////////////////////////////////////////////////

	.app {

		.super-wrapper.mp-pushed {
			transform: translate3d(250px, 0, 0) !important;

			-o-transform: translate3d(250px, 0, 0) !important;
			-ms-transform: translate3d(250px, 0, 0) !important;
			-moz-transform: translate3d(250px, 0, 0) !important;
			-webkit-transform: translate3d(250px, 0, 0) !important;

			.mp-menu { width: 250px; }
			#g-menu-toggle { left: 0.3rem; }
		}

		#featured-splash, #library-splash, #user-splash {
			font-size: 1rem;
			padding: 2rem;

			p {
				font-size: 1rem;
				padding: 0;
			}

			#featured-info, #library-info { top: 58%; }
		}

		#featured-splash {
			#gapelia {
				width: 100%; height: 55px;
				top: 6rem; left: 0;

				background-image: url("/static/images/logo-white.png");
				background-position: 50px 0;
				background-size: 200px 55px;
				text-align: center;

				&:after {
					color: $white;
					content: "The Art of Storytelling";
					display: block;
					@include serif;
					font-size: 1rem;
					font-style: italic;
					margin: 1rem 0 0 0;
				}
			}

			#login-greet {
				top: 1rem; left: 0; right: initial;

				text-align: center;
				width: 100%;

				a {
					&:first-child:after { content: "\00a0\00a0\00a0\00b7\00a0\00a0\00a0"; }
				}

				br { display: none; }
			}

			h2 {
				font-size: 1.5rem;
				line-height: 1.8rem;

				&:before {
					content: "";
					display: none;
				}
			}

			#featured-info {
				border-left: 3px solid $slate;
				padding: 0 0 0 1rem;

				&:before {
					content: "Pick of the day";
					display: block;
					@include serif;
					font-size: 0.8rem;
					// font-style: italic;
					letter-spacing: 0.1rem;
					margin: -1.5rem 0 0 -1.23rem;
					position: fixed;
				}
			}

			#close-splash {
				margin: 0;
				position: fixed;
			}
		}

		#library-splash {
			button {
				top: 1.2rem; right: 1.5rem;
			}
		}

		#user-splash {
			.user-avatar {
				top: 12%; left: 0;

				position: absolute;
				text-align: center;

				.avatar-wrapper {
					left: 0;
					position: relative;
				}
			}

			#splash-user-info {
				margin: 0 0 1rem 0; padding: 0;
				top: 45%;

				h2 {
					font-size: 1.4rem;
					line-height: 1.5rem;
					position: fixed;
					width: 100%;
				}
			}

			#splash-user-bio {
				margin: 3rem 0 0 0; padding: 0;

				font-size: 1rem;
				position: fixed;
				width: 100%;
			}

			#close-splash {
				margin: 0;
				position: fixed;
				top: 13rem;
			}
		}

		#book-cta {
			padding: 2rem;
 
			p {
				font-size: 1.2rem;
				top: initial;
				transform: translateY(0);

				-o-transform: translateY(0);
				-ms-transform: translateY(0);
				-moz-transform: translateY(0);
				-webkit-transform: translateY(0);
			}
		}

		#featured-panel, #user-panel {
			box-shadow: inset 0 0 0 rgba($black, 0.5),inset 0 0 0 1px rgba($black, 0.05);
			height: 75px; // 53

			#category-title {
				font-size: 1.2rem;
				padding: 1.6rem 2rem 1.6rem 5rem;
				text-align: right;
			}

			#category-switcher {
				width: 64px; height: 75px;
				top: 0; right: 1rem;

				background-color: transparent;
				border-radius: 0;
				color: $slate;
				font-size: 36px;
				position: absolute;
			}

			#featured-nav {
				top: 74px; left: 0;

				box-shadow: inset 0 0 0 rgba($black, 0.5),inset 0 0 0 1px rgba($black, 0.05);
				font-size: 1.2rem;
				height: auto;
				z-index: 1;

				li {
					margin: 0; padding: 1rem;

					// border-bottom: 1px solid rgba($black, 0.3);
					background-color: $white;
					box-shadow: inset 0 0 0 rgba($black, 0.5),inset 0 1px 0 0 rgba($black, 0.05);
					display: block;
					top: 0;
					translate: translateY(0);

					-o-translate: translateY(0);
					-ms-translate: translateY(0);
					-moz-translate: translateY(0);
					-webkit-translate: translateY(0);
				}

				.current {
					background-color: $slate;
					border-bottom: 0;
					padding: 1rem;

					a {
						border: 0;
						color: $white;
					}
				}
			}

			.featured-info, small { display: none; }
		}

		#user-book-list, #bookmarks-list, #user-library-list, #user-draft-list,
		#book-list, #dimension-list, #library-list, #bookmark-list {
			background-color: transparent;
			display: block; // block
			padding: 75px 0 0 0;
		}

		.book, .library, .collection {
			background-color: transparent;
			background-image: none !important;
			border-bottom: 10px solid $slate;
			box-shadow: none; // inset 10px 0 0 0 #70d0eb
			height: auto;
			padding: 2rem;

			.book-title, .book-info, .collection-info, .library-info {
				padding: 0;
				position: relative;
				width: 100%; // 80
			}

			.book-title {
				font-size: 1.4rem;
				line-height: 1.6rem;
				margin: 0 0 1rem 0;
				top: 25%;

				a { color: $slate; }
			}

			.book-info, .collection-info, .library-info {
				color: rgba($black, 0.9);
				font-size: 0.9rem;
				margin: 0 0 1rem 0;

				.title {
					font-size: 1.7rem;
					margin: 0 0 1rem 0;
				}

				.library-location a,
				.author-name a, .title a { color: $slate; }
			}

			.book-snippet {
				p {
					color: rgba($black, 0.9);
					line-height: 1.2rem;
					margin: 0;
				}
			}

			.library-info {
				.lib-blurb {
					font-size: 0.9rem;
					line-height: 1.3rem;
				}
			}

			.wrapper {
				bottom: initial;
				padding: 0;
				position: relative;
			}

			.bookmark-this, .image-overlay, &:after { display: none; }

			&:hover { box-shadow: none; }
			&:last-child { margin: 0; }
		}

	}

	/// FULL-BOOK/SCSS //////////////////////////////////////////////////////////////////////////////////

	.full-book {

		.mp-pushed {
			transform: translate3d(225px, 0px, 0px) !important;

			-o-transform: translate3d(225px, 0px, 0px) !important;
			-ms-transform: translate3d(225px, 0px, 0px) !important;
			-moz-transform: translate3d(225px, 0px, 0px) !important;
			-webkit-transform: translate3d(225px, 0px, 0px) !important;
		}

		.mp-menu {
			font-size: 80%;
			width: 225px;
		}

		#g-menu-toggle {
			width: 32px; height: 32px;

			background-size: 200px 500px;
			opacity: 1;
			z-index: 103;

			span {
				height: 100%;
				top: 0;
				transform: translateY(0);

				-o-transform: translateY(0);
				-ms-transform: translateY(0);
				-moz-transform: translateY(0);
				-webkit-transform: translateY(0);
			}
		}

		header {
			background-color: $black;
			opacity: 0.3;
			position: fixed;
			top: 0 !important;
		}

		#header-info, .share-book,
		#bb-nav-prev, #bb-nav-next {
			display: none;
		}

		#next-book-toggle {
			display: block !important;
			z-index: 103;
		}

		.frontcover-wrapper, .photo-wrapper, .text-wrapper, .horizontal-wrapper,
		.overlay-wrapper, .phototext-wrapper, .vertical-wrapper, .video-wrapper, .backcover-wrapper {
			.page-title-elem {
				font-size: 1.5em;
				line-height: 1.2em;
				padding: 0 !important;
			}

			.page-desc, p {
				// font-size: 1.2em !important;
				font-size: 100% !important;
				line-height: 1.6em !important;
			}

			.page-desc {
				padding: 0 !important;
				text-align: left !important;
			}
		}

		.photo-wrapper, .text-wrapper, .horizontal-wrapper,
		.overlay-wrapper, .phototext-wrapper, .vertical-wrapper, .video-wrapper, .backcover-wrapper {
			border: 0;
			margin: 0; // 0 0 2rem 0
		}

		.photo-wrapper, .text-wrapper, .horizontal-wrapper,
		.phototext-wrapper, .vertical-wrapper, .video-wrapper, .backcover-wrapper {
			height: auto !important;
		}

		.frontcover-wrapper {
			// padding: 0 0 2rem 0;

			.frontcover-preview {
				// position: absolute;
				top: 50px; bottom: 0;

				.page-title-elem {
					font-size: 2em;
					line-height: 1.2em;
					padding: 0 !important;
				}

				article {
					background-color: transparent;
					padding: 1.5rem 2rem auto;

					.page-title-elem, .page-desc, h5 {
						color: $white;
						// z-index: 1;
					}

					&:after {
						top: 0; right: 0;
						bottom: 0; left: 0;

						background-image: linear-gradient(to top, $black, transparent);
						content: "";
						opacity: 1; // 0.6
						position: absolute;
						z-index: -1;
					}
				}
			}
		}

		.photo-wrapper {
			.photo-preview {
				.page-title-elem { width: 100%; }
			}
		}

		.horizontal-wrapper {
			.horizontal-preview {
				// padding: 0 1rem !important;

				.page-desc {
					// font-size: 2.5em !important;
				}
			}

			// .page-title-elem { font-size: 3.5em; }
		}

		.overlay-wrapper {
			font-size: 1.5rem;

			.overlay-preview {
				// .page-desc { font-size: 3.5em !important; }

				article {
					margin: -1% auto;
					width: 100%;
				}
			}
		}

		.video-wrapper {
			.video-player-container {
				height: 200px;
			}

			.button-wrapper { top: 140px; }
		}

		.backcover-wrapper {
			#fin {
				padding: 2rem 2rem 0 2rem;

				.appreciate, h2 { display: block; }

				.appreciate { margin: 0 auto !important; }

				h2 {
					margin: 0.5rem 0;
					text-align: center;
				}

				.share-book {
					&:before {
						display: block;
						margin: 0 0 0.5rem 0;
					}

					margin: 1.5rem auto;
					text-align: center;
				}

				#author-avatar, #author-name,
				#library-avatar, #library-name {
					display: block;
					font-size: 100%;
					margin: 1rem 0;
					text-align: center;
				}

				#author-avatar, #library-avatar { margin: 0 auto; }

				#author-bio-blurb, #library-info-blurb {
					font-size: 100%;
					margin: 0;
					text-align: center;
				}
			}

			#fin-next {
				height: auto !important;
				min-height: 100px;
				max-height: 150px;

				h2 { font-size: 150%; }
			}
		}

	}

	/// PROFILE/SCSS ////////////////////////////////////////////////////////////////////////////////////

	.profile {

		#user-book-list {
			width: 100%; height: 100% !important; // auto
			top: initial; bottom: 0; // 75px

			padding: 75px 0 0 0;
		}

		#user-panel {
			box-shadow: inset 0 0 0 rgba($black, 0.5),inset 0 0 0 1px rgba($black, 0.05);
			height: 75px !important;

			#user-wrapper {
				padding: 0;

				.user-avatar {
					display: block !important;
					margin: 0 !important;
					top: 0;

					.avatar-wrapper {
						width: 75px; height: 75px;

						border: 0;
						border-radius: 0;
						float: right;
						margin: 0;

						img {
							width: 75px; height: auto;
						}

						&:after { display: none; }
					}
				}
			}
		}

		.user-data, .button-wrapper { display: none; }
	
	}

}
