/************************************************************************************ RESPONSE/SCSS **/

@media all and (min-width: 1025px), screen and (min-width: 1025px) and (-webkit-min-device-pixel-ratio: 2) {

	.full-book {

		.frontcover-wrapper, .photo-wrapper, .text-wrapper, .horizontal-wrapper,
		.overlay-wrapper, .phototext-wrapper, .vertical-wrapper, .video-wrapper, .backcover-wrapper {
			height: 100% !important;
		}

	}

}

@media all and (max-width: 1024px), screen and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {

	body {
		margin: 0; padding: 0;

		overflow-x: hidden;
		overflow-y: auto;
	}

	/** APP/SCSS ***************************************************************************************/

	.app {

		#g-menu-toggle {
			width: 64px; height: 75px;
			top: 0; left: 1rem;
		}

		.user-book-list-wrapper, .book-list-wrapper, .library-list-wrapper, .bookmark-list-wrapper {
			position: relative;
			top: initial;
			transform: translateY(0);

			-o-transform: translateY(0);
			-ms-transform: translateY(0);
			-moz-transform: translateY(0);
			-webkit-transform: translateY(0);
		}

		#user-book-list, #bookmarks-list, #user-library-list, #user-draft-list,
		#book-list, #dimension-list, #library-list, #bookmark-list {
			top: initial;
			transform: translateY(0);
			width: 100% !important;

			-o-transform: translateY(0);
			-ms-transform: translateY(0);
			-moz-transform: translateY(0);
			-webkit-transform: translateY(0);
		}

		#featured-panel, #featured-scroller,
		#user-panel, #book-scroller {
			display: block;
			width: 100%;
		}

		#featured-panel, #user-panel {
			background-color: $white;
			// border-bottom: 1px solid rgba($black, 0.3);
			border-bottom: 0;
			height: 75px;

			h2 { display: none; }

			small {
				background-color: $slate;
				color: $white;
				font-size: 1.5em;
				padding: 0.2rem 0;
				position: fixed;
				text-align: center;
				text-transform: uppercase;
				width: 100%;
			}

			#featured-nav {
				width: 100%; height: 75px;
				margin: 0; padding: 0;

				border-bottom: 0;
				font-size: 1.5rem;
				text-align: center;

				a { color: rgba($black, 0.6); }

				li {
					margin: 0 2rem 0 0;
					position: relative;
					top: 50%;
					transform: translateY(-50%);

					-o-transform: translateY(-50%);
					-ms-transform: translateY(-50%);
					-moz-transform: translateY(-50%);
					-webkit-transform: translateY(-50%);

					&:last-child { margin: 0; }
				}

				.current {
					padding: 0;

					a {
						color: $slate;
						padding: 0 0 1.2rem 0;
					}
				}
			}

			&:after { display: none; }
		}

		#featured-scroller, #book-scroller {
			overflow-x: hidden;
			overflow-y: auto;
			transform: translate3d(0, 0, 0);

			-webkit-overflow-scrolling: touch;
			-o-transform: translate3d(0, 0, 0);
			-ms-transform: translate3d(0, 0, 0);
			-moz-transform: translate3d(0, 0, 0);
			-webkit-transform: translate3d(0, 0, 0);

			#featured-nav { display: none; }
		}

		.book, .collection, .library, .new, .draft, .portal {
			margin: 0 0 1rem 0; padding: 0;
			width: 100%; height: 400px;

			&:last-child { margin: 0; }

			.library-info, .new-inner-wrapper, .draft-info,
			.portal-info, .featured-info {
				padding: 0 4rem;
				top: 20%;

				.title, .lib-blurb { padding: 0; }

				.title {
					font-size: 2.5rem;
					margin: 0 0 2rem 0;
				}

				.lib-blurb {
					font-size: 1.5em;
					line-height: 1.9rem;
				}

				button {
					font-size: 1.2rem;
					&:hover { padding: initial; }
				}
			}

			.wrapper {
				bottom: 4rem;
				padding: 0 4rem;
				text-align: left;

				button { font-size: 1.2em; }
			}

			.bookmark-this {
				right: 4rem;

				&:hover {
					.top-bm, .bottom-bm { right: 18px; }
					.right-bm { width: 50px; }
				}

				.top-bm, .bottom-bm {
					border-left: 40px solid transparent;
					right: 18px;
				}

				.top-bm {
					border-top: 40px solid $white;
					bottom: -30px;
				}

				.bottom-bm { border-bottom: 40px solid $white; }

				.right-bm {
					width: 50px; height: 50px;
					top: -10px; right: -32px;
				}
			}
		}

		.book-title {
			font-size: 2.5rem; // 3em
			padding: 0 5rem 0 4rem; // 0 4rem
			top: 25%;
		}

		.book-info, .collection-info {
			bottom: 10%;
			font-size: 1.2rem; // 1.5em
			padding: 0 4rem;
		}

	}

	/** FULL-BOOK/SCSS *********************************************************************************/

	.full-book {

		overflow-x: hidden;
		overflow-y: auto;

		#the-book {
			transform: translate3d(0, 0, 0);

			-webkit-overflow-scrolling: touch;
			-o-transform: translate3d(0, 0, 0);
			-ms-transform: translate3d(0, 0, 0);
			-moz-transform: translate3d(0, 0, 0);
			-webkit-transform: translate3d(0, 0, 0);
		}

		.frontcover-wrapper, .photo-wrapper, .text-wrapper, .horizontal-wrapper,
		.overlay-wrapper, .phototext-wrapper, .vertical-wrapper, .video-wrapper, .backcover-wrapper {
			margin: 0; padding: 0;

			border-bottom: 1px solid $black;
			height: auto; // !important
			overflow: initial; // auto
			position: relative;

			.page-bg, iframe {
				width: 100%; height: auto;
				bottom: auto; left: auto;

				position: relative;
				transform: translateY(0%);

				-o-transform: translateY(0%);
				-ms-transform: translateY(0%);
				-moz-transform: translateY(0%);
				-webkit-transform: translateY(0%);
			}

			article {
				width: 100%; height: auto;

				display: block;
				padding: 2rem;
				position: relative;
			}

			.page-title-elem {
				font-size: 2.5em; // 36px
				line-height: 1.2em; // 40px
			}

			.page-desc, p {
				font-size: 1.4em !important;
				line-height: 1.4em !important;
			}

			.page-desc { padding: 1rem 2rem !important; }
		}

		.frontcover-preview, .photo-preview, .text-preview, .horizontal-preview,
		.overlay-preview, .phototext-preview, .vertical-preview, .video-preview, .backcover-preview {
			margin: 0 !important; padding: 0 !important;
		}

		.frontcover-wrapper {
			.frontcover-preview {
				transform: translateY(0%);

				-o-transform: translateY(0%);
				-ms-transform: translateY(0%);
				-moz-transform: translateY(0%);
				-webkit-transform: translateY(0%);

				article { width: 100%; }

				.page-title-elem {
					font-size: 2.5em;
					line-height: 1.2em;
				}

				p { margin: inherit; }
			}
		}

		.photo-wrapper {
			overflow: inherit;

			.page-bg {
				border: none;
				box-shadow: none;
				max-height: none;
			}

			.photo-preview {
				max-height: none;
				position: relative;
			}
		}

		.text-wrapper {
			.text-preview { font-size: inherit; }
		}

		.horizontal-wrapper {
			.horizontal-preview {
				border: none;
				min-height: inherit;
				position: relative;

				.page-desc { width: 100%; }
			}
		}

		.phototext-wrapper {
			.phototext-preview {
				width: 100%; height: auto;

				overflow: auto;
				padding: 0;
				position: relative;
			}
		}

		.overlay-wrapper {
			.overlay-preview {
				article {
				}
			}
		}

		.text-wrapper {
			.text-preview {
			}
		}

		.vertical-wrapper {
			.draggable-placeholder { width: 100%; }

			.vertical-preview {
				font-size: inherit;
				line-height: inherit;
				position: relative;
				width: 100%;
			}
		}

		.video-wrapper {
			.video-preview, article { position: relative; }

			.button-wrapper {
				bottom: initial;
				top: 400px;
				width: 100%;
			}

			.video-player-container {
				width: 100%; height: 500px;
				position: relative;
			}
		}

		.backcover-wrapper {
			border-bottom: none;

			.appreciate { margin: 0 1.5rem !important; }

			#fin, #fin-next {
				float: none;
				width: 100%;
			}

			#fin {
				height: auto;
				padding: 4rem 4rem 0 4rem;

				h2 {
					&:before { font-size: 0.5em; }
					margin: 0 0 0 2rem;
				}

				.share-book { margin: -1.5rem 0 2rem 11.4rem; }

				#author-avatar, #library-avatar {
					width: 150px; height: 150px;
				}

				#author-bio-blurb, #library-info-blurb {
					font-size: 1.4em;
					line-height: 1.4em;
					margin: -6rem 0 0 11.4rem;
				}
			}

			#fin-next {
				height: 300px !important;
				overflow: hidden;

				section {
					top: 50%; left: 0;
					transform: translateY(-50%);

					-o-transform: translateY(-50%);
					-ms-transform: translateY(-50%);
					-moz-transform: translateY(-50%);
					-webkit-transform: translateY(-50%);
				}

				h2 {
					font-size: 40px;
					text-align: center;
				}
			}
		}

	}

	/** PROFILE/SCSS *************************************************************************************/

	.profile {

		.user-book-list-wrapper { top: initial !important; }

		#user-panel {
			height: 300px;

			h2 {
				display: block;
			}
		}

		.user-avatar { top: 5%; }

		.user-data {
			top: 58%;
			#user-bio { padding: 0.2rem; }
		}

		/*
		.user-data {
			top: 2.7rem; left: 6rem;

			font-size: 1.5em;
			width: 68%;

			#user-bio {
				margin: 0; padding: 0;

				line-height: 1.3em;
				text-align: left;
			}
		}

		#user-panel {
			.button-wrapper {
				padding: 1.2rem 2rem;
				text-align: right;
			}
		}
		*/

	}

}

@media all and (max-width: 800px), screen and (max-width: 800px) and (-webkit-min-device-pixel-ratio: 2) {
}

@media all and (max-width: 600px), screen and (max-width: 600px) and (-webkit-min-device-pixel-ratio: 2) {
}

@media all and (max-width: 320px), screen and (max-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {

	body {
		// -webkit-overflow-scrolling: touch;
	}

	/** APP/SCSS ***************************************************************************************/

	.app {

		.super-wrapper.mp-pushed {
			transform: translate3d(250px, 0, 0) !important;

			-o-transform: translate3d(250px, 0, 0) !important;
			-ms-transform: translate3d(250px, 0, 0) !important;
			-moz-transform: translate3d(250px, 0, 0) !important;
			-webkit-transform: translate3d(250px, 0, 0) !important;

			.mp-menu { width: 250px; }

			#g-menu-toggle {
				color: $white;
				left: 0.3rem;
			}
		}

		#library-splash {
			font-size: 1em;
			padding: 2rem;

			p {
				font-size: 1em;
				padding: 0;
			}
		}

		#featured-panel {
			height: 53px;

			small { display: none; }

			#g-menu-toggle {
				width: 36px; height: auto;
				top: 0.5rem; left: 1rem;

				font-size: 36px;
			}
		}

		.book-list-wrapper {
			position: relative;
			top: initial;
			transform: translateY(0);

			-o-transform: translateY(0);
			-ms-transform: translateY(0);
			-moz-transform: translateY(0);
			-webkit-transform: translateY(0);
		}

		#book-list {
			width: 100%; height: auto;

			display: block;
			top: initial;
			transform: translateY(0);

			-o-transform: translateY(0);
			-ms-transform: translateY(0);
			-moz-transform: translateY(0);
			-webkit-transform: translateY(0);
		}

		.book {
			padding: 2rem;

			.book-title, .book-info {
				padding: 0;
				width: 80%; // auto
			}

			.book-title {
				font-size: 1.7rem;
				top: 25%;
			}

			.book-info { font-size: 1rem; }

			&:last-child { margin: 0; }
		}

	}

	/** FULL-BOOK/SCSS *********************************************************************************/

	.full-book {

		.mp-pushed {
			transform: translate3d(225px, 0px, 0px) !important;

			-o-transform: translate3d(225px, 0px, 0px) !important;
			-ms-transform: translate3d(225px, 0px, 0px) !important;
			-moz-transform: translate3d(225px, 0px, 0px) !important;
			-webkit-transform: translate3d(225px, 0px, 0px) !important;
		}

		.mp-menu {
			font-size: 80%;
			width: 225px;
		}

		#g-menu-toggle {
			width: 32px; height: 32px;

			background-size: 200px 500px;
			opacity: 1;
			z-index: 103;

			span {
				height: 100%;
				top: 0;
				transform: translateY(0);

				-o-transform: translateY(0);
				-ms-transform: translateY(0);
				-moz-transform: translateY(0);
				-webkit-transform: translateY(0);
			}
		}

		header {
			background-color: $black;
			opacity: 0.3;
			position: fixed;
			top: 0 !important;
		}

		#header-info, .share-book,
		#bb-nav-prev, #bb-nav-next {
			display: none;
		}

		#next-book-toggle {
			display: block !important;
			z-index: 103;
		}

		.frontcover-wrapper, .photo-wrapper, .text-wrapper, .horizontal-wrapper,
		.overlay-wrapper, .phototext-wrapper, .vertical-wrapper, .video-wrapper, .backcover-wrapper {
			.page-title-elem {
				font-size: 1.5em;
				line-height: 1.2em;
				padding: 0 !important;
			}

			.page-desc, p {
				// font-size: 1.2em !important;
				font-size: 100% !important;
				line-height: 1.6em !important;
			}

			.page-desc {
				padding: 0 !important;
				text-align: left !important;
			}
		}

		.photo-wrapper, .text-wrapper, .horizontal-wrapper,
		.overlay-wrapper, .phototext-wrapper, .vertical-wrapper, .video-wrapper, .backcover-wrapper {
			border: 0;
			margin: 0; // 0 0 2rem 0
		}

		.photo-wrapper, .text-wrapper, .horizontal-wrapper,
		.phototext-wrapper, .vertical-wrapper, .video-wrapper, .backcover-wrapper {
			height: auto !important;
		}

		.frontcover-wrapper {
			// padding: 0 0 2rem 0;

			.frontcover-preview {
				// position: absolute;
				top: 50px; bottom: 0;

				.page-title-elem {
					font-size: 2em;
					line-height: 1.2em;
					padding: 0 !important;
				}

				article {
					background-color: transparent;
					padding: 1.5rem 2rem auto;

					.page-title-elem, .page-desc, h5 {
						color: $white;
						// z-index: 1;
					}

					&:after {
						top: 0; right: 0;
						bottom: 0; left: 0;

						background-image: linear-gradient(to top, $black, transparent);
						content: "";
						opacity: 1; // 0.6
						position: absolute;
						z-index: -1;
					}
				}
			}
		}

		.photo-wrapper {
			.photo-preview {
				.page-title-elem { width: 100%; }
			}
		}

		.horizontal-wrapper {
			.horizontal-preview {
				// padding: 0 1rem !important;

				.page-desc {
					// font-size: 2.5em !important;
				}
			}

			// .page-title-elem { font-size: 3.5em; }
		}

		.overlay-wrapper {
			font-size: 1.5rem;

			.overlay-preview {
				// .page-desc { font-size: 3.5em !important; }

				article {
					margin: -1% auto;
					width: 100%;
				}
			}
		}

		.video-wrapper {
			.video-player-container {
				height: 200px;
			}

			.button-wrapper { top: 140px; }
		}

		.backcover-wrapper {
			#fin {
				padding: 2rem 2rem 0 2rem;

				.appreciate, h2 { display: block; }

				.appreciate { margin: 0 auto !important; }

				h2 {
					margin: 0.5rem 0;
					text-align: center;
				}

				.share-book {
					&:before {
						display: block;
						margin: 0 0 0.5rem 0;
					}

					margin: 1.5rem auto;
					text-align: center;
				}

				#author-avatar, #author-name,
				#library-avatar, #library-name {
					display: block;
					font-size: 100%;
					margin: 1rem 0;
					text-align: center;
				}

				#author-avatar, #library-avatar { margin: 0 auto; }

				#author-bio-blurb, #library-info-blurb {
					font-size: 100%;
					margin: 0;
					text-align: center;
				}
			}

			#fin-next {
				height: auto !important;
				min-height: 100px;
				max-height: 150px;

				h2 { font-size: 150%; }
			}
		}

	}

	/** PROFILE/SCSS *************************************************************************************/

	.profile {

		.user-avatar {
			.avatar-wrapper {
				width: 100px; height: 100px;

				&:after {
					width: 100px; height: 100px;
				}
			}
		}

		.user-data {
			top: 40%;

			#user-bio {
				padding: 1rem;
			}
		}
	
	}

}
