
///////////////////////////////////////////////////////////////////////////////////// RESPONSE/SCSS ///

@media all and (min-width: 1281px), screen and (min-width: 1281px) and (-webkit-min-device-pixel-ratio: 2) {

	.app {

		.bookmarked {
			.bookmark-this {
				.right-bm { width: 47px; }

				.top-bm {
					border-top: 20px solid $red;
					right: 30px;
				}

				.bottom-bm {
					border-bottom: 20px solid $red;
					right: 30px;
				}
			}
		}

	}

	.full-book {

		.frontcover-wrapper, .photo-wrapper, .text-wrapper, .horizontal-wrapper,
		.overlay-wrapper, .phototext-wrapper, .vertical-wrapper, .video-wrapper, .backcover-wrapper {
			height: 100% !important;
		}

	}

}

@media all and (max-width: 1280px), screen and (max-width: 1280px) and (-webkit-min-device-pixel-ratio: 2) {

	/// APP/SCSS ////////////////////////////////////////////////////////////////////////////////////////

	.app {

		.book, .collection, .library, .new, .draft {
			&:hover {
				// box-shadow: inset 10px 0 0 0 $slate; // spine hidden until animation is developed
				// what animation?
			}
		}
		
		.bookmarked {
			.bookmark-this {
				.top-bm {
					bottom: -15px; right: 30px;
					border-top: 20px solid $red;
				}

				.bottom-bm {
					border-bottom: 20px solid $red;
					right: 30px;
				}

				.right-bm {
					width: 47px; height: 25px;

					background-color: $red;
					border-right: 0;
				}

				&:hover {
					.top-bm {
						bottom: -15px; right: 30px;
					}

					.bottom-bm { right: 30px; }

					.right-bm {
						width: 47px; height: 25px;
					}
				}
			}
		}

	}

	/// PROFILE/SCSS ////////////////////////////////////////////////////////////////////////////////////

	.profile {

		#user-splash {
			.avatar-wrapper {
				#splash-edit-wrapper { top: 3.85rem; }
			}
		}

	}

}

@media all and (max-width: 1024px), screen and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {

	html, body {
		::-webkit-scrollbar {
			width: 12px; height: 12px;
		}
	}

	body {
		margin: 0; padding: 0;

		overflow-x: hidden;
		overflow-y: auto;
	}

	/// APP/SCSS ////////////////////////////////////////////////////////////////////////////////////////

	.app {

		.not-mobile { display: none; }

		#site-menu { display: none; }

		.mp-menu {
			#gpl-menu-me {
				&:hover:after { content: ""; }
			}

			ul li ul {
				display: block;
				height: 100%;
			}
		}

		#g-menu-toggle, #next-book-toggle {
			width: 64px; height: 71px;

			text-align: center;
			top: 0;
		}

		#header-message {
			font-size: 1.2rem;
			padding: 2.5rem 0 0.5rem 0;
			
			button { top: 2.1rem; }
		}
		
		#g-menu-toggle { left: 1rem; }
		#next-book-toggle { right: 1rem; }

		.user-book-list-wrapper, .book-list-wrapper, .library-list-wrapper, .bookmark-list-wrapper, .subscription-list-wrapper {
			position: relative;
			top: initial;
			transform: translateY(0);

			-o-transform: translateY(0);
			-ms-transform: translateY(0);
			-moz-transform: translateY(0);
			-webkit-transform: translateY(0);
		}

		#user-book-list, #bookmarks-list, #user-library-list, #user-draft-list,
		#book-list, #library-list, #bookmark-list, #subscription-list {
			width: 100%; height: 100% !important; // auto
			top: initial; bottom: 0; // 75px

			background-color: rgba($black, 0.05);
			display: inline-block; // block
			padding: 5.8rem 1.5rem 1.5rem 1.5rem; // 75px 0 0 0
			transform: translateY(0);

			-o-transform: translateY(0);
			-ms-transform: translateY(0);
			-moz-transform: translateY(0);
			-webkit-transform: translateY(0);
		}

		#book-cta {
			background-color: transparent !important;
			background-image: none !important;
			height: 100px !important;
			padding: 0 3rem;
			text-align: center;

			&:after { background: none !important; }
			
			p {
				font-size: 1.6rem;
				font-weight: 200;
				position: relative;
				top: 50%;
				transform: translateY(-50%);
				z-index: 1;

				a {
					border-bottom: 1px solid $black;
					display: inline !important;
				}

				-o-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				-moz-transform: translateY(-50%);
				-webkit-transform: translateY(-50%);
			}
		}

		#featured-panel, #featured-scroller,
		#user-panel, #book-scroller {
			display: block;
			width: 100%;
		}

		#featured-panel, #user-panel {
			background-color: $white;
			border-bottom: 0;
			// box-shadow: inset 0 0 0 rgba($black, 0.5),inset 0 0 0 1px rgba($black, 0.05);
			height: 65px; // 301px // 188px
			margin: 0;
			overflow: visible;

			h2 { display: none; }

			small {
				background-color: $slate;
				color: $white;
				font-size: 1.5em;
				padding: 0.2rem 0;
				position: fixed;
				text-align: center;
				text-transform: uppercase;
				width: 100%;
			}

			&:after { display: none; }
		}

		#featured-panel {
			#category-title {
				width: 100%; height: 75px;
				margin: 0; padding: 1.6rem 6rem;

				color: $slate;
				font-size: 1.5rem;
				font-weight: 200;
				left: 0;
				overflow: hidden;
				position: absolute;
				text-align: center;
				text-overflow: ellipsis;
				white-space: nowrap;
			}

			#category-switcher {
				width: 64px; height: 75px;
				top: 0; right: 1rem;

				background-color: transparent;
				border-radius: 0;
				color: $slate;
				display: block; // none
				font-size: 36px;
				position: absolute;
				z-index: 1;
			}

			#featured-nav {
				width: 100%; height: auto;
				margin: 0; padding: 0;
				top: 65px; left: 0;

				border-bottom: 1px solid rgba($black, 0.07);
				box-shadow: inset 0 0 0 rgba($black, 0.5),inset 0 0 0 1px rgba($black, 0.05);
				font-size: 1.5rem;
				text-align: center;
				transition: all 0.5s ease;
				z-index: 1;

				li {
					margin: 0; padding: 1rem;

					background-color: $white;
					box-shadow: inset 0 0 0 rgba($black, 0.5),inset 0 1px 0 0 rgba($black, 0.05);
					cursor: pointer;
					display: block;
					top: 0;
					translate: translateY(0);

					-o-translate: translateY(0);
					-ms-translate: translateY(0);
					-moz-translate: translateY(0);
					-webkit-translate: translateY(0);
				}

				.current {
					background-color: $slate;
					border-bottom: 0;
					padding: 1rem;

					a {
						border: 0;
						color: $white;
					}
				}
			}
		}

		#featured-scroller, #book-scroller {
			overflow-x: hidden;
			overflow-y: auto;
			transform: translate3d(0, 0, 0);

			-o-transform: translate3d(0, 0, 0);
			-ms-transform: translate3d(0, 0, 0);
			-moz-transform: translate3d(0, 0, 0);
			-webkit-transform: translate3d(0, 0, 0);

			-webkit-overflow-scrolling: touch;

			#featured-nav { display: none; }
		}

		.book, .collection, .library {
			margin: 0 0 1.5rem 0; padding: 0;
			width: 100%; height: 250px !important; 

			&:last-child { margin: 0; }

			.library-info, .draft-info, .featured-info {
				padding: 0 4rem;
				top: 15%;

				.title, .lib-blurb { padding: 0; }

				.title {
					font-size: 2.1rem;
					margin: 0 0 1rem 0;
				}

				.lib-blurb {
					font-size: 1.5em;
					line-height: 1.9rem;
				}

				button {
					font-size: 1.2rem;
					&:hover { padding: initial; }
				}
			}

			.library-location {
				left: 2rem;
				top: 15%;
			}
			
			.wrapper {
				bottom: 2rem; // 4rem
				padding: 0 4rem;

				button { font-size: 1rem; }
			}

			.bookmark-this {
				right: 4rem;

				.top-bm, .bottom-bm {
					border-left: 40px solid transparent;
					right: 18px;
				}

				.top-bm {
					border-top: 40px solid $white;
					bottom: -30px;
				}

				.bottom-bm { border-bottom: 40px solid $white; }

				.right-bm {
					width: 50px; height: 50px;
					top: -10px; right: -32px;
				}

				&:hover {
					.top-bm, .bottom-bm { right: 18px; }
					.right-bm { width: 50px; }
				}
			}
		}

		#book-list, #library-list, #bookmark-list, #user-book-list, #subscription-list { width: 100% !important; }
		
		.bookmarked {
			.bookmark-this {
				z-index: 5;

				.right-bm { width: 92px; }

				.top-bm {
					border-top: 40px solid $red;
					right: 60px;
				}

				.bottom-bm {
					border-bottom: 40px solid $red;
					right: 60px;
				}

				&:hover {
					.right-bm {
						width: 92px; height: 50px;
						top: -10px; right: -32px;
					}

					.top-bm {
						bottom: -30px; right: 60px;
						border-top: 40px solid $red;
					}

					.bottom-bm {
						border-bottom: 40px solid $red;
						right: 60px;
					}
				}
			}
		}

		.book-title, .book-info { position: relative; }

		.book-title {
			margin: 3rem 0 1.5rem 0; padding: 0 5rem 0 2rem;

			font-size: 2rem;
			top: initial;
		}

		.book-info, .collection-info {
			bottom: 1rem;
			font-size: 1.2rem;
			position: absolute;
		}
		
		.book-info .author-name, .collection-info .author.name { font-size: 1rem; }

		#featured-splash, #library-splash, #user-splash, #new-library {
			z-index: 10;
		}

		#featured-splash, #library-splash, #user-splash {
			#library-info, #splash-user-info { padding: 0 10rem; }

			#close-splash {
				top: initial; right: 0; bottom: 6rem; // -16rem

				font-size: 4rem;
				height: auto;
				text-align: center;
				width: 100%;

				i {
					transform: rotate(90deg);

					-o-transform: rotate(90deg);
					-moz-transform: rotate(90deg);
					-webkit-transform: rotate(90deg);
				}
			}
		}
		
		#library-splash #library-info {
			left: 10%;
			top: 35%;
			width: 75%;
			
			h2 { font-size: 20px; }
			p { font-size: 1.2rem; }
		}

		#user-splash {
			#splash-user-info { top: 24%; }
			.user-avatar { top: 10%; }

			#close-splash {
				top: initial; right: initial; bottom: 4rem !important;
				font-size: 1.5rem !important;
			}
		}

	}

	/// FULL-BOOK/SCSS //////////////////////////////////////////////////////////////////////////////////

	.full-book {

		overflow-x: hidden;
		overflow-y: auto;

		#book-menu, #share-menu {
			width: 100%; height: auto; max-height: 500px;
			margin: 0; padding: 71px 0 0 0;
			top: 0; left: 0;

			background-color: $white;
			border-bottom: 1px solid rgba($black, 0.07);
			font-size: 1.5rem;
			overflow-y: auto;
			position: fixed;
			text-align: center;
			transition: all 0.5s ease;
			z-index: 101;

			li {
				margin: 0; padding: 1rem 0;

				background-color: $white;
				box-shadow: inset 0 0 0 rgba($black, 0.5),inset 0 1px 0 0 rgba($black, 0.05);
				cursor: pointer;
				display: block;
				top: 0;
			}
		}

		#book-menu {
			#nav-notify {
				ul {
					display: none;
					font-size: 0.8rem;
					margin: 1rem 0 0 0;
				}
			}
		}

		#the-book {
			height: auto;

			#bb-bookblock {
				height: auto;
				overflow-x: initial;
				overflow-y: initial;

				.bb-item {
					width: 100%; height: auto; // 100%
					top: initial; left: initial;

					display: block !important;
					margin: 0; // 0 0 1rem 0
					position: relative;

					.content {
						height: 100% !important;
						width: 100% !important;
						position: relative;
					}
				}
			}
		}

		.fluid-wrapper, .photo-wrapper, .overlay-wrapper, .phototext-wrapper, .vertical-wrapper, .video-wrapper, .backcover-wrapper {
			width: 100%; height: auto;

			overflow: initial;
			position: relative;

			.page-bg, iframe { position: relative; }
		}

		.scroller-wrapper {
			overflow-y: initial;
			position: relative;
		}

		.fluid-wrapper {
			.author-info {
				width: 80%; height: 50px;
				margin: 1rem 0rem -4.5rem -9.5rem; padding: 0 10%;

				position: relative;
				top: initial;

				.author-name {
					border-right: 1px solid rgba($black, 0.3);
					margin: 0.3rem 0 0 3.5rem;
					padding-right: 0.5rem;
					position: absolute;
					text-align: right;
					text-shadow: 1px 1px 0 rgba($white, 0.1) !important;

					&:before { text-align: center; }
				}

				.author-avatar { margin-left: 36%; }
			}

			section { height: auto; }

			.draggable-placeholder {
				height: 500px;
				position: relative;
			}

			.fluid-preview {
				top: initial; left: initial;
				position: relative;

				article {
					left: initial;
					padding: 0;
					position: relative;
				}

				.page-title-elem, .page-desc { width: 80%; }

				.page-title-elem {
					font-size: 2.3rem;
					line-height: 3.3rem;
				}

				.page-desc {
					font-size: 1.3rem;
					line-height: 2.5rem;
				}
			}

			.image-attribution { right: 0; }
		}

		.no-img {
			.fluid-preview { top: initial; }
		}

		.photo-wrapper {
			.page-bg-wrapper {
				width: 100%; height: auto;
				top: initial !important; left: initial;

				box-shadow: none;
				line-height: normal;
				margin: 0;
				transform: translateY(0);

				-o-transform: translateY(0);
				-ms-transform: translateY(0);
				-moz-transform: translateY(0);
				-webkit-transform: translateY(0);
			}

			.photo-preview {
				margin: 0 0 2rem 0;

				.page-title-elem {
					font-size: 2rem;
					line-height: 3.3rem;
				}
			}
		}

		.overlay-wrapper {
			margin: 0 0 3rem 0;

			.overlay-preview {
				top: intial; left: initial;

				height: 99.5%;
				position: absolute;

				article {
					margin: 28% auto;
					width: 100%; }

				.page-desc {
					font-size: 2.3rem;
					line-height: 3.3rem;
				}
			}
		}

		.phototext-wrapper, .vertical-wrapper, .video-wrapper {
			.image-attribution {
				bottom: initial; left: 0; top: 1.15rem;
				position: relative;
			}
		}

		.phototext-wrapper {
			.phototext-preview {
				width: 100%; height: auto;
				top: initial; right: initial;

				overflow-y: initial;
				padding: 2rem;
				position: relative;

				.page-title-elem, .page-desc {
					margin: 1rem auto 0;
					width: 80%;
				}

				.page-title-elem {
					font-size: 2.3rem;
					line-height: 3.3rem;
				}

				.page-desc {
					font-size: 1.3rem;
					line-height: 2.5rem;
				}
			}
		}

		.vertical-wrapper {
			section, .draggable-placeholder {
				width: 100%; height: auto;
			}

			.page-bg {
				width: 100%; height: auto;
			}

			.vertical-preview {
				width: 100%; height: auto;
				top: initial; right: initial;

				overflow-y: initial;
				padding: 2rem;
				position: inherit;

				article { width: 100%; }

				.page-title-elem, .page-desc {
					margin: 1rem auto 0;
					width: 80%;
				}

				.page-title-elem {
					font-size: 2.3rem;
					line-height: 3.3rem;
				}

				.page-desc {
					font-size: 1.3rem;
					line-height: 2.5rem;
				}
			}
		}

		.video-wrapper {
			.video-preview {
				width: 100%; height: auto;
				position: relative;
			}

			.button-wrapper { display: none; }

			article {
				width: 100%; height: auto;
				top: inherit; right: inherit;

				overflow-y: initial;
				padding: 2rem;
				position: relative;

				.page-title-elem, .page-desc {
					margin: 1rem auto 0;
					width: 80%;
				}

				.page-title-elem {
					font-size: 2.3rem;
					line-height: 3.3rem;
				}

				.page-desc {
					font-size: 1.3rem;
					line-height: 2.5rem;
				}
			}

			.video-player-container {
				width: 100%; height: 500px;
				top: initial; left: initial;

				position: relative;

				iframe { height: 500px; }
			}
		}

		.backcover-wrapper {
			border-top: 3px solid rgba($black, 0.1);

			#fin, #fin-next {
				display: block;
				float: none;
				width: 100%;
			}

			#fin { height: auto; }

			#fin-next {
				height: 300px;
				padding: 2rem 0;
				overflow: hidden;

				&:after { background-image: linear-gradient(to top, $black, transparent); }
			}
		}

		.text-fade { display: none !important; }

	}

	/// PROFILE/SCSS ////////////////////////////////////////////////////////////////////////////////////

	.profile {

		#user-splash { z-index: 10; }
		.user-book-list-wrapper { top: initial !important; }

		#featured-nav {
			width: 100%; height: auto;
			margin: 0; padding: 0;
			top: 74px; left: 0;

			border-bottom: 1px solid rgba($black, 0.07);
			box-shadow: inset 0 0 0 rgba($black, 0.5),inset 0 0 0 1px rgba($black, 0.05);
			font-size: 1.5rem;
			text-align: center;
			transition: all 0.5s ease;
			z-index: 1;

			li {
				margin: 0; padding: 1rem;

				background-color: $white;
				box-shadow: inset 0 0 0 rgba($black, 0.5),inset 0 1px 0 0 rgba($black, 0.05);
				cursor: pointer;
				display: block;
				top: 0;
				translate: translateY(0);

				-o-translate: translateY(0);
				-ms-translate: translateY(0);
				-moz-translate: translateY(0);
				-webkit-translate: translateY(0);
			}

			.current {
				background-color: $slate;
				border-bottom: 0;
				padding: 1rem;

				a {
					border: 0;
					color: $white;
				}
			}
		}

		#user-panel {
			height: 75px; // 59%
			position: relative;
			transition: all 0.5s ease;

			h2, .button-wrapper { display: none; }

			h2 {
				// display: block;
				transition: all 0.5s ease;
			}

			.button-wrapper {
				bottom: 8%; left: 0;
			}

			#user-wrapper {
				width: 100%; height: 100%;
				margin: 0; padding: 0;
				top: 0; right: 0;

				display: block;
				overflow: hidden;
				position: absolute;

				.user-avatar {
					width: 100%; height: auto;

					margin: 0;
					position: relative;
					text-align: center;
					top: initial;
					z-index: 5;

					.avatar-wrapper {
						width: 75px; height: 75px;
						top: 0; right: 0;

						border: 0;
						position: absolute;

						img {
							left: initial; right: 0;

							border: 0;
							border-radius: 0;
						}

						&:after {
							width: 75px; height: 75px;

							border-radius: 0;
							left: initial;
						}
					}
				}

				h2 {
					width: 100%; height: 75px;
					margin: 0; padding: 0 6rem;
					top: 0; left: 0; bottom: initial;

					background-image: none;
					background-position: initial;
					background-size: initial;
					color: #191919 !important;
					display: block;
					font-size: 2rem;
					line-height: 5rem;
					overflow: hidden;
					text-overflow: ellipsis;
					transform: rotate(0deg);
					white-space: normal; // nowrap

					-o-transform: rotate(0deg);
					-ms-transform: rotate(0deg);
					-moz-transform: rotate(0deg);
					-webkit-transform: rotate(0deg);
				}

				#user-bio { display: none; }
			}
		}

		#mobile-header {
			width: 100%; height: 65px;

			background-image: url("../images/sprite-sheet.png");
			background-position: 0 -339px;
			background-repeat: no-repeat;
			background-size: 200px 500px;
			display: none !important; // block
			position: absolute;
			top: -20rem;
			transition: all 0.5s ease;

			@include hide-text;

			a {
				width: 100%; height: 100%;

				display: block;
				margin: 1rem 0;
			}
		}

		.delete-book-confirm {
			margin: 0;

			h3 {
				margin: 1rem 0 3rem 0;
				position: relative;
			}

			.wrapper {
				bottom: initial;
				position: relative;
				text-align: center;
			}
		}

	}

	/// PROFILE/SCSS ////////////////////////////////////////////////////////////////////////////////////
	
	
	.profile {
		
		#user-panel {
			box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
			height: 65px;

			#user-wrapper {
				h2 {
					width: 100%; height: 65px;
					margin: 0; padding: 1.6rem 6rem;

					font-size: 1.3rem;
					line-height: 1rem;
					text-align: center;

					@include ellipsis;
				}

				.user-avatar {
					.avatar-wrapper {
						width: 65px; height: 65px;

						img {
							border-radius: 300rem;
							height: 50px; width: 50px;
							right: 2rem;
							top: 0.5rem;
						}
						
						&:after {
							display: none;
						}
					}
				}
			}
		}
	}	
	
	
	//////////////////////////////////////////////////////////////////////////////////////// ACCOUNTS ///

	.accounts {

		// overflow-x: hidden;
		// overflow-y: auto;

		#g-menu-toggle { z-index: 102; }

		#menu {
			width: 100%; height: auto; max-height: 500px;
			margin: 0; padding: 71px 0 0 0;
			top: 0; left: 0;

			background-color: $white;
			border-bottom: 1px solid rgba($black, 0.07);
			font-size: 1.5rem;
			overflow-y: auto;
			position: fixed;
			text-align: center;
			transition: all 0.5s ease;
			z-index: 101;

			li {
				margin: 0; padding: 1rem 0;

				background-color: $white;
				box-shadow: inset 0 0 0 rgba($black, 0.5),inset 0 1px 0 0 rgba($black, 0.05);
				cursor: pointer;
				display: block;
				top: 0;
			}

			#nav-notify {
				ul {
					display: none;
					font-size: 0.8rem;
					margin: 1rem 0 0 0;
				}
			}
		}

	}

	/// MISCELLANEOUS ///////////////////////////////////////////////////////////////////////////////////

	.notification-time {
		#notification-count {
			top: 1rem; right: 0;
		}
	}

}

@media all and (max-width: 800px), screen and (max-width: 800px) and (-webkit-min-device-pixel-ratio: 2) {

	/// LANDING/SCSS ////////////////////////////////////////////////////////////////////////////////////

	body.landing {
		h4 { width: 80%; }
	}

	/// APP/SCSS ////////////////////////////////////////////////////////////////////////////////////////

	.app {

		#g-menu-toggle { color: $white; }

		#featured-panel {
			background-color: $slate;
			height: 65px;

			#category-title {
				color: $white;
				font-size: 1.3rem;
			}

			#featured-nav {
				top: 65px; left: 0;
				font-size: 1.3rem;

				li {
					a { color: $slate; }
				}

				.current { display: none; }
			}
		}

		#header-message {
			font-size: 1.2rem;
			padding: 2rem 0 0.5rem 0;
			text-align: left;
			
			button { top: 1.6rem; }
			
		}
		
		
		#book-cta {
			background-image: none !important;
			box-shadow: none !important;
			background: transparent !important;
			height: 100px;
			
			&:after { background: none !important; }
			
			p {
				font-size: 1.4rem;
				font-weight: 100;
				line-height: 2.2rem;
				
				a { border-bottom: 1px solid #191919; }
			}
		}
		
		#book-list, #library-list, #bookmark-list {
			background-color: rgba(gray, 0.05);
			padding: 5.2rem 1rem 1rem 1rem;
		}
		
		.book, .library, .collection {
			margin: 0 0 1.2rem 0;
		}
		
		.book-title {
			margin: 1.8rem 0 1.5rem 0; padding: 0 2rem 0 2rem;
			font-size: 1.8rem;
			width: 88%;
		}

		.book-info, .collection-info {
			bottom: 1rem;
			font-size: 1rem;
			padding: 0 2rem;
			position: absolute;
			.author-name { display: block; }
		}

		.library-location {
			left: 5% !important;
			top: 9% !important;
			width: 78%;
		}
		
		.library {
			.library-info {
				.title {
					margin: 1rem 0 0.5rem 0; padding: 0;
					font-size: 1.8rem;
				}

				.lib-blurb { font-size: 1rem; }
			}
		}
		
		#library-splash {
			#library-info {
				left: 13%;
				top: 36%;
				width: 75%;
				
				h2 { font-size: 2.5rem; }
				
				p { font-size: 1.2rem; }
			}
			#close-splash {
				bottom: 6rem;
				font-size: 4rem;
			}
		}
		
		#user-splash {
			.user-avatar { top: 12%; }
			#close-splash {
				bottom: 6rem;
				font-size: 4rem;
			}
			#splash-user-info { top: 24%; }
		}
	}

	/// FULL-BOOK/SCSS //////////////////////////////////////////////////////////////////////////////////

	.full-book {

		.fluid-wrapper {
			.draggable-placeholder { height: 475px; }
			
			.fluid-preview {
				padding: 1rem 2rem 0 3rem;
				
				.page-title-elem, .page-desc { width: 85%; }
				.page-title-elem { font-size: 2.1rem; }
				.page-desc { font-size: 1.2rem; }
			}

			.author-info {
				padding: 0 7.3%;
				width: 90%;
		
				.author-avatar { margin-left: 30%; }
				
				.author-name {
					font-size: 0.5rem; 
					margin: 0.3rem 0 0 4.5rem;
				}
			}
		}

		.overlay-wrapper {
			.overlay-preview {
				article {
					margin: 22% auto;
					width: 100%;
				}
			}
		}

		.phototext-wrapper {
			.phototext-preview {
				.page-title-elem, .page-desc { width: 85%; }
			}
		}

		.vertical-wrapper {
			.vertical-preview {
				.page-title-elem, .page-desc { width: 85%; }
			}
		}

		.video-wrapper {
			article {
				.page-title-elem, .page-desc { width: 85%; }
			}
		}

		.backcover-wrapper {
			.book-title { padding: 0 4rem; }
		}

	}

	/// PROFILE/SCSS ////////////////////////////////////////////////////////////////////////////////////

	.profile {

		#g-menu-toggle { color: $slate; }

		.book-title { margin: 5rem 0 0.5rem 0; }

		.delete-book-confirm {
			h3 {
				font-size: 1.4rem;
				margin: 1rem 0 2rem 0;
			}
		}

		#featured-nav {
			font-size: 1.3rem;
			top: 65px;
		}

		#user-book-list {
			background-color: rgba(gray, 0.05);
			padding: 5.2rem 1rem 1rem 1rem;
		}
		
		#user-panel {
			box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
			height: 65px;

			#user-wrapper {
				h2 {
					width: 100%; height: 65px;
					margin: 0; padding: 1.6rem 6rem;

					font-size: 1.3rem;
					line-height: 1rem;
					text-align: center;

					@include ellipsis;
				}

				.user-avatar {
					.avatar-wrapper {
						width: 65px; height: 65px;

						img {
							border-radius: 300rem;
							height: 50px; width: 50px;
							right: 2rem;
							top: 0.5rem;
						}
						
						&:after {
							display: none;
						}
					}
				}
			}
		}
		
		#user-splash {
			h1 { font-size: 2.6rem; }
			#splash-user-bio { font-size: 1.25rem; }
		}	
	}

}

@media all and (max-width: 600px), screen and (max-width: 600px) and (-webkit-min-device-pixel-ratio: 2) {

	/// LANDING/SCSS ////////////////////////////////////////////////////////////////////////////////////

	body.landing {
		.super-wrapper { padding: 30% 10%; }
	}

	/// APP/SCSS ////////////////////////////////////////////////////////////////////////////////////////

	.app {

		.book-title {
			font-size: 1.8rem;
			line-height: 2.3rem;
			margin: 2rem 0 1rem 0;
		}

		#header-message {
			font-size: 1.4rem;
			line-height: 1.5rem;
			padding: 1.2rem 0 0.5rem 0;
			width: 68%;
			
			button { right: -38%; }
		}
		
		#featured-splash, #library-splash {
			#featured-info, #library-info {
				top: 55%; left: 5%;

				padding: 0;
				width: 90%;
			}
		}

		#user-splash {
			.user-avatar { top: 18%; }
			#splash-user-info { top: 38%; }
		}

		.library {
			.library-info {
				padding: 0 2rem;

				.title {
					font-size: 2rem;
					margin: 0 0 0.5rem 0;
				}

				.lib-blurb {
					font-size: 1.2rem;
					line-height: 1.5rem;
				}
			}
		}

	}

	.modal-login {
		margin: -150px 0 0 -200px;
		top: 45%;
		width: 400px;

		#login-platforms {
			li {
				display: block;
				margin: 0 0 1rem 0;
			}
		}
	}

	/// FULL-BOOK/SCSS //////////////////////////////////////////////////////////////////////////////////

	.full-book {

		.phototext-wrapper, .vertical-wrapper, .video-wrapper {
			.image-attribution { top: 1.12rem; }
		}

		.fluid-wrapper {
			.fluid-preview {
				.page-title-elem, .page-desc { width: 90%; }

				.page-title-elem {
					font-size: 2rem;
					line-height: 3rem;
				}

				.page-desc {
					font-size: 1.3rem;
					line-height: 2.3rem;
				}
			}
			
			.draggable-placeholder { height: 420px; }
			
			.author-info {
				width: 100%; height: auto;
				top: initial; left: initial;

				border-bottom: 1px solid rgba($black, 0.25);
				display: inline-block;
				margin: 0;
				padding-bottom: 8px;
				position: relative;

				.author-name {
					border-right: none !important;
					margin: 0;
					position: relative;
					text-align: left;

					a { padding-left: 10%; }
					
					&:before {
						padding-left: 10%;
						text-align: left;
					}
				}

				.author-avatar {
					margin-left: -6%;
					margin-top: -2rem;
				}
			}
		}

		.photo-wrapper {
			.photo-preview {
				.page-title-elem {
					font-size: 2rem;
					line-height: 3rem;
				}
			}
		}

		.overlay-wrapper {
			margin: 0 0 -0.18rem 0;

			.overlay-preview {
				.page-desc {
					font-size: 1.3rem;
					line-height: 2.3rem;
				}
			}
		}

		.phototext-wrapper {
			.phototext-preview {
				.page-title-elem, .page-desc { width: 90%; }

				.page-title-elem {
					font-size: 2rem;
					line-height: 3rem;
				}

				.page-desc {
					font-size: 1.3rem;
					line-height: 2.3rem;
				}
			}
		}

		.vertical-wrapper {
			.vertical-preview {
				.page-title-elem, .page-desc { width: 90%; }

				.page-title-elem {
					font-size: 2rem;
					line-height: 3rem;
				}

				.page-desc {
					font-size: 1.3rem;
					line-height: 2.3rem;
				}
			}
		}

		.video-wrapper {
			.video-player-container {
				height: 350px;
				iframe { height: 350px; }
			}

			article {
				.page-title-elem, .page-desc { width: 90%; }

				.page-title-elem {
					font-size: 2rem;
					line-height: 3rem;
				}

				.page-desc {
					font-size: 1.3rem;
					line-height: 2.3rem;
				}
			}
		}
		
		.backcover-wrapper {
			#fin-next {
				.book-title {
					&:before { margin: 0 0 -0.5rem 0; }
				}
			}
		}

	}

	/// PROFILE/SCSS ////////////////////////////////////////////////////////////////////////////////////

	.profile {

		.book-title {
			margin: 4.5rem 0 0.5rem 0;
		}

	}

}

@media all and (max-width: 401px), screen and (max-width: 401px) and (-webkit-min-device-pixel-ratio: 2) {

	html, body {
		::-webkit-scrollbar {
			width: 2px; height: 2px;
		}
	}

	/// LANDING/SCSS ////////////////////////////////////////////////////////////////////////////////////

	body.landing {

		.super-wrapper { padding: 20% 10%; }

		h4 { width: 90%; }

		footer {
			bottom: 2rem; left: 0;
			text-align: center;
		}

	}

	/// APP/SCSS ////////////////////////////////////////////////////////////////////////////////////////
	
	.app {

		//Onboarding
		
		#header-message {
			font-size: 0.9rem;
			padding: 1.3rem 0 0.5rem 0;
			width: 66%;
			
			button {
				right: -40%;
				top: 1.8rem;
			}
		}
		
		// Splash pages
		#featured-splash, #library-splash, #user-splash {
			font-size: 1rem;
			padding: 2rem;

			p {
				font-size: 1rem;
				padding: 0;
			}

			#featured-info { top: 50%; }
			#library-info { top: 50%; }
		}

		#library-splash {
			button { font-size: 0.6rem; }

			#library-info {
				h2 { font-size: 26px; }
				p { font-size: 0.9rem; }
			}

			section { font-size: 1rem; line-height: initial; }
		}

		// Header
		#featured-panel {
			#category-title {
				font-size: 1rem;
				height: 65px;
				padding: 1.6rem 1rem 0 0;
				text-align: right;
			}
		}

		// Lists
		#user-book-list, #bookmarks-list, #user-library-list, #user-draft-list,
		#book-list, #dimension-list, #library-list, #bookmark-list, #subscription-list {
			background-color: transparent;
			display: block;
			padding: 65px 0 0 0;
		}

		#g-menu-toggle { left: 0.5rem; }
		#next-book-toggle { right: 0; }

		// Books
		.book, .collection, .library {
			margin: 0; padding: 1.2rem;

			background-color: transparent;
			border-bottom: 1px solid rgba($slate, 0.3);
			box-shadow: none;
			height: auto !important;
			padding: 1.3rem;
			
			&:last-child {
				border-bottom: none;
				margin: 1rem 1rem 1rem 0rem;
			}

			.author-avatar { margin: 0; }
			
			&:hover {.book-title, .library-location, .author-name, .library-info, .collection-info { text-shadow: none !important; } }
			
			.book-title, .book-info, .library-location, .collection-info, .library-info {
				padding: 0;
				position: relative;
				width: 100%; // 80
				
				a { color: rgba(black, 0.75); }
			}
			
			.book-title {
				font-size: 1.4rem;
				line-height: 1.6rem;
				margin: 0 0 0.5rem 0;
				text-shadow: none !important;
				top: 8%;
			}

			.book-info, .collection-info {
				bottom: 0;
				color: rgba($black, 0.9);
				font-size: smaller;
				margin: 0;
				
				a { color: rgba(black, 0.75); }
				
				.title {
					font-size: 1.7rem;
					margin: 0 0 1rem 0;
				}

				.author-name {
					display: inline-block;
					font-size: 0.7rem;
					margin-left: 0.3rem;
					position: relative;
					text-shadow: none !important;
					top: -0.8rem;
					
					&:before { margin: 0 0.1rem 0 0; }
				}
			}
			
			.book-info, .collection-info { display: inline-block !important; }
			
			.book, .collection {
				background-image: none !important; 
			}

			.book-snippet {
				p {
					color: rgba($black, 0.9);
					line-height: 1.2rem;
					margin: 0;
				}
			}

			.library-info {
				
				a {color: $white !important;}
				
				.lib-blurb {
					display: none;
					font-size: 0.9rem;
					line-height: 1.3rem;
				}
			}

			.wrapper {
				bottom: initial;
				padding: 0;
				position: relative;
			}

			.bookmark-this, .image-overlay, &:after { display: none; }

			&:hover { box-shadow: none; }
		}

		.book, .collection {
			background-image: none !important;
			top: -2px; //

			.book-snippet {
				p {
					font-size: 0.8rem;
					font-weight: lighter;
				}
			}

			.author-avatar { width: 35px; }
		}

		#book-cta {
			margin-top: 2rem;
 
			.book-snippet { display: none; }
			
			p {
				font-size: 1.2rem;
				top: initial;
				transform: translateY(0);

				-o-transform: translateY(0);
				-ms-transform: translateY(0);
				-moz-transform: translateY(0);
				-webkit-transform: translateY(0);
			}
		}
		
		.library-location {
			font-size: 0.7rem;
			font-style: italic;
			font-weight: 100;
			left: 0 !important;
			margin-bottom: 5px;
			text-shadow: none !important;
			width: 100%;
		}

		// Libraries
		.library {
			border-bottom: none;
			margin: 1rem 1rem 0rem 0rem;
			padding: 2rem;

			.library-info {
				margin: 1rem 0;

				.title {
					font-size: 1.4rem;
					line-height: 1.6rem;
				}
			}

			.wrapper { margin: 0 0 1rem 0; }
			
			button { font-size: 0.6rem !important; }
		}
		
		// User-splash
		#user-splash {
			
			.user-avatar { top: 10%; }
			
			#splash-user-info {
				padding: 0;
				top: 20%;
				
				h1 { font-size: 2.4rem; }
				#splash-user-bio {
					font-size: 1rem;
					padding: 0;}
			}
			
			#close-splash {
				bottom: 9rem;
				font-size: 3rem;
			}
		}
	}

	/// LIBRARY/SCSS ////////////////////////////////////////////////////////////////////////////////////

	.library {

		#library-splash {
			
			#library-info { top: 36%;  }
			
			button {
				top: -3rem; right: 0;
				position: fixed;
			}
			
			#close-splash {
				font-size: 4rem;
				bottom: 7rem !important;
			}
		}

		#close-splash { bottom: 2rem !important; }

	}

	/// FULL-BOOK/SCSS //////////////////////////////////////////////////////////////////////////////////

	.full-book {

		#book-menu, #share-menu {
			font-size: 1rem;
			max-height: 300px;
		}

		#book-menu {
			#nav-notify {
				ul {
					font-size: 0.8rem;
					line-height: 1rem;

					li { padding: 1rem 2rem; }
				}
			}
		}

		.fluid-wrapper, .photo-wrapper, .overlay-wrapper, .phototext-wrapper, .vertical-wrapper, .video-wrapper, .backcover-wrapper {
			/*
			.page-title-elem {
				font-size: 1.4rem;
				line-height: 1.7rem;
			}

			.page-desc {
				font-size: 1rem;
				line-height: 1.7rem;
			}
			*/
		}

		.fluid-wrapper {
			.author-info {
				width: 100%; height: auto;
				top: initial; left: initial;

				border-bottom: 1px solid rgba($black, 0.25);
				display: inline-block;
				margin: 0;
				padding-bottom: 8px;
				position: relative;

				.author-name {
					border-right: none !important;
					margin: 0;
					position: relative;
					text-align: left;

					a { padding-left: 10%; }
					
					&:before {
						padding-left: 10%;
						text-align: left;
					}
				}

				.author-avatar {
					margin-left: -6%;
					margin-top: -2rem;
				}
			}

			.draggable-placeholder { height: auto; }
			
			.fluid-preview {
				padding: 2rem 2rem;
				padding-bottom: 0.5rem;
				article { margin: 0; }

				.page-title-elem, .page-desc { width: 100%; }

				.page-title-elem {
					font-size: 1.5rem;
					line-height: 2rem;
				}

				.page-desc {
					font-size: 1rem;
					line-height: 2rem;
				}
			}
		}

		.photo-wrapper {
			.photo-preview {
				.page-title-elem {
					font-size: 1.5rem;
					line-height: 2rem;
					width: 100%;
				}
			}
		}

		.overlay-wrapper {
			margin: 0 0 2rem 0;

			.overlay-preview {
				height: 100%;

				.page-desc {
					font-size: 1.5rem;
					line-height: 2rem;
					width: 100%;
				}
			}
		}

		.phototext-wrapper {
			.phototext-preview {
				padding: 1rem 2rem;

				.page-title-elem, .page-desc { width: 100%; }

				.page-title-elem {
					font-size: 1.5rem;
					line-height: 2rem;
				}

				.page-desc {
					font-size: 1rem;
					line-height: 2rem;
				}
			}
		}

		.vertical-wrapper {
			.vertical-preview {
				padding: 1rem 2rem;

				.page-title-elem, .page-desc { width: 100%; }

				.page-title-elem {
					font-size: 1.5rem;
					line-height: 2rem;
				}

				.page-desc {
					font-size: 1rem;
					line-height: 2rem;
				}
			}
		}

		.video-wrapper {
			.video-player-container {
				height: 175px;
				iframe { height: 175px; }
			}

			article {
				padding: 1rem 2rem;

				.page-title-elem, .page-desc { width: 100%; }

				.page-title-elem {
					font-size: 1.5rem;
					line-height: 2rem;
				}

				.page-desc {
					font-size: 1rem;
					line-height: 2rem;
				}
			}
		}

		.backcover-wrapper {
			#fin {
				padding: 1rem 2rem;
				text-align: center;

				.merci { margin: 2rem 0; }
				section { margin: 0 0 3rem 0; }

				.share-book {
					margin: 1rem 0;

					&:before {
						display: block;
						float: none;
						margin: 0 0 0.5rem 0;
						vertical-align: initial;
					}

					li {
						float: none;
						margin: 0 0 0.5rem 0;

						&:after { display: none; }
					}
				}

				hr { margin: 2rem 0; }

				.author-avatar, #library-avatar {
					margin: 0 0 1rem 0;
				}

				.author-name, #library-name {
					font-size: 1.2rem;
					margin: 0 0 1rem 0;
				}

				#author-bio-blurb, #library-info-blurb {
					font-size: 1rem;
					line-height: 1.3rem;
					margin: 0;
				}
			}

			#fin-next {
				height: 200px;
				padding: 0;

				.book-title {
					font-size: 1.3rem;
					line-height: 1.5rem;
					padding: 0 2rem;

					&:before { margin: 0; }
				}

				.book-info {
					font-size: 0.8rem;
					padding: 0 2rem;
				}
			}
		}

	}

	/// PROFILE/SCSS ////////////////////////////////////////////////////////////////////////////////////
	/// Review all this at a later date

	.profile {

		#user-splash {
			.avatar-wrapper {
				#splash-edit-profile {
					display: none !important;
				}
			}
		}

		#user-book-list { padding: 65px 0 0 0; }

		#user-panel {
			background-color: $white;
			height: 65px;

			#g-menu-toggle {
				color: $white;
				left: 1rem;
				width: 64px;
			}

			#user-header { display: none; }

			#user-wrapper {
				.user-data { display: none; }
			}
		}

		.book {
			padding: 1.2rem 1.2rem 0 1.2rem;
			.book-buttons { display: none; }
		}

	}


	/*
	.accounts {

		overflow: hidden;
		overflow-y: auto;

		#menu {
			font-size: 1rem;
			max-height: 300px;

			#nav-notify {
				ul {
					font-size: 0.8rem;
					line-height: 1rem;

					li { padding: 1rem 2rem; }
				}
			}
		}

		.account-info-wrapper {
			line-height: 1.5rem;

			h3 {
				font-size: 0.9rem;
				font-weight: 600;
				line-height: 1rem;
				text-transform: uppercase;
			}
		}

	}
	*/

}
