/************************************************************************************ SELECTIZE/SCSS **/

.selectize-control.plugin-drag_drop.multi > .selectize-input > div.ui-sortable-placeholder {
	background: lighten($black, 90%) !important;
	background: rgba($black, 0.06) !important;
	border: 0 none !important;
	visibility: visible !important;
	box-shadow: inset 0 0 12px 4px $white;
}

.selectize-control.plugin-drag_drop {
	.ui-sortable-placeholder::after {
		content: "!";
		visibility: hidden;
	}

	.ui-sortable-helper { box-shadow: 0 2px 5px rgba($black, 0.2); }
}

.selectize-dropdown-header {	
	background: #f8f8f8;
	//border-bottom: 1px solid lighten($black, 90%);
	border-radius: 3px 3px 0 0;
	padding: 5px 8px;
	position: relative;
}

.selectize-dropdown-header-close {
	top: 50%; right: 8px;

	color: lighten($black, 50%);
	font-size: 20px !important;
	line-height: 20px;
	margin-top: -12px;
	opacity: 0.4;
	position: absolute;

	&:hover { color: $black; }
}

.selectize-dropdown.plugin-optgroup_columns {
	.optgroup {
		border-top: 0 none;
		border-right: 1px solid lighten($black, 90%);
		box-sizing: border-box;
		float: left;

		&:last-child { border-right: 0 none; }
		&:before { display: none; }
	}

	.optgroup-header { border-top: 0 none; }
}

.selectize-control.plugin-remove_button [data-value] {
	padding-right: 24px !important;
	position: relative;

	.remove {
		top: 0; right: 0; bottom: 0;

		border-left: 1px solid $blue;
		border-radius: 0 2px 2px 0;
		box-sizing: border-box;
		color: inherit;
		display: inline-block;
		font-size: 12px;
		font-weight: 700;
		padding: 2px 0 0 0;
		position: absolute;
		text-align: center;
		text-decoration: none;
		vertical-align: middle;
		width: 17px;

		&:hover { background: rgba($black, 0.05); }
	}
}

.selectize-control.plugin-remove_button [data-value].active .remove { border-left-color: $blue; }

.selectize-control { position: relative; }

.selectize-dropdown,
.selectize-input,
.selectize-input input {
	color: lighten($black, 50%);
	font-family: inherit;
	font-size: 13px;
	line-height: 18px;

	-webkit-font-smoothing: inherit;
}

.selectize-input,
.selectize-control.single .selectize-input.focus {
	background-color: $white;
	cursor: text;
	display: inline-block;
}

.selectize-input {
	// border: 1px solid lighten($black, 90%);
	border: 1px solid rgba($black, 0.1);
	border-radius: 3px;
	// box-shadow: inset 0 1px 1px rgba($black, 0.1);
	box-sizing: border-box;
	display: inline-block;
	overflow: hidden;
	padding: 8px;
	position: relative;
	width: 100%; min-width: 100%;
	z-index: 1;
}

.selectize-control.multi .selectize-input.has-items { padding: 5px 8px 2px; }

.selectize-input.full { background-color: $white; }

.selectize-input.disabled,
.selectize-input.disabled * { cursor: default !important; }

// .selectize-input.focus { box-shadow: inset 0 1px 2px rgba($black, 0.15); }
.selectize-input.dropdown-active { border-radius: 3px 3px 0 0; }

.selectize-input > * {
	display: inline-block;
	display: -moz-inline-stack;
	vertical-align: baseline;
	zoom: 1;
}

.selectize-control.multi .selectize-input > div {
	margin: 0 3px 3px 0; padding: 2px 6px;

	background-color: lighten($blue, 50%);
	//border: 1px solid $blue;
	color: $white;
	cursor: pointer;
}

.selectize-control.multi .selectize-input > div.active {
	background-color: $green;
	border: 1px solid darken($blue, 50%);
	color: $white;
}

.selectize-control.multi .selectize-input.disabled > div,
.selectize-control.multi .selectize-input.disabled > div.active {
	background: lighten($black, 90%);
	//border: 1px solid lighten($black, 70%);
	color: $white;
}

.selectize-input > input {
	min-width: 100% !important; // max-width: 100% !important;
	max-height: none !important;
	min-height: 0 !important;
	padding: 0 !important;
	margin: 0 1px !important;
	line-height: inherit !important;
	text-indent: 0 !important;
	background: none !important;
	border: 0 none !important;
	user-select: auto !important;
	box-shadow: none !important;
	-webkit-user-select: auto !important;
}

.selectize-input > input:focus { outline: none !important; }

.selectize-input::after {
	clear: left;
	content: " ";
	display: block;
}

.selectize-input.dropdown-active::before {
	bottom: 0; left: 0; right: 0;

	background: lighten($black, 90%);
	content: " ";
	display: block;
	height: 1px;
	position: absolute;
}

.selectize-dropdown {
	background: $white;
	//border: 1px solid lighten($black, 70%);
	border-radius: 0 0 3px 3px;
	border-top: 0 none;
	box-shadow: 0 1px 3px rgba($black, 0.1);
	// box-sizing: border-box;
	margin: -1px 0 0 0;
	position: absolute;
	z-index: 10;
}

.selectize-dropdown [data-selectable] {
	overflow: hidden;
	cursor: pointer;
}

.selectize-dropdown [data-selectable] .highlight {
	background: rgba($slate, 0.2);
	border-radius: 1px;
}

.selectize-dropdown [data-selectable],
.selectize-dropdown .optgroup-header { padding: 5px 8px; }

.selectize-dropdown .optgroup:first-child .optgroup-header { border-top: 0 none; }

.selectize-dropdown .optgroup-header {
	background: $white;
	color: lighten($black, 50%);
	cursor: default;
}

.selectize-dropdown .active {
	background-color: $white;
	color: darken($slate, 50%);
}

.selectize-dropdown .active.create { color: darken($slate, 50%); }

.selectize-dropdown .create { color: lighten($black, 50%); }

.selectize-dropdown-content {
	max-height: 200px;
	overflow-x: hidden;
	overflow-y: auto;
}

.selectize-control.single .selectize-input,
.selectize-control.single .selectize-input input {
	cursor: pointer;
}

.selectize-control.single .selectize-input.focus,
.selectize-control.single .selectize-input.focus input {
	cursor: text;
}

.selectize-control.single .selectize-input:after {
	position: absolute;
	top: 50%;
	right: 15px;
	display: block;
	width: 0;
	height: 0;
	margin-top: -3px;
	//border-color: lighten($black, 50%) transparent transparent transparent;
	//border-style: solid;
	//border-width: 5px 5px 0 5px;
	content: ' ';
}

.selectize-control.single .selectize-input.dropdown-active:after {
	margin-top: -4px;
	border-color: transparent transparent lighten($black, 50%) transparent;
	border-width: 0 5px 5px 5px;
}

.selectize-control .selectize-input.disabled {
	background-color: $white;
	opacity: 0.5;
}

.selectize-control.multi {
	// .selectize-input.has-items { padding: 0 5px; }

	.selectize-input.disabled [data-value] {
		background: none;
		border-color: lighten($black, 90%);
		box-shadow: none;
		color: lighten($black, 50%);
		text-shadow: none;
	}

	.selectize-input [data-value] {
		background-color: #59b3a6;
		//background-image: linear-gradient(to bottom, lighten($blue, 10%), darken($blue, 10%));
		background-repeat: repeat-x;
		border-radius: 3px;
		box-shadow: 0 1px 0 rgba($black, 0.2), inset 0 1px rgba($white, 0.03);
		padding: 0.3rem;
		text-shadow: 0 1px 0 rgba($slate, 0.3);
	}

	.selectize-input [data-value].active {
		background-color: #70a1b1;
		//background-image: linear-gradient(to bottom, saturate($blue, 100%), darken($slate, 10%));
		background-repeat: repeat-x;
	}
}

.selectize-control.single .selectize-input {
	background-color: $white;
	background-image: linear-gradient(to bottom, $white, darken($white, 2%));
	background-repeat: repeat-x;
	box-shadow: 0 1px 0 rgba($black, 0.05), inset 0 1px 0 rgba($white, 0.8);
}

.selectize-control.single .selectize-input,
.selectize-dropdown.single { border-color: lighten($black, 70%); }

.selectize-dropdown {
	.optgroup-header {
		font-size: 0.85em;
		font-weight: 700;
		padding-top: 7px;
	}
}

.optgroup {
	border-top: 1px solid lighten($black, 90%);
	&:first-child { border-top: 0 none; }
}
