/*************************************************************************************** SHAME/SCSS **/
/****************************** FOR THOSE BROWSERS THAT STILL NEED VENDOR PREFIXES TO WORK. PUSSIES **/

/** FULL-BOOK/SCSS ***********************************************************************************/

.full-book {

	.frontcover-wrapper, .photo-wrapper, .text-wrapper, .horizontal-wrapper,
	.overlay-wrapper, .phototext-wrapper, .vertical-wrapper, .video-wrapper, .backcover-wrapper {
		:-ms-input-placeholder { color: $gray-iv; }
		::-moz-placeholder { color: $gray-iv; }
		::-webkit-input-placeholder { color: $gray-iv; }
	}

	.photo-wrapper {
		.photo-preview {
			:-ms-input-placeholder { color: $white; }
			::-moz-placeholder { color: $white; }
			::-webkit-input-placeholder	{ color: $white; }
		}
	}

	.overlay-wrapper {
		.overlay-preview {
			:-ms-input-placeholder { color: $white; }
			::-moz-placeholder { color: $white; }
			::-webkit-input-placeholder	{ color: $white; }
		}
	}

	.phototext-wrapper {
		.phototext-preview {
			:-ms-input-placeholder { color: $white; }
			::-moz-placeholder { color: $white; }
			::-webkit-input-placeholder	{ color: $white; }
		}
	}

	.video-wrapper {
		article {
			:-ms-input-placeholder { color: $black; }
			::-moz-placeholder { color: $black; }
			::-webkit-input-placeholder	{ color: $black; }
		}
	}

}

/** BOOKBLOCK *****************************************************************************************/

.bb-bookblock {
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;

	-moz-perspective: 1300px;
	-webkit-perspective: 1300px;
}

.bb-page {
	-moz-transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;

	-moz-transition-property: -moz-transform;
	-webkit-transition-property: -webkit-transform;
}

.bb-vertical {
	.bb-back {
		-moz-transform: rotateY(-180deg);
		-webkit-transform: rotateY(-180deg);
	}

	.bb-page {
		-moz-transform-origin: left center;
		-webkit-transform-origin: left center;
	}
}

.bb-horizontal {
	.bb-back {
		-moz-transform: rotateX(-180deg);
		-webkit-transform: rotateX(-180deg);
	}

	.bb-page {
		-moz-transform-origin: center top;
		-webkit-transform-origin: center top;
	}
}

.bb-page > div {
	-moz-transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
}

.bb-page > div:not(:only-child) {
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}

.bb-bookblock.bb-vertical > div.bb-page:first-child,
.bb-bookblock.bb-vertical > div.bb-page:first-child .bb-back {
	-moz-transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
}

.bb-bookblock.bb-horizontal > div.bb-page:first-child,
.bb-bookblock.bb-horizontal > div.bb-page:first-child .bb-back {
	-moz-transform: rotateX(180deg);
	-webkit-transform: rotateX(180deg);
}

.bb-vertical {
	.bb-flip-next,
	.bb-flip-initial {
		-moz-transform: rotateY(-180deg);
		-webkit-transform: rotateY(-180deg);
	}

	.bb-flip-prev {
		-moz-transform: rotateY(0deg);
		-webkit-transform: rotateY(0deg);
	}

	.bb-flip-next-end {
		-moz-transform: rotateY(-15deg);
		-webkit-transform: rotateY(-15deg);
	}

	.bb-flip-prev-end {
		-moz-transform: rotateY(-165deg);
		-webkit-transform: rotateY(-165deg);
	}
}

.bb-horizontal {
	.bb-flip-next, .bb-flip-initial {
		-moz-transform: rotateX(180deg);
		-webkit-transform: rotateX(180deg);
	}

	.bb-flip-prev {
		-moz-transform: rotateX(0deg);
		-webkit-transform: rotateX(0deg);
	}

	.bb-flip-next-end {
		-moz-transform: rotateX(15deg);
		-webkit-transform: rotateX(15deg);
	}

	.bb-flip-prev-end {
		-moz-transform: rotateX(165deg);
		-webkit-transform: rotateX(165deg);
	}
}

.bb-custom-wrapper {
	.bb-bookblock {
		-moz-perspective: 2000px;
		-webkit-perspective: 2000px;
	}
}

.bb-custom-side {
	display: -moz-box;
	display: -webkit-box;
	display: -webkit-flex;
	
	-webkit-align-items: center;

	-moz-box-align: center;
	-webkit-box-align: center;

	-moz-box-pack: center;
	-webkit-box-pack: center;

	-webkit-flex-direction: row;
	-webkit-flex-wrap: wrap;

	-webkit-justify-content: center;
}
