<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}{% endblock title %} | Gapelia</title>

    <!--/ GAPELIA
         ______   ______   ______  ______   __       __   ______
        /\  ___\ /\  __ \ /\  == \/\  ___\ /\ \     /\ \ /\  __ \
        \ \ \__ \\ \  __ \\ \  _-/\ \  __\ \ \ \____\ \ \\ \  __ \
         \ \_____\\ \_\ \_\\ \_\   \ \_____\\ \_____\\ \_\\ \_\ \_\
          \/_____/ \/_/\/_/ \/_/    \/_____/ \/_____/ \/_/ \/_/\/_/

        //////// 01000111011000010111000001100101011011000110100101100001

        /-->
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="author" content="Gapelia"/>

    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet"/>
    <link href="{{ STATIC_URL }}css/notify.css" rel="stylesheet"/>
    <link href="{{ STATIC_URL }}images/favicon.png" rel="shortcut icon"/>
    <link href="{{ STATIC_URL }}css/jquery-ui-1.10.3.custom.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
    {% block header_scripts %}

    {% endblock header_scripts %}
</head>


<body {% block body_class %}{% endblock body_class %}>

<div id="notification" class="notification" {% if not messages %}style="display: none"{% endif %}>
    {% if messages %}
        {% for message in messages %}
            <p>{{ message|safe }}</p>
        {% endfor %}
    {% endif %}
</div>

{% block content %}
{% endblock content %}

<!--/ footer, the end																																	 /-->

{% block footer %}
    <footer>
        <p><a href="/">Be curious, join as a Gapelian</a></p>

        <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Partners</a></li>
            <li><a href="#">Terms</a></li>
        </ul>
    </footer>
{% endblock %}
<!--/ scripts																																					 /-->
<script src="{{ STATIC_URL }}scripts/jquery-2.0.2.min.js"></script>
<script src="{{ STATIC_URL }}scripts/spin.js"></script>
{% block scripts %}
{% endblock scripts %}
</body>

</html>
