{% verbatim %}
<section id="main-content">
    <div id="book-creation-wrapper">
        <div id="create-book">
            <div id="create-content">
                <section id="frontcover-preview-wrapper">
                    <ul class="create-header">
                        <li class="page-edit"><a title="Edit" href="#">Edit</a></li>
                        <li class="page-upload"><a title="Upload" class="md-trigger" href="#" data-modal="modal-upload">Upload</a></li>
                        <li class="page-delete"><a title="Delete" class="md-trigger" href="#" data-modal="modal-1">Delete</a></li>
                    </ul>
                    <div id="frontcover-preview">
                        <div class="cover-info">
                            <h1>Iceland Air</h1>
                            <h5>by <span>Lord Scruffington</span></h5>
                            <ul class="cover-lifestyle">
                                <li>Mountains</li>
                                <li>Adventure</li>
                                <li>Flow</li>
                            </ul>
                            <p>Eyjafjallajökull consists of a volcano completely covered by an ice cap. The ice cap covers an area of about 100 square kilometres (39 sq mi), feeding many outlet glaciers. The main outlet glaciers are to the north; Gígjökull, flowing into Lónið, and Steinholtsjökull, flowing into Steinholtslón. The glacier is the 6th largest in Iceland.</p>
                        </div>
                    </div>
                    <img src="/static/images/bg.jpg" alt=""/>
                </section>
                <section id="photo-preview-wrapper">
                    <ul class="create-header">
                        <li class="page-edit"><a title="Edit" href="#">Edit</a></li>
                        <li class="page-upload"><a title="Upload" class="md-trigger" href="#" data-modal="modal-upload">Upload</a></li>
                        <li class="page-delete"><a title="Delete" class="md-trigger" href="#" data-modal="modal-1">Delete</a></li>
                    </ul>
                    <div id="photo-preview">
                    </div>
                    <img src="/static/images/bg-ii.jpg" alt=""/>
                </section>
                <section id="text-preview-wrapper">
                    <ul class="create-header">
                        <li class="page-edit"><a title="Edit" href="#">Edit</a></li>
                        <li class="page-upload"><a title="Upload" class="md-trigger" href="#" data-modal="modal-upload">Upload</a></li>
                        <li class="page-delete"><a title="Delete" class="md-trigger" href="#" data-modal="modal-1">Delete</a></li>
                    </ul>
                    <div id="text-preview">
                        <span class="geocode"></span>
                    </div>
                    <img src="/static/images/bg.jpg" alt=""/>
                </section>
                <section id="integrated-preview-wrapper">
                    <ul class="create-header">
                        <li class="page-edit"><a title="Edit" href="#">Edit</a></li>
                        <li class="page-upload"><a title="Upload" class="md-trigger" href="#" data-modal="modal-upload">Upload</a></li>
                        <li class="page-delete"><a title="Delete" class="md-trigger" href="#" data-modal="modal-1">Delete</a></li>
                    </ul>
                    <div id="integrated-preview">
                        <span class="geocode"></span>
                    </div>
                    <img src="/static/images/bg-iii.jpg" alt=""/>
                </section>
                <section id="phototext-preview-wrapper">
                    <ul class="create-header">
                        <li class="page-edit"><a title="Edit" href="#">Edit</a></li>
                        <li class="page-upload"><a title="Upload" class="md-trigger" href="#" data-modal="modal-upload">Upload</a></li>
                        <li class="page-delete"><a title="Delete" class="md-trigger" href="#" data-modal="modal-1">Delete</a></li>
                    </ul>
                    <div id="phototext-preview">
                        <span class="geocode"></span>
                    </div>
                    <img src="/static/images/bg.jpg" alt=""/>
                </section>
                <section id="phototext-ii-preview-wrapper">
                    <ul class="create-header">
                        <li class="page-edit"><a title="Edit" href="#">Edit</a></li>
                        <li class="page-upload"><a title="Upload" class="md-trigger" href="#" data-modal="modal-upload">Upload</a></li>
                        <li class="page-delete"><a title="Delete" class="md-trigger" href="#" data-modal="modal-1">Delete</a></li>
                    </ul>
                    <img src="/static/images/tokyo2662-by-tokyo-form.jpg" alt=""/>
                    <div id="phototext-ii-preview">
                        <span class="geocode"></span>
                    </div>
                </section>
                <section id="integrated-ii-preview-wrapper">
                    <ul class="create-header">
                        <li class="page-edit"><a title="Edit" href="#">Edit</a></li>
                        <li class="page-upload"><a title="Upload" class="md-trigger" href="#" data-modal="modal-upload">Upload</a></li>
                        <li class="page-delete"><a title="Delete" class="md-trigger" href="#" data-modal="modal-1">Delete</a></li>
                    </ul>
                    <div id="integrated-ii-preview">
                        <span class="geocode"></span>
                    </div>
                    <img src="/static/images/bg-iii.jpg" alt=""/>
                </section>
                <section id="video-preview-wrapper">
                    <ul class="create-header">
                        <li class="page-edit"><a title="Edit" href="#">Edit</a></li>
                        <li class="page-upload"><a title="Upload" class="md-trigger" href="#" data-modal="modal-upload">Upload</a></li>
                        <li class="page-delete"><a title="Delete" class="md-trigger" href="#" data-modal="modal-1">Delete</a></li>
                    </ul>
                    <iframe src="http://player.vimeo.com/video/36733110?title=0&amp;byline=0&amp;portrait=0&amp;color=b83564"></iframe>
                    <div id="video-preview">
                        <span class="geocode"></span>
                    </div>
                </section>
            </div>
            <div id="create-sidebar">
                <ul id="sidebar-actions">
                    <li><a href="">Fullview</a></li>
                    <li><a href="">Publish</a></li>
                    <li><a href="">Save</a></li>
                </ul>
                <div id="sidebar-wrapper">
                    <div id="tabs-container" class="cbp-contentslider">
                        <nav id="sidebar-nav">
                            <a href="#tab-layout" title="">Layout</a>
                            <a href="#tab-content" title="">Content</a>
                            <a href="#tab-tags" title="">Tags</a>
                            <a href="#tab-settings" title="">Settings</a>
                        </nav>
                        <ul id="sidebar-content">
                            <li id="tab-layout">
                            <section id="view-mode">
                                <section>
                                    <div class="view-style">
                                        <label for="bc-frontcover">
                                            <span><img src="/static/images/view-modes/integrated.png" alt=""/></span>Front Cover
                                        </label>
                                        <input type="radio" id="bc-frontcover" name="rr" checked/>
                                    </div>
                                    <div class="view-style">
                                        <label for="bc-photo">
                                            <span><img src="/static/images/view-modes/photo.png" alt=""/></span>Photo
                                        </label>
                                        <input type="radio" id="bc-photo" name="rr"/>
                                    </div>
                                    <div class="view-style">
                                        <label for="bc-text">
                                            <span><img src="/static/images/view-modes/text.png" alt=""/></span>Text
                                        </label>
                                        <input type="radio" id="bc-text" name="rr"/>
                                    </div>
                                    <div class="view-style">
                                        <label for="bc-integrated">
                                            <span><img src="/static/images/view-modes/integrated.png" alt=""/></span>Integrated
                                        </label>
                                        <input type="radio" id="bc-integrated" name="rr"/>
                                    </div>
                                    <!--//-->
                                    <div class="view-style">
                                        <label for="bc-phototext">
                                            <span><img src="/static/images/view-modes/phototext.png" alt=""/></span>Photo/Text
                                        </label>
                                        <input type="radio" id="bc-phototext" name="rr"/>
                                    </div>
                                    <div class="view-style">
                                        <label for="bc-phototext-ii">
                                            <span><img src="/static/images/view-modes/phototext.png" alt=""/></span>Photo/Text II
                                        </label>
                                        <input type="radio" id="bc-phototext-ii" name="rr"/>
                                    </div>
                                    <div class="view-style">
                                        <label for="bc-integrated-ii">
                                            <span><img src="/static/images/view-modes/integrated.png" alt=""/></span>Integrated II
                                        </label>
                                        <input type="radio" id="bc-integrated-ii" name="rr"/>
                                    </div>
                                    <div class="view-style">
                                        <label for="bc-video">
                                            <span><img src="static/images/view-modes/video.png" alt=""/></span>Video
                                        </label>
                                        <input type="radio" id="bc-video" name="rr"/>
                                    </div>
                                </section>
                            </section>
                            </li>
                            <li id="tab-content">
                            <textarea id="text-editor" name="content">
                                <h1 class="title">The Tunnel</h1>
                                <h5 class="geocode">Okinawa, Japan</h5>
                                <p>...</p>
                            </textarea>
                            </li>
                            <li id="tab-tags">
                            <section class="tag-input">
                                <label for="geotag">Geotag</label>
                                <input id="geotag" type="text" placeholder=""/>
                                <span class="hint">ex. Hawaii</span>
                            </section>
                            <section class="tag-input">
                                <label for="passion">Passion</label>
                                <input id="passion" name="passion" type="text" />
                                <span class="hint">ex. Surfing</span>
                            </section>
                            <section class="tag-input">
                                <label for="feeling">Feeling</label>
                                <input id="feeling" name="feeling" type="text">
                                <span class="hint">ex. Adrenaline</span>
                            </section>
                            <section class="tag-input">
                                <label>Custom Wiki Link</label>
                                <input type="text" placeholder=""/>
                                <span class="hint">(default link will associate geotag)</span>
                            </section>
                            </li>
                            <li id="tab-settings">
                            <p>Privacy</p>
                            <input type="radio" id="cc-01" name="aa"/>
                            <label for="cc-01"><span></span>CC BY</label><br/>
                            <input type="radio" id="cc-02" name="aa"/>
                            <label for="cc-02"><span></span>CC BY-SA</label><br/>
                            <input type="radio" id="cc-03" name="aa"/>
                            <label for="cc-03"><span></span>CC BY-ND</label><br/>
                            <input type="radio" id="cc-04" name="aa"/>
                            <label for="cc-04"><span></span>CC BY-NC</label><br/>
                            <input type="radio" id="cc-05" name="aa"/>
                            <label for="cc-05"><span></span>CC BY-NC-SA</label><br/>
                            <input type="radio" id="cc-06" name="aa"/>
                            <label for="cc-06"><span></span>CC BY-NC-ND</label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endverbatim %}
